[2019-05-26 18:40] rotorgames commented on #432
@dansiegel Yes, There is 3.4 in projects but I test this plugin with 2.5 every day and it works fine. Definitely, I think I have to set a minimum version like 3.5 or 4.0 for the next release.

[2019-05-28 11:17] EmilAlipiev commented on #417
this looks like the similar problem i reported for ios. i think that in some cases, there is a deadlock happening when you try to remove popuppage and popup remains on the screen.

[2019-05-28 11:20] EmilAlipiev commented on #406
this issue might be related also https://github.com/rotorgames/Rg.Plugins.Popup/issues/417
Beside that i recognized in your demo project, there button called "listview page", when you press it and press "close" button, popup is not removed immediately, it is hanging for me.

[2019-05-28 11:21] EmilAlipiev commented on #407
android 9 version is absolutely working. i tested on samsung s10, it is fine. it should be problem with version you are using or your code

[2019-05-28 11:25] EmilAlipiev commented on #433
library has nothing to do with the screen. it only implements transparent background by default. rest is your UI code and it all depends on your xaml code if you use xaml. your issue description is also not sufficient, you should give screenshot showing your screen without popup and with popup. And your UI implementation for popup

[2019-05-28 11:33] EmilAlipiev commented on #429
your problem is probably with contentview that you are bindingcontext on contentview. if you try to set bindincontext of popuppage, it should be working.

[2019-05-28 18:09] cassionandi commented on #423
Sorry for the delay. I can't use this version. Is there an release or pre-release with this fix?

[2019-05-29 03:54] rotorgames commented on #423
@cassionandi No there is not a pre-release in nuget yet. Why can't you test it?

[2019-05-29 12:26] cassionandi commented on #423
To collect enough logs I need to test with the production app.

FYI, since I rolled back to 1.1.5.180 Google Play do not logged any error related to Rg.Plugins.Popup.

[2019-05-29 21:55] MysterDru commented on #372
@wtheronjones / @xleon I've seen this exception most when the xamarin forms application class is a singleton instance rather than being recreated every time the Activity's OnCreate is called.

@rotorgames is correct, it is a memory leak issue with your applications rather than the popup library. Adding that constructor is not the fix to this problem. If you are seeing this crash it is because some

[2019-05-29 22:54] xleon commented on #372
@MysterDru it makes sense that something in my code may be leaking.
However I always create a new application class on Android´s `OnCreate`.
Thanks, with that info I can now dig a bit more to find the issue.

[2019-05-31 20:16] davidbuckleyni opened #437 "Overlay Popup Not Full Page."
Is their a way to have a overlay popup much in same way as c# show dialog would work and displayalert ?

[2019-06-04 06:17] HobDev opened #438 "The popup backgroundcolor is same as calling page"
I am using latest Xamarin.Forms. The Content Page Background Image is set to an image with light blue color.  The popup is called from this page with a button click. I want the Background color of popup to be Transparent. Thus I set BackgroundColor="Transparent" on popup page. But the popup background is same as the Content Page from which it is being called.

[2019-06-05 12:05] geoffwc commented on #348
Hi all, I'm seeing this in VS 2019 for Mac. The previewer works but warning always appears. However a college using VS2017 Windows is saying the previewer is not loading.
Thanks

[2019-06-05 12:59] geoffwc commented on #348
Figured out a workaround if you're using prism. Add this prop to your App.xaml.cs:
`public bool IsDesignTime => PlatformInitializer == null;`
Then in RegisterTypes method bypass RegisterPopupNavigationService at design-time:
`protected override void RegisterTypes(IContainerRegistry containerRegistry)`
`        {`
`            if (!IsDesignTime)`
`            {`
`                containerRegistry.R

[2019-06-06 22:30] natsnudasoft commented on #348
This workaround has stopped the issue for me. Thanks.

[2019-06-09 14:29] hoangwy opened #439 "iPhone X support"
Hi,
Please support for iPhone X.
I got spaces on top and bottom of the screen.
Thanks so much

[2019-06-09 14:42] rotorgames commented on #439
It's supported already.

[2019-06-09 14:49] hoangwy commented on #439
[https://prnt.sc/nzkbp2](url)

[2019-06-09 14:52] rotorgames commented on #439
See (SystemPadding)[https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage#properties]

[2019-06-09 14:52] #439 closed

[2019-06-12 09:22] WilliamWatterson86 commented on #157
Hey - any news if the dev release fixed the issue?

[2019-06-13 14:14] mikepotvin commented on #430
Also getting this same issue

[2019-06-13 14:34] florentgoetz commented on #430
I, also, experiencing the problem on my app.
Is there any news on the topic ?

[2019-06-13 18:43] cmw9706 opened #440 "Timepicker keyboard closes my popup IOS"
I have a time picker on a popup. Whenever I Focus() my time picker as the result of a button click - it closes my popup??

it looks like there isn't a lot of room on the popup, so I wrapped the contents in a scrollview but this didnt help?

I also tried setting HasKeyboardOffset="true" to true.

Rg.Plugins.Popup.IOS.Renderers.PopupPageRenderer.ViewWillDisappear(bool animated) is getting called whe

[2019-06-17 13:46] cmw9706 commented on #440
I have found that this happens when I call the TimePicker.Focus() method in my code behind file

[2019-06-18 10:36] bonmacalindong commented on #355
Any updates on this issue? Having the same problem in Rg.Plugins.Popup 1.1.5.188 and XF 3.5.0.169047

[2019-06-18 12:14] nick5454 commented on #355
My issue was because I was switching the main page, which is my fault.

You should upload a sample project to show your issue. There isn’t enough code to look at it. From first glance, I would say that you didn’t hide the pop up before you show it again. Which would explain the error “you are trying to show a view controller that already exists”

[2019-06-18 12:15] nick5454 commented on #355
You could also view your modal and navigation stack.

[2019-06-18 12:54] agusibrahim opened #441 "Add support to Shell Navigation"
hallo, please add support for Xamarin Shell Navigation. thnx

[2019-06-18 17:07] Lelelo1 commented on #441
How is it not supported, what happens when you `PopupNavigation.Instance.PushAsync(popupPage)`?

[2019-06-18 19:42] luizvnegrini opened #442 "System.NullReferenceException: Page can not be null (PopupNavigationImpl.cs, line 103))"
`Version Code: 3 Version Name: 0.0.1 Android: 9 Android Build: PSR1.180720.075 Manufacturer: Google Model: Android SDK built for x86 CrashReporter Key: c0c3ae99-67f8-4c38-b1f9-e31c25ab19e8 Date: undefined Xamarin Exception Stack: System.NullReferenceException: Page can not be null at Rg.Plugins.Popup.Services.PopupNavigationImpl+<>c__DisplayClass10_0.<RemovePageAsync>b__0 () [0x00023] in C:\projec

[2019-06-18 20:17] #442 closed

[2019-06-18 20:18] luizvnegrini commented on #442
Sorry, this occurs because the page is null, obviously...

[2019-06-19 10:01] veletron2 commented on #350
I notice this is closed, but perhaps it shouldn't be. Just a 'me to' post on this. Works fine on Android, but ANY ATTEMPT to close the current popup on IOS via a button on the popup using either await PopupNavigation.Instance.PopAsync(); or await PopupNavigation.Instance.PopAllAsync();

Results in an exception:

System.IndexOutOfRangeException: There is not page in PopupStack

It matters not wheth

[2019-06-19 10:08] veletron2 commented on #436
I have similar, but I am on XF3.6.0.344457 and rg.plugins.popup 1.1.5.188

On my App, it works just fine on Android, but Any attempt to close a popup via PopAsync or PopAllAsync on iOS causes it to crash with:

System.IndexOutOfRangeException: There is not page in PopupStack

Nigel

[2019-06-20 07:22] e5holdingleb commented on #431
Don't be sorry, you are an awesome smart person, and this is one of the most used plugins, my app relies on this plugin and i wouldn't use any other.

Thanks and respect for you.

[2019-06-20 12:45] elisabeth-mitton opened #443 "PopAllAsync throws an exception even if catched"
Hi,
This is a very nice plugin I enjoy using, however I get this exception, which makes my app crash (even though my code is catched)

`[MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] System.IndexOutOfRangeException: There is not page in PopupStack
[MonoDroid]   at Rg.Plugins.Popup.Services.PopupNavigationImpl+<>c__DisplayClass9_0.<PopAllAsync>b__0 () [0x0003d] in C:\projects\rg-plugins-popup\src\Rg.

[2019-06-23 19:05] roncyrier commented on #435
I'm getting the same issue.  Any resolution?

[2019-06-23 22:56] cmw9706 commented on #440
Turns out I had to call Focus() on the main thread !

`Device.BeginInvokeOnMainThread(()=>
{
   MyTimePicker.Focus()
});`

[2019-06-23 22:56] #440 closed

[2019-06-26 09:01] Kelve17 opened #444 "Is it possible to push a new page not async ?"
Hi.

I would like to push a new navigation page but not asynchronously. Because i have tested and when user taps many times in the button to open popup, the window is opened the number of times the user has tapped instead of just 1...
Here is the code of what i am trying.
`        public ICommand AdicionarObjectivoMes
        {
            get => new Command(async () =>
            {

[2019-06-27 07:50] zimbabirbal opened #445 "System Non Fullscreen mode in android, Popup page content are pushed up."
When I enable Fullscreen mode for current app in Android, page content fit the screen and no content are pushed up which is expect behaviour. But when the app is non fullscreen mode the page content are pushed up. Fullscreen mode for apps are built in support by some Manufacture like Huwaei, Xiaomi and so on. i have tested in huwaei and xiaomi phone it shows such behaviour.
[Reset.txt](https://git

[2019-07-01 03:27] mfeingol commented on #443
I'm seeing this occasionally as well. Here's the stack trace from AppCenter:

[code]

Doesn't seem like there's anything we can do to catch and handle this exception.

[2019-07-01 22:42] JohnLivermore opened #446 "Is there a way to determine how a dialog is closed?"

[2019-07-02 02:02] #446 closed

[2019-07-02 02:02] JohnLivermore commented on #446
deleted

[2019-07-02 18:23] purplerockcvd commented on #441
I think he means add support for Shell navigation. Shell is a navigation feature that allows you to declare all your navigation connections in the Shell.xaml and Shell.xaml.cs files and name them with routes. Then you can avoid instantiating pages in your view models and rely on the routes you have registered. You just use Shell.Current.GoToAsync("popuproute?param1=arg1&param2=arg2").

[2019-07-03 19:32] mikepotvin commented on #443
It's due to https://github.com/rotorgames/Rg.Plugins.Popup/blob/70ef35fc3758354f5a89beed26eb2aaddb196f8f/src/Rg.Plugins.Popup/Services/PopupNavigationImpl.cs#L90

The call is invoked on main thread so it leaves the try catch scope. Resulting in an exception that can't be caught

[2019-07-09 04:40] bondarenkod commented on #403
This can help you to handle BaseOn styles.
[code]

[2019-07-09 11:13] RuvitheWolverine opened #447 "CollectionView does not appear in the popup"

[2019-07-09 11:15] RuvitheWolverine commented on #447
I tried adding a new xamarin forms 4.0 CollectionView in the Rg.Plugins.Popup but it does not appear.

[2019-07-09 11:38] #447 closed

[2019-07-10 17:14] nichojo89 opened #448 "iOS UseSafeArea doesn't work - Cut off"
On the latest version of XF, using the latest version of this plugin Use Safe Area does not work. It actually seems to push elements further away from the notch rather than closer.

see example code:
`<?xml version="1.0" encoding="utf-8" ?>
<pages:PopupPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="Pyx.Mo

[2019-07-11 18:41] cassionandi commented on #423
I will try the **1.1.5.209**  dev version (more recent development release).

[2019-07-12 14:26] al3xmeister opened #449 "Initialisation issue on uwp"
Getting issue when initialising on uwp, this line is not permitting the project to compile:

Forms.Init(e, Rg.Plugins.Popup.Windows.Popup.GetExtraAssemblies());

Have followed through the troubleshooting article and other suggestions to no conclusion.
The error is that the assembly isnt referenced or found.

With version 1.1.4 on a XF 2.5 portable project.

Any ideas as to how to fix this?

If I d

[2019-07-12 19:55] vchelaru opened #450 "PopupPageRenderer crashes when popping a PopupPage from a non-popup navigator"
I realize that I'm supposed to add PopupPage-inheriting objects to the `PopupNavigation.Instance`. I'm in the process of a very large refactor on my project, and during this refactor I need some popup pages to exist as regular pages in my app.

This seems to work fine; however, in some cases when I pop the page, I get the following exception:

[code]

I suspect that a few simple null checks might

[2019-07-15 11:51] cassionandi commented on #423
it's been 3 days since I released the app with this version, no errors on Google Play Console

[2019-07-15 14:53] ravinderjangra commented on #127
I'm using the latest version and the same code is working on Android but not on iOS. I'm using EndAndExpand not file or expand. Any solution?

[2019-07-15 18:09] vchelaru opened #452 "BackgroundInputTransparent is broken on UWP"
On Android you can set `BackgroundInputTransparent` to true, and the popup will not block clicks on the underlying UI when it is shown.

On UWP this property has no affect. The popup will block input whether the value is set to true or false.

[2019-07-19 05:37] letrungdo opened #453 "SystemPadding not work on IOS 11"
Line 120 file https://github.com/rotorgames/Rg.Plugins.Popup/blob/master/src/Rg. Plugins.Popup.IOS / Renderers / PopupPageRenderer.cs

iPhone 6 iOS 11 SafeAreaInsets.Top = 0
iPhone 6 iOS 12 SafeAreaInsets.Top = 20

=> How to fix:  In PopupPageRenderer.cs, try to get SafeAreaInsets from View.SafeAreaInsets see the correct value.

[2019-07-20 20:43] jmtejada commented on #415
it's works for me! thanks!

[2019-07-22 09:56] BillFulton opened #454 "Non-XAML example?"
Would really appreciate a small code example including animation, without using XAML. Am struggling to convert my working XAML page to code-only. I am guessing animation code would be like this but not sure where to put it:

scaleAnimation = new ScaleAnimation ();
scaleAnimation.PositionIn = Rg.Plugins.Popup.Enums.MoveAnimationOptions.Center;
scaleAnimation.PositionOut = Rg.Plugins.Popup.Enums.Mov

[2019-07-23 09:38] rotorgames commented on #122
Guys. Try to use the last version in development nuget please https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99

I hope it will fix all issues you have.

[2019-07-23 09:46] rotorgames commented on #435
Currently, this plugin doesn't support MacOS. I'm going to do it in the future but not right now because there are some errors in the plugin and I have to fix them.

[2019-07-23 09:47] #417 closed

[2019-07-23 09:52] rotorgames commented on #406
@EmilAlipiev it is possible. Garbage collector works with delays. Also if you use breakpoints or keep a reference to a renderer for debugging then Garbage collector will not remove it from memory never. iOS Garbage collector works so.

I advise you to try using GC.Collect() and try to check again.

P.S. Dispose method has to be invoked immediately after removing a page from the screen but a render

[2019-07-23 09:55] #407 closed

[2019-07-23 09:55] #433 closed

[2019-07-23 09:57] rotorgames commented on #429
@denmusic1992 Did you solve this issue or still get?

[2019-07-23 10:03] rotorgames commented on #372
@MysterDru Thank you for a detailed explanation.

@AmitManchanda @xleon I tried to replicate this issue but I couldn't. I think something in your code can keep a PopupPageRenderer in memory but I'm not sure. Anyway, try to use the last version of the plugin from Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99. It may fix a lot of issues you have.

[2019-07-23 10:03] #372 closed

[2019-07-23 10:04] rotorgames commented on #437
Sorry, I don't understand what you want exactly. Could you give me an example?

[2019-07-23 10:07] rotorgames commented on #438
@HobDev I am not sure that I have understood you correctly but if you open a popup with the transparent background then the popup will show everything behind itself. It would be wonderful if you give me a screenshot.

[2019-07-23 10:10] rotorgames commented on #348
I tested it with the last version of XF and VS4Mac and I didn't get this issue.

I'll close it but don't be afraid to reopen it again if you still get this issues guys.

[2019-07-23 10:10] #348 closed

[2019-07-23 10:12] rotorgames commented on #157
@WilliamWatterson86 I didn't get any information about it. I hope it was fixed.

Closed. But don't be afraid to reopen it again if someone still has this issue.

[2019-07-23 10:12] #157 closed

[2019-07-23 10:14] rotorgames commented on #430
Did you try to use Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99 guys?

If not, just try and let me know if you still get this issue.

[2019-07-23 10:20] rotorgames commented on #355
I think it happens because there are some popups on the screen, then you change a `MainPage` and after it, you try to do something with popups but it's wrong. It's because of all popup pages have `MainPage` as Parent. I'm going to change Parent of all opened popup pages if `MainPage` has been changed. I just have added it to the roadmap.

Thanks, guys.

[2019-07-23 10:21] #355 closed

[2019-07-23 10:23] rotorgames commented on #350
@veletron2 Try to use the last version from Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99.

I fixed it many time ago but I still not publish a new version. I'm going to do it ASAP.

[2019-07-23 10:25] rotorgames commented on #436
See https://github.com/rotorgames/Rg.Plugins.Popup/issues/350#issuecomment-423684869

Also, try to use the last version from Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99.

[2019-07-23 10:25] #436 closed

[2019-07-23 10:30] rotorgames commented on #431
It will be fixed automatically after updating XF to 4.x for this plugin.

I closed it but don't be afraid to reopen it if you still get this issue with a new version of the plugin which higher then 1.1.5.188 (not released at this moment)

[2019-07-23 10:30] #431 closed

[2019-07-23 10:32] rotorgames commented on #444
@Kelve17 You can control it in your code. You can do it with AsyncCommand (just google it) or something like IsBusy. I think that it is not an issue of this plugin.

[2019-07-23 10:32] #444 closed

[2019-07-23 10:34] rotorgames commented on #445
@zimbabirbal Could you create a simple project which can replicate it and upload it on GitHub? Thanks.

[2019-07-23 10:36] rotorgames commented on #441
@agusibrahim So, it can be a good idea. I will have a look at this and will check if it's possible or not. Anyway, I'll add it in the roadmap. Thanks

[2019-07-23 10:44] rotorgames commented on #443
I think it was fixed in https://github.com/rotorgames/Rg.Plugins.Popup/pull/400/commits/80f4aabbe8e985dd1a239b7232bb8f9ef2071430

Try to use the last version of Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99 and always use `await` operator to catch all exception inside the second thread.

[2019-07-23 10:44] #443 closed

[2019-07-23 10:47] rotorgames commented on #448
@nichojo89 UseSafeArea is not supported for popups. Use SystemPadding for it. https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage#properties

[2019-07-23 10:47] #448 closed

[2019-07-23 10:50] rotorgames commented on #450
@vchelaru I see that you try to check windowInsets != null. But it doesn't make seans because windowInsets can not be null. I can be Android's issue.

[2019-07-23 10:53] rotorgames commented on #127
@ravinderjangra I need more details and examples to understand what's wrong.

[2019-07-23 10:54] rotorgames commented on #453
@letrungdo Thanks. I will check it.

[2019-07-23 15:47] damienaicheh commented on #430
Thanks for your answer, still reproducing the same issue with this version (1.1.5.213):
[code]

[2019-07-23 21:41] mfeingol commented on #443
I'll note that in my case, a bug in my code was the root cause. I wasn't correctly checking for an item on the backstack before calling Pop.

[2019-07-25 15:27] efimilya commented on #160
+1. Really need not to hide keyboard when popup appearing. It is critical for chat case when new message comes and popup shows and keyboard hides.

[2019-07-25 15:41] rotorgames commented on #160
I added it in the todo list

[2019-07-25 15:42] efimilya commented on #160
Great. Thanks. When can we wait it to be done?

[2019-07-25 15:43] rotorgames commented on #160
@efimilya It's not hard but currently I have other important tasks.

[2019-07-27 01:22] lorfer commented on #283
Hey broh' im new using this plugin and i want to use it for navigation come back but i cant, plis you can help me

[2019-07-29 17:52] Jkinley01 opened #456 "No property, bindable property, or event found for 'Content', or mismatching type between value and property."
Came back to a project after several months, updated Visual Studio 2019, the Rg.Plugins.Popup and Xamarin.Forms Nuget packages, tried to build and got the error above. Full page XAML below:

`<?xml version="1.0" encoding="UTF-8"?>
<pages:PopupPage
             xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="Sco

[2019-08-01 13:24] viral105 opened #457 "Can we use this to open popup instead of full page when tab bar item tap?"

[2019-08-01 14:05] viral105 commented on #457
Whenever we click any item of tab bar(bottom bar) i want to open only popup not whole page. popup will open on any previously selected tab bar item. For example We have 5 tab bar item.
tb item 1 (Page1)
tb item 2 (Page2)
tb item 3 (No page but popup only)
tb item 4 (Page4)
tb item 5 (Page5)

If i am on tb item 1 (Page1) and click on tb item 3 it will open popup over tb item 1 (Page1).

[2019-08-02 13:52] rejy11 commented on #27
@libin85 your library works perfectly although you cannot pass data back through PopPopupPageModel (meaning ReverseInit is also not called) as well as OnViewAppearing not being called in the previous page model.

[2019-08-06 17:43] IoTFier opened #458 "Release compatible with Xamarin Forms 4.0+"
Hi @rotorgames ,

Is there any plan on releasing a nuget package that's compiled against XF 4.0+ ?

Thanks

[2019-08-06 18:17] ysmoradi commented on #458
What's the point?

[2019-08-06 19:34] IoTFier commented on #458
To stay current with XF and have the Nuget package maintained the source.

[2019-08-07 07:56] JKennedy24 commented on #189
I am also seeing this issue with version 1.1.5.188

Has this fix been merged into stable branch and released?

[2019-08-08 00:51] IoTFier commented on #458
any thoughts ?

[2019-08-10 13:52] amirvenus commented on #435
It has been a while that I am waiting for macOS.

I hope it is released soon.  Keep up the good work!

[2019-08-20 10:38] Druffl3 commented on #157
Hi @rotorgames , I am facing the same issue. Most of the temporary solutions suggested in this thread hasn't worked for me.
My current Popup version is: 1.1.5.180.
I even tried it after upgrading to 1.1.5.188, yet the same exception.

C# System.ObjectDisposedException: Cannot access a disposed object.

Please help.

[2019-08-20 10:38] Druffl3 commented on #157
Hi @rotorgames , I am facing the same issue. Most of the temporary solutions suggested in this thread hasn't worked for me.
My current Popup version is: 1.1.5.180.
I even tried it after upgrading to 1.1.5.188, yet the same exception.

C# System.ObjectDisposedException: Cannot access a disposed object.

Please help.

[2019-08-20 13:16] nadkarninaveen opened #459 "Rg.Plugins.Popup Compatibility with iOS 13 Beta"
Hi Team,

The application developed using Rg.Plugins.Popup is crashing at Rg.Plugins.Popup.Popup.Init(); where as it was working fine with previous iOS versions and even we have verified that the sample provided on github also crashed on the second launch of the popup(Open Popup).
Please let us know when can the support for the iOS13 Beta be available.

Environment Used :
Visual Studio : Version 8

[2019-08-20 17:23] TechGuyGeek commented on #458
I take it thats a no then?

[2019-08-22 13:17] xleon commented on #458
I´m using the plugin with XF 4+ without issues

[2019-08-22 13:33] TechGuyGeek commented on #458
Yeah thanks problem has past since recent VS update thanks

[2019-08-22 14:48] IoTFier commented on #458
Requesting attn : @rotorgames , @ysmoradi
Barring the open issue in XF 4.2 - https://github.com/xamarin/Xamarin.Forms/issues/6907
I will request the core team to consider releasing an updated Nuget package (as frequently as possible).

It might be great to have a Azure pipeline set up that updates this package as new XF forms versions are released. I don't have a handle on that front yet, otherwis

[2019-08-22 15:50] xleon commented on #372
Just for reference. I finally fixed my issue. It was indeed a memory leak.
We initialise XF at many activities (we use Native Forms) and I was subscribing to the event `Forms.ViewInitialized` but never unsubscribing. Once I fixed that part, `No constructor found for Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer` disappeared.

[2019-08-23 08:26] MitchBomcanhao opened #460 "IndexOutOfRangeException"
We've updated our app's Xamarin Forms package from 4.1.0 to 4.2.0, and all seems ok but the app's pre-launch report on google play had a few devices occasionally fail with System.IndexOutOfRangeException: There is not page in PopupStack .

We've done no other relevant code changes, and all instances of the Pop are done as such:

if (PopupNavigation.Instance.PopupStack.Any())
{
     await PopupNavi

[2019-08-23 08:31] rotorgames commented on #460
Try to use the last version from Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99 to fix this issue. I will publish a public release when I can.

[2019-08-23 12:04] MitchBomcanhao commented on #460
I've tried the latest package on that nuget source, still having issues with it.
I'm thinking that this may have to do with multiple threads trying to pop the stack at the same time, and am trying out some changes to the way we call PopAllAsync.

[2019-08-23 13:55] MitchBomcanhao commented on #460
Adding a lock around the popup code seems to have made the issue go away in the automated tests, so it does seem like not being thread safe is the origin of the problem.
Xamarin has done some changes to page activation and lifecycle, so this may have made it more likely that code that once ran independently is now running in parallel. Will keep an eye on those tests for following builds.

[2019-08-27 08:03] paradisehuman opened #461 "CI nuget is not match with develop source code"
In version 1.1.5.210, IPopupNavigation looks as followings:

[code]
But in later versions, it becomes something like following:

[code]

But I'm unable to find such a code in develop branch.
Could you please provide latest source codes + new nuget (Not CI) release?

Thanks in advance

[2019-08-27 11:04] KalyanXamarin commented on #435
@rotorgames  the same issue exit in iOS 13. Any updates?

[2019-08-29 13:11] Kelve17 opened #462 "Close when background clicked is not working for me"
Hi,

I want the popup to close when i click on the background but its not working...

Here is the code :

[code]

[2019-08-29 22:11] arthurmoreiraSD opened #463 "Material design is not working on popup pages"
Visual = "Material"

Does not work as expected, the components remain the same.

[2019-08-29 22:27] #463 closed

[2019-09-03 05:06] gutierrezralph commented on #420
use INavigationAware

[2019-09-09 20:59] GleisonOliveira opened #464 "Unable to activate instance of type Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer"
I get the following error in my app when I click in notification.

Unable to activate instance of type Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer from native handle 0x7fd09a5de4 (key_handle 0x5e0ca5c)

[2019-09-11 11:44] Miksier commented on #404
@rotorgames
First, a very nice plugin and a lot of work put into it.
I see that the commit fixing it is not on the nuget.com. Is there any date we can expect to have it?

Thanks.

[2019-09-12 21:44] davidbuckleyni opened #465 "Dialog Kit using rg popup"
Dialog kit is using rg popups to display entry fields and this works well however i am trying to get the numeic pad to display at the same time as your popup however it is not working.

https://github.com/enisn/Xamarin.Forms.DialogKit

[2019-09-13 07:41] JKennedy24 commented on #189
The only workaround I found for this was to put a style in the code behind like so:

            //workaround for this issue https://github.com/rotorgames/Rg.Plugins.Popup/issues/189 for mileage popup
            var milageStyle = new Style(typeof(ListView));
            if (Xamarin.Forms.Device.RuntimePlatform != Xamarin.Forms.Device.UWP)
            {
                milageStyle.Setters.Add(new

[2019-09-21 18:21] wadepowell commented on #459
We are also seeing a crash with iOS 13 that did not happen with iOS12.

The first popup page displays, then closes immediately, however the Rg.Plugins.Popup.Services.PopupNavigation.Instance.PopupStack.Count = 1.  When a call to PopAllAsync after verifying there is a PopupPage in the stack, a NullReferenceException is thrown.

**Example:**
`if (Rg.Plugins.Popup.Services.PopupNavigation.Instance.Po

[2019-09-22 14:34] gpticar commented on #459
I also confirm there is problem with PopupStack on iOS 13.
However, I find out that sometimes after page disappears, PopupNavigation.Instance.PopupStack.Count is not zero.
That indicates that the page is probably still on the stack, but is not foreground.

[2019-09-22 17:53] TGlev commented on #459
I can confirm this same exact issue. @wadepowell

[2019-09-22 17:59] gpticar commented on #459
The more I am testing I am 100% positive that the pages that disappears stays on stack.

[2019-09-23 00:17] gpticar commented on #459
Ok, I got some progress. I manage to got popup pages working without auto disappearing. I had to overwrite 2 methods in PopupPlatformIos:

public async Task AddAsync(PopupPage page)
{
     page.Parent = Xamarin.Forms.Application.Current.MainPage;

     if (!IsiOS9OrNewer)
          page.Layout(new Rectangle(0, 0, Xamarin.Forms.Application.Current.MainPage.Width, Xamarin.Forms.Application.Current.M

[2019-09-23 19:51] PaoloLeva commented on #459
Same issue here with Popup disappearing but Stack Count not zero, and therefore crashing, on PopAsync() on iOS 13 released version

[2019-09-23 21:44] alextorres50 commented on #459
same issue here, on iOS 13 released version

[2019-09-24 01:03] fleuverouge commented on #459
I guess the problem is that in PopupPlatformIos.cs, the PopupWindow doesn't have a strong reference, so it is released too soon.

[2019-09-24 01:06] movisis commented on #459
It helped. Thank you very much.
Is there someone working to updated the official project?

[2019-09-24 06:57] mzhukovs commented on #459
Hitting same issue

[2019-09-24 07:05] TGlev commented on #459
How would you go about this? Cloning the code, replacing this and then building it to a new nuget package?
Im not super experienced in C# and Im wondering how I can override these methods in the right way.

[2019-09-24 07:20] mzhukovs commented on #459
@TGlev yep that's how, and you'd have to add a NuGet Package Source in visual studio pointing to the local folder on your machine that has the built nuget to be able to add to your existing project

[2019-09-24 07:33] gpticar commented on #459
@TGlev

You dont have to build nuget. Download source code (3 projects) and add them to your solution instead of nuget packages. Then reference appropriate Rg project from your projects, and you are good to go building your iOS project. Also, I didnt add Rg.Plugins.Popup.Droid because it is working fine on Android, so my Android project still has nuget package installed.

[2019-09-24 08:25] JKennedy24 commented on #459
Is this done through a custom renderer or have you got the source code as part of your project.

Be nice to get a workaround for this as its a bit of a showstopper bug

[2019-09-24 16:30] jvaneikeren commented on #459
This really is a show-stopper. Would anyone be willing to compile fix this as a temporary NuGet package that we could use until an official updated release is available?

[2019-09-24 18:25] DevEddy commented on #459
I am also getting this error, does anyone have made any progress on this?

[code]

-- Eddy

[2019-09-24 19:15] MikeC2 commented on #459
I'm getting the null reference exception as well. Seems to be the window object that is null. I'm not seeing the popup disappear though - get the exception intermittently when the popup is closed.

[2019-09-24 19:17] movisis commented on #459
I've managed to correct this error by downloading the full source code.
And changed the lines mentioned by @gpticar .
Its not the best solution, but its working fine.

[2019-09-24 20:12] TGlev commented on #459
This has to be fixed fast as the users of my apps that are on IOS 13 are now completely unable to use my apps.

I'll apply the workaround for now :)

[2019-09-24 20:46] jvaneikeren commented on #459
I tried downloading the source code and applying the workaround as well, but in my case, my popups have Entry boxes; with the workaround in place, as soon as I click on an Entry box and start typing, the application freezes.

[2019-09-24 20:52] movisis commented on #459
Strange.. this behavior isn't happening here.. pay attention that the first paragraph replaces some part of the code. Isn't just adding lines.. I'm using latest stable version of vs 2019 Mac, and official Xcode release 11 (not beta).

[2019-09-24 20:53] movisis commented on #459
`using System;
using System.Threading.Tasks;
using CoreGraphics;
using Foundation;
using Rg.Plugins.Popup.Contracts;
using Rg.Plugins.Popup.IOS.Extensions;
using Rg.Plugins.Popup.IOS.Impl;
using Rg.Plugins.Popup.IOS.Platform;
using Rg.Plugins.Popup.Pages;
using UIKit;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;
using XFPlatform = Xamarin.Forms.Platform.iOS.Platform;

[assembly: Dependen

[2019-09-24 20:54] movisis commented on #459
that's the full code working here

[2019-09-25 04:15] michaelstonis commented on #459
I figured out the issue. It has to do with how iOS 13 is managing the life of the `window` variable. To _resolve_ this for now, I just maintain a handle to the displayed windows, so that they do not automatically deallocated.

There are [similar reports](https://stackoverflow.com/questions/57060606/uiwindow-not-showing-over-content-in-ios-13) from other iOS developers with extremely similar or the

[2019-09-25 09:07] JKennedy24 commented on #459
@DevEddy  can you create a pull request of the fix and @rotorgames  can we get that pull request merged and released. this bug is a killer. Arguably apples fault for releasing such a breaking change

[2019-09-25 10:22] DevEddy commented on #459
@JKennedy24 sure, credits to @michaelstonis

https://github.com/rotorgames/Rg.Plugins.Popup/pull/466

[2019-09-25 12:54] mzhukovs commented on #459
Even with the unofficially patched 1.1.5.189 version I am seeing strange behavior with popups on iOS, namely the self-closing problem (seems to work the first time or two, but then closes itself immediately thereafter). No longer does the app crash though. Anyone else?

[2019-09-25 13:48] luizvnegrini commented on #459
Does anyone have any idea of the frequency of approvals? PRs have been open for more than months and have not been made or merged yet and this correction made you seem very urgent.

[2019-09-25 17:54] gcadmes commented on #459
@michaelstonis Will this also work on iOS 12 as well as the fix you applied for iOS 13?

[2019-09-25 18:27] michaelstonis commented on #459
@gcadmes it won't help for anything on iOS 12, as I added a specific filter here for iOS 13. This particular issue is not present on earlier versions of iOS though, so you should be good.

[2019-09-25 18:29] gcadmes commented on #459
Thank you for the quick reply.... :-)

On Wed, Sep 25, 2019 at 2:27 PM Michael Stonis <notifications@github.com>
wrote:

[2019-09-25 19:51] CoderFan1 commented on #459
I'm getting the same issue as soon as I updated to IOS 13

[2019-09-25 23:30] sehuff opened #467 "HTTPClient PostAsync causes Popup to close"
Since the upgrade to Visual Studio 8.3 code that worked before is no longer working.
After doing a  Navigation.PushPopupAsync and awaiting it - I have code that does a HTTPClient PostAsync, once that PostAsync is called the Popup now closes - which is before I want it closed and also causing an error when I later try to do a Navigation.PopPopupAsync.  This worked prior to the upgrade to Visual Stu

[2019-09-26 05:09] PrvnKmr commented on #201
I am facing the same issue mentioned here. In my tests, I have a view model method which uses INavigation.PushPopupAsync() to display a popup. Here, when runnig the test for the method, it fails with the error

FATAL UNHANDLED EXCEPTION: System.InvalidOperationException: You MUST install Rg.Plugins.Popup to each project and call Rg.Plugins.Popup.Popup.Init(); prior to using it.

Thanks.

[2019-09-26 08:11] mr5z commented on #459
Hi, can you tell how to do it?
Is it the same as installing NuPackage? If so, can I have the URL.
Thanks!

[2019-09-26 08:18] DevEddy commented on #459
@mr5z You can use this source to test the changes made in the pr: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99

It should be the version 1.1.5.214

[2019-09-26 13:32] LJungmann commented on #467
Encountering the same error. But only closes the popup on ios, not on android - what makes it even worse to fix for me.

[2019-09-26 21:36] kamilkk commented on #459
@DevEddy Thanks for that URL, it saves me a lot of time and I confirm it works 👍

[2019-09-26 22:15] nabilakhlaque opened #468 "Crashes on ios13"
Since I updated to ios13, app seems to crash every now and then.
To reproduce, open-close popup fast 2-3 times, then it crashes.

This is my stacktrance, can anyone please look at it?

`    PopupPlatformIos.RemoveAsync (Rg.Plugins.Popup.Pages.PopupPage page) C:\projects\rg-plugins-popup\src\Rg.Plugins.Popup.IOS\Impl\PopupPlatformIos.cs:73
    PopupNavigationImpl.RemoveAsync (Rg.Plugins.Popup.Pages

[2019-09-26 22:58] nabilakhlaque commented on #467
Same here... =(

[2019-09-27 02:22] mr5z commented on #459
@DevEddy thanks! I wonder how those people extract the URL from the zip file.
Anyway, It has been 8 months since the last commit. Maybe somebody has to fork this repo already?

[2019-09-27 02:37] gutierrezralph commented on #468
Update your Mac Machine to OS 13
Update XCode
Update your Xamarim.Forms > Clean > Build > Test

I hope it helps :)

[2019-09-27 06:34] DevEddy commented on #459
Your welcome, but don't forget that the credits are going to @michaelstonis as he worte the code / fix.

@mr5z the url was published in the read me by the maintainer.

[2019-09-27 07:17] JFMG commented on #468
This issue is a duplicate of https://github.com/rotorgames/Rg.Plugins.Popup/issues/459

[2019-09-27 08:51] nabilakhlaque commented on #468
I have done, but still same issue.

[2019-09-27 09:22] shalinasanga opened #469 "App crashes after update to 1.1.5.188"
Existing app works fine with Rg plugin version 1.1.5.180, but not in 1.1.5.188
app crashes when start saying
"System.IndexOutOfRangeException: 'There is not page in PopupStack'"

[2019-09-27 10:55] luizvnegrini commented on #459
If you do, tell us or as soon as possible

[2019-09-27 11:20] JKennedy24 commented on #459
@DevEddy

I'm using this https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99 as a packagesource now in my project.

Is this the right way to do it? the url isnt going anywhere is it?

[2019-09-27 11:41] DevEddy commented on #459
@JKennedy24 correct, this URL is fix

[2019-09-27 12:08] DevEddy commented on #459
@mzhukovs have you tried 1.1.5.214?

[2019-09-27 12:50] dfarrNTST commented on #459
Is there any way to get this in the primary build for the release that is on nuget.org?

[2019-09-27 14:41] sehuff commented on #467
Took me a bit to test on Android but I'm seeing the same thing.  I'm not sure why Android vs. iOS would matter - or if the issue is with HTTPClient or Rg.Pluins.Popup.

[2019-09-27 14:43] sehuff commented on #469
You may have the same issue I have with HTTPCleint - if you are calling a PostAsync in iOS it causes the page to close - so then when the close gets called there is nothing to close so it errors.  Although it seems like if there is nothing to close it should just go on about it's business and not throw an error.

[2019-09-27 19:17] DevEddy commented on #459
@dfarrNTST the only way is to merge this PR and create the nuget or fork and create your own nuget.

[2019-09-28 02:17] RhomGit commented on #459
ping @rotorgames

Hi Kirill, whats the chance we could please have a fix published? We can't release to the App Store in this state and the workaround is rather onerous. Also thanks @michaelstonis for your efforts thus far.

[2019-09-30 03:31] bo3po commented on #459
I have this issue also. Popup goes away. And the exception that everyone else gets. But not always. A log of times tough. I'll have to clone and apply the fix to release. Please fix this soon :)

[2019-09-30 04:19] shalinasanga commented on #469
i am adding more details
- Crash occurs in Android
- In latest xamarin forms (4.2.0.815419)

[2019-09-30 09:30] Hayko97 opened #470 "Popup is disapearing after 2sec in IOS 13"
When we have a background process in application which always running(Just have a background Thread which always doing something). After opening the popup it disappears after 2sec in IOS 13.

[2019-09-30 11:12] MitchBomcanhao commented on #469
are you checking that the stack is empty before popping the stack?
ie
[code]
https://github.com/rotorgames/Rg.Plugins.Popup/issues/350

[2019-09-30 11:21] hoangwy commented on #470
Same here, Please update

[2019-09-30 11:23] hoangwy commented on #459
Same here, Please fix this soon.
Thanks so much

[2019-09-30 12:25] TGlev commented on #459
ping @rotorgames

[2019-09-30 12:30] shnaz commented on #459
Same issue here. I would rather not clone this project, but it seems that there is no other way.

[2019-09-30 12:36] JKennedy24 commented on #470
is this a duplicate of https://github.com/rotorgames/Rg.Plugins.Popup/issues/459?

[2019-09-30 13:03] TGlev commented on #470
Yes @JKennedy24 its a dupe of #459

[2019-09-30 16:40] MikeC2 commented on #459
Wondering if @ysmoradi  or @pizzahead24 would be able to publish the fix?

[2019-09-30 20:21] FoggyFinder opened #471 "Attempt to show popup that already in use causes exception "Value does not fall within the expected range""
How to reproduce (UWP):

1. Open demo app
2. Click "Open Popup"
3. Press Enter

gif:

![crashes](https://user-images.githubusercontent.com/16510738/65912160-6b0c8580-e3d6-11e9-8aae-501988bc38f9.gif)

I would expect different message at least.

[2019-10-01 04:55] shalinasanga commented on #469
app crashes when loading. crash on MainActivity. There is no PopAsync any where near to app loading. And same code same app works fine in older version of Rg plugin (1.1.5.180). same error occurs in .Net standard project and portable class library project

[2019-10-01 09:23] Hayko97 commented on #470
#459 About app crashing when you call Init function.It is not duplicate please read the description I updated it.

[2019-10-01 13:30] movisis commented on #459
Yeah.. tested in iOS 12 and 13, and this worked fine.

[2019-10-01 21:10] lancer1977 commented on #404
https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99
If you add this to your nuget sources you can update to the latest version and I have found it does fix my issue. Good luck!

@rotorgames  thanks for the hard work and the prompt response. Could use a release on Nuget.org still.

[2019-10-02 11:30] pappzoo opened #472 "WPF - System.InvalidOperationException: 'Element cannot be its own parent.'"
WPF Demo always throws an exception:
System.InvalidOperationException: 'Element cannot be its own parent.'

Could you tell me what I am doing wrong?
Thanks

![popup_wpf_issue](https://user-images.githubusercontent.com/15409260/66040763-95fef280-e518-11e9-8a60-d868710c0d14.png)

[2019-10-02 14:09] jantanis opened #473 "Android keyboard hiding "pushes" bottom element a bit to far up"
Initial (right):
![popup_start](https://user-images.githubusercontent.com/11005949/66051099-a91cbd00-e52e-11e9-9434-2a4bfe1611a9.JPEG)

Show keyboard by clicking entry:
![popup_keyboard](https://user-images.githubusercontent.com/11005949/66051157-b8036f80-e52e-11e9-9ac6-09723163a0e4.JPEG)

This shows some empty space between bottom button and keyboard that should not be there,

Dismiss keyboard:
!

[2019-10-02 18:01] alextorres50 commented on #459
doesn't work with custom popupage the OnDisappearingAnimationEndAsync() is execute, but the background doesn't popup, i tried with popasync() and popupallasync() and the Task never finish...

[2019-10-02 18:42] michaelstonis commented on #459
@alextorres50 can you post a minimal repro solution? I can look into if there is a straight-forward way to manage that.

[2019-10-03 06:02] rotorgames commented on #459
Hi guys. I'm sorry for the long answering. Version 1.1.5.214 in Development Nuget Source (https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99) has to fix this issue. Actually, I fixed it 5 months ago. I wanted to add more features in the next release but I didn't have enough time for it.

I will publish 1.1.5.214 in NuGet ASAP but you can use Development Nuget Source right now if you want.

[2019-10-03 06:03] rotorgames commented on #468
Duplicate #459

[2019-10-03 06:03] #468 closed

[2019-10-03 06:06] rotorgames commented on #469
@shalinasanga Try to use the last version in [Development NuGet](https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99). And always check if there is a page in PopupStack as @MitchBomcanhao showed.

[2019-10-03 06:07] #458 closed

[2019-10-03 06:10] rotorgames commented on #460
@MitchBomcanhao The last version in  https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99 is thread-safe. Anyway, I hope you fixed this issue. Reopen it if you want.

[2019-10-03 06:10] #460 closed

[2019-10-03 06:18] rotorgames commented on #461
it looks like that 1.1.5.210 was created for Pull Request.

[2019-10-03 06:22] rotorgames commented on #464
@GleisonOliveira Did you initialize the plugin?

[2019-10-03 06:40] rotorgames commented on #459
Hi guys. I'm sorry for the long answering.

Can someone test v1.1.5.216 from Development Nuget with stable versions of VS4Mac, Xamarin.iOS and Xamarin.Forms?

Please, let me know if v1.1.5.216 still have this issue.

[2019-10-03 06:49] alextorres50 commented on #459
Due to privacy issues I cannot share the project where the error is presented,

but it is very simple

When you run a background task with high load command, in my case a banner with information, this information load into ObservableCollection, after the Popup closes leaves the user interaction invalid, as if the background did not disappear.

Try to replicate it in a separate project but the same

[2019-10-03 06:52] rotorgames commented on #459
@alextorres50 Could you try to test vv1.1.5.216 in your project?

[2019-10-03 07:35] Bloodyairtimer commented on #459
I tried the  v1.1.5.216 package but popping items from the PopupStack seems to close the popup but not clearing the stack.

[2019-10-03 07:44] alextorres50 commented on #459
OK, v.1.1.5.216 fix partialty my error and I confirm that the use :

**First Method**
`
                    var root = new NavigationPage(new HomePage());
                    _navigationService.Initialize(root);
                    App.Current.MainPage = root;`
to navigate or set to RootPage doesnt work fine on IOS 13, generate Issues to load image, data and content

I change this to:

**Second Me

[2019-10-03 08:49] rotorgames commented on #420
It was implemented. You will be able to use it in 1.6.x

[2019-10-03 08:49] #420 closed

[2019-10-03 08:58] rotorgames commented on #256
It will be available in v1.6.x

[2019-10-03 09:28] #469 closed

[2019-10-03 09:30] rotorgames commented on #459
So, I have created a new build (1.1.5.220) in Dev nuget which contains this fix and some improvements. Could you test it and let me know? I'm going to publish a new release this week.

[2019-10-03 09:44] Bloodyairtimer commented on #459
Tested it and all issues are gone! Thanks!

[2019-10-03 10:27] rotorgames commented on #473
@jantanis What version of Android, Xamarin.Android, VS?

[2019-10-03 10:35] rotorgames commented on #473
So, it happens because of you use PopupPage as ContentPage in NavigationPage. To avoid this issue you can set `HasKeyboardOffset="False" HasSystemPadding="False"` for PopupPage. I hope I will fix it in next releases.

[2019-10-03 10:43] mindport commented on #459
Restoring packages for Xamarin.iOS,Version=v1.0...
  GET https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99/FindPackagesById()?id='Rg.Plugins.Popup'&semVerLevel=2.0.0
Unable to get repository signature information for source https://api.nuget.org/v3-index/repository-signatures/5.0.0/index.json.

[2019-10-03 10:46] rotorgames commented on #459
@mindport It's nuget or VS bug. I close VS and run `dotnet nuget locals all --clear` in a terminal. After it restoring works fine.

[2019-10-03 10:50] jantanis commented on #473
Android 9 on a Galaxy S10

[2019-10-03 10:50] jantanis commented on #473
True, the issue doesn't appear. But the reason we use this is because of the keyboard offset. So I hope you'll fix this.

[2019-10-03 10:54] rotorgames commented on #473
@jantanis I don't think you should use this plugin for Keyboard Offset. It doesn't make sense. Just google AndroidBug5497 to resize your app when a keyboard is appearing.

[2019-10-03 10:55] rotorgames commented on #470
Duplicate #459

[2019-10-03 10:55] #470 closed

[2019-10-03 11:05] mindport opened #474 "@mindport It's nuget or VS bug. I close VS and run `dotnet nuget locals all --clear` in a terminal. After it restoring works fine."
@mindport It's nuget or VS bug. I close VS and run `dotnet nuget locals all --clear` in a terminal. After it restoring works fine.

_Originally posted by @rotorgames in https://github.com/rotorgames/Rg.Plugins.Popup/issues/459#issuecomment-537892091_

[2019-10-03 11:05] #474 closed

[2019-10-03 11:06] mindport commented on #459
Sorry @rotorgames Maybe its a local problem for me but after your suggested terminal fix I get these errors.

Restoring packages for Xamarin.iOS,Version=v1.0...
  GET https://api.nuget.org/v3-flatcontainer/rg.plugins.popup/index.json
  GET https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99/FindPackagesById()?id='Rg.Plugins.Popup'&semVerLevel=2.0.0
Retrying 'FindPackagesByIdAsyncCore' for

[2019-10-03 11:07] rotorgames commented on #459
@mindport restart your mac

[2019-10-03 11:13] rotorgames commented on #467
@sehuff Could you test the last version of the plugin in [Development Nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup)?

It must be fixed there and I'm going to publish a new version in the public NuGet soon.

[2019-10-03 11:14] mindport commented on #459
@rotorgames That worked like a charm, thanks :)

[2019-10-03 11:16] rotorgames commented on #459
@mindport Nice to hear it. Let me know please about the last version in dev nuget.

[2019-10-03 11:22] rotorgames commented on #465
@davidbuckleyni Could you give more information about it? Screenshots, stack trace and etc.

[2019-10-03 11:22] rotorgames commented on #462
@Kelve17 What version of the plugin, XF and what is it, Android, iOS?

[2019-10-03 11:23] rotorgames commented on #456
@Jkinley01 Could you give me a stack trace?

[2019-10-03 11:26] rotorgames commented on #435
I think it's duplicate of #459. If it's not, please reopen it.

[2019-10-03 11:26] #435 closed

[2019-10-03 12:08] sehuff commented on #467
@rotorgames - Yes!  I just tried 1.1.5.220 and the issues is fixed.  Thanks, you're work is very much appreciated!

[2019-10-03 12:08] #467 closed

[2019-10-03 13:02] alextorres50 commented on #459
@rotorgames  v.1.1.5.220 return the bug in my case

[2019-10-03 13:15] w-brunette commented on #405
I'm with the same problem.

[2019-10-03 13:21] rotorgames commented on #459
@alextorres50 Could you create a simple project which reproduces your issue and upload it on github?

[2019-10-03 13:30] alextorres50 commented on #459
[code]

This is the stacktrace

[2019-10-03 13:33] rotorgames commented on #459
@alextorres50 What version of the plugin do you use?

[2019-10-03 14:08] alextorres50 commented on #459
v.1.1.5.116 stacktrace error, v.1.1.5.220 the background window or view that cancelled user interaction appearred again, but I see that suceded with async task, I go to home screen to IOs and return to the app, the app lost the freeze and  function again.
I try to search if issue is to xamarin forms

[2019-10-03 14:25] rotorgames commented on #459
@alextorres50 I can't solve this issue if you don't create an example. It will be awesome if you create a simple project which can replicate your issue.

[2019-10-03 14:27] rotorgames commented on #405
I think it's duplicate of #459. If it's not, please reopen it.

[2019-10-03 14:27] #405 closed

[2019-10-03 18:50] gailgarciad commented on #459
Hi @rotorgames, Thank you so much for working on this!! 220 works fine for me and the popups does not close automatically, but I have some popups that contains editors field, and the application crashes when opening those popups. Any ideas on how to address this issue?
Thanks!!

[2019-10-03 18:58] alextorres50 commented on #459
If is a third party libraries you should wait the release of this libraries, because a lof of libraries don't prepared to IOs13, and update the dependency of this library doesn't fix the issue completily

[2019-10-04 04:58] rotorgames commented on #459
@gailgarciad Could you give a stack-trace?

[2019-10-04 05:52] rotorgames commented on #457
@viral105 Yes, you can, if you override the default behavior of TabbedPage. But this question is not about the plugin. You should ask about in [Xamarin.Forms Page](https://github.com/xamarin/Xamarin.Forms)

[2019-10-04 05:52] #457 closed

[2019-10-04 05:53] rotorgames commented on #430
@damienaicheh I have created a new version of the plugin in Development Nuget. Could you test?

[2019-10-04 06:00] #406 closed

[2019-10-04 06:03] oddfrer commented on #459
Thanks for the fix, @rotorgames! 220 works for our application. Could you perhaps add 220 as a pre-release to nuget.org?

[2019-10-04 06:07] rotorgames commented on #459
@oddfrer I will publish a stable release in NuGet today.

[2019-10-04 09:28] letrungdo commented on #459
@rotorgames version v.1.1.5.220 has an bug when rotating the device horizontally, vertically not fire OnSizeAllocated

[2019-10-04 09:35] letrungdo commented on #459
Hi @rotorgames version v.1.1.5.223 has an bug on iOS 13 when rotating the device horizontally, vertically not fire OnSizeAllocated

[2019-10-04 11:22] trix0 commented on #150
Make sure to clean the solution. Sometimes VS wont just pick it up.

[2019-10-04 13:48] damienaicheh commented on #430
Not reproduced, for now. I will reopen it if it happen again, it's difficult to reproduce it in my app.

[2019-10-05 06:27] rotorgames commented on #459
Done

[2019-10-05 06:27] #459 closed

[2019-10-05 06:32] rotorgames commented on #430
@damienaicheh Ok. I'll close it for temporary. Reopen this issue if it happens again.

[2019-10-05 06:32] #430 closed

[2019-10-07 14:08] ysmoradi commented on #312
Could you please provide an update to status of this feature? Thanks in advance (:

[2019-10-07 14:14] VladislavAntonyuk commented on #312
https://github.com/rotorgames/Rg.Plugins.Popup/pull/361

[2019-10-09 21:38] ecollado92 opened #477 "App unresponsive after closing any popup"
After upgrading to latest version 1.2.0.223 to try to resolve the ios 13 crashing issue, the app turns unresponsive when closing a popup with

                  MainThread.BeginInvokeOnMainThread(async delegate
            {
                if (PopupNavigation.Instance.PopupStack.Count > 0)
                {
                    await PopupNavigation.Instance.PopAsync(false);//.PopAllAsync(true);

[2019-10-11 08:32] rotorgames commented on #477
@ecollado92 Could you reproduce it in another project?

[2019-10-11 16:39] D4rkC1own187 commented on #477
I have similar issue on iOS 13.0. Android works and last time it worked on iOS was iOS 11.

**Steps to repro:**
1) screen A: push and pop. Navigate to screen B.
2) screen B: push and pop but after popup disappears I get a null reference exception.

I will create a sample project to reproduce later today.

**stack trace:**
  at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos.RemoveAsync (Rg.Plugins.Popu

[2019-10-17 12:15] acaliaro opened #479 "Opacity property does not work"
If I set

BackgroundColor="#000000" Opacity="0.9"

Opacity seems not to work

If I set opacity inside the BackgroundColor as "#77000000" it works.

Is it a bug in Opacity property?

[2019-10-17 16:41] Phenek opened #480 "[iOS] NullReferenceException KeyWindow"
Hello,

First of all thanks for this repository!

I got a Null Reference Exception on the iOSCustomRenderer on the ViewDidLayoutSubviews function.
At first second App startup the UIApplication.SharedApplication.KeyWindow could be Null.

Here a screenshot:
<img width="994" alt="Screenshot 2019-10-17 at 18 35 11" src="https://user-images.githubusercontent.com/4518686/67029347-6998c800-f10d-11e9-8c76

[2019-10-17 16:48] Phenek commented on #480
Here the PR => #481

[2019-10-18 02:49] trungbq1712 opened #482 "[iOS] Popup automatically close"
Hi all,
Today i face a strange issue with Rg.Plugin.Popup.
I have a listview inside popup, popup close when i paging.I set CloseWhenBackgroundIsClicked "false"
Please help me!

[2019-10-18 15:16] FS-FIT opened #483 "Issue button command latest Xamarin.Forms 4.2.0.848062"
Hi all,
I recognized an issue with the latest NutGet package of Xamarin.Forms 4.2.0.848062 and Rg.Plugins.Popup 1.2.0.223.

After the update the commands on button click are not fired. When I rollback to Xamarin.Forms 4.0.0.426577 and Rg.Plugins.Popup 1.1.5.188 the it work well.

I create a new instance of PopupNavigation like followed.

Have anyone of you an idea to solve the issue?

please let m

[2019-10-21 07:14] ricavir11 commented on #482
Hi, I have exactly same issue.
Popup opens once then, on the next opening request, doesn't show, sometimes strange flickerings... and only on iOS.
I'm using XF 4.2.
On Android side no issue at all. Popups are opened and closed normaly.

[2019-10-21 07:33] ashishkumar070 commented on #482
I can also confirm this.
 Tested on emulator iOS 13.2
Rg.Plugin.Popup V 1.2.0.223
Xamarin.Form V 3.6.0.264...

Getting the following exception on calling
`await PopupNavigation.Instance.PopAsync();`

[code]

[2019-10-21 07:59] ricavir11 commented on #482
Seems to be linked to iOS 13.

Here is the stacktrace :

**System.NullReferenceException:** 'Object reference not set to an instance of an object'

2019-10-21 09:53:35.903854+0200 APP.MobileApp.iOS[15525:252316] XPC connection interrupted
**System.NullReferenceException:** 'Object reference not set to an instance of an object'

2019-10-21 09:53:40.286793+0200 APP.MobileApp.iOS[15525:251604]
Unhand

[2019-10-21 14:22] AbdellahOusrhireDev commented on #482
@rotorgames I'm having the same issue right after upgrading Xamarin.iOS, everything was fine **before** the update

Rg.Plugins.Popup : 1.2.0.223
Xamarin.iOS: 13.4.0.2
Xamarin.Forms: 4.2.0.778463

[2019-10-21 14:27] ThomasCurti opened #484 "Xamarin - Popup is starting in fullscreen"
Hello,

I have a problem, when I start a popup using:
 await PopupNavigation.Instance.PushAsync(new PopupPage());

it shows the popup… in fullscreen.

Do you have any idea why it does that ?

Xaml for the popup page:

<pages:PopupPage
             xmlns:pages="clr-namespace:Rg.Plugins.Popup.Pages;assembly=Rg.Plugins.Popup"
             xmlns:animations="clr-namespace:Rg.Plugins.Popup.Animations;as

[2019-10-21 18:10] kwabenaowusujnr commented on #27
if getting this error with **Rg.Plugins.Popup 1.2.0.223** , **Xamarin Forms 4.2.0.848062**
**System.InvalidOperationException
  Message=The page has not been pushed yet or has been removed already** on await CoreMethods.PushPopupPageModel<MyPersonPageModel>(true);

[2019-10-22 02:42] eramirez3 commented on #482
this was already addressed in #459, update to last version

[2019-10-22 03:06] ashishkumar070 commented on #482
@eramirez I am on the latest version !

[2019-10-22 07:01] #484 closed

[2019-10-22 09:41] ricavir11 commented on #482
I realized that the problem is due to Prism.plugin.popup which is using an outdated version of rg.plugins.popup.
I'v created : https://github.com/dansiegel/Prism.Plugin.Popups/issues/118

[2019-10-22 10:33] mmehdidehghani opened #485 "await Navigation.PushAsync issue"
I used a button in popup and set "await Navigation.PushAsync " on Clicked Command to navigate to another page. but it doesn't work on IOS (Xamarin.Forms)

[2019-10-22 12:07] trungbq1712 commented on #482
the latest version Rg.Plugin.Popup solved my issue

[2019-10-22 12:07] #482 closed

[2019-10-22 17:29] ashishkumar070 opened #486 "Pop Up crashes as soon it is pushed to UI"
With the recent update of Visual Studio and XCode the pop up crashes as soon as I try to open the pop up using `await PopupNavigation.Instance.PushAsync(SomePopUp);`

Tested on following device iOS iPad 13.1 & emulator OS version 13.2

And I see people closing the issue on the previous threads.

[code]

Stacktrace

` at Rg.Plugins.Popup.Services.PopupNavigationImpl.PushAsync (Rg.Plugins.Popup.Page

[2019-10-23 07:44] kwabenaowusujnr commented on #485
Having similar issues, previous versions work perfectly

[2019-10-24 17:57] ashishkumar070 commented on #486
@rotorgames Can you please check, all the iOS device will be affected !

[2019-10-28 11:32] forlayo opened #487 "Cannot use CollectionView with GridItemsLayout into a Popup."
- Xamarin.Forms 4.3.0.908675
- Rg.Plugins.Popup 1.2.0.223

**Issue**
While using CollectionView with GridItemsLayout configuration, Span property has no effect; then just one row/column if shown.

If using same layout outside of popup it works as expected.

**More info:** https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/collectionview/layout

[2019-10-28 12:31] Phenek commented on #453
#481

[2019-10-29 18:40] gcadmes opened #488 "iOS 13 new Modalpresentationstyle"
Is there a way to ensure that all modal dialogs will be shown in "fullscreen" as opposed to "sheet style"?

My modal dialogs can (should) only be dismissed via a close button. However, for the users who've upgraded to iOS 13 can swipe down to remove the modal dialog.
How can I prevent this?

thank you

[2019-10-31 13:37] Sanketjo commented on #486
Any updates on this issue , I am facing same error ... app is getting crash.

[2019-11-03 18:32] piolo94 commented on #486
Same problem here with the latest stable version.
It happens more times than I want but not always, so I've found a barely acceptable workaround:

- put every navigation instance inside a try/catch and fire again the navigation in the catch branch if the action you want to perform is strictly mandatory
- the same above, but with the catch brand empty so the user is forced to repeat the operation

[2019-11-06 16:10] SFSteve commented on #462
This is also not working for me on Android using
Rg.Plugins.Popup 1.2.0.223
Xamarin.Forms 4.3.0.947036

[2019-11-06 19:57] jerdine opened #489 "Navigation.PopAllPopupAsync crashes app"
Using iOS 13+ device, the app crashes and throws exception when calling Navigation.PopAllPopupAsync. See stack trace below.

Stack trace

  at Rg.Plugins.Popup.Services.PopupNavigationImpl.RemoveAsync (Rg.Plugins.Popup.Pages.PopupPage page) <0x102bc9d10 + 0x001a7> in <cde965b472ad4ded822da8d25d677e8c#9327f3808f32c583494cd9ee634667e4>:0
  at Rg.Plugins.Popup.Services.PopupNavigationImpl.RemovePageA

[2019-11-12 13:52] Phenek commented on #489
Hello I got a lot of crash on this too, more than thousand each day when calling RemovePageAsync method

[code]

[2019-11-12 14:18] Phenek commented on #489
I got also some crash when adding a page on iOS 13+ only

[code]

[2019-11-12 22:26] jerdine commented on #489
@Phenek I followed the temporary work around specified in [here](https://github.com/rotorgames/Rg.Plugins.Popup/issues/486#issuecomment-549165319)

Put Navigation.PopAllPopupAsync in a try/catch block.

[2019-11-14 22:05] Mikilll94 opened #490 "Move animation not working"
I want to create a popup sliding from the bottom. Here is my code for the popup page:

[code]

However, this is not working. Popup is just appearing in the center of the screen. It is not sliding from the bottom. Is it a bug in this plugin?

I am working on Android. Here is the full project:

[App1.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/3848818/App1.zip)

[2019-11-15 08:34] Mikilll94 commented on #490
Here is a solution to this problem:

https://forums.xamarin.com/discussion/comment/395464#Comment_395464

@rotorgames
Do you plan to address this problem?

[2019-11-15 08:45] w19940304 opened #491 "Use Rg.Plugins.Popup in the MvvmCross environment."
I want use Rg.Plugins.Popup in the MvvmCross environment.How to I do?

[2019-11-15 14:54] Mikilll94 commented on #490
I have figured out that this a problem in Xamarin.Forms, not in this plugin

https://github.com/xamarin/Xamarin.Forms/issues/8522

[2019-11-20 11:03] knbinoj opened #492 "Error in ClearPopupStackAsync while unit testing"
We are developing a Xamarin Forms (4.1.0.778454) application using Prism (7.1.0.431). While writing unit test cases using NUnit and Moq, the following error occurred when the code reaches the statement "`_navigationService.ClearPopupStackAsync`".

`System.InvalidOperationException: 'You MUST install Rg.Plugins.Popup to each project and call Rg.Plugins.Popup.Popup.Init(); prior to using it.`

The i

[2019-11-21 14:32] AbdellahOusrhireDev opened #493 "Keyboard changes height of dialog instead of overlapping it"
Hi!

When I'm opening a new popup view & focus on an input, the view's height changes & gets clipped to let space for keyboard

A normal behaviour would be the keyboard overlapping the view instead

the fix referenced on this issue is not working for me https://github.com/rotorgames/Rg.Plugins.Popup/issues/166

[2019-11-21 14:37] AbdellahOusrhireDev commented on #493
Just re-read the docs & found the answer there:
https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage#properties

setting ** HasKeyboardOffset** to **false** fixed it

[2019-11-21 14:37] #493 closed

[2019-11-22 06:53] acaliaro opened #494 "AppCenter Crash report"
Hi.
I receive from AppCenter some exceptions for Zebra devices (Android 7.1.2, 6.0.1). It's strange because they don't use the application part where there is Rg.Plugins.Popup (I use it only when device == tablet but now there are only device == phone...).

I am using
XF: 4.2.0.709249
Rg.Plugins.Popup: 1.2.0.223

So the problem I think is here:

[code]

Package: com.xxx.yyyy
Version Code: 73
Versi

[2019-11-22 10:05] YZahringer commented on #487
Same issue

[2019-11-24 13:44] knbinoj commented on #492
@rotorgames could you please verify this?

[2019-11-25 10:50] ysmoradi commented on #492
Supply fake implementation of IPopupNavigation to PopupNavigation.SetInstance()

[2019-11-27 06:46] knbinoj commented on #492
Thanks a lot @ysmoradi , Issue has resolved.

[2019-11-27 06:46] #492 closed

[2019-11-29 01:47] jangenvher23 commented on #373
Where did you add this new code? I added this on AppDelegate and the app is automatically closing after launch

[2019-12-04 18:26] YZahringer commented on #487
The issue persist in last `XF 4.3.0.991221` release

[2019-12-08 22:59] PanderBoy18 opened #495 "A value of type 'PopupPage' cannot be added to a collection or dictionary of type 'IList`1'"
Hi all, I have a problem. I am trying to create a page as popup-page, so I tried this code:
[code]

But that results in the following error:

What am I doing wrong in Xamarin.Forms?

[2019-12-09 08:42] fekira16491 commented on #89
This problem mainly because version of Rg.Plugins.Popup might mismatched in each platforms.

[2019-12-09 21:36] dmarjoram commented on #486
My firebase testing on Android is ALL full of this.

android.runtime.JavaProxyThrowable: System.InvalidOperationException: The page has not been pushed yet or has been removed already
  at Rg.Plugins.Popup.Services.PopupNavigationImpl.RemovePageAsync (Rg.Plugins.Popup.Pages.PopupPage page, System.Boolean animate) [0x00052] in <5ab9a1a9dc2a49aa9bac5b2ef3232ecc>:0
  at ***.***.MessagePopup.HidePopup

[2019-12-12 17:23] Pirate911 commented on #438
hi @rotorgames , I'm having the same issue. The popup is not transparent even thought the background of the popup is set to Transparent.
I'm running latest version of XF 4.3 and 1.2 popup plugin.

[2019-12-17 16:27] JKennedy24 opened #496 "[UWP] PopAsync holds onto Page"
I have only tested on UWP but I have found that PopAsync seems to be holding onto pages

[SfSample.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/3974329/SfSample.zip)

steps to replicate:
1. open sample on UWP
2. click "Text Editor View"
3. click "Back" button
4. BUG - see no "Dispose" message in Log
5. click "Text Editor View"
6. click "Back" button
7. See - "View Disposed" in the log

[2019-12-17 19:01] iashaik commented on #403
I am also on the same boat and I looked at the code, caught the problem.

**Details:**
If you override animation from Xaml Styles, that style is being overridden by the default animation.

**How?**
BindableProperties from the style are set before the constructor is called

**Why?**
` public PopupPage()
        {
            BackgroundColor = Color.FromHex("#80000000");
            **Animation = ne

[2019-12-17 19:01] iashaik commented on #403
@rotorgames

[2019-12-17 19:06] iashaik commented on #495
<StackLayout>
            <pages:PopupPage>

You are adding a PopupPage to StackLayout.

You shouldn't, you should instead navigate to the popup page.

[2019-12-17 19:12] iashaik commented on #471
I faced a similar issue but with closing an already closed PopupPage from ViewModel Command.

you can use an if condition to look up at the stack.

`if(!PopupNavigation.Instance.PopupStack.Any(s => s == _loginPopup))
{
//Open
}`

[2019-12-18 00:19] jmichas commented on #404
I'm using version 1.2.0.223 with Prism 7.2.0.1422 and I am still having the flicker problem using the move animation. Is this fix in the version I am using?

[2019-12-18 05:01] NehpetsEtnam commented on #488
Try this https://xamarinhowto.com/controlling-ios-13-modal-presentation-styles-in-xamarin-forms/?fbclid=IwAR2ubJcm2pZUPb0xQt0SXGbTprRxlnfHGwGaVj8uov2t3WjPu-KjUdjBGNE

[2019-12-29 12:23] fkbeys commented on #14
i couldnt do anything. please can u help me?
I managed to do it with xamarin message center.
But i want this way to improve myself.
I m new to c# . could u help me making a very simple project ( xamarin forms)? thank u

[2019-12-29 12:27] jrahma commented on #14
@fkbeys I moved to @syncfusion much powerful and full functions

[2019-12-29 13:04] fkbeys commented on #14
it s not free i think.

[2019-12-29 18:03] EmilAlipiev commented on #14
Why in the world do you write that? Just because you couldn't achieve. you suggest a tool that you can plug and use it. I also use it Syncfusion in many of my projects but it is not more powerful. It has many bugs and you don't have a power of control as you don't have the source code. If you a have bug, you can just report and wait them to fix it. But if you are good developer, you can clone sour

[2019-12-29 18:07] jrahma commented on #14
@EmilAlipiev it's not disrespect. I was using this tool for many years and might use it for some future projects. @syncfusion is also a great option. Developer needs to decide which one is best for the project.

[2019-12-29 18:38] EmilAlipiev commented on #14
So better you can say that it fit better you. For me their popup wasnt a good option. It is integrated on the actual contentpage and occupies more memory usage as Rg popup which runs on standalone thread and you can dispose it once you are finished your work and return back to your original page.

[2019-12-29 18:40] fkbeys commented on #14
thank u sir. but i want to use my own UI. Later i will try syncfusion.

can u make a sample about this issue?

[2019-12-29 18:51] fkbeys commented on #14
thank u sir. i will try it. i already solved how to do this also. thank u.

[2019-12-30 07:36] Srikanth540-L opened #497 "Talk back Accessibility focus moves to background controls for the left swipe on pop up."
For Rg pop up we can  even access the background controls of page on which pop up as some,expected the focus should not move to background controls and should stay on the pop up it self.

[2020-01-03 09:00] JKennedy24 opened #498 "UWP page not resizing when showing onscreen keyboard (clicking a TextBox)"
I have a `popuppage` on UWP with a `Scrollview` and `stacklayout` containing a number of `Entrys`

When I click an `Entry` near the bottom the page doesn't resize to show the entry in the view.

If I replace it with a Xamarin.Forms `ContentPage` it works fine.

I noticed in the source that the [`Prepare`](https://github.com/rotorgames/Rg.Plugins.Popup/blob/master/src/Rg.Plugins.Popup.WinShared/Ren

[2020-01-05 16:21] AdamDiament opened #499 "Can the colour / opacity of the overlay be changed?"
Thanks for the great plugin! I want to use a small popup at the top of the screen as an error message -  for my use case there is no need for the rest of the page to be hidden behind a darkened overlay. Is it possible to change the colour / opacity of the overlay to be transparent, or even to remove it altogether?

[2020-01-06 11:54] MitchBomcanhao opened #500 "[Android] Popup position incorrect when multitasking due to erroneous keyboardoffset being applied"
plugin version: 1.2.0.223

When using more than one app on screen (ie one on top of another), the position of the page content in the popup page will be incorrect, as it will incorrectly apply a keyboard offset to the page content, pushing it to the top of the screen, potentially making it completely inaccessible.

something like this:
![image](https://user-images.githubusercontent.com/31066938/71

[2020-01-06 12:12] MitchBomcanhao commented on #499
I think you can just set the BackgroundColor on the PopupPage constructor.

[code]

if you're using a custom page animation like the following, I'd probably also set background animation to False if there's no actual background color to animate.
[code]

[2020-01-06 12:46] MitchBomcanhao commented on #500
Humm upon further testing, it appears that the issue is that the plugin is applying a **keyboard offset** which then pushes the content off the screen, even though there is no keyboard being displayed.

when I comment out the line
keyboardOffset = Context.FromPixels(screenRealSize.Y - visibleRect.Bottom);

in the OnLayout method for the android PopupPageRenderer, the popup content renders as you'd

[2020-01-06 12:55] acaliaro commented on #499
is it the same than #479 ? I think opacity should work

[2020-01-06 13:46] MitchBomcanhao commented on #500
using
`activity.WindowManager.DefaultDisplay.GetSize`
instead of
`activity.WindowManager.DefaultDisplay.GetRealSize`

seems to make this work as expected, at least on my test devices. Displays correctly and still deals with the keyboard as you'd expect. The plugin uses GetRealSize for API >= M and GetSize for the rest and there might be a reason for that difference, so I'm not pretending that this

[2020-01-07 12:09] AdamDiament commented on #499
@MitchBomcanhao yes that is it! Thanks very much!

[2020-01-07 12:09] #499 closed

[2020-01-08 09:08] stavroaudi opened #501 "Navigation.InsertPageBefore(page, before) not working inside PopupPage"
In my popup page, I'm trying to use `Navigation.InsertPageBefore(page, before)` but I get the error

I'd like to insert a navigation page (not popup page) behind the popup and then use PopupNavigation.Instance.PopAsync() to remove the popup and therefore showing the navigation page I'm inserting before.

[2020-01-10 22:17] mpnow commented on #60
@rotorgames I'm having a very similar issue. In my case it's not that SelectedItem isn't highlighted but that after closing the popup, the SelectedItem binding to my view model is no longer working.

In other words, in my ListView I have:

`SelectedItem="{Binding SelectedEvent, Mode=TwoWay}"`

I click an item, the SelectedEvent property is correctly updated in my view model, and I display the popu

[2020-01-11 05:46] mpnow opened #502 "SelectedItem not firing after opening and closing a popup page"
On one of my pages I have a listview where the selected item is bound to a view model like this:

`SelectedItem="{Binding SelectedEvent, Mode=TwoWay}"`

When a listview item is selected, I display (push) a popup page. That works great the first time.

When I close (pop) the popup page and tap on an item in the underlying page's listview, nothing happens - the bound SelectedEvent property does not

[2020-01-11 05:51] mpnow commented on #502
As an alternative approach, instead of binding the listview's SelectedItem to the view model, I set the ItemSelected event like this:

`ItemSelected="OnEventSelected"`

and created an `OnEventSelected` event in the code-behind.

Unfortunately I get the same behavior: the event fires when I first load the page, but if I click on a listview item, display the popup, then close the popup, after that t

[2020-01-11 07:16] mpnow commented on #502
I see now this is not an issue with your plugin.

If I don't clear the listview's selected item, then after closing the popup page, the same item is still selected so if I click on it, the selected item hasn't changed and the event properly doesn't fire.

[2020-01-11 07:16] #502 closed

[2020-01-13 12:51] PoLaKoSz commented on #290
Hi!

Its not clear for me what do You mean by `You should use Xamarin.Forms for it`. Can You give me a hint how should i implement it?

Thank You!

[2020-01-16 16:23] kurianov-pavel commented on #430
Hi I have similar error (1.2.0.223)

Java.Interop.JavaLocationException: Exception of type 'Java.Interop.JavaLocationException' was thrown.

`Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:
md5b5cbf9a5f989abac95309328170a059b.PopupPageRenderer.n_onWindowVisibilityChanged(Native Method)
md5b5cbf9a5f989abac95309328170a059b.PopupPageRenderer.onWindowV

[2020-01-26 21:30] nok3250 commented on #477
Hey, do you plan to release an update with this fix?
Also reproduced on iOS 13

[2020-01-29 09:14] darshanio commented on #372
@rotorgames @xleon I think just adding an empty constructor would solve the problem.

https://docs.microsoft.com/en-us/xamarin/android/internals/architecture#Premature_Dispose()_Calls

I don't know how I replicate this one, but seems that I can see a few crash happening because of this in MS AppCenter.

[2020-01-29 16:08] JKennedy24 commented on #496
Bug in my own application

[2020-01-29 16:08] #496 closed

[2020-01-29 20:11] mpatel1000 opened #504 "Loss of InputAccessoryView After PopUp dismissed"
Hello,

I have a InputAccessoryView (with a simple Done button) in a custom picker renderer that disappears after the popup is activated and dismissed. Disabling the popup retains the InputAccessoryView throughout the picker selection process. Any thoughts on what could be the issue?

Thanks,
Mehul

[2020-01-31 10:43] RomanNakonechnyi commented on #491
You can do it like PopupNavigation.Instance.PushAsync(new MyPopupPage());

[2020-02-03 11:08] njale commented on #485
On Android if you have a SplashScreen and initialize the Plugin there, it doesn't work. You have to initialize the plugin with the bundle from your MainActivity. If not it will try to show the popup on your SplashScreen (which is not visible). Took me quite some time to find out...

[2020-02-04 09:07] thisisthekap commented on #430
@rotorgames As the issue happened again to @kurianov-pavel and also on our side according to appcenter crash reports, this issue should be reopened.

[2020-02-11 10:35] Vencode opened #506 "UWP app with Xamarin forms"
Hello,

I have a project with Xamarin forms and Uwp app, when running the Xamarin forms Android and iOS application it works fine, but on the UWP app it crashes

On the Uwp App.xaml.cs I have:

Rg.Plugins.Popup.Popup.Init();
Xamarin.Forms.Forms.Init(e, Rg.Plugins.Popup.Popup.GetExtraAssemblies());

Error log:

Rg.Plugins.Popup.WinPhone.Impl.PopupPlatformWinPhone.AddAsync(Rg.Plugins.Popup.Pages.Pop

[2020-02-17 18:53] antmurph commented on #375
See PR #507

[2020-02-21 05:12] kvntzn opened #508 "Google Pixel 4 not showing the labels on the popup"
I have view model that is binded onto the popup's label but none of the binded string were showing. Only the hard coded label's text were showing.
It only occurs on Pixel 4, the label's text that were binded onto the viewdel are missing, but on other devices it shows up.

[2020-02-21 07:25] Zure1 commented on #508
I'm having the same issue (Android 9.0 - API 28)

[2020-02-21 07:34] kvntzn commented on #508
with the same device(Pixel 4) or different ?

[2020-02-21 07:43] Zure1 commented on #508
I'm using a Pixel 2 (Simulator).

[2020-02-21 07:48] kvntzn commented on #508
However on my end Pixel 2 simulator does shows up the labels

[2020-02-21 08:01] Zure1 commented on #508
I tested it on another Pixel 2 with Android 8.0, but it has the same issue with the labels not showing.

[2020-02-21 08:30] kvntzn commented on #508
Pixel 2 Pie 9.0 - API 28  & Pixel 2 Q 10.0 - API 29, works fine on my end

[2020-02-21 15:55] WilliamWatterson86 commented on #430
Also seeing the exact same stack trace in App Center crash reports for my app.

v 1.2.0.223 of the package for me.

[2020-02-24 14:36] jfjalburquerque commented on #497
My problem is related to this one:

**Problem:**
When I raise a popup the focus is setted to the background control, and I can press buttons from the background page.

**How to reproduce it:**
[UWP platform]
* If I press a button which raise a popup, popup is displayed.
* If I press space or enter key, the button that is pressed is a button from the background page instead of focussed button on po

[2020-02-25 10:22] Srikanth540-L commented on #497
@rotorgames  Any update or ETA for this bug , Please suggest any solution if there is any.

[2020-02-25 21:38] alessandrofrancesconi commented on #486
Any news about this?

[2020-03-03 11:45] Burgler-dev commented on #430
Please reopen this issue @rotorgames , we are also experiencing this with the latest version 1.2.0.233:

Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:
crc6460d2b0234674b457.PopupPageRenderer.n_onWindowVisibilityChanged(Native Method)
crc6460d2b0234674b457.PopupPageRenderer.onWindowVisibilityChanged PopupPageRenderer.java:74
android.view.View.disp

[2020-03-04 09:04] Burgler-dev opened #509 "Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown."
We are experiencing a lot of exceptions with 1.2.0.233 on android:

Java.Interop.JavaLocationException: Exception of type 'Java.Interop.JavaLocationException' was thrown.

Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:
crc6460d2b0234674b457.PopupPageRenderer.n_onWindowVisibilityChanged(Native Method)
crc6460d2b0234674b457.PopupPageRenderer.onWindo

[2020-03-04 09:09] Burgler-dev commented on #430
I made a new issue for this, because this one seems to stay closed...

 #509

[2020-03-04 11:40] Vencode commented on #506
anyone can help with this issue ?

[2020-03-10 00:46] brianjtools opened #511 "UWP Xamarin Forms Init GetExtraAssemblies"
In the UWP version of my app I also need to initialize the UWP Maps Renderer:
_var assembliesToInclude = new[] { typeof(Xamarin.Forms.Maps.UWP.MapRenderer).GetTypeInfo().Assembly};
Xamarin.Forms.Forms.Init(e, assembliesToInclude);_

Is there a way for one to add that your Popup.GetExtraAssemblies list?  I looked around but couldn't find any examples of how to do that.  So instead I rebuilt your pl

[2020-03-10 00:47] #511 closed

[2020-03-10 00:49] brianjtools commented on #511
Never mind I tried one of the other solutions given here for adding an assembly and it worked.  The crash problem is on another machine but installing on this one works so maybe there is a problem with the other machine (isn't UWP development fun!)

[2020-03-12 05:12] mrhussain0334 opened #512 "Crash on iOS when opening and closing quickly."
I am using the Latest Plugin.

Plugin Version: 1.2.0.223
Xamarin Forms: 4.4.0.991537
iOS: 13.4
Mode: Debug/Release

My team is doing destructive testing on the app. Which leads them to quickly open and close the PopUps. There is no crash in Android. But iOS crashes in Debug and Release Mode

I did debug the code I saw that PopupPlatformIos.RemoveAsync is called 4-5 secs after the page is closed.

[2020-03-12 09:53] BlackZero101 commented on #512
Yes I am also getting this issue on iOS 13.4. Any solution for this? My app is close for production

[2020-03-17 20:56] luke-schneider opened #513 "iOS leaves "ghost" window when keyboard is shown"
Attached is a sample project that shows the problem. To reproduce:
1. Run.
2. Click "Show"
3. Click in the Entry field.

When the keyboard pops up on the screen the popup window is moved and a "ghost" window is left where the window use to be.

This is using Xamarin Forms 4.5.0.396 and the latest Rg.Plugins.Popup 1.2.0.223.

Thanks for your time,

Luke Lanphear

[PopupExample.zip](https://github.c

[2020-03-21 07:04] yusufmsalh commented on #150
just make sure to change your page.cs to

public partial class page: PopupPage
{
}

[Stackoverflow](https://stackoverflow.com/questions/53946706/issues-with-displaying-a-popup)

[2020-03-24 07:03] Srikanth540-L commented on #430
@rotorgames We are facing the same crashin the latest version v 1.2.0.223
StackTrace:
md5b5cbf9a5f989abac95309328170a059b.PopupPageRenderer.onWindowVisibilityChanged
PopupPageRenderer.java, line 74
Java.Interop.JavaLocationException: Exception of type 'Java.Interop.JavaLocationException' was thrown.

Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:

[2020-03-26 09:23] broda02 commented on #512
I am also getting this...

[2020-03-26 14:48] mrhussain0334 commented on #512
What I did was uninstalled the plugin and converted all my pages to Absolute Layout and displayed the PopUp using its IsVisible attribute.
Resolved the crash but will use the plugin later if this gets fixed else this ain't reliable.

[2020-03-31 08:42] AbdellahOusrhireDev commented on #486
@rotorgames please, this is a known issue, any news on when it will be fixed?

[2020-03-31 10:35] inshalirshad opened #515 "Is Enable is making the radio circle small."
Steps to reproduce.

1- Put some radios in Group.
2- Make Radio IsEnable=False.
3- Now Click on it you will notice the decrease in size.

Moreover i tried to put IsDisabled=Ture. Same results.

[2020-03-31 10:36] inshalirshad opened #516 "I made Checkbox (Check) already enabled. But it is not showing tick mark."
1- Put a check box with type check.
2- IsChecked= ture;
3- Now run the app.

[2020-04-01 02:29] bharatkolla11 opened #517 "AVPlayer Swipe gesture not working on iOS 13"
Hello Guys,

I am working on Xamarin Forms Project where users can navigate to list of playlists and then preview assets in that particular playlist. Assets can be Images or Videos.
During preview (we are displaying video player/image viewer in pop-up page), users can swipe between the videos/images. On iOS 12 everything is working fine but on iOS 13, swipe between videos is not working. For image

[2020-04-01 11:51] DevEddy opened #518 "java.lang.ClassCastException"
Hey there,

I've got a crash report on Android via ANRs & crashes. Impacts only one user, weird. Unfortunetely I don't have a repro.

Samsung Galaxy S9+ (star2lte), 5632MB RAM, Android 10
[code]
- Eddy

[2020-04-07 23:08] HeitorPaino commented on #497
I have the same problem using talkback. When i raise the popup, talkback still reads and interacts with the background elements. @rotorgames, is there any ETA or workaround for this bug?

[2020-04-08 07:40] Srikanth540-L commented on #372
@xleon  We have same code where we are using Forms.ViewInitialized but removed the event as it is not required for us but even after that we are seeing this crash and we two other events which we are subcribing AppDomain.CurrentDomain.UnhandledException += OnUnhandledException; and TaskScheduler.UnobservedTaskException += OnUnobservedTaskException; in the OnCreate which we are not unsubcribing ,

[2020-04-08 14:41] martijn00 commented on #518
Please provide a full bug report and reproduction

[2020-04-08 14:41] #518 closed

[2020-04-08 14:41] #516 closed

[2020-04-08 14:41] #515 closed

[2020-04-08 14:42] #506 closed

[2020-04-08 14:43] #494 closed

[2020-04-08 14:43] #491 closed

[2020-04-08 14:44] #483 closed

[2020-04-08 14:44] #480 closed

[2020-04-08 14:44] #464 closed

[2020-04-08 14:44] #461 closed

[2020-04-08 14:44] #366 closed

[2020-04-08 14:44] #344 closed

[2020-04-08 14:44] #312 closed

[2020-04-08 18:51] saimel opened #520 "Type or namespace 'Popup' does not exists in Android"
Hey there, after updating this package I'm getting this error: The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?) (CS0234) (MyApp.Android)

This only happens in my Android project, iOS works fine.

I'd to downgrade to version 1.2 to avoid this issue.

[2020-04-08 19:00] martijn00 commented on #520
You need to update Android to target 10

[2020-04-08 19:00] #520 closed, assigned to nobody

[2020-04-08 21:25] mfeingol opened #521 "The `Rg.Plugins.Popup.Popup` class is no longer present on Xamarin Android"
## 🔙 Regression

The `Rg.Plugins.Popup.Popup` class is no longer present on Xamarin Android. If there is a new class, documentation does not mention it.

### Old (and correct) behavior

The class is included in 1.2.0.223.

### Current behavior

### Reproduction steps

Upgrade a Xamarin.Android project to use 2.0.0.1. Build.

### Configuration

**Version:** 2.0.0.1

**Platform:**
- [x] :robot: Andr

[2020-04-08 21:32] yasmoradi commented on #521
You've to update your project to the android 10 sdk. In a meaning time, I've sent a PR to support both android 9 and 10 sdk together!

[2020-04-08 22:22] mfeingol commented on #521
Ah, thanks. Not quite ready to bite the bullet on AndroidX yet, so I'll wait for your PR before updating the plugin.

[2020-04-08 22:22] #521 closed, assigned to nobody

[2020-04-09 06:25] bo3po commented on #317
hi. did this issue come back in the latest 2.0 version? i get the same errors as above. in android. ios works fine.

[2020-04-09 06:57] martijn00 commented on #317
@bo3po update your android target to 10

[2020-04-09 07:37] barrytheunissen opened #522 "Invalid Android documentation"
In the documentation it says we need this line:

**Rg.Plugins.Popup.Popup.Init(this, bundle);**

Inside the OnCreate of the MainActivity for an Android application.

The line is invalid and will not compile

[2020-04-09 07:40] kissurda commented on #522
Same problem

[2020-04-09 07:45] martijn00 commented on #522
You need to target Android 10

[2020-04-09 07:45] #522 closed, assigned to nobody

[2020-04-09 07:50] Domik234 commented on #513
Hello,
Is this already fixed? I am not able to test iOS build right now, but there were Frame bugs in Xamarin.Forms on release of 4.5.396 (+ sr1).

Thanks,
Dominik Švarc

[2020-04-09 08:58] JimmyPun610 opened #523 "How to Init the library in version 2.0"
I updated to version 2.0 but I cannot find the updated documents.
Also, the original init code is not working in 2.0?

What should I do

[2020-04-09 09:06] rotorgames commented on #523
@martijn00 As I said before we would get thousands of issues. It confuses people. They can install the library for Android 9 but they get only the core part of the library.

[2020-04-09 09:17] martijn00 commented on #523
You should update to Android 10. The next release will enable support for legacy Android 9

[2020-04-09 09:17] #523 closed, assigned to nobody

[2020-04-09 10:13] toverux opened #524 "The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup'"
## 🐛 Bug Report

I just upgraded to version 2.0.0.1 and the Popup static class required for initialization doesn't seem to exist anymore:

![image](https://user-images.githubusercontent.com/1343250/78883959-7bbf4780-7a5a-11ea-962e-bf2c9d27895a.png)

[code]

I cleaned the solution, deleted bin/obj folders but with no more success.
Downgrading the packages to ^1.0.0 works.

[2020-04-09 10:14] #524 closed, assigned to nobody

[2020-04-09 10:14] toverux commented on #524
Oops, I forgot to check closed issues. Very sorry for that. I'd suggest you keep an up to date issue opened until a compatibility fix for Android 9 is merged.

[2020-04-09 10:39] yasmoradi commented on #524
It has been merged already. We're waiting for an updated nuget package.

[2020-04-09 12:24] charlesroddie commented on #395
Looks like this is done now. Nice work @martijn00 !

[2020-04-09 12:24] john-dalsgaard opened #525 "After update to 2.0.0.1: Cannot init in Android project"
## 🐛 Bug Report

Compiler cannot find `Popup.Init()`in the `OnCreate` in `MainActivity`
[code]
### Expected behavior
That it should compile...

### Reproduction steps
Just upgrading from version: 1.2.0.223

### Configuration

**Version:** 2.0.0.1

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [X] :

[2020-04-09 12:28] maikoly1 commented on #525
Same Issue after the upgrade

[2020-04-09 12:58] #395 closed

[2020-04-09 13:13] yasmoradi commented on #525
You can either update to android 10 sdk or wait for the next release which adds support for android 9 sdk.

[2020-04-09 13:21] martijn00 commented on #525
You should update to Android 10 anyways, and keep up to date. The Android 9 support is a workaround for now ;)

[2020-04-09 13:21] #525 closed, assigned to nobody

[2020-04-09 13:28] dansiegel commented on #395
hey credit where credit is due... that wasn't just macOS support but tvOS & watchOS at the same time! Great job and thanks for the quick turn around on this @martijn00

[2020-04-09 13:32] yasmoradi commented on #525
I appreciate this.
I have got an idea! We can put the obsolete attribute on top of the Init method only for android 9 sdk build and as a message, we can say this method will be removed from the next release of Rg.Plugins.Popup (for example 2.1), so people can understand what's going on.
Note that even with VS 16.6 prev 2, Xamarin projects are being created with android 9 sdk! So at least we should

[2020-04-09 13:44] ortegaeu commented on #317
Updated target to 10 but still PopUp cant be found on namespace Rg.Plugins.Popup for Android nor UWP. It wotks on iOS tho.

[2020-04-09 13:44] nitishjeebun opened #526 "Rg.Plugins.Popup.Popup.Init for Android not found"
## 🐛 Bug Report

The Rg.Plugins.Popup.Popup.Init for Android not found when including the package

### Expected behavior
Should have initialised the Popup

As seen in the screenshot, the Assembly is missing the Popup in the Namespace
![image](https://user-images.githubusercontent.com/5356764/78901596-9a890280-7a89-11ea-9d5f-5682ffe0a8f2.png)

### Reproduction steps
1. add the package to the androi

[2020-04-09 13:48] ortegaeu commented on #317
It work change target to 10 for Android, but still cant make it work for UWP (App.xaml.cs)

[2020-04-09 14:11] #526 closed, assigned to nobody

[2020-04-09 16:03] john-dalsgaard commented on #525
Well, I hadn't updated the target of the Android project to 10... Will try to update again :-)

So for version 2.0.1 I should _not_ initiate it? Also for iOS? I think the documentation needs to be updated to reflect this (or I looked in the wrong places?)

[2020-04-09 16:10] john-dalsgaard commented on #525
Arghhh.... Setting target to Android 10 now suddenly breaks a customrenderer for tabs at the bottom of the page.... sigh! All those gifts you get! _(wasting your time so you cannot do what you were working on!)_

Right, so perhaps the update will be another day - if a quick attempt doesn't solve it

[2020-04-09 17:06] martijn00 commented on #317
On uwp you need to use the newer version as well. See the readme.

[2020-04-09 17:41] kpd328 opened #527 "Popup class is missing in Rg.Plugins.Popup from UWP, cannot init plugin in UWP"
## 🔙 Regression

As with #520 and others asking about the same issue, the Rg.Plugins.Popup.Popup class cannot be found, but this is in my UWP project, not Android

### Old (and correct) behavior
`Rg.Plugins.Popup.Popup.Init();` used in the App.xaml.cs class in a Xamarin.Forms UWP project compiles without error.
### Current behavior
On compilation, error CS0234 is thrown stating

### Reproduction s

[2020-04-09 18:54] martijn00 commented on #527
You have to set the minimum target to 10.0.17763 or higher.

[2020-04-09 18:54] #527 closed, assigned to nobody

[2020-04-09 19:29] dansiegel commented on #527
keep in mind this is a Xamarin.Forms requirement

[2020-04-09 19:36] john-dalsgaard commented on #525
... just for completeness, then it turned out that the customrenderer was choking on something else (with no pointers...). So the updating the target to Android 10 in itself did not course the problem. So I have updated - and updated all NuGet packages - including this one - and everything works....

I also see that we are now on version 2.0.0.2 :-) - perhaps that also solves the issue with the re

[2020-04-09 19:43] yasmoradi commented on #525
The latest version of the nuget package is compatible with version 9, but you've selected the better option by targeting Android 10. It's something like dotnet versions, for example a dotnet 3.1 app can use libraries which are built against dotnet 2. But the dotnet 2 app can't use libraries which are built against dotnet 3.1
So, by selecting highest version of the sdk, you can be sure that you've

[2020-04-09 20:04] john-dalsgaard commented on #525
... well, I didn't have to do anything about the init. Is that working as designed? Should I remove the init code?

[2020-04-09 20:16] rotorgames commented on #525
@john-dalsgaard You have to use the init method anyway. You can't see the init method because the plugin has been compiled for Android 10. To be honest, I don't like this solution.

[2020-04-09 20:20] john-dalsgaard commented on #525
Ok, so all is good in the way I use it. Thanks!

[2020-04-10 16:38] luke-schneider commented on #513
Dominik,

I have tried the latest Xamarin Forms stable and beta releases and the problem still exists.

Sincerely,
Luke Lanphear
________________________________
From: Domik234 <notifications@github.com>
Sent: Thursday, April 9, 2020 1:50 AM
To: rotorgames/Rg.Plugins.Popup <Rg.Plugins.Popup@noreply.github.com>
Cc: Luke Lanphear <Luke.Lanphear@non.se.com>; Author <author@noreply.github.com>
Subject

[2020-04-10 21:30] jimmccurdy opened #528 "UWP Popup class and methods no longer exist in the Rg.Plugins.Popup namespace"
## 🔙 Regression

As of the latest nuget release of Rg.Plugins.Popup (version 2.0.0.2),
the UWP namespace Rg.Plugins.Popup no longer contains the Popup class, along with its methods for Init() and GetExtraAssemblies().

Specifically, the UWP initialization calls to...
          Rg.Plugins.Popup.Popup.Init();
...and...
          Rg.Plugins.Popup.Popup.GetExtraAssemblies()
...no longer exist.

Please

[2020-04-10 21:32] maikoly1 commented on #525
Thank you..

[2020-04-10 21:39] dansiegel commented on #528
@jimmccurdy what version of UWP are you targeting? Rg.Plugins.Popup now targets uap10.0.17763. If you're on an older version of UWP you wouldn't get the UWP target...

[2020-04-10 22:07] jimmccurdy commented on #528
I do target 10.0.17763.  My min version is 10.0.16299.  Should that matter?

[2020-04-10 22:18] jimmccurdy commented on #528
I just confirmed that I now need to set both the Target Version and the Min Version of my UWP app to at least 10.0.17763 in order to get my project to compile now.  I personally can live with that, but others may not be able to.  This looks to be a result of your Rg.Plugin.Popup nuget version 2.0.01.

[2020-04-10 22:28] dansiegel commented on #528
@jimmccurdy this is one of those idiosyncrasies with UWP... the NuGet compatibility is based on the Minimum Version not the Target Version. Btw this change in version comes from Xamarin.Forms / Microsoft.

[2020-04-11 07:55] #528 closed, assigned to nobody

[2020-04-12 02:13] xleon commented on #372
That could be an issue. Actually you don't need to subscribe to those events within the context of an android Activity, and certainly you only need to do it once per application life-cycle.
Good places for that: AppDelegate and AndroidApplication

[2020-04-12 08:45] alessandrofrancesconi commented on #486
Problem still present in 2.0.0.2
Currently I'm stick with 1.1.5.188, this seems to be the last working release.

[2020-04-13 02:48] njale commented on #317
I done exactly as in the README and I just upgraded to the newest UWP version 2.0.0.2 from April 9 and started getting "The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?"

If I try to press "Go to the implementation" on the namespace, it gives me option to browse to the Mac or Android version. This is very weird. For iOS a

[2020-04-13 09:19] dmsi-leonidl opened #529 "Rg.Plugins.Popup v2.0.0.2 doesn't build on UWP."
On UWP if I try to initialize plugin with this:

Rg.Plugins.Popup.Popup.Init();

I get build error that Rg.Plugins.Popup.Popup doesn't exist.

Thank you for help.

[2020-04-13 10:25] yasmoradi commented on #529
Use min target 10.0.17763

[2020-04-13 10:55] #529 closed, assigned to nobody

[2020-04-14 08:06] srrin opened #530 "Picker not hiding when placed inside a popup (IOS)"
Hi All,
I am working on Xamarin Forms and I have placed a picker control inside the popup page. Once the picker is opened, when I click done button or even outside the picker area, the picker is not getting hidden.

This is issue only in IOS. Even the picker.unfocus not hiding the picker.

Can some one help me fix this?

Thanks

[2020-04-15 13:30] JKennedy24 opened #531 "V2.0.0.2 UWP Namespaces don't exist after upgrading [Regression]"
After upgrading from V1.2.0.223 to V2.0.0.2 I get the following error on UWP:

Which means I cannot call:

`Rg.Plugins.Popup.Popup.Init();`

Which means I can't use the plugin because if I try to load a popup page it tells me to call that but I can't as the namespace / library doesn't seem to exist on uwp

[2020-04-15 13:43] martijn00 commented on #531
See the other closed issues

[2020-04-15 13:43] #531 closed, assigned to nobody

[2020-04-15 22:08] Modem56k commented on #530
I've encountered the same issue, @srrin did you find any work around?

~~What i found that seemed to work was in the code behind on the selected item setter, i had to to call `Picker.Unfocus()`~~

Reverted Back to 1.2.0.223 Works Fine

[2020-04-16 06:56] SteCa15 commented on #317
Thanks @njale I had the same problem after I upgraded to version 2.0.0.2.  And now it works with your suggestion.

[2020-04-16 22:27] amirvenus commented on #449
BUMP:

Updated to the latest version and now it cannot even init Rg.Plugins.Popup on UWP anymore.

[2020-04-17 06:25] #449 closed

[2020-04-17 10:45] LuckyDucko opened #532 "Ability to swap between Popup Pages"
## 🚀 Feature Requests

Functionality that allows the end user to 'swap' between popup pages.

### Contextualize the feature
As there is already the ability to read which pages are in the stack, I think that this feature would be best restricted to the following:

A `Swap` function that takes in the 2 already-on-the-stack popup pages
-> with potentially room for an animation.
-> with potentially ro

[2020-04-17 10:51] LuckyDucko commented on #143
Bump @martijn00
I believe Rg.plugins.popups works on [MacOS](https://github.com/rotorgames/Rg.Plugins.Popup/commit/d823f3ddac83e368aab9614a9e936536c562f32f#diff-04c6e90faac2675aa89e2176d2eec7d8)

[2020-04-17 10:52] #143 closed

[2020-04-17 10:57] LuckyDucko commented on #512
@mrhussain0334 are you able to provide a minimal example of this happening?

There are event handlers for popping/popped popup pages
are you able add some sort of timing where you can show us the difference between
popping->popped->removeasync.

If you wish for a quick hack, perhaps you could add some sort of `IsBusy` boolean, busy when popping/pushing, not busy when popped/pushed, which then you

[2020-04-17 11:02] LuckyDucko commented on #486
hey @alessandrofrancesconi are you able to provide a minimal working version to aid in investigating this? I have not been able to create this issue

[2020-04-17 11:41] hhalai0334 commented on #512
The example is quite simple

Create a simple Pop Up like in the example and try to open and close it at the rapid rate. the UI will crash.

For normal case scenario its working but for edge cases our app crashes (Like using it like a crazy monkey aka destructive testing) .

[2020-04-18 15:28] zaggler opened #533 "Namespace name 'Popup' does not exist in the namespace"
I am having an issue with version 2.0.0.2 for my Xamarin UWP application. It seems for some reason or another the `Popup` class doesn't exist for the UWP version.

![image](https://user-images.githubusercontent.com/18127377/79641789-3fc56a00-815f-11ea-94da-c1ab6ba501e5.png)

Is anyone else having this issue?

[2020-04-18 15:31] #533 closed, assigned to nobody

[2020-04-20 07:48] alonibh opened #534 "Double trigger of IPopupNavigation.Poppin event"
For some reason when it tap on the background while the popup still exists, the event Popping (and also Popped btw) are triggers twice.

[2020-04-20 08:02] #534 closed, assigned to nobody

[2020-04-21 11:26] LuckyDucko commented on #512
@mrhussain0334 in the rg.plugins.popup 2.0.2, I tried to replicate but changing the demo app in the following way

-> Mainpage.xaml.cs

OpenPupupPage _(not a typo, that's how it is)_
[code]

The only error I got was when I explicitly didn't await async functions, which of course led It to break.

Can you (and @broda02 ) see if upgrading to the latest version sorted out your errors?

[2020-04-21 11:47] LuckyDucko commented on #530
hey @srrin and @Modem56k

I created an example popuppage with a picker (Hijacking the demo loading page and a Xamarin forms example of picker)

[code]

Here Is me using it (since the whole page is the picker, I wasn't able to just click out of it.)

[ExampleVid.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/4509759/ExampleVid.zip)

Could you add some more detail surrounding what the exa

[2020-04-21 11:53] LuckyDucko commented on #509
hey @Burgler-dev do you experience these issues with the latest version of the plugin?

The method referenced is as follows

[code]

There does seem to be a tonne going on here, except for a fix for [this issue](https://github.com/rotorgames/Rg.Plugins.Popup/issues/209)

Could you provide a base example?

[2020-04-21 14:39] gceaser opened #535 "When upgrading from 1.2.0.223 to 2.0.0.2 UWP App.xaml.cs file will not compile"
## 🐛 Bug Report
After the upgrade the following lines in my App.xaml.cs file of my Xamarin UWP project throw errors:

Rg.Plugins.Popup.Popup.Init();
assembliesToInclude.AddRange(Rg.Plugins.Popup.Popup.GetExtraAssemblies());

This is the exception
Error	CS0234	The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?)

### Expected

[2020-04-21 14:47] #535 closed, assigned to nobody

[2020-04-21 15:16] gceaser commented on #535
Please indicate which item this is a duplicate of please.

[2020-04-21 15:52] martijn00 commented on #535
Please research which item this is a duplicate of please.

[2020-04-21 17:45] gceaser commented on #535
I did look for a duplicate.  This problem only happened after upgrading from 1.2.0.223 to 2.0.0.2.  I did not see any issues created within the current year that relate to this issue I am reporting.  You are the one saying it is a duplicate.  Can you please provide a link to the issue you indicate this one is a duplicate of so I can track its status?

[2020-04-21 19:30] broda02 commented on #512
Sorry I had to stop using this with that crash so cannot test.  Deadlines, could not wait

[2020-04-21 22:53] LuckyDucko commented on #512
@broda02 that's okay, if you are able to from memory, was there a general workflow you had that caused it, so I can recreate it and test it that way?

@martijn00 it seems that this has been fixed in the latest version, however, just waiting on a response from @mrhussain0334 incase it is related to something a bit deeper than just simple open/close

[2020-04-21 23:03] LuckyDucko commented on #535
@gceaser in previous issues the fix seems to be the following
Which martijn00 [says](https://github.com/rotorgames/Rg.Plugins.Popup/issues/527#issuecomment-6116962560)

[There](https://github.com/rotorgames/Rg.Plugins.Popup/issues/529) [have](https://github.com/rotorgames/Rg.Plugins.Popup/issues/531) [been](https://github.com/rotorgames/Rg.Plugins.Popup/issues/528) [many](https://github.com/rotorg

[2020-04-22 10:01] hhalai0334 commented on #512
I am sorry for the late reply. I haven't tested the latest version as our team had to ship towards production without the Plugin. I will surely test it out later. I believe it might be fixed in the latest version. Thanks

[2020-04-22 10:01] #512 closed

[2020-04-22 13:31] nebomuk commented on #500
I'm using the fix described by @MitchBomcanhao in a custom renderer for the PopupPage to get split screen working. Without this workaround, the Popup is not visible at all when using Xamarin Forms apps in Split screen mode.

[2020-04-22 15:52] gceaser commented on #535
So - FYI from my testing, if you have already installed the 2.x.x.x version before changing the min target for UWP, the app still will not compile.  I reverted the package back to the 1.2.0.223, updated the framework version, ensured everything compiled, the re-updated to 2.0.0.2 and then the errors when away.

[2020-04-22 23:16] LuckyDucko commented on #500
@taiko000 and @MitchBomcanhao
Have you guys tried enabling the

Option as part of a popup page?
[code]

[2020-04-22 23:19] LuckyDucko commented on #535
Thanks for this @gceaser this is good information incase others come across similar issues

[2020-04-23 07:54] nebomuk commented on #500
This actually works for some PopupPages without text input. But popups with text input are not longer moved to the top of the screen to make room for the keyboard.

[2020-04-23 19:43] fakhravari commented on #324
1.6.3

System.InvalidOperationException: 'You MUST install Rg.Plugins.Popup to each project and call Rg.Plugins.Popup.Popup.Init(); prior to using it.
See more info: https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#initialization'

[2020-04-24 15:44] JTOne123 commented on #317
the same on UWP

[2020-04-24 17:37] SRadeon opened #536 "Weird UI issue when having two ScrollViews in popup page with some data binding."
## 🐛 Bug Report

So this is a weird one.

PopupView.xaml

                <StackLayout>
                    <Button Text="Test" Command="{Binding ButtonCommand }"/>
                    <Label Text="{Binding Text}"/>
                    <ScrollView/>
                    <ScrollView/>
                </StackLayout>

PopupViewModel.cs

        public string Text
        {
            get => text;

[2020-04-27 15:45] bhavya27 commented on #160
I am using the popup as a toast of android in both Android & iOS and keyboard hides whenever popup appears/disappears. It is important for my app to never close the keyboard.
@rotorgames Did you get the chance to look into it ?

[2020-04-28 05:15] bpicard commented on #160
I'm also using it for internal notifications in chats etc. I can fix this on Android without source code modification, but I can't find a workaround like this for iOS. It would be great to have an actual fix.

[2020-05-02 05:39] BillFulton opened #538 "Unable to update to 2.0.0.2"
## 🐛 Bug Report

In VS for Mac, unable to update 1.2.0.223 to 2.0.0.2

### Configuration

**Version:** 2.0.0.2

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [x] :apple: MacOS
- [ ] :tv: tvOS
- [x ] :monkey: Xamarin.Forms

I get the following message:
Could not install package 'Rg.Plugins.Popup 2.0.0.2'. You are trying to install thi

[2020-05-02 08:36] yasmoradi commented on #538
I think you've to migrate from portable class library to netstandard2.0 library

[2020-05-02 22:29] felipechavez opened #539 "Frame color repeated in the bottom place from screen with animated popup page"
## 🐛 Bug Report

[code]

### Expected behavior

Without repeated frame color at bottom

### Reproduction steps

1. Open popup with animation
2. See background color repeated in bottom place

![image](https://user-images.githubusercontent.com/34903236/80893699-a344b100-8ca2-11ea-9a09-c5092a005243.png)

### Configuration

**Version:** 2.0.0.2

**Platform:**
- [ ] :iphone: iOS

[2020-05-03 00:51] BillFulton commented on #538
Hi Yaser. Thanks for the reply and thanks for the really great popup. I really hope this might be reconsidered. Many of us have tried to convert to netstandard2.0 and found it would be a mountainous job because so many of our NuGets won't work on netstandard. For myself, I have five years' effort invested in my app and it's disappointing if popup can't be updated. Cheers, Bill

[2020-05-03 07:28] yasmoradi commented on #538
Maybe you've tried in early days of netstandard libraries and you've faced tooling issues.

I think you won't face any issue if you try again with the latest version of visual studio and netstandard2.0+

If you encountered any issue, let me know by sending me a direct in twitter to @ysmoradi or an email to ysmoradi@outlook.com

[2020-05-03 13:18] BillFulton commented on #538
Great advice, thanks Yaser! Will give that a try.

[2020-05-04 05:17] frankkkkkkkkkkkk opened #540 "XamarinAndroidException: error XA2006: Could not resolve reference to 'System.Collections.Generic.Queue`1"
After Updating to 2.0.0.2 I get this error:

Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Could not resolve reference to 'System.Collections.Generic.Queue`1' (defined in assembly 'Rg.Plugins.Popup, Version=2.0.0.2, Culture=neutral, PublicKeyToken=null') with scope 'mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'. When the scope is different fro

[2020-05-05 12:27] kgbuddhima opened #541 "Unable to Upgrade to 2.0.0.2"
## 🐛 Bug Report

I have upgraded my app to Popup v 2.0.0.2
Then when I was running the  iOS pipeline on VSTS, the Build fails with following error.
It does not fail the iOS project, but the Unit Test project fails.

I run my project on my Windows machine with debug mode and it rungs fine without errors.
both Android and iOS builds are successfully done.
VSTS android pipeline built without any erro

[2020-05-07 13:57] BillFulton commented on #538
You were right, Yaser. Thanks so much!

[2020-05-07 13:58] #538 closed, assigned to nobody

[2020-05-07 14:01] adambarath opened #542 "NetCore3.1 WPF support"
## 💬 Questions and Help

Will RgPlugins.Popup support **NetCore3.1 WPF** in the near future? As I can see currently it supports only NET472.

[2020-05-07 14:05] yasmoradi commented on #538
Nice to hear that (":

[2020-05-11 19:41] scotch83 commented on #462
I was having the same problem and I realised that my content was overlaying the whole popup page so the background could not receive the clicked event.
Try to debug with colours your layout and see if it is leaving space for the popup background.

[2020-05-12 12:17] RwSgxx opened #543 "WPF implementation not working at all"
## 🐛 Bug Report

WPF implementation not working at all.
Not even the sample project you provide for WPF works.

### Expected behavior
WPF should work.
### Reproduction steps
Try to run the WPF sample you provide
### Configuration

**Version:** 2.0.0.2

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [X ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
-

[2020-05-13 14:39] gmoney494 commented on #540
I'm having the exact same issue. Any ideas to resolve without removing the linker? @frankkkkkkkkkkkk

[2020-05-13 17:25] brunck commented on #540
I had this problem when building an unrelated app, using a relatively old Xamarin.Android SDK version (version 9). When I used 9.4 or the latest (10.2.x at the time of writing), this error went away.
Note this isn't the same as your target framework level; the SDK used is something that can be specified easily in App Center for example, in build configurations.

[2020-05-14 12:36] Phenek opened #544 "[iOS] HasKeyboardOffset="True" does not work on 2.0.0.2"
## 🐛 Bug Report

HasKeyboardOffset property does not work with Rg.plugin.popup 2.0.0.2.
iOS only.

### Expected behavior

The keyboard offset should work and call OnSizeAllocated function to resize the page with a Padding of keyboard height.

### Reproduction steps

- Just use the HasKeyboardOffset property to true

- and add an entry a the bottom of the popup page.

- when the keyboad appear the

[2020-05-16 22:34] MarcusOy commented on #517
I've noticed that my SwipeGestureRecognizer isn't firing while performing a swipe on an iPhone 8 13.4 emulator, and I swear my swipes were registering on a previous iPhone 8 iOS version. @rotorgames please advise.

[2020-05-19 12:44] Deadpoolmine commented on #501
Just use Navigation.PushAsync

[2020-05-20 09:52] guvenaltunsoyy commented on #544
Any news about this?

[2020-05-25 08:47] AlleSchonWeg opened #546 "Resource.designer.cs Added lines"
## 💬 Questions and Help

Hi,
perhaps a stupid question. The plugin added hundred lines in my Resource.designer.cs file like this:
`global::Rg.Plugins.Popup.Resource.Animation.abc_fade_in = global::Manserv.MobileMis.Droid.Resource.Animation.abc_fade_in;`

Is this necessary and why?
Thanks

[2020-05-25 18:03] luis-barreira opened #547 "Version 2.0.0.2 not working in UWP"
## 🐛 Bug Report

Method Rg.Plugins.Popup.Popup.Init() is not present in the assembly compiled to support .Net Standard 2.0 which is used by UWP project. I've checked with DotPeed disassembler and the Popup class is not present in the Rg.Plugins.Popup namespace. I've checked on other differente varieties of the library and it is there.

[2020-05-27 08:54] AleBros commented on #547
The last working version is 1.2.0.223 :(

[2020-05-28 10:39] Maurya2012Abhishek opened #548 "Getting Exception when attaching a ComboBox(created with ContentView with renderer) ."
I am creating a custom control "ComboBox" in Xamarin form UWP  with ContentView with
ViewRenderer<CustomControl, Windows.UI.Xaml.Controls.ComboBox> and trying to attach in PopupPage but getting

Following exception:
   at Windows.UI.Xaml.UIElement.Measure(Size availableSize)
   at Xamarin.Forms.Platform.UWP.VisualElementRenderer`2.GetDesiredSize(Double widthConstraint, Double heightConstraint)

[2020-06-02 12:47] linnkrb commented on #544
I got the same issue

[2020-06-04 07:15] huybuidac commented on #544
You can downgrade to v2.0.0.0

[2020-06-05 11:41] OABsoftware commented on #544
I got the same issue.
It can be fixed pretty easily by adding this line as line 141 in Rg.Plugins.Popup/Rg.Plugins.Popup/Pages/PopupPage.cs:

`                case nameof(SystemPadding):`

[2020-06-05 12:48] martijn00 commented on #548
Please open a reproducable issue with full details

[2020-06-05 12:48] #548 closed, assigned to nobody

[2020-06-05 12:49] martijn00 commented on #547
It is there: https://github.com/rotorgames/Rg.Plugins.Popup/blob/develop/Samples/Demo.UWP/App.xaml.cs#L63

Please read the readme

[2020-06-05 12:49] #547 closed, assigned to nobody

[2020-06-05 12:50] martijn00 commented on #546
Yes, this is what Xamarin does.

[2020-06-05 12:50] #546 closed, assigned to nobody

[2020-06-05 12:50] martijn00 commented on #544
Fixed in https://github.com/rotorgames/Rg.Plugins.Popup/commit/4794254d712dc69441671061c05f3656413e62a4

[2020-06-05 12:50] #544 closed, assigned to nobody

[2020-06-05 12:52] #540 closed, assigned to nobody

[2020-06-05 12:53] #509 closed

[2020-06-05 12:53] #501 closed

[2020-06-05 13:12] OABsoftware commented on #544
Thank you!

[2020-06-05 13:49] luis-barreira commented on #547
I've read the readme, I've been using this library for some time.

How do you explain this?

![popup](https://user-images.githubusercontent.com/16102884/83883675-b7654d80-a73b-11ea-826d-99ea637cabc2.png)

[2020-06-05 14:04] martijn00 commented on #547
Min Target: 10.0.17763

[2020-06-05 14:10] AleBros commented on #547
Thank you!
Changing min target to 17763 it works as expected!

[2020-06-08 05:23] frankkkkkkkkkkkk commented on #540
For compatibility reasons I have to stick to VS2017 at the moment. (Using Appcenter or VS2019 broke my widget). VS2017 only supports Android 9 compiler. So I have to stay with rgpopup v1

[2020-06-11 07:42] Tak1wa commented on #504
I am also suffering from the same problem.
Focus on the Xamarin Forms standard Picker.
A keyboard with a completion button will open.
In that state, PopupNavigation.PushAsync will close the keyboard.
Then PopAsync Popup to open the keyboard again, but the completion button is not displayed.

[2020-06-12 09:49] ronymesquita commented on #541
This error can be resolved by using `<PrivateAssets>all</PrivateAssets>` on the `.csproj` file.
Example:
[code]

Reference documentation: [Package references (PackageReference) in project files](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets).

[2020-06-13 14:18] RwSgxx commented on #543
@VladislavAntonyuk
Hi Vladislav, can you please have a look at this?
The popups from the examples appear on the screen but they do not have any content.

[2020-06-14 15:40] VladislavAntonyuk commented on #543
@RwSgxx fixed, creating a PR
![image](https://user-images.githubusercontent.com/33021114/84597875-7a9e0280-ae6f-11ea-9c02-8e1622e8d452.png)

[2020-06-14 16:59] RwSgxx commented on #543
@VladislavAntonyuk Thank you!
@rotorgames I've tested it also and it works. Can you or @martijn00  please accept the PR and build a new nugget. This will make it possible to use this awesome lib also on WPF.

[2020-06-15 05:52] Tak1wa commented on #504
I think the following code is the cause.

https://github.com/rotorgames/Rg.Plugins.Popup/blob/develop/Rg.Plugins.Popup/Platforms/Ios/Impl/PopupPlatformIos.cs#L92

[2020-06-15 09:01] #543 closed, assigned to nobody

[2020-06-15 09:02] #541 closed, assigned to nobody

[2020-06-16 02:11] mmurfinsimmons opened #550 "UWP cannot find Rg.Plugins.Popup.Popup.Init();"
## 🔙 Regression

Cannot compile Xamarin Forms shared platform UWP after update to 2.0.0.3 from 1.2.0.223.

### Old (and correct) behavior
I was able to compile - Errors in UWP App.xaml.cs
* Rg.Plugins.Popup.Popup.GetExtraAssemblies()
* Rg.Plugins.Popup.Popup.Init();

### Current behavior
Rg.Plugins.Popup. [Popup] does not exist in namespace.

### Reproduction steps

### Configuration

**Version:**

[2020-06-16 09:27] martijn00 commented on #550
See all the other issues about this. Read the readme.

[2020-06-16 09:27] #550 closed, assigned to nobody

[2020-06-17 14:48] HTUlv412 opened #551 "Rg.Plugins.Popup.Popup.Init(); do not work in UWP"
## 🐛 Bug Report

Rg.Plugins.Popup.Popup.Init(); On UWP

Error	CS0234	The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?)

### Expected behavior
No error.
### Reproduction steps
Added two Lines in Apps.xaml.cs
Rg.Plugins.Popup.Popup.Init();
Xamarin.Forms.Forms.Init(e, Rg.Plugins.Popup.Popup.GetExtraAssemblies());
### Configu

[2020-06-17 14:53] HTUlv412 commented on #547
this fix do not work in 2.0.0.3 version

[2020-06-17 15:01] martijn00 commented on #551
https://github.com/rotorgames/Rg.Plugins.Popup/issues/547#issuecomment-639509727

[2020-06-17 15:01] #551 closed, assigned to nobody

[2020-06-23 12:30] raz0r777 opened #552 "v2.0.0.3 and Andorid 9 can't close animation"
## 🐛 Bug Report

On android 10 devices work perfectly fine , but on andorid 9 i cant close the animation on the popup page on <button> Clicked event
**Version:** 2.0.0.3

**Platform:**
- [ ] :iphone: iOS
-  :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2020-06-27 15:52] uday-lucky commented on #438
@HobDev  once remove backgroundColor property  for popuppage and check. specifying backgroundcolor is removing the transparent color effect for popuppage.

[2020-06-28 13:53] OABsoftware opened #553 "SystemPadding incorrect on iOS"
## 🐛 Bug Report

On iOS the SystemPadding values are not correct.
When the device is in the portrait orientation, the SystemPadding.Top is correct, but the SystemPadding.Bottom is 0.
On my iPhone 10 that should be 34, because of the safe area inset.

This could be solved by adding the something like this to the PopupPageRenderer for iOS:

        public override void ViewSafeAreaInsetsDidChange()

[2020-07-02 17:59] ghost opened #554 "Cannot Init Plugin"
Dear all,

i wanted to include the Plugin into my Xamarin Forms App.
Unfortunately I cannot init it with the following command:

Rg.Plugins.Popup.Popup.Init();
Xamarin.Forms.Forms.Init(e, Rg.Plugins.Popup.Popup.GetExtraAssemblies());

It seems that "Popup" is not available.

![image](https://user-images.githubusercontent.com/60783656/86394186-73b02600-bc9e-11ea-9b70-c202db48dba5.png)

I am using t

[2020-07-03 10:15] Brosten commented on #554
Seems to be a bug in latest (2.x) version of the plugin. I get the same issue

[2020-07-03 12:06] martijn00 commented on #554
Look at all the closed issues. It's not a bug, you just need to read the readme more careful.

[2020-07-03 12:06] #554 closed, assigned to nobody

[2020-07-07 20:18] RwSgxx opened #555 "Please create a new nuget release."
## 🐛 Bug Report

The current nuget doesn't work at all for WPF.
A fix was provided and merged.
Can you please make a new nuget so that the lib is usable on WPF?
@martijn00
@rotorgames

### Expected behavior
The nuget release should work on WPF.
### Reproduction steps
Install the latest nuget.
### Configuration
WPF + Xamarin Forms
**Version:** 2.0.0.3

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot:

[2020-07-08 13:38] AgPeHaJIuH1 opened #556 "ShowDialog and DialogResult"
## 💬 Questions and Help
Hello, I would like to be able to call PopupPage, wait for completion and get the result. How can this be implemented in the current version of the library? Or maybe this offer you for the future ...

Example
[code]

[2020-07-08 23:05] LuckyDucko commented on #556
hey @AgPeHaJIuH1 I believe #567 will give some good answers surrounding this

[2020-07-09 08:16] dmplays commented on #552
Me too on Android 8. And the Closing Icon is not showing too.
On Android 7 no problems. But on Android 8. 80% it do not work. Sometimes (20%) it works without Problems!

[2020-07-09 12:03] dmplays commented on #552
I just updatet my Visual Studio to 16.6.3 and now its ok.

[2020-07-09 14:21] #552 closed, assigned to nobody

[2020-07-10 07:51] RwSgxx opened #557 "CloseWhenBackgroundIsClicked = false; ignored on WPF"
## 🐛 Bug Report

@VladislavAntonyuk

CloseWhenBackgroundIsClicked = false; is ignored on WPF and the popup closes when the background is clicked.
Also the event BackgroundClicked and the function override  bool OnBackgroundClicked() are not called.

### Expected behavior

when CloseWhenBackgroundIsClicked  is set to false, the popup should stay open when the background is clicked.
the event Backgr

[2020-07-10 09:05] nkarthikdev opened #558 "Popup push crashes while in background - Xamarin.Forms MacOS"
Hi Team,
I am working in Xamarin forms -  macos application. I just reproduced the issue in demo sample. While i am not inside the application and trying to push a popup page. The app crashes with unhandled exception.

Code to reproduce.
            var page = new SystemOffsetPage();
            await Task.Delay(5000); //just go to your desktop or someother application while in the delay time.

[2020-07-10 12:31] kumaresan-cgvak opened #559 "Xamarin Forms UWP unable to initialise plugin. (V 2.0.0.3)"
## 🐛 Bug Report
Unable to build the Xamarin Forms UWP project after updating the plugin to version 2.0.0.3. Getting error in the below initialisation line.

Rg.Plugins.Popup.Popup.Init();

### Expected behavior
Able to initialise using the below line.
Rg.Plugins.Popup.Popup.Init();

### Reproduction steps
Install updated plugin in Xamarin Forms project and build UWP platform.
### Configuration

**

[2020-07-10 13:13] #559 closed, assigned to nobody

[2020-07-10 13:14] martijn00 commented on #559
Look at all the other closed issues first.

[2020-07-14 09:32] alihut opened #560 "UWP Problem"
## 🐛 Bug Report

Currently, I'm using the version 1.20.0.223 on my Xamarin cross-platform project without any problem. But when I update it to v.2.0.0.3 I can't initialize it in App.xaml.cs. It seems like a bug but maybe I'm missing something.

![bug1](https://user-images.githubusercontent.com/16089599/87409634-e2aa4a80-c5cd-11ea-8b7b-35d43e8c8c23.png)
![bug2](https://user-images.githubusercontent

[2020-07-14 09:38] martijn00 commented on #560
See all other issues closed and the readme. Update your minimum version.

[2020-07-14 09:38] #560 closed, assigned to nobody

[2020-07-15 12:31] mattfinch1980 opened #561 "UWP Object reference not set to an instance of an object Exception on Pop"
Using latest Rg.Plugins.Popup release, calling popupallpopupasync() in UWP causes 'Object reference not set to an instance of an object.' exception around System.Collections.ListDictionaryInternal within PopupPageRenderer.cs.

Xamarin.Forms version = 4.7.0.1080
Rg.Plugins.Popup version = 2.0.0.3

This may be due to changes made in Xamarin.Forms as also failed in previous Rg.Plugins version 1.2.0.2

[2020-07-15 18:23] wtheronjones opened #562 "Unhandled exception: InvalidCastException in PopupPageRenderer.OnDetachedFromWindow"
## 🐛 Bug Report

My application is crashing because of an unhandled exception inside of PopupPageRenderer.OnDetachedFromWindow.

We need to add a try/catch around this code and in all the places in PopupPageRenderer where the same cast is performed to avoid app crashes(have seen this exact invalid cast exception before, but at a different method).

Existing code is as follows:
[code]

This is from

[2020-07-17 06:41] rasel-tr opened #563 "with xamarin forms 4.7.0.1142 the plugin isn't showing popups anymore on iOS"
## 🐛 Bug Report

Just updated the xamarin.forms to 4.7.0.1142 and can't see the popup pages anymore. It doesn't give any error but not display the page.

**Version:** 2.0.0.3

**Platform:**
Microsoft Visual Studio Enterprise 2019
Version 16.6.3
VisualStudio.16.Release/16.6.3+30225.117
Microsoft .NET Framework
Version 4.8.03752

NuGet Package Manager   5.6.0
NuGet Package Manager in Visual Studio.

[2020-07-20 14:27] gceaser opened #564 "Getting Started documentation does not appear to be complete"
## 💬 Questions and Help
GitHus shows the following platforms as supported

Android
 iOS
 UWP (Min Target: 10.0.17763)
 Tizen
 WPF
 MacOS

The getting started documentation states that the component must be initialized on all platform but it does not include documentation for how to initialize the component on Tizen or MacOS.

[2020-07-21 14:57] kerberosargos opened #565 "Common Setting in App Resources"
Hello firstly thank you for your very useful and important plugin. I would like to set common style for my whole project's popups as following code; but that is not working. is there any way to implement style to all popup pages? Thank you in advance.

[code]

[2020-07-24 00:56] IaamRich opened #567 "How to return Data from PopupView(rg.plugin.popup) to base view(viewmodel) where it invoked?"

[2020-07-24 01:21] LuckyDucko commented on #567
@IaamRich
You could use [MessagingCentre](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/messaging-center) to allow for a publish/subscribe loosely coupled functionality to return data from a popup back to a view model.

Alternatively, I have created a plugin that adds this type of functionality to rg.plugins.popup, which you can view [here](https://github.com/LuckyDucko/A

[2020-07-24 01:30] IaamRich commented on #567
Thank you very much for your time and your answer to me! Thank you for your experience.

[2020-07-29 14:53] RwSgxx commented on #567
I would run from [MessagingCentre](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/messaging-center) as far as I can. If used too much it will just make your app a mess, to the point where you will not know who is talking to who.
[AwaitablePopups](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/messaging-center) seams interesting and simple to use.

[2020-07-29 21:10] NPadrutt opened #568 "Unit Tests Projects won't build on Mac"
## 🐛 Bug Report
I have Xamarin Forms Application with an .net core Test library for my shared project. When I add Rg.Plugins.Popup I'm no longer able to build my test project on MacOS because it tries to load a WPF component which fails on MacOS.

### Expected behavior
Unit Test Projects are buildable and Tests can be executed.

### Reproduction steps
Start attached reproduction project and try to

[2020-07-29 22:32] LuckyDucko commented on #567
While it does have its place, I would agree its probably a bit much for this scenario. Does get lost quite fast

This is kinda what I ended up doing with [awaitablepopups](https://github.com/LuckyDucko/AwaitablePopups), however, never thought to create the taskcompletionsource first and pass it in. Might be an easier solution than trying to convert things to use the plugin.

[2020-07-31 10:02] salgiza commented on #513
I don't know if this is related, but in version 2.0.0.3 of Rg.Plugins.Popup, the popup stays fixed in its current position when the keyboard is shown. That is: I'm showing a popup at the bottom of the screen that has an (optional) input box. If the user taps in the field the keyboard appears... and the popup (and the input field) disappear behind the popup.

It works fine in Android (the popups mo

[2020-07-31 15:37] SittenSpynne commented on #568
Having this problem too. WPF dependencies won't build on mac systems, which makes this package not buildable for Xamarin Forms. The build chugs along, but this is the task and error that fails:

[code]

[2020-07-31 15:43] JKennedy24 commented on #452
I'm also seeing this, has anyone got any workarounds?

[2020-07-31 15:51] JKennedy24 commented on #452
I used           <custom:BasePopupPage   InputTransparent="True" /> and this seemed to work

[2020-08-02 16:19] JimmyPun610 commented on #363
It is a bit late but I just made a behaviour on it which is for swipe down to close
Hope it could help anyone who are doing this.

https://gist.github.com/JimmyPun610/6d04f3ac59c0f1b1f5520d50f6d9714f

[2020-08-03 18:48] JArmandoCl commented on #563
Any solution to this? Actually im facing this problem in android :s

[2020-08-04 10:31] levitali commented on #561
The Error happens in UpdateElementSize method, because the CurrentElement is null.

Please fix.

[2020-08-04 10:43] martijn00 commented on #561
Don't say "Please fix", say: I will make a pull request.

[2020-08-04 18:35] rasel-tr commented on #563
I have no problems with Droid. To be more clear with the iOS, it is working if there isn't any page on the Navigation stack but if there is a modal page on the stack (I'm trying to push a popup page from a navigation.modal page), it isn't working anymore, this code was working before forms upgrade.

![image](https://user-images.githubusercontent.com/6556734/89331398-6241ab80-d69a-11ea-9023-7f7e288

[2020-08-05 09:33] AlexeyStarkov commented on #557
I'm facing the same issue on Android. OnBackgroundClicked fires, popup closes despite on CloseWhenBackgroundIsClicked="False" and BackgroundInputTransparent="True"

Workaround:
protected override bool OnBackgroundClicked() => true;

[2020-08-05 16:10] RwSgxx commented on #557
the workaround doesn't work on WPF :(

[2020-08-05 17:53] eman1986 commented on #363
I've since went to xamarin native but hope it helps someone else who wants this

[2020-08-09 16:18] rasel-tr commented on #563
The issue was related with Xamarin.Forms. Changed the page to a normal ContentPage and it is giving the same behavior. I opened an issue there (#11685). Also added a repro to test the behavior. It is a regression, was working before.

[2020-08-09 16:18] #563 closed, assigned to nobody

[2020-08-14 10:08] AndreasErikCoder commented on #568
I have stumbled upon the same issue. My test project works fine on Windows, but throws "Error NETSDK1073: The FrameworkReference 'Microsoft.WindowsDesktop.App.WPF' was not recognized (NETSDK1073)" when trying from MAC.

Is there any workaround for this issue?

[2020-08-17 14:11] AdrianoBinhara commented on #317
Still not working, even with the latest version set on UWP

[2020-08-17 18:37] spottedmahn commented on #568
[code]

[source](https://developercommunity.visualstudio.com/content/problem/1135940/error-netsdk1073-the-frameworkreference-microsoftw.html)

[2020-08-17 19:53] LukasThijs opened #571 "Rg.Plugins.Popup.Popup UWP gone in version 2.0"
## 🐛 Bug Report

### Expected behavior
Rg.Plugins.Popup.Popup should exist so you can call the init() function
### Reproduction steps
Install any version starting at 2.0 and above.
### Configuration
UWP
**Version:** 2.0+

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [x ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2020-08-20 06:40] softlion opened #572 "Support hot reaload"
## 🚀 Feature Requests

When a xaml is opened using Rg.Plugin.Popup, and the xaml content is changed while debugging, xamarin hot reaload does not work: no change appear on the device screen.

### Platforms affected (mark all that apply)
- [X] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [X] :monkey: Xamarin.Forms

[2020-08-20 10:14] JKennedy24 commented on #561
Think this is fixed by this changeset: https://github.com/rotorgames/Rg.Plugins.Popup/commit/292fb19770502d6f2ebc5966271c68fdc7de5e2b

But is waiting to be released

[2020-08-20 10:16] JKennedy24 commented on #555
+1 on this. Even as an untested pre-releaes.

waiting on this fix which has also been merged https://github.com/rotorgames/Rg.Plugins.Popup/commit/292fb19770502d6f2ebc5966271c68fdc7de5e2b

[2020-08-20 11:43] martijn00 commented on #572
@softlion can you make a PR?

[2020-08-20 12:09] martijn00 commented on #571
Target 10.0.17763

[2020-08-20 12:09] #571 closed, assigned to nobody

[2020-08-20 12:09] #561 closed, assigned to nobody

[2020-08-20 12:25] softlion commented on #572
Well i don't know where to start. Maybe you can guide ?

[2020-08-20 12:28] martijn00 commented on #572
Hmm, I have no idea at the moment. Maybe you can look at other libs that do support it and see what is different?

[2020-08-20 12:47] softlion commented on #572
I don’t know of any of those libs

[2020-08-20 17:11] NightOwlCoder opened #573 "UWP fail to build"
Trying to build a UWP project is failing with

`The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?)`

Even the sample is failing.

I went back to `2.0.0.3` and it also fails.

Did something changed but the docs/samples were not updated?

[2020-08-24 07:31] tszenyew opened #574 "App Crash when start new activity while popupstack is not empty"
Android App crashed when starting new Intent activity while PopupStack still contain page in it . (eg , user tap on remote notification that trigger new intent activity)

the new intent Activity i create is MainActivity , and in OnCreate Method , i did call Rg.Plugins.Popup.Popup.Init again.

Exception throw :
Unable to activate instance of type Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer f

[2020-08-24 10:01] RwSgxx commented on #567
should we close this one? @IaamRich

[2020-08-24 10:03] RwSgxx commented on #555
done.

[2020-08-24 10:03] #555 closed, assigned to nobody

[2020-08-24 15:11] LukasThijs commented on #571
I did and that worked. The only issue is that we are currently targeting version 1903 build 18362 and have to keep targeting this version.

Is it maybe possible to also support this version in an upcoming release?

[2020-08-24 18:06] martijn00 commented on #571
18362 is higher than 10.0.17763 so that should work anyway.

[2020-08-24 19:09] LukasThijs commented on #571
Yes it should but it doesn't I just double checked and it won't find the init(); function when running on build 18362

[2020-08-26 07:42] Kornelis commented on #573
Which Version are you targeting?

Had the same Issue which was resolved by setting the Min Version to "Windows 10, version 1809 (10.0; Build 17763)"

[2020-08-26 08:59] #573 closed, assigned to nobody

[2020-08-27 01:16] LuckyDucko commented on #572
@martijn00
I was under the impression that Hot reload has always worked, perhaps there is something specific in softlions setup

![Example](https://j.gifs.com/4QZJBV.gif)

[2020-08-27 01:19] LuckyDucko commented on #490
@martijn00 @Mikilll94
Recommend closing?

[2020-08-27 01:19] LuckyDucko commented on #495
@martijn00 @PanderBoy18
Recommend closing

[2020-08-27 09:09] Mikilll94 commented on #490
@Mikilll94
Yes, you can close this issue. This was a Xamarin.Forms issue which is fixed now.

[2020-08-27 09:30] #495 closed

[2020-08-27 20:36] dalton5 commented on #356
Hi,

"And what about if i don't want to close popup on hardware back button press?"

How do you do it please?

[2020-08-27 23:45] LuckyDucko commented on #356
By default, it shouldn't work I believe
https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button

However, these may help

[code]

[2020-08-28 16:10] rohitvipin commented on #568
[code]

https://stackoverflow.com/a/62341670/1155650

[2020-08-30 14:31] AlonRom commented on #462
@rotorgames not working for me as well.
2 examples: Android 10, iPhone XR
do you have a solution or a workaround?
My current nuget version is: 1.2.0.223

[2020-08-31 11:59] Pantheas opened #575 "Events raised multiple times"
## 🐛 Bug Report

Whenever a popup is opened / closed, the events `Pushed` and `Popped` are raised multiple times (I stopped counting at 60).

I did not test with `Pushing` and `Popping`.

### Expected behavior
`Pushed` and `Popped` are raised just once for every popup opened / closed.

### Reproduction steps
1) Append do `PopupNavigation.Instance.Pushed` and `PopupNavigation.Instance.Popped`
2) Ad

[2020-08-31 19:23] SittenSpynne commented on #568
I tried @rohitvipin 's solution in all of the project files that reference Rg.Plugins.Popup.

It did seem to make my projects build but now my test runner in VS is completely mucked up. It won't load even previous versions of the test project. I'm going to try a reboot and hope that works.

[2020-08-31 22:58] LuckyDucko commented on #575
Hi @Pantheas
You have ticked both Android and Xamarin Forms, have you tested this on other platforms, or do you only work on Xamarin Android + Forms

I got the Develop Branch (Xamarin.Forms 4.5/ NetStandard 2.0) and tested on the following platforms with this version of App.cs

[code]

Demo.Mac -> Working as Expected on MacBook Pro
Demo.Droid -> Working as Expected on Samsung A20
Demo.iOS -> Worki

[2020-09-01 05:00] Pantheas commented on #575
Hi @LuckyDucko,
thanks for your fast reply!

I ticked only Xamarin.Forms and Android as I am only working with these platforms...
I am a little astonished that this is working as expected on your side. I have the latest XF version installed, could this be the issue?

Cheers

[2020-09-01 05:08] AndreasErikCoder commented on #568
@rohitvipin When I tried giving PrivateAssets "all" to the csproj files which reference the plugin, I'm getting compiler error in my test class files which has "using Rg.Plugins.Popup".

[2020-09-01 07:56] LuckyDucko commented on #575
No worries @Pantheas

I was thinking about testing that, and then promptly forgot.

Demo.Mac -> Working as Expected on MacBook Pro using latest XF
Demo.Droid -> Working as Expected on Samsung A20 using latest XF

Didn't test on iOS as after those two, I expect it would be fine.

How are you attaching to the pop/push events? it seems that you have a loop somewhere concerning it

[2020-09-02 01:40] LuckyDucko commented on #565
Hey @kerbooo, would using a staticResource animation in the application Resource be an okay compromise?

eg

[code]

with the popup page using

[code]

[2020-09-02 01:50] LuckyDucko commented on #574
hey @tszenyew

Could you provide a base example for me to work through your issue? The dual calling of Rg.Plugins.Popup.Popup.Init seems suspect. I wonder if you wrap that in a try catch and ignore the error if it is fine.

[2020-09-02 01:58] LuckyDucko commented on #564
hey @gceaser

Just looking through the Samples project, might provide some clues while we wait for @martijn00 to see this.

Example documentation

# Mac

[code]

# Tizen

[code]

[2020-09-02 02:37] LuckyDucko commented on #558
hey @nkarthikdev

I can definitely reproduce your issue. Its interesting to note that Thread.Sleep(5000) does not produce the same issues.

the cause of the issue is the MainWindow being null

@martijn00 I don't do much Xamarin.Mac things, however, I was able deal with nkarthikdev issue by changing
`PopupPlatformMacOS.AddAsync(Popup page)` to the following

[code]

[2020-09-03 11:41] #558 closed, assigned to nobody

[2020-09-05 00:33] LuckyDucko commented on #558
@nkarthikdev I believe this issue is now sorted in release 2.0.0.5

[2020-09-07 00:59] LuckyDucko commented on #562
@wtheronjones
Does this error appear on the latest version?

[2020-09-07 01:41] wtheronjones commented on #562
I’ve since forked the project locally(very recently) and added a try/catch in the right spot, so I couldn’t tell you.

Sent from my iPhone

[2020-09-07 08:51] Feierabend-LSS opened #577 "Linker issues with Queue"
## 🐛 Bug Report

When archiving with Linking set to Sdk Assemblies only it fails with

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Could not resolve reference to 'System.Collections.Generic.Queue`1' (defined in assembly 'Rg.Plugins.Popup, Version=2.0.0.5, Cu

[2020-09-08 07:17] LuckyDucko commented on #577
hey @Feierabend-LSS

I am unable to reproduce this, however this [issue](https://github.com/rotorgames/Rg.Plugins.Popup/issues/540) seems quite similar to yours, are you able to update your Xamarin.Android SDK version to something newer?

Perhaps moving to Visual Studio 2019 may help, as Visual studio 2017 support will be [phased out in the near future](https://github.com/xamarin/Xamarin.Forms/iss

[2020-09-08 07:22] Feierabend-LSS commented on #577
Hey @LuckyDucko,

thanks for the reply.
Unfortunately I cannot, we're on VS2017 and afaik SDK10 is VS2019 only

[2020-09-08 07:50] LuckyDucko commented on #577
@Feierabend-LSS does making the linker skip RG.Plugins.Popup help
eg 		`<AndroidLinkSkip>Rg.Plugins.Popup;</AndroidLinkSkip>`

[2020-09-08 09:46] Pantheas commented on #575
The issue occured because of dependency injection on my side.
I created a wrapper class around your `PopupNavigation.Instance` because I wanted to show/hide popups using ViewModels (via generics).
I did not register my `PopupController` as specific instance, but attached to the `Pushed` and `Popped` events in the constructor.

[2020-09-08 09:46] #575 closed, assigned to nobody

[2020-09-08 11:22] Feierabend-LSS commented on #577
@LuckyDucko No, still the same error.
I've also attached a Sample Test Solution, since you said you were unable to reproduce it. Error happens when compiling the TestApp.Android project in Release - Any CPU
[TestApp.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/5187955/TestApp.zip)

[2020-09-09 22:56] LuckyDucko commented on #577
hey @Feierabend-LSS I was able to build this without any changes on VS4Mac, release mode.
it seems the VS version may be to blame.

[2020-09-10 05:46] Feierabend-LSS commented on #577
Hey @LuckyDucko  thanks for the help and checking again. I'll bring this up and see if we can change.
For future reference I've edited the VS version in the op.

[2020-09-14 07:55] #577 closed, assigned to nobody

[2020-09-14 09:27] #574 closed, assigned to nobody

[2020-09-15 13:49] VNGames commented on #508
Not setting BackgroundColor on PopuPage tag in xaml fixed the issue for me.
<?xml version="1.0" encoding="utf-8" ?>
[code]

[2020-09-15 13:50] VNGames commented on #349
Not setting BackgroundColor on PopuPage tag in xaml fixed the issue for me.

[code]

[2020-09-16 05:58] Jon2G opened #578 "UWP blank popup until window resize"
## 🐛 Bug Report
When the popup is showed it will be blank until the user manually resizes of owner window

### Expected behavior
The popup shows his content normally

### Reproduction steps
Instance the popup on owner Page constructor then attemp to show the popup from another function the popup will be blank until the user manually resizes of owner window

### Configuration
Xamarin forms (latest)

[2020-09-16 12:53] #578 closed, assigned to nobody

[2020-09-18 10:21] hadwanihardik commented on #577
@LuckyDucko I am also using visual studio for mac. can u tell me what settings u did in able to make archive for release mode.

[2020-09-18 17:20] Alextorres950325 opened #580 "Freeze screen on Release Mode"
## 🐛 Bug Report

the popup many times freezes my application, it is displayed, but it cannot be closed or receives touch events

### Expected behavior

That the popup does not freeze the application

### Reproduction steps

- pushAsync any rg.page

### Configuration
Xamarin.Forms 4.7.0.1179
Android X
iOs 13.7
**Version:** 2.0.0.5

**Platform:**
- [X] :iphone: iOS
- [X] :robot: Android
- [ ] :check

[2020-09-20 23:15] LuckyDucko commented on #577
@hadwanihardik I did nothing special or different. simply opened the project linked above, built and archived in release. what errors do you have?

[2020-09-21 14:15] davidaramantSEP commented on #568
The `PrivateAssets` tag didn't do anything for me either.

[2020-09-28 12:33] salgiza commented on #580
Any updates on this?

I just found that suddenly I have the same problem in iOS14 (unfortunately I don't currently any iOS13 devices to test whether it happens in both versions or not).

For me, it only happens when an Entry field takes focus. The popup shows correctly, and you can tap on any buttons/tap outside it to hide it. But, as soon as you tap on an entry field, you can see the cursor blink

[2020-09-28 22:55] Alextorres950325 commented on #580
the behavior is random, but it happens to me on both platforms, IOs 13.6 and android X with Target SDK API 29 and xamarin forms 4.8.0.1269

[2020-09-29 00:40] LuckyDucko commented on #580
hey @salgiza do you have a test project I could narrow this down on? I have not met this issue before, and I use entry fields.

As an aside, if you run the rg sample project, and open the login popup, does that display the same behaviour?

[2020-09-29 08:18] salgiza commented on #580
@LuckyDucko I just downloaded the repository, run the sample project, and I found this:

* I ran the app in the iOS emulator (iPod Touch 7th generation, iOS14), and the app froze when I tapped on the "Open Popup" button, and then on the user field.
* I ran the app on my iPhone X, it worked without a hitch.
* I ran the app in the iOS emulator, using a new iPhone 11 image, it also worked perfectly.

[2020-09-29 08:23] salgiza commented on #580
P.S. The weird thing is that, if as @Alextorres950325 mentions, this also happens randomly in Android, what can cause two different apps in iOS to show this behaviour until the device is reset, that can also happen in Android? 😵

[2020-09-29 09:04] abdelbena commented on #580
For me it happens only on iOS and when using Editor, if I use Entry it works fine.

[2020-09-29 09:06] LuckyDucko commented on #580
@salgiza
Perhaps its related to Visual Studio for Mac/Xcode tooling in some form or fashion?

@abdelbena do you have a project I could investigate?

[2020-09-29 09:38] salgiza commented on #580
@LuckyDucko
I don't think so? I stopped the iOS simulator, I deleted the device image, but I didn't even bother to restart VS for macOS: I just stopped the debugger and pressed on the run button again after I had deleted it, to start the simulator again, so I'm not sure whether that would make any difference to VS.

And I actually debugged the sample in the simulator image were it failed, I debugg

[2020-09-29 12:26] bhuvan94 opened #581 "ListView is not filling inside popup on iPhone 11 (14.0)"
## 🐛 Bug Report

List view not filling inside the popup view on iPhone 11 (14.0). It was working fine in iPhone 11 (13.2.2). Please find the screen shot and sample below. I have set Red Background color to Listview

### Expected Behavior:
![13 2 2](https://user-images.githubusercontent.com/20217737/94556362-8d9bdd80-027a-11eb-9738-852389582dfa.png)

### Actual Behavior:
![14 0](https://user-images

[2020-09-30 09:13] charlesroddie opened #582 "NRE on UpdateElementSize on UWP"
## 🐛 Bug Report

NRE on UpdateElementSize in the UWP PopupPageRenderer.

Full crash report:
[code]

### Expected behavior

NREs not possible via C# 8.

### Configuration

**Version:** 2.0.0.5

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [x] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2020-09-30 14:07] agordillo20 opened #583 "white screen in app after popUp load data == No constructor found for Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer::.ctor(System.IntPtr, Android.Runtime.JniHandleOwnership)"
## 🐛 Bug Report

### Expected behavior
when data is loading popUp show and when data is ready popUp dissapear
### Reproduction steps
The app normaly work but  in other country crash with this error i think this isn´t by the country if not by model of Android or Version of mobile.
This happen to a time ago but i updated the nugget and it resolved this, and now again but only in portugal as i descri

[2020-10-01 17:13] Alextorres950325 commented on #580
It happens to me just when a contentview or contentpage changes, that is, I make a change of view, and the Rg.Page is appearing both simultaneously and before or after loading, as I say is randomly.

Edit:
I have detected that it always happens in release mode, in debug mode it is very unusual but it also appears

[2020-10-05 10:38] martijn00 commented on #582
Can you make a PR?

[2020-10-05 10:39] martijn00 commented on #565
Can you make a PR?

[2020-10-05 10:39] martijn00 commented on #562
Can you make a PR?

[2020-10-05 10:39] martijn00 commented on #557
Can you make a PR?

[2020-10-05 10:39] martijn00 commented on #553
Can you make a PR?

[2020-10-07 13:09] bhuvan94 commented on #581
Hi ,

Any update on this.

[2020-10-08 05:13] LuckyDucko commented on #581
hi @bhuvan94

I changed MainPage.xaml/xaml.cs to be just a popup page, without using ContentView and then I called it directly, not using your CustomPopup.cs control

I also updated all the packages to latest.

It seems to have resolved the issue.
See the [attached project](https://github.com/rotorgames/Rg.Plugins.Popup/files/5345430/App4-2.zip) for my working example.

@martijn00 can close.

[2020-10-08 05:15] LuckyDucko commented on #567
@martijn00 can close.

[2020-10-08 05:16] LuckyDucko commented on #556
@martijn00 can close

[2020-10-08 05:16] #532 closed, assigned to nobody

[2020-10-08 05:51] HirakCTS opened #585 "While using accessibility(TalkBack) on popups on Android, Focus also goes to background view.[Bug]"
## 🐛 Bug Report

I am using popups in Android. While i turned on accessibility, focus of TalkBack also goes to dimmed background view. It supposed to stay on the popup only.
Actual Behavior - Focus goes to background view as well. Breaking functionality of accessibility.

###  Focus supposed to stay on popup view only

### Reproduction steps

### Configuration

**Version:** 1.x

**Platform:**
- [

[2020-10-08 06:20] #567 closed, assigned to nobody

[2020-10-08 07:41] LuckyDucko commented on #585
hey @HirakCTS could you provide a minimal project, and steps to reproduce the Accessibility talk back for Android.

if you can give me this, I can go about debugging your issue.

Also, are you able to check if the issue remains after you have updated to latest, as well as latest xamarin forms

[2020-10-08 07:48] HirakCTS commented on #585
@LuckyDucko I am using prism for popups. I have also raised issue with them and xamarin as well, but unable to find solution. Also, I am using latest version of xamarin and all the related libraries.

[Please refer this](https://github.com/dansiegel/Prism.Plugin.Popups/issues/169#event-3850972999)

[2020-10-08 12:18] #556 closed, assigned to nobody

[2020-10-08 12:18] #581 closed, assigned to nobody

[2020-10-08 12:19] #432 closed

[2020-10-09 02:13] LuckyDucko commented on #585
I appreciate you going through the effort with this.

In the sample app, it seems that focus isn't moving onto the popup page, but instead remaining on the page behind.

However, if you are able to tap on a UI element within the popup page that has no interact-able UI elements underneath, then the talkback correctly focuses on the popup view only.

i'll investigate more when I can, however, it see

[2020-10-09 12:06] Brosten commented on #554
Ok, so the problem was the min target version of Windows projekt. I still think it could be made readme that this is a demand for using 2.x.
There is also a diff between "Getting started" and "Troubleshooting". In trouble, this line is commented out
Rg.Plugins.Popup.Popup.Init();
Should it be there or not?

[2020-10-09 12:16] mcferdev opened #586 "Padding problem on Iphone 11 Pro Max"
## 🐛 Bug Report

I have a popup menu containing a listview with 2 options. When I click on the TabbedPage[0] item, I show the popup.
The bug only occurs on the Iphone 11 and Pro Max (Till now), but no with 11 Pro. Weird ?
The popup just shows one item of the popup, instead of 2. Appear 2 lines, but the first is not clickable. I tried using iOs Safe Area true, but no difference.
I have this app run

[2020-10-09 12:25] mcferdev commented on #586
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-10-09 at 08 21 19](https://user-images.githubusercontent.com/17338668/95583165-bc981900-0a09-11eb-8af2-d51323637d5a.png)
![Simulator Screen Shot - iPhone 11 Pro - 2020-10-09 at 08 20 03](https://user-images.githubusercontent.com/17338668/95583182-c15ccd00-0a09-11eb-918e-c75b179f87a3.png)

[2020-10-09 15:36] bhuvan94 commented on #581
Hi @LuckyDucko,

I'm facing same issue with you Updated sample.

[2020-10-11 07:09] noormahdi opened #587 "Xamarin.Android build failed: The "LinkAssemblies" task failed unexpectedly."
## 🐛 Bug Report

Failed while building Xamarin.Android project on Azure DevOps pipeline using the task https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/xamarin-android?view=azure-devops

Error message is as follows
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(2129,5): Error MSB4018:
The "LinkAssemblies" ta

[2020-10-11 08:45] noormahdi commented on #587
After reading [this](docs.microsoft.com/en-us/xamarin/xamarin-forms/troubleshooting/questions/android-linkassemblies-error) I tried to upgrade my Android Min API Level to 21. But the error still exists.

[2020-10-11 21:58] LuckyDucko commented on #581
@bhuvan94

Can you remake your list view on the demo version of this plugin, on he listview page? I'll confirm again that my solution did not show the bug.

[2020-10-12 09:25] tonyfonager opened #588 "Multiple animations ?"
Hi there, thanks for at very nice plugin.

Is it possible to combine animations on a page ?

For example combining Move and Scale ? Or would I have to create my own animation for that to work ?

[2020-10-12 10:24] martijn00 commented on #587
Update your visual studio to the latest and target api 29

[2020-10-12 13:54] davidaramant commented on #568
I think I've found the solution for this!  The `PrivateAssets` tag by itself was not enough in our case.  We have a shared .NET Standard library and a .NET Core unit test project, and even with that tag in both projects we couldn't compile the unit tests.

The answer for us seems to be adding the following additional tag to the unit tests:
`<GenerateErrorForMissingTargetingPacks>false</GenerateErr

[2020-10-12 14:20] bhuvan94 commented on #581
Hi @LuckyDucko ,

I have checked with latest version 2.0.0.6, facing same issue. For clarification are you checking with iPhone 11 version 14.0 ?

[2020-10-13 20:43] Alextorres950325 commented on #552
Again fail

[2020-10-13 22:16] Alextorres950325 commented on #580
Ok I used RelayCommand to gesturerecognizers but doesn't work, So, I changed for Command instance and works fine
it's so extrange because in Debug mode works fine, but on Release Mode, the RelayCommand doesn't work

[2020-10-14 07:09] AshishMantosh commented on #582
Any workarounds to avoid this issue? Do we have a PR coming in to resolve this?

[2020-10-19 18:12] KevMorelli commented on #571
Having the same issue targeting Windows Build 18362
![image](https://user-images.githubusercontent.com/12283570/96494955-7ae34b80-121d-11eb-9ff1-0d99f538ea51.png)

![image](https://user-images.githubusercontent.com/12283570/96494909-669f4e80-121d-11eb-88e1-1a1b5f6cfc41.png)

[2020-10-19 18:17] KevMorelli commented on #571
Fixed by setting the Min Version to Windows 10 Build 17763, changing only the target version doesn't fix the issue

[2020-10-21 12:29] RonnyRos opened #589 "iOS issue only, xamarin forms 5.0.0.1558-pre3 seems to break when showing just a simple popup."
## 🐛 Bug Report

iOS only, android seems to work.
The popup does not seem to show running a simple popup in XF 5+.
If you run XF 4.8 it seems to appears correctly.

### Expected behavior
Popup to work.

### Reproduction steps
Upgrade to newest xamarin forms 5.0.0.1558-pre3 from 4.8.

### Configuration
Windows VS 2019 16.7.4

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_f

[2020-10-21 13:07] ccsousa01 commented on #589
I've spent the last 2 hours searching for a reason, thought it was maybe iOS v14 update, but must be Xamarin Forms 5.  I am using 5.0.0.1539-pre2.  The IPopupNavigation instance "_popup" is no longer working.   Suspecting a threading issue as the page is frozen after calling  await _popup.PushAsync(new MyModal()).   Works just fine on Android but not on iOS, at least tested v13 & v14.

[2020-10-22 05:11] bhuvan94 commented on #581
Hi @LuckyDucko ,

Any update on this ?

[2020-10-22 21:50] Tommigun1980 commented on #589
I'm in the same boat. Will have to downgrade to XF 4.8 for now, but I assume XF 5 is very close to release so would really appreciate a fix to ensure XF 5 compatibility.

Thanks a lot!

[2020-10-22 21:57] LuckyDucko commented on #581
@bhuvan94 I cannot reproduce this issue with my updated one. I checked on simulator, and on an iPhone XS.

Can you try and reproduce the issue with the following condition
1. Use the demo project ListView
2. do not use your custom csharp popuppage addition

this is just to rule out if its something that isnt related to rg

[2020-10-24 09:49] johnshardman commented on #585
I am seeing this same issue, using Rg.Plugins.Popup 1.2.0.223 and Xamarin.Forms 4.8.0.1451.
Problem occurs on Android with TalkBack, and on iOS with VoiceOver. I haven't seen the same problem on UWP.

[2020-10-26 22:35] Tommigun1980 commented on #589
Hello! Are there any plans to support Xamarin.Forms 5? It is already in preview-3.

Thank you.

[2020-10-26 23:49] LuckyDucko commented on #589
I can also confirm that it works on MacOS, it seems that iOS is the issue here.

@ccsousa01 is correct with the freezing, and with the threading that is used within Rg, it could be a problem area.

[2020-10-27 05:24] LuckyDucko commented on #589
The issue seems to be that the `UpdateSize` function in PlatformExtension for the iOS project is continuously called, leading to an endless loop.

It seems that `currentElement.BatchBegin` and `currentElement.BatchCommit` within this function set off, directly or indirectly, `ViewDidLayoutSubviews` in PopupPageRenderer in the iOS Project, which contains UpdateSize, which then goes around in circle

[2020-10-27 05:29] LuckyDucko commented on #588
Unfortunately, I believe you would have to create your own animation.

Have a look [here](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Animations) for some details about it

[2020-10-27 06:18] Tommigun1980 commented on #589
Hi @LuckyDucko and thanks so much for your research!

Question: Should this maybe be posted to https://github.com/xamarin/Xamarin.Forms/issues as a bug, as it may be an unintended change on Xamarin.Forms's side in XF 5? At least they could have a look at it and declare it a Xamarin.Forms regression, or alternatively if it is indeed the way to go then Rg.Plugins.Popup will need to be updated with y

[2020-10-27 14:34] Mahonism opened #591 "UWP initialization does not work since Version 2.0"
## 💬 Questions and Help
Hello there,

i've just upgraded Rg.Plugins.Popup to the newest version from Version 1.2.0.233 and i can not initialize it like in the documentation:

`Xamarin.Forms.Forms.Init(e, Rg.Plugins.Popup.Popup.GetExtraAssemblies());`

(Sorry i translate it from german Visual Studio --> so it's not copy and paste)
Error: CS0234 The Type- or Namespacename Popup" is not included in t

[2020-10-27 14:37] Mahonism commented on #591
Sorry my fault: https://github.com/rotorgames/Rg.Plugins.Popup/issues/535

[2020-10-27 14:37] #591 closed, assigned to nobody

[2020-10-27 14:37] Mahonism commented on #591
Sorry my fault: https://github.com/rotorgames/Rg.Plugins.Popup/issues/535

[2020-10-27 15:51] DoubleDBE commented on #542
Wondering the same thing, please make this happen!

[2020-10-27 22:15] LuckyDucko commented on #589
@Tommigun1980 no worries

I do believe its an Rg.Plugins.Popup issue, as we override default behaviour which then creates this endless loop so most likely I'll make a PR containing this soon

[2020-10-28 02:10] bgarnica commented on #459
HI there,

I have an application using Xamarin.Forms 3.6.0.3444457 and Rs.Plugins.PopUp plugin with version 1.2.0.223. However I'm still getting an exception and application crashes when popup is closed using this (only in iOS):

`try
{
  await PopupNavigation.Instance.PopAsync(true);
}
catch(Exception exc)
{
  Console.Write(exc.Message);
}`

Exception is never catched and application ever crashes

[2020-10-28 22:04] LuckyDucko commented on #459
We would recommend you upgrade yes and see if you still come up against issues

[2020-10-29 08:23] stevewinn74 commented on #589
+1 for merging this and pushing to nuget ASAP 👍🏻

[2020-10-29 08:33] Tommigun1980 commented on #589
@LuckyDucko saves the day!

[2020-10-29 09:01] stefantanaskovic18 opened #593 "Xamarin iOS No text in popup"
I cant reproduce it on any of my devices but client have iPhone 8 and he did it.
I have 5,6 popups across the app and on every he doesnt see the text. He sees only pictures on it.
Every text is in label and its getting from model with Binding.
On my iPhone 8 everything is working fine and in console there is no error.
Does anyone know what can this be?

[2020-10-29 09:25] RonnyRos commented on #589
Good stuff @LuckyDucko ! :D thanks

[2020-10-29 12:24] gpticar-oa commented on #459
Hi

You should upgrade all packages to latest including xamarin.forms.
I have currently xf 4.8.0.1534 and rg.plugins.popup 2.0.0.6 and everything
is working fine.

Lp

*Goran Ptičar*
*Omni Aspect. d.o.o.*
A. Šenoe 2
44320 Kutina
tel: +385 (0)44 605 167
mob: +385 (0)99 4200 339
fax: +385 (0)44 605 172
e-mail: goran.pticar@omniaspect.hr <igor.ivanic@omniaspect.hr>
www.omniaspect.hr
<http://www.omnia

[2020-10-29 19:10] shaynemarriage commented on #568
We just updated our unit test project to 3.1 and encountered the same problem with the Microsoft.WindowsDesktop.App.WPF framework reference that @spottedmahn identified. Thanks to @davidaramant for providing an effective workaround.
[code]

[2020-10-29 21:48] LuckyDucko commented on #593
Does the client have some sort of Text scaling? That could cause issues

[2020-10-30 08:38] stefantanaskovic18 commented on #593
Unfortunately he just answered me  this:
No, nothing in the accesibility settings.

Venlig hilsen

I took log from his mobile and it will be in the attachment
[log (1).txt](https://github.com/rotorgames/Rg.Plugins.Popup/files/5463918/log.1.txt)

[2020-10-30 20:02] bgarnica commented on #459
HI there,

I just upgraded Xamarin.Forms package to version 4.6.0.726 and Rg.Plugins.Popup version to latest. However, I'm still getting same issue.

I open a PopUp with:

           `....
           PopupDatosTransaccionPage popup = new PopupDatosTransaccionPage(objReto, "Escenarios");
            var scaleAnimation = new ScaleAnimation
            {
                PositionIn = MoveAnimationOpti

[2020-10-30 20:06] bgarnica commented on #459
I forgot to mention I'm trying to use iOS Simulator: iPhone 11, iOS 13.4

[2020-11-02 05:10] LuckyDucko commented on #593
while this has a lot of information, unless there is some reproducible example, im unsure what help I can provide

[2020-11-04 05:59] rjhind commented on #593
FWIW, I've just had this issue.  ListView in popups working but no text.  For me, it was related to dark mode.  Setting UIUserInterfaceStyle to Light fixed it for me so the app works in both dark and light mode.

[2020-11-04 13:03] stefantanaskovic18 commented on #593
Great. That was the issue.
Thank you so much. If you ever come to Serbia please let me know so i can pay you a drink or something.

[2020-11-04 13:03] #593 closed, assigned to nobody

[2020-11-04 15:02] ahmedlimam opened #594 "/usr/local/share/dotnet/sdk/3.1.403/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(5,5): Error NETSDK1073: le FrameworkReference 'Microsoft.WindowsDesktop.App.WPF' n'a pas été reconnu (NETSDK1073)"
## 🔙 Regression

### Old (and correct) behavior

### Current behavior

### Reproduction steps

### Configuration

**Version:** 1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2020-11-07 14:52] uk-taniyama opened #595 "[WPF] Pressing "Open Popup" twice causes the demo application to crash."
## 🐛 Bug Report

Demo Application on WPF.
1. Press "Open Popup" -> Open Popup.
2. Press background -> Close Popup.
3. Press "Open Popup" -> Crash!!
throw new InvalidOperationException("The page has been pushed already. Pop or remove the page before to push it again");

### Configuration

**Version:** 2.0.0.6

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [X] :checkered_flag: WPF
- [ ] :

[2020-11-16 12:51] wstanczewski commented on #589
Hi, when can we expect updated nuget with that fix? It would be very helpful, thanks :)

[2020-11-16 16:32] softlion commented on #589
+1 for the beta nuget!

[2020-11-16 16:59] martijn00 commented on #589
Done

[2020-11-16 16:59] #589 closed, assigned to nobody

[2020-11-16 16:59] #587 closed, assigned to nobody

[2020-11-16 18:05] softlion commented on #589
@martijn00 this version broke my existing app. It just displays incorrectly the content of the popup. Any report about it already ?

[2020-11-16 18:16] martijn00 commented on #589
No reports of that yet. Any idea why?

[2020-11-16 18:17] softlion commented on #589
Searching

[2020-11-16 20:13] softlion commented on #589
@martijn00 There is an issue. I rollback.

[2020-11-17 07:19] softlion commented on #589
works fine ok. xamarin issue.

[2020-11-19 17:33] nbsoftware commented on #586
I have a very similar issue - see screenshots. Sill with latest V2.0.0.7.

Although happening on my physical device (11 Pro Max running iOS 14.2) and also on every combination device of simulator, so I suspect basically everywhere.

I must add that this seems to happen, at least in my case, when the content is a ListView, not on other popups.

And it seemed to have be broken by some Xamarin Forms

[2020-11-20 02:38] Codespilot opened #598 "How to popup page in Detail page in MDP?"
## 💬 Questions and Help

I use Xamarin.Forms MasterDetailPage in iPad landscape mode. When I popup a page, it always covers fullscreen, so is there any way to popup it just in specified area, like Master page or Detail page?

Sample:

![image](https://user-images.githubusercontent.com/10270723/99751071-74960700-2b1c-11eb-9939-c0d502657c9b.png)

[2020-11-20 07:51] chuvakpavel opened #599 "PopupPageRenderer.onWindowVisibilityChanged PopupPageRenderer Java.Interop.JavaLocationException"
## 🐛 Bug Report

I have a lot of crashes in AppCenter.

[code]

[code]

### Expected behavior
Works without crashes.

### Most Affected OS
- 10 - 75.0%
- 8.0.0 - 16.7%
- 6.0.1 - 8.3%

**Version:** 2.0.0.5 and 2.0.0.7

**Platform:**
- [x] :robot: Android
- [x] :monkey: Xamarin.Forms

[2020-11-20 07:56] chuvakpavel opened #600 "PopupPageRenderer.onDetachedFromWindow PopupPageRenderer Java.Interop.JavaLocationException"
## 🐛 Bug Report

I have a lot of crashes in AppCenter.

[code]

[code]

### Expected behavior
Works without crashes.

### Most affected OS
- 10 - 61.1%
- 9 - 38.9%

**Version:** 2.0.0.5 and 2.0.0.7

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [x] :monkey: Xamarin.Forms

[2020-11-20 08:05] chuvakpavel opened #601 "PopupPageRenderer.onLayout PopupPageRenderer.java Java.Interop.JavaLocationException"
## 🐛 Bug Report

I have a lot of crashes in AppCenter.

[code]

[code]

### Expected behavior
Works without crashes.

### Most Affected OS
- 10 - 57.9%
- 8.0.0 - 21.1%
- 7.0 - 10.5%
- Others - 10.5%

**Version:** 2.0.0.5 and 2.0.0.7

**Platform:**
- [ ] :iphone: iOS
- [x] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [x] :monkey: Xamari

[2020-11-23 10:36] nbsoftware commented on #586
@mcferdev did you find a workaround for this one?
@rotorgames can you acknowledge the issue?

Thanks

[2020-11-23 11:27] Samidolla commented on #404
hwo do you use Rg animation in c# programmatically

[2020-11-24 09:19] fhintsch opened #602 "PushAsync doesn't work in landscape mode"
## 🔙 Regression

Calling _PopupNavigation.Instance.PushAsync_ while in landscape mode will result in a 'frozen' screen and the popup won't be shown. If you rotate the device (iPhone XR) to portrait, the popup is shown and everything works fine.

### Old (and correct) behavior

In version 2.0.0.6 it was okay.

### Current behavior

In version 2.0.0.7 it is broken.

### Reproduction steps

Call _Pop

[2020-11-25 01:09] LuckyDucko commented on #602
@fhintsch good catch, I reproduced this in the test project.

it seems that this is due to my recent change to make compatible with the latest pre-release of Xamarin.Forms, specifically this check (in Platforms->iOS->Extensions->PlatformExtensions->line 68)

[code]

Checking it again and testing it with the latest pre-release, removing this check seems to fix your described issue, and it _seems_ t

[2020-11-25 01:32] LuckyDucko commented on #601
@chuvakpavel Does this occur with local builds? if so, can you provide a test sample to work with?

[2020-11-25 01:33] LuckyDucko commented on #600
@chuvakpavel Does this occur with local builds? if so, can you provide a test sample to work with?

Also, do you believe this bug is connected with #599 and #601? do they happen together?

[2020-11-25 01:34] LuckyDucko commented on #599
@chuvakpavel Does this occur with local builds? if so, can you provide a test sample to work with?

[2020-11-25 01:56] LuckyDucko commented on #598
@realzhaorong

To do this, I suggest using absoluteLayout on your popuppage to force it to a certain area, using proportional scaling so it works on iPad devices.

(You may also need to check Device.Idiom so that iPhones will just open the popup like normal)

I assume you still want some form of interactivity in the 'Master' section, to help with that, PopupPages have the ability to 'Pass' touch e

[2020-11-25 07:32] chuvakpavel commented on #601
@LuckyDucko, no, I don't see it in local builds. Only in AppCenter.

[2020-11-25 07:33] chuvakpavel commented on #599
@LuckyDucko, no, I don't see it in local builds. Only in AppCenter.

[2020-11-25 07:34] chuvakpavel commented on #600
@LuckyDucko, no, I don't see it in local builds. Only in AppCenter.
Someone has it all, someone has only one type of crash.

[2020-11-25 08:53] #602 closed, assigned to nobody

[2020-11-27 17:07] EmmanuelJego commented on #500
Hi!
The workaround suggested by @MitchBomcanhao didn't work for me.
I used this one instead:

In a custom renderer, override the OnLayout method, paste the exact same code than in the original renderer, then within the `if (screenRealSize.Y - visibleRect.Bottom > windowInsets.StableInsetBottom)` block, put this instead:
[code]

The heightsDiff will reajust the keyboardOffset, according to the apps

[2020-11-27 17:20] aptwebapps opened #605 "Popups are not visible with disabled status bars in iOS"
## 🐛 Bug Report

Popups are not visible with disabled status bars in iOS

### Expected behavior

Popups should be visible.

### Reproduction steps

Take the sample shared + iOS projects and add the following to the iOS projects info.plist:

    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>

Then add the following to AppDelegate.FinishedLaunching():

    UIApplication.SharedAppli

[2020-11-27 17:27] aptwebapps commented on #605
I should add that the popup is definitely opening, it is just not visible and neither is the background tint.

I'm not sure this is the standard way of hiding the status bar. In my full application I'm am doing it via a service, but this is the simplest reproduction of the bug that I could manage.

[2020-11-30 17:26] dpannullo opened #606 "Popups no longer open correctly when in landscape mode on iOS devices."
## 🔙 Regression

Popups no longer open correctly when in landscape mode on iOS devices until the device is rotated back to portrait.

### Old (and correct) behavior

Popups open correctly in landscape mode.

### Current behavior

Popup is hidden until device is rotated back to portrait.

### Reproduction steps

Run the sample code, rotate to landscape and try to open a page.

### Configuration

**

[2020-11-30 22:02] LuckyDucko commented on #606
@dpannullo this is a duplicate of #602 which has been fixed by #603
We are just waiting for a new Nuget

[2020-12-01 16:23] dpannullo commented on #606
@LuckyDucko Ok, great thanks

[2020-12-02 00:13] lopezcr opened #607 "Error with xamarn forms 4.7.0.1239 and Rg.Plugins.Popup 7.2.0.1046 and prism.dryloc.forms 8.0.0.1909"
After the installation of Rg.Plugins.Popup 7.2.0.1046 in xamarin forms 4.7.0.1239 and and  prism.dryloc.forms 8.0.0.1909, update the app.xaml, the MainActivity and the appdelegate and compile marks an error in:

app.xaml on the line: Public App (IPlatformInitializer initializer): base (initializer)

with the following error:

prism.loc.ContainerResolutionException: 'An unexpected error occurred wh

[2020-12-02 03:41] LuckyDucko commented on #607
Rg.Plugins.Popup is on version 2.0.0.7, however, the prism version, [Prism.Plugin.Popups](https://github.com/dansiegel/Prism.Plugin.Popups), is on version 7.2.0.1046. I believe you'd find better help suited for your issue there.

[2020-12-02 17:53] aptwebapps commented on #606
I somehow missed #602 when I created #605 which I think is a dupe.

How often are new releases made to Nuget?

[2020-12-02 20:55] lopezcr commented on #607
Since I'm in a hurry, I think I'll use an older version of prism.dryloc.forms, which I already saw works for me, thanks

[2020-12-02 22:07] LuckyDucko commented on #606
Well to confirm if it is or isnt, can you try launching a popup in portrait mode, if portrait mode doesn't work, then you have found a new bug aswell.

And depends on how loudly we yell at @martijn00 I suppose :P, but I think he is waiting for some testing on the latest PR to make a new NuGet with both fixes

[2020-12-02 23:57] LuckyDucko commented on #601
@chuvakpavel without a reproducible build, I can only recommend that @martijn00 close this

[2020-12-02 23:57] LuckyDucko commented on #600
@chuvakpavel without a reproducible build, I can only recommend that @martijn00 close this

[2020-12-02 23:57] LuckyDucko commented on #599
@chuvakpavel without a reproducible build, I can only recommend that @martijn00 close this

[2020-12-02 23:58] LuckyDucko commented on #564
@martijn00 could you please add the above to the WIKI and close.

[2020-12-03 00:00] LuckyDucko commented on #595
@uk-taniyama I finally got myself a windows computer and can confirm this behaviour, I'll try and look into it :+1:

[2020-12-03 00:00] LuckyDucko commented on #594
@ahmedlimam do you get this same error on version 2.x?

[2020-12-03 00:03] LuckyDucko commented on #586
@nbsoftware unfortunately I think @rotorgames doesn't work much on this project anymore.

I was able to reproduce this issue @mcferdev on the demo version from memory. I thought I responded to this. I'll have to give it another look and try and track down the issue

[2020-12-03 13:23] aptwebapps commented on #606
So it turns out the behavior is a little more complicated than I thought and I'm not sure the simplified test case I came up with covers all permutations, but I think it is the same bug as the PR referenced above fixes everything for me.

My app is just going into beta so I don't mind waiting for Nuget to catch up.

It's a very nice project, by the way.

[2020-12-04 12:21] SudhersonV opened #608 "Await the result in the calling page."
## 🚀 Feature Requests

The pop up result should be awaited in the page that called the pop up.

### Contextualize the feature
When the user is asked to make a choice, the code must await for the user's decision before it can continue.

### Describe the feature
We wanted to display Terms Of Use to users and don't let them login unless the answer is yes. We wish to await the user's response.

Exampl

[2020-12-04 21:03] VladislavAntonyuk commented on #595
#557

[2020-12-06 06:01] LuckyDucko commented on #608
hey @SudhersonV I make an extension on top of rg.plugins.popup to enable this functionality which you can find [here](https://github.com/LuckyDucko/AwaitablePopups)

[2020-12-07 07:42] rs-mobitech opened #610 "Can't get plugins to open with Xamarin Forms 5.0 -pre5"
## 🐛 Bug Report

With XF 5.0 -pre5 I find my plug code areas are no longer working when I use the current latest version which is 2.0.0.7

    private async Task OpenPrefAsync()
    {
       BaseButtonSheet bottomSheet = new BaseButtonSheet();
       await PopupNavigation.Instance.PushAsync(bottomSheet);
    }

When I revert back to the 4.8 XF then the code works again.

### Expected behavior

Try

[2020-12-07 11:40] acaliaro commented on #608
https://acaliaro.wordpress.com/2020/12/07/create-a-popup-using-rg-plugins-popup-and-get-a-return-value/

[2020-12-07 22:00] LuckyDucko commented on #610
@rscholey hmm, which platform are you running this on? does this happen with the demo?

Edit- I just realised, this issue may have been fixed, just waiting on @martijn00 to release the latest NuGet

[2020-12-07 22:01] LuckyDucko commented on #607
@martijn00 can close

[2020-12-07 22:13] kadironay commented on #606
Great effort! Thank you all!

Looking forward to have the fix -_-

[2020-12-08 13:27] #607 closed, assigned to nobody

[2020-12-08 13:34] #403 closed

[2020-12-08 13:34] #565 closed, assigned to nobody

[2020-12-08 15:29] #610 closed, assigned to nobody

[2020-12-08 15:29] #606 closed, assigned to nobody

[2020-12-08 15:29] #594 closed, assigned to nobody

[2020-12-08 16:11] nbsoftware commented on #586
Hi @mcferdev

Any update on this one by any luck?

UPDATE: this was for @LuckyDucko... sorry.

[2020-12-08 18:41] #601 closed, assigned to nobody

[2020-12-08 18:41] #600 closed, assigned to nobody

[2020-12-08 18:42] #582 closed, assigned to nobody

[2020-12-08 18:42] #572 closed, assigned to nobody

[2020-12-08 19:38] EmmanuelJego commented on #599
Hi!
We also got a lot of these crashes! Visible in AppCenter as well.
Not being able to provide a reproducible build does not mean that the issue does not exist. It is a little bit bad to close the issue for that reason 🤷‍♂️ Moreover this isn't the first issue mentioning this problem that has been closed without really providing a solution (https://github.com/rotorgames/Rg.Plugins.Popup/issues/509

[2020-12-09 00:05] LuckyDucko commented on #605
@aptwebapps could you verify this with the latest version of the plugin?

[2020-12-09 00:05] LuckyDucko commented on #610
@rscholey can you confirm that your issue is fixed with the latest pre-release?

[2020-12-09 00:13] LuckyDucko commented on #599
@EmmanuelJego I understand, it does seem to be an issue floating about, fixed in #430, but has come back.
 I just have no way of even attempting to debug this not do I have any experience with AppCenter, and since it works outside of AppCenter, it makes me think that perhaps it has something to do with AppCenter, and not this plugin.  I cannot reopen this issue, but if someone brings it up again (

[2020-12-09 00:29] EmmanuelJego commented on #599
@LuckyDucko Yeah I understand that this kind of issues is really hard to fix since we don't have any starting point...
AppCenter is just a Microsoft service that you can connect to your app to see all crashes reports, and even some analytics. The issue can't come from that service since its purpose is just to send crashes reports. It just helps us to see crashes reports, how often they appear, on

[2020-12-09 00:35] LuckyDucko commented on #599
Oh, that does change things. If you are able to get Device models, then that would really help try and narrow down this issue, since either we can investigate what is different about those devices (perhaps the UI skin on top of android), or even try and reproduce it through emulation/We get lucky and someone has the device.

[2020-12-09 00:37] LuckyDucko commented on #586
Nothing so far, I have been looking at #595

[2020-12-09 07:45] chuvakpavel commented on #599
@LuckyDucko

Android 10: Galaxy S10e, P20Pro, Galaxy A50, Galaxy A71, Galaxy Note10+, Galaxy J6, Galaxy A51, Redmi Note 8 pro, Mi A2, Galaxy S10, Galaxy A7(2018)

Android 8: Galaxy A5(2017)

[2020-12-09 07:59] EmmanuelJego commented on #599
I'll complete the @LuckyDucko's list with Galaxy Tab Active 2 (Android 9)

That is a lot of Samsung devices 🤔

[2020-12-09 15:07] andreikashin opened #611 "[Error CS1501] No overload for method 'Init' takes 2 arguments"
Getting Started Wiki says how to init plugin in Android project:
`Rg.Plugins.Popup.Popup.Init(this, bundle);`

However, project won't build with **Error CS1501**. Reason:
_No overload for method 'Rg.Plugins.Popup.Popup.Init' takes 2 arguments_

[2020-12-09 15:22] felipechavez commented on #611
And if you put an argument, the following error appears:

`Method not found: void Rg.Plugins.Popup.Popup.Init(Android.Content.Context,Android.OS.Bundle)`

[2020-12-09 15:44] gceaser opened #612 "Must call Init error after upgrading from 2.0.0.6 to 2.0.0.8 in UWP project"
## 🔙 Regression

After upgrading from 2.0.0.6 to 2.0.0.8 in my UWP project I started receiving the error message:

"You MUST install Rg.Plugins.Popup to each project and call Rg.Plugins.Popup.Popup.Init(); prior to using it.
See more info: https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#initialization"

This is a summary of my OnLaunched code from the UWP project:
           //

[2020-12-09 17:43] aptwebapps opened #613 "NullReferenceException when closing a popup on iOS"
## 🐛 Bug Report

On iOS a NullReferenceException is thrown when closing a popup

### Expected behavior

No exception

### Reproduction steps

Run the demo app on an iOS device or simulator. Click the first "Open Popup" button. After it opens, tap the red X button.

### Configuration

**Version:** 2.0.0.8

**Platform:**
- [x] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :eart

[2020-12-09 17:45] aptwebapps commented on #605
I haven't been able to check my own app yet as I'm hitting a new issue (#613) which occurs before I get to the part of my app with the hidden status bars.

[2020-12-09 17:49] aptwebapps commented on #605
I can confirm it is fixed in the demo app as described in my description, so feel free to close it, I think.

[2020-12-09 18:49] UweReisewitz commented on #611
Try this:
            `Rg.Plugins.Popup.Popup.Init(Android.App.Application.Context);`

This compiles, deploys and runs..

[2020-12-09 22:17] LuckyDucko commented on #611
@martijn00 we need to update the wiki to show this, aswell as add the tizen/macOS init code aswell

[2020-12-09 22:27] MarLoe commented on #613
I am getting the exact same exception.
Seems to be introduced by #609

[2020-12-09 22:41] arahmancsd commented on #613
I am getting the same error in iOS 14.2 after updating to the latest version of the plugin 2.0.0.8

[2020-12-10 12:21] shweta1915 opened #614 "App crash when closing popup window from button"
## 🐛 Bug Report

PopupPlatformRenderer.PrefersStatusBarHidden () C:\Users\mhvdi\Documents\OpenSource\Rg.Plugins.Popup\Rg.Plugins.Popup\Platforms\Ios\Platform\PopupPlatformRenderer.cs:61
(wrapper managed-to-native) UIKit.UIApplication.UIApplicationMain(int,string[],intptr,intptr)
UIApplication.Main (System.String[] args, System.IntPtr principal, System.IntPtr delegate) /Library/Frameworks/Xamarin.i

[2020-12-10 16:40] rdeveen commented on #612
Version 2.0.0.7 also does not give above error. Only version 2.0.0.8 give this error.

[2020-12-10 17:56] RagulChandra commented on #614
Yes. It is crashing for me in same scenario.

[2020-12-10 18:27] RagulChandra commented on #613
I am also getting same error

[2020-12-10 19:58] rdeveen commented on #612
In [this](https://github.com/rotorgames/Rg.Plugins.Popup/compare/2.0.0.7...2.0.0.8#diff-334c05f54edd15c69be291f32c8fd6c70699e1140cee2bee8b22d6db570a5a5bL52) the register of the PopupPlatformWinPhone has been removed but the check if IPopupPlatform is registerd is still there.

Check is here:
https://github.com/rotorgames/Rg.Plugins.Popup/blob/d14e753a349cdf52e2ae2d33e91c66de0582fe63/Rg.Plugins.Pop

[2020-12-10 20:37] sqrg opened #616 "[UWP] 'You MUST install Rg.Plugins...' even though it's already installed"
## 🐛 Bug Report

I have a Xamarin.Forms application. And on the UWP platform I get this error, even though I have Rg.Plugins.Popup installed in every project.

[code]

This is how I'm doing the initialization:
[code]

### Configuration

**Version:** 2.0.0.8
**Xamarin.Forms** 4.7.0.1080

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [x] :earth_americas: UWP
- [

[2020-12-10 20:39] rdeveen commented on #616
Possible duplicated see: https://github.com/rotorgames/Rg.Plugins.Popup/issues/612

[2020-12-10 20:53] sqrg commented on #616
Yes, you're right. Thanks! Will close this and follow #612

[2020-12-10 20:53] #616 closed, assigned to nobody

[2020-12-10 21:26] Franc44 commented on #611
It runs, but throws this error when it opens a popup
System.InvalidCastException
  at Rg.Plugins.Popup.Droid.Impl.PopupPlatformDroid.get_DecoreView () [0x00000] in C:\Users\mhvdi\Documents\OpenSource\Rg.Plugins.Popup\Rg.Plugins.Popup\Platforms\Android\Impl\PopupPlatformDroid.cs:22
  at Rg.Plugins.Popup.Droid.Impl.PopupPlatformDroid.AddAsync (Rg.Plugins.Popup.Pages.PopupPage page) [0x00000] in C:\U

[2020-12-11 03:57] gdidajj commented on #613
I am also getting same error

[2020-12-11 07:00] jaurestchoffo commented on #611
Toujours pas de solution pour ce probleme??

[2020-12-11 09:17] #612 closed, assigned to nobody

[2020-12-11 09:18] #613 closed, assigned to nobody

[2020-12-11 09:45] MarLoe commented on #613
@LuckyDucko & @martijn00, thank you for your quick response - really appreciated!

[2020-12-11 09:55] amirvenus commented on #614
Is there a last known good version where this issue does not occur on?

[2020-12-11 10:53] FranRDev opened #618 ".NET Standard 2.1"
Will Rg.Plugins.Popup support .NET Standard 2.1?

Thank you!

[2020-12-11 11:45] shweta1915 opened #619 "Error: : XamlC error XFC0000 : Cannot resolve type "PopupPage" when using xmlns:rg="http://rotorgames.com""
## 🐛 Bug Report

Getting the exception in the error window for each created view "Error:  : XamlC error XFC0000 : Cannot resolve type "PopupPage""

Due to this reason application is not running from the app launcher. It keeps crashing.

**Note: If the app connected to debugging mode then there is no issue.**

![image](https://user-images.githubusercontent.com/74226630/101899661-30a29900-3bd4-11eb-

[2020-12-11 11:48] shweta1915 commented on #611
I am also getting this exception, use the following line. It will resolve the issue.

Rg.Plugins.Popup.Popup.Init(this);

[2020-12-12 00:31] LuckyDucko commented on #614
We just added release 2.0.0.9 that should address this, sorry for the regression

[2020-12-12 03:48] #614 closed, assigned to nobody

[2020-12-12 09:27] rs-mobitech commented on #610
I will check into that soon.  What was the change that was made with the latest pre-release?

[2020-12-13 14:19] rs-mobitech opened #620 "Documentation for Android init doesn't seem to line up with actual code"
Here's what [the document](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started) states:

        protected override void OnCreate(Bundle bundle)
        {
            base.OnCreate(bundle);

            Rg.Plugins.Popup.Popup.Init(this, bundle);

            Xamarin.Forms.Forms.Init(this, bundle);
            LoadApplication (new App ());
        }

Here's the code:

    public sta

[2020-12-13 23:50] felipechavez commented on #620
this is related to #611

[2020-12-14 11:34] MichaelEarendil opened #621 "UWP project does not initialise"
UWP project throws initialisation error hen attempting to open a popup.

Initialisation has been set as instructed and the popup works as expected on android.

Version 2.0.0.8

[2020-12-14 11:35] vividos commented on #611
It seems the commit https://github.com/rotorgames/Rg.Plugins.Popup/commit/42d71b9f27630c36e2a78e586279c15b15400075 removed the Bundle parameter, as it wasn't used anyway.

[2020-12-14 11:36] vividos commented on #620
It seems the commit https://github.com/rotorgames/Rg.Plugins.Popup/commit/42d71b9f27630c36e2a78e586279c15b15400075 removed the Bundle parameter, as it wasn't used anyway.

[2020-12-14 16:40] cbananas opened #622 "iOS only - Removing a PopupPage hides the other PopupPages"
## 🐛 Bug Report
If you have two PopupPages 1 and 2 (both visible) and remove PopupPage 1, the other PopupPage 2 "disappears". If you re-add PopupPage 1 then 2 reappears. I believe this was introduced by the fix for bug #393 where WindowLevels are set.

### Expected behavior
PopupPage 2 should stay visible

### Reproduction steps
Attached is sample project.
- Click "Popup 1" (blue)
- Click "Popup 2

[2020-12-15 22:22] LuckyDucko commented on #622
@cbananas I can confirm this happens.

I have poked around the commit, and it seems that the magnification behaviour we have seen is no longer part of iOS as far as I am aware. reverting the commit SEEMS to have some fixes, but I need to test some more

[2020-12-16 02:53] anhhtbk commented on #614
When release 2.0.0.9?

[2020-12-16 02:59] LuckyDucko commented on #608
@martijn00 can close

[2020-12-16 03:46] LuckyDucko commented on #621
@MichaelEarendil I think #615 addresses this. Try it again with 2.0.0.9

[2020-12-16 07:31] MichaelEarendil commented on #621
Yes,  that works, thank you

On Wed, 16 Dec. 2020, 03:46 Tyson Elliot Hooker, <notifications@github.com>
wrote:

[2020-12-16 10:58] shweta1915 commented on #619
Any update on this issue?

Here is one sample project which I have created to reproduce this issue. Seems like this issue is coming because of the latest stable release i.e. Xamarin.Forms 4.8.0.1687

[Demo.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/5702142/Demo.zip)

[2020-12-16 16:47] alexpetin opened #623 "[Has]SystemPadding works incorrect on older iOS releases (iOS 11.4)"
## 🐛 Bug Report

There are several problems different for Android/iOS which depends on plugin version, see below.

### Expected behavior
[Has]SystemPadding works correct.

### Reproduction steps
Just show a PopupPage and see on system padding.

### Configuration

**Version:** 1.x - 2.x

**Platform:**
- [X] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [

[2020-12-16 17:25] alexpetin commented on #623
Test project with the screens above, just in case.
[TestPopup.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/5704356/TestPopup.zip)

[2020-12-16 22:20] LuckyDucko commented on #621
@martijn00 good to close

[2020-12-16 23:06] LuckyDucko commented on #619
@shweta1915 thank you for the demo, I have provided a 'fixed' example [Here](https://github.com/rotorgames/Rg.Plugins.Popup/files/5705851/Demo.zip)

this is indeed unusual, it does seem that Xamarin.Forms 4.8.0.1687 is causing some issue.

I also noticed that if you convert the popup pages to use the older
`xmlns:pages="clr-namespace:Rg.Plugins.Popup.Pages;assembly=Rg.Plugins.Popup"`
instead of th

[2020-12-17 01:04] LuckyDucko commented on #623
@alexpetin this is probably associated with #500 and #553, I will try and see if I get time to implement the fixes they suggest

[2020-12-17 03:45] shweta1915 commented on #619
@LuckyDucko Thank you for the solution, it worked

[2020-12-17 15:29] alexpetin commented on #623
@LuckyDucko Yes, looks the same.

For iOS - please note that this is regression, so maybe just restore related code from version 1.2.0.223?

As for Android - it's really erroneously applied keyboard offset. Just checked - with `HasKeyboardOffset="False"` it works OK.
Moreover it works OK when the app at the bottom of screen:
![image](https://user-images.githubusercontent.com/19589320/102507838-48d