[2018-03-15 10:09] #260 closed

[2018-03-15 21:30] ali-h2010 opened #266 "Issue at runtime in Xamarin forms android project"
I installed the library and it's build fine on all projects. but when I run the android app I get this runtime error:

Could not resolve type with token 01000002 (from typeref, class/assembly Rg.Plugins.Popup.Popup, Rg.Plugins.Popup.Droid, Version=1.1.4.145, Culture=neutral, PublicKeyToken=null)

I made sure that all the version is the same on all projects
Can someone help me with this?

Many than

[2018-03-15 21:35] ali-h2010 commented on #266
I should mention that the issue only occurs on release mode

[2018-03-15 23:01] libin85 commented on #220
As @rotorgames  has mentioned. Use the latest pre-release and it works

[2018-03-16 07:05] CyferZ commented on #220
All right then, @libin85 and @rotorgames ... I'm curious then why, when I put the Init() method into my UWP project, it freaks out and throws an error??

[2018-03-22 20:31] cullenjohnson opened #267 "Update Demo to use 1.1.x"
The Demo project doesn't follow the changes needed for the upgrade to 1.1.x. This makes learning how to use this plugin a little more difficult than it needs to be.

[2018-03-23 15:15] sonic1015 opened #268 "Android: Prevent Keyboard from causing the Popup to re-layout"
I'd like the Keyboard to overlay overtop of the popup when I show a prompt dialog, but it is resizing (which is causing other problems, but I digress...). My Main page is behaving properly in the background, but the popup is resizing. Is there a setting, override, or work-a-round that would solve my problem?

[2018-03-24 14:30] Gamass commented on #268
Just use property: HasSystemPadding="False"

[2018-03-24 14:39] Gamass commented on #265
Nope, PopUpPage can be only layer above the NavigationPage stack

[2018-03-24 14:39] Umar3x commented on #184
Thanks for sharing this tp @steveoleary , saved me a lot of time.

[2018-03-24 14:44] Gamass commented on #263
Try to edit MainActivity.cs in this way:
public override void OnBackPressed() => Rg.Plugins.Popup.Popup.SendBackPressed(base.OnBackPressed);

[2018-03-26 13:28] sonic1015 commented on #268
That did it, thanks.

[2018-03-26 13:28] #268 closed

[2018-03-27 06:14] EeKay commented on #259
Can conform @geedsen's answer: version 1.1.4.145-pre did the trick.

The official 1.0.4 release told me iOS didn't need the init() and the compiler couldn't find all the event functions as indicated in this thread.

[2018-03-27 09:09] wireless-r commented on #71
I'm having this issue with pre-release version 1.1.4.

![screenshot_1](https://user-images.githubusercontent.com/28116634/37957898-5b9199ae-31af-11e8-96b4-d02b01e9f279.png)

[2018-03-27 09:13] wireless-r opened #269 "System.TypeLoadException: Could not resolve type with token 01000037"
When debugging my Android app, this exception is thrown. Tried with version 1.1.4 and 1.1.3.

![screenshot_1](https://user-images.githubusercontent.com/28116634/37957982-9110341e-31af-11e8-9fbd-a1a7d107f15d.png)

[2018-03-27 09:22] wireless-r commented on #269
Also tried [this solution on StackOverflow](https://stackoverflow.com/a/40144478/7885142).

[2018-03-27 09:43] wireless-r commented on #269
I removed the plugin from my project, then the TypeLoadException appeared for other types where it didn't appear before. Then I cleaned the project and deleted the app and debugged without errors. Then I added the Rg.Plugins.Popup again, cleaned the project and deleted the app. Now it works fine.

[2018-03-28 07:23] xabre opened #270 "Xamarin Forms WPF support?"
Hi awesome job with the plugin. Wanted to ask if there are any plans/guidelines for contributors for supporting WPF as a new platform as Xamarin has started support for WPF. :)

[2018-03-28 07:28] wireless-r commented on #269
The same thing happened when I referenced another external project in my solution. So the error may not related be to this plugin.

[2018-03-29 02:30] dfsRony opened #271 "IsAnimationEnabled doesnt exist in current context"
I tried to copy your demo code (LoginPopupPage) to my project, but I can't really use it because "IsAnimationEnabled doesn't exist in current context" always come. I don't know how to fix this. Everything works fine if I rune your DemoProject. If I do ctrl+click on IsAnimationEnabled on your demo project, it opens a file called PopupPages.cs in Rg.Plugins.Popup.Pages. I already add "use Rg.Plugins

[2018-03-30 10:16] EmilAlipiev commented on #260
I dont really understand that why should this be in the mainactivity if I am using xamarin forms? is it for xamarin native?

[2018-03-30 11:05] Nixon-Joseph commented on #260
It's because the plugin can't directly access the back button properly, unless android specifically defines how. It is for xamarin.forms, not native.

[2018-03-30 11:13] EmilAlipiev commented on #260
it is strange because in earlier versions, it was working without this code. i guess this is added for latest version. something should have changed.

[2018-03-30 11:19] Nixon-Joseph commented on #260
Yeah, my guess was it is a future proofing change. But maybe it could have just given the developer more control.

[2018-03-30 11:43] EmilAlipiev commented on #260
I just tested and it is definetly changed. i was using   protected override bool OnBackButtonPressed() in the popup.xaml.cs. this doesnt work any longer and page behind the popup receives the backbuttonpressed event. if I use this code page behind the popup doesnt receive the backbutton pressed.
I find this not so good as before. I have different popups and i handled each differently. Some pop whe

[2018-03-30 11:51] EmilAlipiev commented on #260
ok, just digging into history of changes, it was changed only on   1.1.4.145-pre and reason is described here

https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Migration-from-v1.0.x-to-v1.1.x#android-back-button

[2018-03-30 11:55] Nixon-Joseph commented on #260
That makes sense.

[2018-03-30 12:32] EmilAlipiev commented on #260
Actually, in popup.xaml.cs, you still need this code, if you want to prevent, backbutton to pop popup. Mainactivity code is only to prevent page behind to receive backbuttonpressed.

[code]

[2018-04-03 15:07] marcelinhovt opened #273 "How to detect when back from the PopupPage ?"
I call the PopupPage, but i am not able to detect when i am back from. The method OnAppearing() is not fired. How can i detect ? I need to do a action when return from the popup.

I am using:
[code]

[2018-04-06 13:01] JaeWLee opened #274 "Can't modify background color?"
I want to background is more darker
isn't it possible?

[2018-04-06 22:04] jcmanke commented on #263
Seems to be fixed as of 1.1.3 prerelease.

Also @Gamass - `Rg.Plugins.Popup.Popup` wasn't added until 1.1.2.

[2018-04-06 23:01] yajirobe-byob commented on #263
CloseWhenBackgroundIsClicked still does not work

[2018-04-08 19:16] rraallvv commented on #116
Is this still and issue in 1.1.4.145-pre?

I'm asking because I need to await for the popup to close but the code below doesn't seem to work:

	Device.BeginInvokeOnMainThread(() =>
	{
		Application.Current.MainPage.Navigation.PushPopupAsync(new PopupPage());
		Debug.WriteLine("Returned");
	});

A breakpoint in the line `Debug.WriteLine("Returned");` would be immediately reached even if the popup h

[2018-04-10 05:45] libin85 commented on #250
@Raystorm7 : Have you found a solution to this? I am having a similar problem

[2018-04-10 06:26] Raystorm7 commented on #250
@libin85 Unfortunately no :(

[2018-04-10 08:04] georgikoemdzhiev opened #275 "ListView goes "blank" after I re-open a PopupPage"
This is an issue which started occurring after my team updated Xamarin.Forms to version  **2.5.1.444934**. In the previous version, it was working fine which was **2.5.0.280555**.

In a nutshell, we have a custom control DetailedLookup which is essentially a Listview with several options to select and 2 buttons "OK", "Cancel" at the bottom which close the lookup and populates a label with the sele

[2018-04-10 09:01] hashimks opened #276 "Not able to call Navigation.PushPopup from a view cell"
Hello,

I am not able to call Navigation.PushPopup from a view cell. Can you please help me?

[2018-04-10 14:31] dansiegel commented on #257
Would love to see the Tizen and macOS PRs merged for that stable release. @rotorgames if there is something the community can do to support you in getting out a stable release please let us know.

[2018-04-11 08:39] masiri201 opened #277 "Blur effect on background"
Is there any chance that we can have a opacity property and also a blur property on the background of the popup?, that way we can see through to other pages but with a nice blur effect, i think it would be a nice feature on this package.

[2018-04-11 10:55] #269 closed

[2018-04-11 11:08] JKennedy24 opened #278 "OnAppearingAnimationEndAsync is not called on version 1.1.4.145-pre"
I have a popup page and OnAppearingAnimationEndAsync is never called on V1.1.4.145-pre

[2018-04-11 11:17] JKennedy24 commented on #278
ps. I was testing this on android if this makes a difference

[2018-04-11 16:45] borbmizzet opened #279 "ImageSource binding doesn't update on popup UI until tapped"
When changing a property of type ImageSource in a FlowListView or ListView bound to an Image or FFImageLoading:CachedImage within the popup view, the Image doesn't update until you tap somewhere in the ListView. (I tried this with both a ListView and a FlowListView)  Though I could be wrong and the problem is with an changing an IsVisible property instead of an Image Source.  Either way, when I do

[2018-04-12 09:15] masiri201 commented on #263
I had the same problem, I added a stacklayout covering the whole background and then added gesture recognizer and when the tap event was triggered I close the popup, i was in a rush so I came up with that.

[2018-04-13 09:03] mr5z opened #280 "Navigation.PushPopupAsync crashes on Android"
The page contains a ListView with groupings enabled. Calling the Navigation.PushPopupAsync throws a `Java.Lang.NullPointerException`

Full stacktrace:
``
MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] Java.Lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewParent android.view.View.getParent()' on a null object reference
[MonoDroid]   at System.Runtime.ExceptionServices.Exce

[2018-04-13 09:25] mr5z commented on #280
Solved it by **specifically** targeting to version 1.1.1.57
I wasn't able to find this stable release on NuGet listings so I was using the v1.0.4 and some pre-release versions

[2018-04-13 17:11] balaameex opened #281 "Memory Issue- It consumes more memory(The memory level not coming Down)"
Hi,

I used this popup in my app to show some user information. I analyzed the app for memory usage and found that whenever we are opening the popup the memory is increasing and not at all coming down. if you open the popup continuously for multiple time then the memory will go high and crash the app in Android.

Could you please fix this issue.
Balakrishnan.S

[2018-04-14 10:44] zany1 commented on #254
Upgrade to the latest pre-version 1.1.4.145-pre it fixes a lot of problems

[2018-04-14 10:59] zany1 commented on #277
You can use Skia Sharp which is supported by xamarin, this class [https://developer.xamarin.com/api/type/SkiaSharp.SKMaskFilter/](url)  will help you achive it , just draw a canvas on the background property of this plugin.

[2018-04-17 07:13] rotorgames commented on #8
@dfarrNTST Can you show your xaml?

[2018-04-17 07:14] rotorgames commented on #249
@quaz12 or like this https://stackoverflow.com/a/17239853

[2018-04-17 07:15] rotorgames commented on #248
Hi guys. I'm working on the new stable release and it should be soon.

[2018-04-17 07:15] #248 closed

[2018-04-17 07:24] rotorgames commented on #258
@kalkotekedar You can find some libraries in nuget that allow you to use the prism navigation for this plugin.

[2018-04-17 07:24] #258 closed

[2018-04-17 07:25] rotorgames commented on #261
@CostaTC What version of this plugin do you use?

[2018-04-17 07:28] rotorgames commented on #262
@Glabenwitt Sorry but you should set a position of the popup yourself with using `TranslationX` and `TranslationY` or `AbsoluteLayout`

[2018-04-17 07:29] rotorgames commented on #264
Duplicate #149

[2018-04-17 07:29] #264 closed

[2018-04-17 07:30] rotorgames commented on #72
@HoloJackStones the stable release will be soon.

[2018-04-17 07:31] rotorgames commented on #173
Just use the last pre/beta release.

[2018-04-17 07:33] rotorgames commented on #266
@ali-h2010 Hi. In the first see https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started
if it will not help you see https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Troubleshooting

Also please update the plugin to the lest pre/beta release

[2018-04-17 07:33] #266 closed

[2018-04-17 07:38] rotorgames commented on #220
@CyferZ in first see https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Troubleshooting

[2018-04-17 07:38] TosinM commented on #253
I'm sorry, I'm fairly new to the software development world, and I can't seem to figure it out. Please @rotorgames, any extra help you can render would be greatly appreciated

[2018-04-17 07:39] rotorgames commented on #267
@cullenjohnson Thank you. I will add this item to the todo list.

[2018-04-17 07:39] #267 closed

[2018-04-17 07:41] rotorgames commented on #265
Duplicate #247

[2018-04-17 07:41] #265 closed

[2018-04-17 07:44] rotorgames commented on #270
@xabre I will think about it after publishing the stable v.1.1.x. Thanks.

[2018-04-17 07:44] #270 closed

[2018-04-17 07:45] rotorgames commented on #271
@dfsRony Just update this plugin to the last pre release version.

[2018-04-17 07:45] #271 closed

[2018-04-17 07:51] rotorgames commented on #273
@marcelinhovt You can use OnDisappearing in PopupPage.

[2018-04-17 07:51] #273 closed

[2018-04-17 07:52] rotorgames commented on #274
Duplicate #249

[2018-04-17 07:52] #274 closed

[2018-04-17 07:54] rotorgames commented on #116
@rraallvv You should use await operator. See https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Navigation#xamarinformsinavigation-navigationextension

[2018-04-17 08:07] rotorgames commented on #250
@Raystorm7 What version of the popup plugin do you use?

[2018-04-17 08:11] rotorgames commented on #275
@georgikoemdzhiev Hi. Are you sure that it is problem of this plugin. Did you try to use your control in Xamarin.Forms.Page (not PopupPage)?

[2018-04-17 08:11] rotorgames commented on #276
@hashimks Show your code please

[2018-04-17 08:13] rotorgames commented on #257
@dansiegel @krunalc Sorry I was so busy. I think that I will publish the stable release without macOS and Tizen. I will work on macOS and Tizen only after stable release

[2018-04-17 08:16] rotorgames commented on #269
@wireless-r I like a programming it's fun)

[2018-04-17 09:07] rotorgames commented on #278
@JKennedy24 OnAppearingAnimationEndAsync will not be invoked if `PopupPage.IsAnimationEnabled `is false or if system animation of Android is disabled.

[2018-04-17 09:09] rotorgames commented on #263
The PopupPage can't catch a background click if a view in PopupPage.Content fills all PopupPage.

Also update this plugin to the last pre/beta release version

[2018-04-17 09:09] #263 closed

[2018-04-17 09:10] rotorgames commented on #280
@mr5z in first try to update this plugin to the last pre/beta version. If it doesn't help you then show me your code.

[2018-04-17 09:12] rotorgames commented on #281
@balaameex It was corrected. Update this plugin to the last pre/beta version

[2018-04-17 09:12] #281 closed

[2018-04-17 09:12] #254 closed

[2018-04-17 09:12] #277 closed

[2018-04-17 09:14] rotorgames commented on #253
@TosinM Sorry but I can't help you if I don't understand what you need. What problem do you have? Explain more

[2018-04-17 09:15] rotorgames commented on #279
@borbmizzet Try to test v1.1.4.148-pre from Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99

[2018-04-17 09:27] TosinM commented on #253
Okay okay, the popup takes the whole page and I don't want it to. I just want to size it like a small rectangle instead. And I want the original page to be visible behind.

[2018-04-17 09:51] georgikoemdzhiev commented on #275
Hi! Thank you for spending time on that. I will try that and get back to you.

[2018-04-17 15:08] dansiegel commented on #256
@rotorgames I'm on the latest pre release. What I was thinking was if we had something like this added to PopupNavigation. It wouldn't show up in intellisense, but would make it easier to unit test with a mock instance. It would also make the plugin more extensible so that other platforms could be supported.

[code]

[2018-04-17 15:12] dansiegel commented on #258
@kalkotekedar See [Prism.Plugin.Popups](https://www.nuget.org/packages/Prism.Plugin.Popups/) note that 2.0.0-pre6 is targeting the latest 7.0 release of Prism while 2.0.0.528-pre is targeting the 7.1 preview both target the latest pre release of Rg.Plugins.Popup

[2018-04-17 21:01] CostaTC commented on #261
v1.0.4

[2018-04-18 04:56] rotorgames commented on #256
@dansiegel I don't think that `SetInstance` is needed. If you would like to use unit tests you can implement an instance of `IPopupNavigation` only for tests.

For example:

[code]

[code]

it is easy, we should not invoke `SetInstance` because it is not safe.

[2018-04-18 05:00] rotorgames commented on #253
@TosinM no problem just set `VerticalOptions="Center"` and `HorizontalOptions="FillAndExpand"` for `PopupPage.Content`

[2018-04-18 05:03] rotorgames commented on #278
@JKennedy24 I just have tested the demo project and `OnAppearingAnimationEndAsync` works fine. Can you check it in the demo project?

[2018-04-18 05:07] rotorgames commented on #116
@rraallvv Ok I got it. You would like to wait when a popup returns a result but it works not that. See #14

[2018-04-18 05:08] rotorgames commented on #261
@CostaTC in first please update the plugin to the last pre/beta version and check it again.

[2018-04-18 05:57] dansiegel commented on #256
@rotorgames if that was the sort of testing I was doing then sure that would work. As you can see [here](https://github.com/dansiegel/Prism.Plugin.Popups/blob/master/src/Prism.Plugin.Popups/PopupRegistrationExtensions.cs#L8-L10) not having some way of initializing PopupNavigation is forcing me to create a hack substitution based on a build configuration. Either of the solutions I mentioned above w

[2018-04-18 07:00] rotorgames commented on #256
@dansiegel I don't think that it is a problem. You can dot this:

[code]

I think it is better solution than:

[code]

Also you can see that there is not `SetInstance` in other plugins

For example:
https://github.com/jamesmontemagno/PermissionsPlugin/blob/master/src/Plugin.Permissions/CrossPermissions.shared.cs

[2018-04-18 07:06] dansiegel commented on #256
What I have there is a hack and actually the rename is cleaner than what you're showing by explicitly calling the mock... the mock doesn't belong in that code base at all as it should be inside of the unit test project.

Again another workable solution here is that you make the IPopupPlatform public instead of internal. That would allow me to have a mock platform that could be exported and picked

[2018-04-18 07:51] rotorgames commented on #256
@dansiegel Ok I think that make IPopupPlatform as a public is a good idea. I will think about it. But it can be a problem also. If a developer invokes `DependencyService.Get<IPopupPlatform>(DependencyFetchTarget.NewInstance)` then it can be a problem. I made IPopupPlatform as internal because of it.

[2018-04-18 16:04] rraallvv commented on #116
@rotorgames, that should do the trick, thanks!

[2018-04-18 16:46] axeira opened #282 "Live player"
Can this plugin be used with Live player? Tried with IOS but it seems that crashes when popup window opens.

[2018-04-18 16:58] rotorgames commented on #282
@axeira I didn't test the plugin with Live player. I think the plugin doesn't work with it.

[2018-04-18 17:18] dansiegel commented on #282
@axeira the Live Player is meant as a learning tool. The messaging about what it is capable of, and is good for, has been way off base... pretty much any common library you may be using from Prism to Rg.Plugins.Popup, to RX are not supported and will never be supported by the Live Player.

While this plugin doesn't work with the Previewer in the IDE currently, I can say that I have had some discus

[2018-04-18 17:46] axeira commented on #282
It's a shame because Live player run quite smooth. Until it needs the plugin, then crashes!
To develop in IOS do I have to buy a mac? I have a iPhone and an ipad, not enough though. :-/

[2018-04-18 18:34] dansiegel commented on #282
I have seen developers with VirtualBox running a OSX VM on Windows. You could also look at a service like https://www.macincloud.com or https://xcloud.me/. Or what a lot of people who prefer to work on Windows do is get a Mac Mini. That would allow you to connect your real devices and set them to work wirelessly.

[2018-04-18 19:02] dansiegel commented on #256
In that scenario it shouldn't affect the IPopupNavigation instance as it would just give them a different instance of IPopupPlatform, and there isn't a reason for anyone to use an instance of IPopupPlatform. It's ultimately why I suggested the non-browsable approach because it would allow replacing the default instance with a mock for testing.

[2018-04-18 19:16] borbmizzet commented on #279
Works like a charm.  Thanks.

[2018-04-18 21:10] #261 closed

[2018-04-19 09:11] axeira commented on #282
Thank you for all the advice.

On Wed, Apr 18, 2018 at 8:34 PM Dan Siegel <notifications@github.com> wrote:

[2018-04-19 12:16] georgikoemdzhiev commented on #275
@rotorgames  Sorry for the delay. I was able to test out control as a ContentPage (As if not using this library) and the problem was still there. So it is not a problem with this library.

Thank you for your time and suggestion. That cleared the picture. I am closing the ticket now.

[2018-04-19 12:16] #275 closed

[2018-04-19 12:51] genilsonmm opened #283 "Using Rg.Plugins.Popup with Prism"
Is possible use the library with prism framework? It is not working in my project because it does not work with navigationService.NavigateAsync and

[2018-04-19 14:44] JKennedy24 commented on #278
after checking again this does get called. I don't know whether this was device specific. If I see it again I will investigate more. But looks like it does work correctly

[2018-04-19 14:44] #278 closed

[2018-04-19 19:36] balaameex commented on #281
Thanks, It solves the issue

[2018-04-19 19:38] dansiegel commented on #283
Yes it is possible to use this with Prism if you are using [Prism.Plugin.Popups](/dansiegel/Prism.Plugin.Popups). You'll want to use the 2.0 preview. Keep in mind that pre6 is targeting Prism 7.0 while the latest preview is targeting the Prism 7.1 preview, so you will need to pick the one that best fits your needs. The only new requirement that you'll have is to add

[code]

[2018-04-20 06:26] rotorgames commented on #256
@dansiegel Ok I understand you but can you give me any libraries on C# which use `SetInstance` for example?

[2018-04-20 06:27] rotorgames commented on #279
@borbmizzet You are welcome.

[2018-04-20 06:27] #279 closed

[2018-04-21 01:33] InnerScript opened #284 "No Android Popup class present when installing through NuGet in VS2017"
Using Visual Studio 2017 Community, latest Xamarin/Xamarin Forms libraries and installing through the nuget.org on an existing Android/iOS projects.

In the Android and iOS project, editing the main classes and attempting to add the required lines for each respective project type:

_Rg.Plugins.Popup.Popup.Init(this, bundle);_  //Added to Android MainActivity
_Rg.Plugins.Popup.Popup.Init();_ //Adde

[2018-04-21 11:39] rotorgames commented on #284
@InnerScript use the last pre/beta release v1.1.x

[2018-04-21 11:39] #284 closed

[2018-04-23 05:33] libin85 opened #285 "Cannot navigate from a Popup to a normal ContentPage -MVVM"
Hi there,

I am finding it a bit hard to get the navigation working with the popup.  I do not have any issues in navigating to the popup, and also no issues in poping all the popups. But have trouble if  I need to navigate to a normal ContentPage via ViewModel (MVVM) from the popup.

Note: I am using FreshMVVM, and it has a convenient extension method that supports ViewModel navigation. This is ho

[2018-04-23 05:42] dansiegel commented on #256
@rotorgames I can't think of any off the top of my head... but then again you have to consider:

1. Most people aren't actually running tests....
1. Taking an approach where you set the EditorBrowsableState to Never, also means it's only discoverable if you look at code or its documented... and AFAIK none of those methods are documented for Xamarin Forms even though they are all over the codebase.

[2018-04-23 08:31] maherzaidoune opened #286 "Using Rg.Plugins.Popup with Prism"
is it possible to use Rg.Plugins.Popup with freshMVVM library ?

[2018-04-23 15:30] dansiegel commented on #286
It's not the responsibility of this plugin to work with any MVVM Framework. It's only the responsibility of this library to work with Xamarin Forms. If you're wanting support for FreshMVVM type navigation with PopupPage's I suggest you either raise the issue with @rid00z or write an extension to FreshMVVM that enables it, much like what I've done for Prism with [Prism.Plugin.Popups](/dansiegel/Pri

[2018-04-23 15:48] maherzaidoune commented on #286
hey @dansiegel , my  question is more about mvvm pattern than freshmmvm itself  , i can't decouple PopupPage views and  logic  as Page and  pageModel , i can't use  commands  on pages:PopupPage elements

[2018-04-23 15:52] #286 closed

[2018-04-24 17:00] FrameV opened #287 "PushAsync not returning on iOS"
Hi,

I'm calling PopupNavigation.Instance.PushAsync but on iOS this method never returns and the popup does not display. This does work for me on Android however.

Rg.Popup: 1.1.4.154-pre
XF: 2.5.0.280555

I have checked that i'm calling the Init method, calling PushAsync from the main thread and awaiting. All versions for rg.popup and xf are matching in each project.

I have done some debugging a

[2018-04-25 06:17] uuubed commented on #35
@widiarifki @mxdcarmo I am also trying to build same feature in my app. Will you guys help me with a bit of xaml code of yours for the popup where you guys are displaying listview.

[2018-04-26 22:24] marcusts opened #288 "Would like to make a PopupView version of this to keep the page separated"
Hi, I pulled the source and commented out enough to make this work as a PopupView (rendering ViewRenderer), which decoupled it from ContentPage. This is extremely helpful for most of us who might otherwise not be able to derive all of our pages from your page.  Obviously, this defeats navigation.  But it also makes the popup useful in every app imaginable, without redesigning from the ground up.

[2018-04-27 07:43] raymondjstone opened #289 "popup screens not working with accessibility"
It looks like the way that the popup screens are implemented breaks when accessibility options are switched on.

My initial testing has been switching on voiceover (on android) and it looks like text on popups is not being recognised well, the close icon is not being picked up consistently, clicking off the popup (to close) does not function and items on the screen below the popup can be selected.

[2018-04-27 16:58] juanagu opened #290 "It's possible using Rg.Plugins.Popup with MvvmCross ?"

[2018-04-29 09:56] rotorgames commented on #288
@marcusts Hi. Thank you for your work. I would like to see your code. Also I don't see any different between PopupPage and PopupView. What is it need? They will work same but I will need to support more code because of it.

[2018-04-29 09:57] rotorgames commented on #289
@raymondjstone What version of the plugin do you use?

[2018-04-29 09:58] rotorgames commented on #290
You should use Xamarin.Forms for it.

[2018-04-29 09:59] raymondjstone commented on #289
I'm not at work to check, but it's whatever the current nget version is

[2018-04-29 14:27] rotorgames commented on #289
@raymondjstone I need to know exactly what version do you use. Try to install the last pre/beta release from nuget.

[2018-04-29 20:10] marcusts commented on #288
Hi,

The goal is to make your *great* popup more easily usable in more
situations.

Most programmers will not be able to rederive their pages from your
PopUpPage.  But they can more easily adapt some of their views with a
PopUpView, since that doesn't interfere with their existing page and
navigation strategy.

MVVM frameworks make this quite difficult as well, and they are
getting popular.

Navig

[2018-05-01 01:14] KaizerT opened #291 "PopupRenderer throwing ClassNotFoundException"
It doesn't seem like calling Popup.Init() initializes the popup renderer in the dex. Upon trying to call popup navigation functions the compiler throws a ClassNotFoundException. Looking at the source code the LinkAssemblies function does not seem to be triggered since the condition is if (false.Equals(true))

[2018-05-01 06:53] raymondjstone commented on #289
1.0.4 is the version used. I can't try pre/beta versions at this time due to work policies.

[2018-05-03 03:20] marualderete opened #292 "simple popup with webview crashes on iOS"
Hi guys, need help with something, don't know what is happening.
I have a simple popup page in my xamarin form project:

[code]
Right now I'm passing the string url after InitializeComponent() in xaml.cs file:
`myWebView.Source = new UrlWebViewSource { Url = url};`

And I call this within a TapGestureRecognizer
`Navigation.PushPopupAsync(new MyPopUpPage("https://my-url..."));`

and I got the follo

[2018-05-03 13:07] vecalion opened #294 "'Rg.Plugins.Popup.IOS.Platform.PopupWindow' does not have a constructor that takes one IntPtr argument"
One of our QA engineers found a crash in Rg.Plugins.Popup.IOS.Platform.PopupWindow (unfortunately without repro steps). The following exception was thrown when the app tried to display a popup. Is it something known?

System.Exception: Failed to marshal the Objective-C object 0x124be70c0 (type: Rg_Plugins_Popup_IOS_Platform_PopupWindow). Could not find an existing managed instance for this object,

[2018-05-03 15:02] juanagu commented on #290
Yes thanks, It works! :)

[2018-05-03 15:02] #290 closed

[2018-05-03 15:52] luis-barreira opened #295 "Exception in UWP opening popup window only in Release builds"
Hi,
I get an exception whenever the app tries to open a popup in a UWP application, there is no error in Android and iOS. The error only occurs when the application is packaged and installed from that package, there is no error when the application in started from Visual Studio using Release or Debug builds. I tried to update to the last version of the library, but the error is still there.

Te ex

[2018-05-03 20:30] CarlosAyala opened #296 "How I can catch it the onbackgroundclicked event?"
Hi!,

I have the CloseWhenBackgroundIsClicked attribute in "True".
How can I catch the closed event when the user clicks on the background?

[2018-05-04 10:07] cvenkat38 opened #297 "Blur the background page of pop up window"
Is there any attribute to blur the page behind the pop window?. Currently i see it is Transparent.

[2018-05-05 20:44] newdeal30 opened #298 "Question about ParentView"
Hi!

I have one question about my favourite Popup Control:
When i Push a Popup the ParentView got a darker color.
Is it possible to disable this behavor?

Thanks and regards
Michael

[2018-05-07 12:02] acaliaro opened #299 "Popup Background Color"
Hi @rotorgames  how are you?
I have a problem with your plugin.
I create a Popup with a StackLayout.

I would like to change StackLayout.BackGround color.

It works if I use something like

`stackLayout.BackgroundColor = Color.Black;`

It does not work if I use something like

`stackLayout.BackgroundColor = (Color)Application.Current.Resources["MaterialGrey50"];`

or

`stackLayout.BackgroundColor

[2018-05-07 23:09] maurelio97 commented on #295
Same with me.

I'm using version 1.1.4.154-pre and this issue only occurs in UWP Release when **.NET Native tool chain option** is checked in UWP project properties (which is required to package UWP apps to Windows Store).

[2018-05-07 23:27] formosus19 commented on #27
@rotorgames
Any update on the plugin to support FreshMvvm ??

[2018-05-07 23:30] formosus19 commented on #27
@KathirveluM
Could you please share your customized popup dialog which you integrated with freshmvvm??

[2018-05-09 04:38] v88NoahJerreel commented on #268
Thanks for this @Gamass :)

[2018-05-09 14:09] veletron2 opened #300 "Popup is not centred on screen transparent background"
Hi

I use this package to provide some self-clearing error popups in my App. I call it both when my MainActivity is displayed, but also in response to an intent NFC, BLE etc when my MainActivity is not displayed and I wish to display an error message over the top of whatever happens to be on-screen at the time. This is all on Android.

When displaying the popup over the top of my MainActivity, it

[2018-05-09 17:28] qbus00 commented on #295
Hello,
I've got the exactly the same issue on 1.1.4-154-pre. Plugin does not want to work in Native tool chain compliation mode.

[2018-05-10 09:39] qbus00 commented on #295
Update - I have checked the PopupPlatformWinPhone class and it looks that on GetOrCreateRenderer returns standard PageRenderer (instead of PopupPageRenderer) even there's assembly registration in in Init method of Xamarin Forms.

[2018-05-10 10:46] veletron2 commented on #300
Hi

Just to say that I have now got this working with the following style:

 <style name="ProteusPopupTheme" parent="Theme.AppCompat.Light.DarkActionBar">
    <item name="windowNoTitle">true</item>
    <item name="windowActionBar">false</item>
    <item name="android:windowIsTranslucent">true</item>
    <item name="android:windowBackground">@android:color/transparent</item>
    <item name="android

[2018-05-10 13:28] dansiegel commented on #282
I strongly suggest that you look at Live Reload from the Xamarin team if you’re using Visual Studio 2017. It really solves a lot of problems. Plus if you’re using a MVVM design pattern it keeps state on reloads.

[2018-05-11 16:05] jobuit opened #301 "Why the last version in Mac is 1.0.4?"
![captura de pantalla 2018-05-11 a la s 10 59 18 a m](https://user-images.githubusercontent.com/28201079/39934375-2fb85fe6-550b-11e8-97ae-0ec4d724d7ea.png)

[2018-05-11 18:34] jobuit commented on #301
How can i do it? @dansiegel

[2018-05-11 22:28] pierrebrito opened #302 "Popup.SendBackPressed"
After setting the "Popup.SendBackPressed (base.OnBackPressed)" in MainActivity, if a PopupPage is opened and there is a stack of pages in Navigation, when I press the return button, all pages are removed from the Navigation stack.

[2018-05-14 10:36] hashimks opened #303 "Can we place an image in the transparent layer of popup page?"
I have a popup page and i need to place a close button in the transparent area where the popup is seen. Is it possible to place?

[2018-05-14 21:52] dansiegel commented on #257
@rotorgames any update on this? would really love to see a new stable release

[2018-05-14 22:11] acaliaro opened #304 "Popup inside Navigation Page"
Hi @rotorgames

I have a question.

I have a NavigationPage with some pages in the stack. One of these pages open a popup. When popup is visualized, i press Device's back button and the page (not the popup) is "popped" from the stack. Is it correct? I thought that the popup should be dismissed if I press hardware back button, not the "background" pase

[2018-05-15 07:02] acaliaro commented on #304
Can you explain better what Should I do?

something like

        protected override bool OnBackButtonPressed()
        {
            Application.Current.MainPage.Navigation.PopPopupAsync();
            return true;
        }

(this does nothing... I set a breakpoint but it does not stop...)

[2018-05-15 08:51] chrisfoulds commented on #204
Will you be doing a non-prerelease build with these fixes ?

[2018-05-15 08:52] canplay opened #306 "no child control"
![image](https://user-images.githubusercontent.com/5159597/40046374-6eb02eac-585f-11e8-87a9-c2f4ce4f349b.png)
↑ Issues Screenshort, the small white box
![image](https://user-images.githubusercontent.com/5159597/40046456-96cec6dc-585f-11e8-950b-097d333030f1.png)
↑ XAML
HasSystemPadding no good, Label no display, Xamarin.Forms 3.1.0.469394-pre1, Rg.Plugins.Popup 1.1.4.158-pre, NETStandard.Library 2.

[2018-05-15 19:42] jhonatanfernando commented on #257
I am also waiting for this new version.

[2018-05-16 04:43] acaliaro commented on #304
[code]

It's ok with this.. thanks

[2018-05-16 17:34] cetso opened #307 "System.Exception: Failed to marshal the Objective-C object"
Today I got this exception (May 16, 2018):
System.Exception: Failed to marshal the Objective-C object 0x111ba62c0 (type: Rg_Plugins_Popup_IOS_Renderers_PopupPageRenderer). Could not find an existing managed instance for this object, nor was it possible to create a new managed instance (because the type 'Rg.Plugins.Popup.IOS.Renderers.PopupPageRenderer' does not have a constructor that takes one In

[2018-05-16 19:51] cetso commented on #122
I am still getting this crash with 1.1.4.158-pre

I use
PopupNavigation.Instance.PushAsync
then
PopupNavigation.Instance.PopAsync

and the app crashes when trying to call PopAsync

[2018-05-18 09:46] stefan-stanca opened #308 "Please Update Nuget Package for UWP"
Hello,
I have installed nuget package version 1.0.4 targeting profile 111 on PCL (portable-win+net45+wp8+win8+wpa81) , using Xamarin forms 2.5.1. The version I am getting is the one where Rg.Plugins.Popup.Windows.Popup.Init() is not available and it is not registering the depencency service. I am not able to register it manually as the implementation is internal to the project.

[2018-05-18 09:55] leeanpeng commented on #301
@jobuit checked the checkbox on the bottom left

[2018-05-18 09:56] denmusic1992 opened #309 "Popup initialization issue"
Hello! Here is the issue:

I've updated package to 1.1.4.158pre and now I can't initialize a popup page.
I have an exception:

System.TypeInitializationException: The type initializer for
 Rg.Plugins.Popup.Services.PopupNavigation' threw an exception.

It happens after I call method` Navigation.PushPopupPage(..).`

My LoadingPopupPage.xaml:
`<pages:PopupPage xmlns="http://xamarin.com/schemas/2014/

[2018-05-20 05:03] stefan-stanca commented on #309
Have you initialized the plugin ?

[2018-05-21 08:19] pandit9096 opened #310 "Crash on Android"
Java.Lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.

Can anyone please help?

Thanks in advance

[2018-05-21 17:55] nitrouscutter opened #311 "Crashing on Android (Soft Keyboard open while closing)"
When opening a Rg pop up with an input field. If you tap the input field to open the soft keyboard, then tap close on the modal (PopupNavigation.Instance.PopAsync(false)), the library crashes the app.

[2018-05-21 17:56] nitrouscutter commented on #311
Version 1.1.4.145-pre

[2018-05-23 04:12] Bejasc commented on #292
I'm having the same issue.

Our use cases and version numbers are identical.
The Popup page is passed a URL, which is then fed into a webview on the PopupPage.

This didn't _appear_ to be an issue on 1.0.4, however I've had to update to resolve another issue that was affecting iPhone X. I've never experienced this on iOS until using the pre-release version.

[2018-05-23 04:54] Bejasc commented on #292
Update:
I can only reproduce this error on iPhone X.
I've tried multiple devices (physical and emulators) and I can only replicate the crash on iPhone X. (Both emulator and physical - running iOS 11.2 and iOS 11.3.1 respectively.

[2018-05-27 10:20] VladislavAntonyuk opened #312 "add support for WPF"
Please update your dependencies to Xamarin Forms 3.0 and add WPF renderer

[2018-05-28 16:18] dansiegel commented on #256
@rotorgames here is an example of a current plugin that lets you set the current instance: https://github.com/smstuebe/xamarin-fingerprint#mocking-in-unit-tests

[2018-05-29 04:22] JimmyPun610 opened #313 "Does it support .net standard?"
As Microsoft turn down PCL project, does this library support .net standard Xamarin project?

[2018-05-29 14:51] Nandulucky opened #314 "Xamarin.Forms.Xaml.XamlParseException"
Hi,

When tap popup page I got below issue.

_**"Type Animations:UserAnimation not found in xmlns clr-namespace:TestPopUp.Animation;assembly=TestPopUp"**_

And I wrote the code like below.

<pages:PopupPage
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    xmlns:pages="clr-namespace:DASH.Pages;assembly=DASH"
    xmlns:Animations="clr-n

[2018-05-30 19:17] jcesarmm commented on #313
Yes, It might be great if you update the plugin to .NET Standard! :)

[2018-05-30 19:28] dansiegel commented on #313
@JimmyPun610 @jcesarmm it might be great if you update. This plugin has had netstandard support for a while. https://www.nuget.org/packages/Rg.Plugins.Popup/1.1.4.158-pre

[2018-05-31 08:30] JimmyPun610 commented on #313
@dansiegel Thanks. But i am now using Xamarin Form 2.4 due to Android version limitation. Does 1.1.0 or 1.0.4 support? I tried 1.0.4, it can install and use but it seems the popup always consume the whole screen in android.

[2018-06-01 21:45] dblookup opened #315 "Popup initialization issue when app is initialing through one notification at background (PendingIntent)"
I'm trying to use the Popup in Android however I've identified a problem that I cannot solve.
I'm initialing the popup with Rg.Plugins.Popup.Popup.Init (this, bundle) and everything works perfectly except when I activate the app through of one notification when it's in background.
After touching on the notification, the app opens throwing the exception "Unable to activate instance" at initializati

[2018-06-01 21:59] dblookup commented on #314
Please make sure there is UserAnimation.cs at (DASH.Animation).
See the example below (it works perfectly):

[Demo with UserAnimation](https://github.com/rotorgames/Rg.Plugins.Popup/tree/master/src/Demo/Demo)

[2018-06-02 09:55] DevendraMaran opened #316 "Getting .net standered warning and an error 'pages' doesn't exist"
### Description
1) Warning NU1701: Package 'Rg.Plugins.Popup 1.0.4' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETStandard,Version=v2.0'. This package may not be fully compatible with your project. (NU1701)

2) Error CS0234: The type or namespace name 'pages' does not exist in the namespace 'Xamarin.Forms' (are you missing an assembly reference?) (C

[2018-06-02 15:28] cabauman opened #317 "The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup'"
I installed the plugin in all projects but I'm receiving this compile error when trying to call Rg.Plugins.Popup.Popup.Init(this, bundle) for Android (and for iOS). I tried versions 1.0.4. 1.0.3, 1.0.2 with the same results. The other namespaces are found.

[2018-06-02 16:07] dansiegel commented on #316
The issue is simple. Update to the latest preview. 1.0.4 does not have a netstandard target.

[2018-06-02 21:32] thejakeofink commented on #317
Found `Rg.Plugins.Popup.IOS.Popup.Init()` seems like the docs need to be updated to show the platform specific namespaces now.

[2018-06-04 11:33] Nandulucky commented on #314
you said,
xmlns:Animations="clr-namespace:DASH.Animation;assembly=DASH"
into
xmlns:Animations="clr-namespace:UserAnimation;assembly=DASH"

still not working

[2018-06-04 11:37] Nandulucky commented on #314
And also

'INavigation' does not contain a definition for 'PushPopupAsync' and no extension method 'PushPopupAsync' accepting a first argument of type 'INavigation' could be found (are you missing a using directive or an assembly reference?) (CS1061) (DASH.iOS)

[2018-06-04 15:04] IeuanWalker opened #318 "Popups appear mostly blank, after opening a push notification"
NuGet Version - 1.1.4.158-pre
iOS - 10

When opening the app from a push notification elements within any popup disappears.

[2018-06-04 17:22] luis-barreira commented on #295
After digging for a while in the source code, I found a solution to this:

The plugin initialization in **_App.xaml.cs_** (in the UWP project) must be changed from

[code]
to

[code]

[2018-06-05 09:52] apandaoptaros opened #319 "Left to Right Popup Amination doesnot work"
Hi,
Please find below the code , PositionIn="Left" does not Animate from left to right rather it animates from bottom to Top
 <pages:PopupPage.Animation>
        <animations:ScaleAnimation PositionIn="Left" PositionOut="Right" ScaleIn="1.2" ScaleOut="1.2" DurationIn="700" DurationOut="500" EasingIn="BounceOut" EasingOut="BounceIn" HasBackgroundAnimation="true" />
    </pages:PopupPage.Animation>

[2018-06-05 19:35] JamesDejaegere commented on #257
@rotorgames any progress on this?

[2018-06-06 05:33] DevendraMaran commented on #316
when I tried to update it I am getting a message "Rg.Plugins.Popup is up to date"

[2018-06-06 05:51] Bejasc commented on #262
@rotorgames will there ever be any extension to the plugin to draw the arrow/triangle from a defined position, similar to how an iOS Popover works. If not, are there any suggestions you could offer to achieve the same effect?

![image](https://user-images.githubusercontent.com/12091874/41019313-3e191b6a-699d-11e8-9bf4-0612e6c219da.png)

[2018-06-06 06:28] #319 closed

[2018-06-06 09:02] denmusic1992 opened #320 "Navigation.PushPopupAsync returns nullreferenceexception"
I'm getting an error in a code, that worked fine, until I updated Xamarin.Forms...
the code is:
[code]

where the initialization of TextPopupPage is:

[code]
and constructor:

[code]

So what could be wrong with it?
Xamarin.Forms version is 3.0.0.530893
Rg.Plugins.Popup version is 1.0.4

[2018-06-06 11:59] IeuanWalker commented on #318
Spend the day downgrading to version 1.0.4 and everything seems to be working now.

[2018-06-06 15:59] #313 closed

[2018-06-06 16:00] JimmyPun610 commented on #313
I found out that the background color of the Popup control should not be set.

[2018-06-07 03:03] denmusic1992 commented on #320
Sorry, that was my lame mistake..
Just havent added icons for a button..
Thought that it was because of new .Forms version, but no.

[2018-06-07 03:03] #320 closed

[2018-06-07 06:00] Jeeepz opened #321 "Popup appears in top corner outside of screen"
I'm using Xamarin.Forms v.3.0.0.550146 on Android 8.0 and I use the Popup version 1.1.4.158-pre. But the popup always appears on top left corner half outside of screen.

**This is my popup page**
`<?xml version="1.0" encoding="utf-8" ?>
<pages:PopupPage xmlns="http://xamarin.com/schemas/2014/forms"
         xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
         x:Class="ScanApp.Page.Popup

[2018-06-07 15:45] henrikweimenhog commented on #316
@DevendraMaran did you tick "show pre-release packages" in the add package dialog? or else you cant update to what dansiegel refers to as "preview"

[2018-06-07 19:01] kpespisa commented on #157
I believe I am seeing the same issue. It happens on a variety of devices and OS versions. I'm using 1.1.4.154-pre, and I didn't see this issue prior to the update (previously using 1.0.4)

[code]

[2018-06-08 07:56] Jeeepz commented on #321
The problem was these lines in the main activity.

`if (Build.VERSION.SdkInt >= Android.OS.BuildVersionCodes.Lollipop)
            {
                Window.AddFlags(WindowManagerFlags.LayoutNoLimits);
                Window.AddFlags(WindowManagerFlags.LayoutInScreen);
                Window.DecorView.SetFitsSystemWindows(true);
            }`

[2018-06-08 09:29] riejoanne commented on #250
Same problem here.
TabbedPage's children must be ContentPage. Check PageType of your "itemMenu".

We found a solution as below:
Put a "Blank" ContentPage in TabbedPage,  check TabbedPageIndex on TabbedPage's event "CurrentPageChanged", when your "itemMenu" TabbedPageIndex Clicked, then open a RgPopup.

[2018-06-08 13:36] Mrgove10 commented on #317
On my side I get : ![image](https://user-images.githubusercontent.com/25491408/41161046-bc182a98-6b31-11e8-981d-eb076beb9087.png)

[2018-06-08 16:53] renan-arzola opened #322 "Close the Popup"
how can I close the popup by clicking on a button?

[2018-06-08 21:52] Boltarok commented on #257
@rotorgames any news? I am also waiting for this new version.

[2018-06-10 21:24] Whrothus opened #323 "NuGet Not latest"
Do you mind updating the Nuget Package tot +1.1

[2018-06-11 10:21] Himanshuvc opened #324 "You MUST call Rg.Plugins.Popup.Popup.Init(); prior to using it."
i am using  Rg.Plugins.Popup.Popup.Init(); in xamarin.ios  appdeligate.cs

Rg.Plugins.Popup.Popup.Init();
            global::Xamarin.Forms.Forms.Init();

            LoadApplication(new App());
            return base.FinishedLaunching(app, options);

in android it works fine but when i use it in IOS it throws below
"{System.InvalidOperationException:

You MUST call Rg.Plugins.Popup.Popup.Init();

[2018-06-12 08:49] catnais commented on #292
Hi,
I'm having the same issue and I'm doing the same thing.
The webview opens in a page but not in a popup on iPhone X.
If my popup contains only the webview, my app crashes.
If I add a button or a label with my webview, the popup is opened with the button or the label and nothing else.

Tested on simulators and devices (iPhone 8, iPhone X, iOS 11.4)

[2018-06-12 14:05] marualderete commented on #292
Well, my temporal solution at the time was to replace the lib with a modal, and let the lib for other kind of needs that don't have a webview component.

[2018-06-12 21:13] ParticularEric commented on #294
Got exactly the same. It happens when calling code from ACR.Userdialogs (ShowLoading) even though no code of the Popup Plugin is executed at that time. Cant properly reproduce it, too. Did you find a solution for it yet?

[2018-06-13 01:54] dotnetpete commented on #27
Not sure if this is a good approach, but I created my own FreshNavigationContainer (could also be with the other FreshMVVM Navigation Containers), and modified the PushPage method. Works nicely for me.

public virtual Task PushPage(Xamarin.Forms.Page page, FreshBasePageModel model, bool modal = false, bool animate = true)
        {
            if (modal)
            {
                if (page is P

[2018-06-13 03:28] mahapatraprabhanjan commented on #317
I didn't find the Rg.Plugins.Popup.Droid.Popup.Init().
Popup is not available in Droid namespace.

![image](https://user-images.githubusercontent.com/40223741/41328860-f51700bc-6ee7-11e8-80e9-0b01c1da4487.png)

[2018-06-13 05:34] acaliaro commented on #317
I think you have to install last PRE and delete all bin and obj directories

[2018-06-13 11:37] tahirmehraj opened #325 "Popup should not close on clicking Outside"
I want to popup not to close when clicked on background. Is there an option for this thing ?

[2018-06-13 12:14] Bohirjon commented on #322
If I understood you try this: PopupNavigation.Instance.PopAllAsync(true);

[2018-06-13 12:17] Bohirjon commented on #298
@newdeal30  You mean the background is dark when you push the popupPage ? If so U should set the background color to transparent.

[2018-06-13 18:05] primehalo opened #326 "How to close the top-most popup?"
How do I close the top-most popup? If I call `Navigation.PushPopupAsync(MySecondPopup)` then in that second popup use `Navigation.PopAsync()`, nothing happens. I can use `Navigation.PopAllPopupAsync()` to close all the popups but I only want to close the top-most one.

[2018-06-14 07:42] rotorgames commented on #291
@KaizerT Hi. It can happen because you use Multidex in your project, I think it happens only on Android <= 5.0.2 when multidex is enable. You can get more information [here](https://www.jon-douglas.com/2016/09/23/xamarin-android-multidex-keep/). Also `if (false.Equals(true))` is in the plugin only for the xamarin linker, this code must not be invoked in runtime.

[2018-06-14 07:42] #291 closed

[2018-06-14 07:43] rotorgames commented on #289
@raymondjstone I will try to public a new stable version soon and you will be able to test it.

[2018-06-14 07:50] rotorgames commented on #296
@CarlosAyala you can use for it `PopupPage.BackgroundClicked` event or you can override `PopupPage.OnBackgroundClicked` virtual method.

[2018-06-14 07:50] #296 closed

[2018-06-14 07:53] rotorgames commented on #297
@cvenkat38 You must to implement this behavior yourself. Create a renderer which will inherit `PopupPageRenderer`

[2018-06-14 07:53] #297 closed

[2018-06-14 07:58] rotorgames commented on #300
@veletron2 I have closed this issue if you still have problem please reopen this issue.

[2018-06-14 07:58] #300 closed

[2018-06-14 08:01] #282 closed

[2018-06-14 08:04] rotorgames commented on #302
@pierrebrito Hi. Can you create a simple project which will have this bug that I will be able to test it?

[2018-06-14 08:06] rotorgames commented on #306
@canplay Can you explain more about your problem?

[2018-06-14 08:12] rotorgames commented on #304
@acaliaro Hi your the last example of code is not correct. You should not call `PopAllPopupAsync`. See this doc https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button.

Also you just can do so:

[code]

You don't need to implement if else construction, the plugin will do all itself.

[2018-06-14 08:12] #304 closed

[2018-06-14 08:15] rotorgames commented on #307
@cetso Hi. Try to use the last pre/beta release I think that it has been fixed. Also you can read [this](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Troubleshooting) to avoid main bugs.

[2018-06-14 08:18] rotorgames commented on #122
@cetso Can you give me the stack trace of the exception? I don't understand what happens.

[2018-06-14 08:21] rotorgames commented on #308
@stefan-stanca Please, update this plugin to the last pre/beta version.

[2018-06-14 08:21] #308 closed

[2018-06-14 08:22] #301 closed

[2018-06-14 08:23] rotorgames commented on #309
@denmusic1992 See https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#initialization

[2018-06-14 08:23] #309 closed

[2018-06-14 08:24] rotorgames commented on #310
@pandit9096 Hi. Please create a simple project which will have this issues and give me. Thanks

[2018-06-14 08:27] rotorgames commented on #315
@dblookup Please create a simple project which will have this issues and give me.

[2018-06-14 08:49] rotorgames commented on #295
See https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Troubleshooting#uwp-troubleshooting

[2018-06-14 08:49] #295 closed

[2018-06-14 12:41] rotorgames commented on #262
@Bejasc You can implement it yourself. This plugin only allows to show the page as popup.

[2018-06-14 12:41] #262 closed

[2018-06-14 12:42] rotorgames commented on #318
@IeuanWalker Hi. Can you create a simple project which will have this issue? This bug it interesting. I think that it can be a real problem.

[2018-06-14 12:43] #316 closed

[2018-06-14 12:45] rotorgames commented on #157
@kpespisa Ok I will review it

[2018-06-14 12:47] rotorgames commented on #299
@acaliaro Hi. Does it happen only in PopupPage or there is the same issues in ContentPage?

[2018-06-14 15:39] michaelrbrown commented on #317
Same for me I can work around the iOS (and suppres warning by pragma), but Rg is not found for Droid even with the assemblies referenced.  Any ideas?

![image](https://user-images.githubusercontent.com/3219007/41422731-8daddd5c-6fc7-11e8-8ecc-f0f2cfa9fd00.png)

[2018-06-14 16:51] DevendraMaran commented on #316
@dansiegel @henrikweimenhog You both are right. The plugin is now working. Thanks

[2018-06-14 21:27] IeuanWalker commented on #318
I'll to make one but cant make any promises sorry :/

[2018-06-14 21:28] IeuanWalker commented on #318
@rotorgames I'll to make one but cant make any promises sorry :/

[2018-06-17 03:38] balajikarthiq opened #327 "How to use it in native xamarin android"
Anybody used this plugin in xamarin native android. I tried to use it in native android, but it differs than native android.

[2018-06-17 07:41] tahirmehraj commented on #325
Closing this as I found the solution myself

[2018-06-17 07:41] #325 closed

[2018-06-20 07:46] pfaucon opened #328 "UWP: Touches not being passed through to subviews properly in popups (gesture recognizer issue?)"
We have a UI built on action buttons (NControl) and a few local controls where we fake buttons using the touch events.  These seem to work fine on iOS but on UWP these controls seem to be broken.  Standard controls seem to work fine, just our custom controls have issues, and I suspect it is the touch events fighting.

Is there an easy way to disable the gesture recognizers on the popup page?

[2018-06-21 12:02] masiri201 opened #329 "Page await for the popup to pop."
Is there a way to make the parent page await for the pop of the popup like a regular DisplayAlert popup?

I want to do a custom login success popup, it shows fine but the code of the page keeps running instead of awaiting for the popup to close. Is there a easy and clean way to do this without a messaging center or something like that?

[2018-06-21 15:17] pfaucon commented on #329
you could make a task completion source in the child view and await it from the parent.  essentially create the view, in the child constructor generate the task completion source, then whenever you call a dismiss (or in the ondisappearing), set the completion source result.

[2018-06-22 07:18] pfaucon commented on #326
navigation.popasync probably uses the XF normal pop.  You need to use the one where you pass the cardpage (RemovePopupPageAsync).  I'm using the code below so that a pop-up can close itself (or rather a generic content view hosted inside of an adapter page can close itself)

protected void DismissCardPage()
		{
			Device.BeginInvokeOnMainThread(() =>
		  {
			  Navigation.RemovePopupPageAsync(GetP

[2018-06-22 19:00] MDemetrio commented on #311
Hi, i'm also facing this issue, here's my stacktrace:
[code]

[2018-06-24 09:45] vincentkola opened #330 "PushPopupAsync method NULL reference error in VS 2017"
Hi Team,
I am new to Xamarin. I want to show some details in a popup. So while googling I came to know that
Rg.Plugins.Popup is the correct library to achive this.  But when I am trying to call my pop page with PushPopupAsync () getting below error. Kindly help me to resolve this issue

**Environment:** Windows 7, Visual Studio 2017

**Code:**
Popuppage.xaml

<pages:PopupPage xmlns="http://xamarin

[2018-06-24 10:57] dblookup commented on #315
@rotorgames  the problem was not in the popup. The problem was that I was tried initial a static class through the notification pendent. I do not know why but the exception occurred at the initialization line of the popup but the popup is not problem. You can close this issues. Thank you so much for your assistance!

[2018-06-24 10:57] #315 closed

[2018-06-25 07:50] Goncharuk-Nikita opened #331 "How to init plugin?"
I saw a demo project, and in the MainActivity project on Android you wrote this line to initialize the plugin:
`Rg.Plugins.Popup.Popup.Init(this, bundle);`

but I can not use this:
![rg](https://user-images.githubusercontent.com/30652592/41837177-6fd8eabe-7865-11e8-897b-9e3458a19218.png)

**Version 1.0.4**

[2018-06-25 09:11] #331 closed

[2018-06-25 09:46] Goncharuk-Nikita opened #332 "Add this to troubleshooting"
If you get this error below, when Init app, or your splash screen infinity loading and nothing happens, then delete **obj** and **bin** folders from your projects/

System.TypeLoadException: Could not resolve type with token 01000066 (from typeref, class/assembly Rg.Plugins.Popup.Popup, Rg.Plugins.Popup.Droid, Version=1.1.4.145, Culture=neutral, PublicKeyToken=null)

[2018-06-25 19:37] fedec93 commented on #311
Same thing happening on iOS 11.x

When you open a popup, click on an input field, the keyboard opens. If you then close the popup, the app crashes

[2018-06-26 15:57] seanyda commented on #155
Hi @rotorgames,

Having a similar issue here I think. I have a PopupPage with the settings HasSystemPadding = false, but when keyboard appears it breaks my layout and doesn't respect the Grid height. Do you know any other workarounds?

Cheers!

[2018-06-26 21:04] yatespeter100 commented on #324
Just put Rg.Plugins.Popup.Popup.Init(); in your AppDelegate file for iOS after the Xamarin.Forms init

[2018-06-27 12:07] seanyda commented on #155
This issue seems to be sorted in 1.1.4.158-pre2. Cheers!

[2018-06-28 05:43] Himanshuvc commented on #324
Already Set it but got the problem with same error Himanshu Trivedi Sr. Software Engineer   Direct: +91-7940031384 US: +1-201-203-9313 (TOLL FREE) Email: himanshu.trivedi@viitorcloud.in     Visit our website : www.ViitorCloud.com Please consider the environment before printing this email ---- On Wed, 27 Jun 2018 02:34:40 +0530 deveng <notifications@github.com> wrote ---- Just put Rg.Plugins.Popup.

[2018-06-28 09:15] UnreachableCode opened #333 "PushPopupPageAsync is very slow in showing a popup page, even though I use it multiple times"
I am using both of the stable Packages, Rg.Plugins.Popup 1.0.4 and Prism.Plugin.Popups.Unity 1.1.0. When I get a popup with a very simple content to show on screen using PushPopupPageAsync, it only slides in the background. The content itself experiences a delay when loading. Does anyone else experience this issue? Has it been fixed in any pre-release?

[2018-06-28 15:10] dfarrNTST opened #334 "[iOS] Showing camera from a PopupPage does not allow returning to PopupPage"
We have a requirement to take a picture from a PopupPage...on Android this works as needed where after taking the picture we are returned to the PopupPage.  On iOS, this does not happen...it returns to the owner/parent of the PopupPage.  How do we resolve this so it works the same as it does on Android?

I have attached a sample solution that demonstrates this discrepancy.

Thanks!

[Popup Camera

[2018-06-28 17:47] rynzlery commented on #333
Same problem with PopupNavigation.PushAsync. Popup and his content are very slow (about 100-200 frames skipped on main thread) on any click/tapped event.

[2018-06-29 06:45] steffenh13 commented on #160
We are also currently encountering this inconsistent behaviour of the popups. On iOS the Keyboard is not dismissed, on Android it is dismissed on open and on close.
As we use the popup also as a way to display in-app notifications we would like to have the possibility to disable the keyboard-closing using a property on the PopupPage.

[2018-06-29 11:02] IeuanWalker commented on #220
@rotorgames Hi, do we still need to Init(). Im current using v1.0.4 and everything seem to be working fine without it. And if i try to add `Rg.Plugins.Popup.Popup.Init(this, bundle);` im getting the same error as described above,

We have released the app to the store (play and apple store) and we are getting the rare error of `System.InvalidOperationException: Sequence contains no elements`

Here

[2018-06-29 20:10] Daxton47 opened #335 "Popup v1.1.4.158 -pre System.TypeLoadException"
After being unable to properly call Rg.Plugs.Popup.Popup.Forms.Init with v1.1.4; I installed the pre-release v1.1.4.158 -pre. The namespace is now working fine, but before the the app loads, it throws a System.TypeLoadException:

System.TypeLoadException: Could not resolve type with token 01000064 (from typeref, class/assembly Rg.Plugins.Popup.Popup, Rg.Plugins.Popup.Droid, Version=1.1.4.158, Cult

[2018-07-01 21:40] Kizari opened #336 "[Xamarin Forms] Popups stop opening after some time"
Just reaching out in case anyone has an idea of why this is happening, or has experienced this before.

The issue quite simply is that after a while of app usage, sometimes the popups will stop working.

I have multiple controls that will push a popup as a prompt. All of these buttons are still responsive, but the popups no longer appear once the bug occurs. There is nothing that will make them st

[2018-07-02 08:52] EeKay commented on #131
Just for completeness sake: I got this message because I didn't call the Init function (see https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started for the details) in the Main Activity's OnCreate.

[2018-07-03 07:49] drznathou opened #337 "button click fires wrong event handler"
button click fires OnBackgroundClicked instead of event handler when Keyboard is shown

Plateform = IOS
Xamarin.IOS = 11.8.0.20
Xamarin.Forms = 2.5.0.280555

`<StackLayout Orientation="Horizontal" HorizontalOptions="Center">
<Label x:Name="SearchLabel" Text="blablabla" TextColor="#FF7400" FontSize="Medium" HorizontalTextAlignment="Center" VerticalTextAlignment="Center"  HorizontalOptions="LayoutOp

[2018-07-03 11:06] ParticularEric commented on #307
Hi @rotorgames
The bug is still there, sadly, even on the newest prerelease. It seems to be an issue with the ACR.Userdialogs Plugin, as it always occures when showing a LoadingScreen from them - though there they told me, they cant fix it on their side. Here is an example:

System.Exception: Failed to marshal the Objective-C object 0x1732ae00 (type: Rg_Plugins_Popup_IOS_Platform_PopupWindow). Cou

[2018-07-03 15:00] FoggyFinder opened #338 "Getting started page is out of date"
[Getting-started](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started) page is a bit out of date.

For example, the line below doesn't compile

[code]

That's obvious how to replace it, but I guess better to update this information.

[2018-07-03 19:59] ncarandini commented on #338
Yes, the actual one is `Rg.Plugins.Popup.IOS.Popup.Init();` put the green squiggle says that `Popup.Init()` is deprecated and iOS initialization is not required in iOS project.

[2018-07-03 21:41] FoggyFinder commented on #338
Thank you for point it out.

[2018-07-04 11:00] veletron2 opened #339 "Listview Wont Scroll when inside PopupPage"
I have the same Listview code twice, once in a standard ContentPage and then also in a PopupPage using Rg.Plugins.Popup.

My Listview has 200-odd rows, it displays just fine in the ContentPage and allows scrolling through the list, but the same code on the PopupPage displays the rows that will fit, but does not allow me to scroll the page to see the remaining rows.

I am using V1.1.4.158pre

My Xa

[2018-07-04 12:34] veletron2 commented on #339
Whoops, my bad... Need to set InputTransparent="False" in the header (I re used the Popup from elsewhere and that version had only text, no controls,

[2018-07-04 12:34] #339 closed

[2018-07-04 15:55] smato13 opened #340 "[EMERGENCY] Popup Closed when popup clicked (And not the background)"
Hi ! I have a problem because my popup is closing itself when i tap on the popup and not the background (But if i click on the background it works too). So i wanted to know if its normal or its a bug please

[2018-07-05 09:05] smato13 commented on #340
Find a solution using AddTapGestures because you background clicked correspond to all of the Page

[2018-07-05 09:05] #340 closed

[2018-07-05 14:11] EmilAlipiev commented on #338
please close this ticket. you can always provide a PR if you want to add more information into the documentation but just keeping an issue  as open makes other peoples live harder when others have real issues. Owner of the project has, I am sure regular work to do and not providing free service for you people. thats why it is open source and if you found something missing give a PR please. thanks.

[2018-07-05 14:14] EmilAlipiev commented on #337
this has nothing to do with this library. it is your coding mistake. either you didnt handle InputTransparacency correctly or something else. from your issue description nothing is understandable.

[2018-07-05 14:16] EmilAlipiev commented on #332
this has nothing to do with this library. this is general xamarin forms problem with nuget caching. such type of errors occurs also with other nuget packages in xamarin forms and non-beginner should already know that he should always clearn bin and obj files and rebuild solution in such cases. if you feel, it is related to this library, please provide a PR instead of expecting owner to do this.

[2018-07-05 14:21] EmilAlipiev commented on #330
you have an error on your popuppage. try to raise and empty popup to see if it is working. and check every item on your popup by try and fail method to see which one is causing this problem.

[2018-07-05 14:22] EmilAlipiev commented on #329
yes there is an issue for that. search for how to return value from popup page. Owner of the library explains it very well with some code there.

[2018-07-05 15:13] FoggyFinder commented on #338
@EmilAlipiev thank you for your response.

I don't see any reason for closing the issue now. As it was saying:

---

Regarding making PR with edit of the page. By default only collaborators have permission to edit wiki .
[About GitHub Wikis](https://help.github.com/articles/about-github-wikis/)

[2018-07-05 15:14] EmilAlipiev opened #341 "Can we use this library as userdialog /activity indicator?"
Hi @rotorgames

I was wondering what do you think to use this library as a userdialog or activity indicator? I recently created a simple activity indicator popup using this library and works fine for me. It is even better than acr.userdialogs package because it doesnt run if function or code is asny-awaited. but using rg popup, it works in any case. I simply
 raise popup with activity indicator an

[2018-07-06 09:33] #332 closed

[2018-07-07 06:06] sahadevgupta opened #342 "AutoSuggestion box issue on popup page for iOS"
Reference of the problem:
https://github.com/dotMorten/XamarinFormsControls/issues/6

[2018-07-10 09:22] pfaucon commented on #328
That makes sense, I ended up rewriting the controls to use their own gesture recognizers and it seems to be fine now. It may have been an input transparency problem on UWP.

[2018-07-10 09:22] #328 closed

[2018-07-10 19:45] yatespeter100 commented on #122
@rotorgames  Using latest, 1.1.4.158-pre. Here is the stack trace I see in AppCenter but I am unable to repro this for now. But I do see users encountering it.

Xamarin Exception Stack:
System.NullReferenceException: Object reference not set to an instance of an object
  at Rg.Plugins.Popup.IOS.Renderers.PopupPageRenderer.ViewDidLayoutSubviews () <0x101db4e54 + 0x0005c> in <c2bf6f1e86b84161baab0df

[2018-07-12 15:28] veletron2 opened #343 "PopupNavigation.Instance.PopAsync() Closes all popups in the stack"
Hi

I launch 2 popups, one from the other. 1st is a ListView, second shows detail on a listview item.  Both are launched using:

await PopupNavigation.Instance.PushAsync(PopupPage)

On my second (detail) popup, I have a close button. I call await  PopupNavigation.Instance.PopAsync(); on this button.

I was expecting the foremost (detail) popup to disappear leaving the listview popup still showing,

[2018-07-12 15:33] lassana commented on #307
I also observe it with `1.1.4.158-pre`:

[code]

[2018-07-12 18:24] nebula2 commented on #338
I am having this issue too. For me it is not obvious how to fix this. Can someone tell me Please?

[2018-07-12 20:40] FoggyFinder commented on #338
@nebula2  I suggest you to use new version of package (it provides more useful exception message and so on) instead.

I don't remember exactly but something like this

[code]

[2018-07-13 12:18] nebula2 commented on #338
@FoggyFinder Thank you. Updating to prerelease indeed solved this issue for me :+1:

[2018-07-16 05:52] rotorgames commented on #307
I also have the same issue in my projects. I'm trying to fix it now.

[2018-07-16 06:37] rotorgames commented on #307
I just have fixed it. You can see the solution in b8deca7. You couldn't reproduce this issues stably because the exception is thrown only when the last popup was hidden and GC.Collect() was invoked after it.

[2018-07-16 08:07] rotorgames commented on #324
@Himanshuvc You can't use `Rg.Plugins.Popup.Services.PopupNavigation` if you have not initialized this plugin. You must invoke `Init` method before to use `PopupNavigation` in your code.

[2018-07-16 08:07] #324 closed

[2018-07-16 10:46] rotorgames commented on #341
I think that it is the good solution because the popup page always is on top before other pages.

[2018-07-16 16:09] EmilAlipiev commented on #341
how do you mean by abstraction methods? you mean using the interfaces, I should go the native level?

[2018-07-17 03:59] rotorgames commented on #341
@EmilAlipiev I think you should create ShowLoading and HideLoading and create, push and pop a popup page in them.

[2018-07-17 13:08] matteopiccioni opened #344 "PopupPage is still here, is only invisible"
Hello I have the following problem with latest version (1.1.4.168)

First of all I use a really simple LoadingPopupPage (PopupPage) that I show when I change page from the side menu of my app.
I use this LoadingPage only for Android, I dont need for iOS (that runs more smoothly)

On ItemSelected on side list I simple do:

[code]
(I try PopPopupAsync too, and I try to call the async one, but the pr

[2018-07-17 15:58] #341 closed

[2018-07-18 00:05] LeoJHarris opened #345 "Popup Page's OnBackButtonPressed not being called when tapping back button."
Calling PopPopupAsync() is closing my app when in fact it should be going back to the previous page that called the pushpopupasync... seems like a bug from the new version.

Page A (Root page) calls:

`Navigation.PushPopupAsync(new ConfigPage())`

Then having overridden the back button on the ConfigPage I pop the popup:

 `
protected override bool OnBackButtonPressed()
        {
            Naviga

[2018-07-19 06:59] apy534 commented on #337
Yes, I'm also facing the same issue when we have an entry in the popup and the keyboard is showing.
The keyboard gets dismissed but the event won't trigger.
If in case the keyboard is not showing, it is working fine.

[2018-07-20 18:29] cetso commented on #157
@kpespisa I get exactly the same exception on Samsung devices. Google pixel and iOS devices works fine.

I get the exception when I call:
PopupNavigation.Instance.PopAsync();

plugin version: 1.1.4.168
android version: 7.0
device: samsung galaxy s6

[2018-07-22 13:24] rubio81 opened #346 "Xaml not working with just a picker but working with List + Picker"
I have a weird behaviour that probably I am missing something but I cannot see what is wrong.

If I uncomment the ListView on the Xaml code (see below), PopUp is showing and working as expected. If I run the code without the ListView (as in the code below where is commented), PopUp is not showing at all.

I have cleaned the solution, deleted obj/bin folders, etc.

I am using Visual Studio for Mac.

[2018-07-22 13:38] rubio81 commented on #346
The problem is that the button is referencing the list and without the control it will get an error.

Close this as there is no issue at all.

Sorry.

[2018-07-22 13:38] #346 closed

[2018-07-24 18:05] jcmanke opened #347 "Version 1.1.4 is built with Xamarin.Forms 3.0 but nuspec lists dependency on 2.5.0"
May cause issues with anyone still using Xamarin.Forms 2.5.0 or 2.5.1 who takes the latest update.

[2018-07-24 19:59] pinoelefante commented on #345
It seems the right behavior. You are popping the popup and then asking to go back. You should return true instead of base. OnBackButtonPressed

[2018-07-25 14:39] balaameex commented on #292
I also got the crash in iPhone X,

void _WebThreadLock(), 0x138360000: Tried to obtain the web lock from a thread other than the main thread or the web thread. This may be a result of calling to UIKit from a secondary thread. Crashing now...

Please let me know if any fix for this.

[2018-07-25 15:12] balaameex commented on #292
I found the solution,

If you run in main thread will solve the issue as below.

Device.BeginInvokeOnMainThread(async () =>
{
        await Navigation.PushPopupAsync(page, false);
});

Thanks

[2018-07-25 16:02] pablogupi opened #348 "An exception occurred while rendering the control"
Hello,
I create new project with Prism Quickstart template and I can't preview using Visual Studio Community for Mac.
This is a error:
![error_zamarin](https://user-images.githubusercontent.com/634243/43212220-acf75a58-9033-11e8-96a5-f7c6a7389f68.png)
It doesn't work on Android as on iOS. The plugin is correctly initialized. This code is in AppDelegate.cs:
[code]

and this code is in MainActivity.

[2018-07-25 20:43] ClintTCG commented on #334
Running into this same issue.  @dfarrNTST Would be curious to know if you found anything!

[2018-07-25 21:19] ClintTCG commented on #334
@dfarrNTST
I found a fix.  This looks like it might more be an issue with the image chooser library you're using. When creating your image picker popup, make sure that you set the `ModalPresentationStyle` to `UIModalPresentationStyle.OverCurrentContext;`.

I'm not super familiar with MediaPlugin, but it looks like there's a way to pass in options so that you can set the modal presentation style to

[2018-07-26 00:47] LeoJHarris commented on #345
Sorry your 100% correct regarding the base method being invoked.. That being said I remove it to look like this:

`  protected override bool OnBackButtonPressed()
        {
            Navigation.PopPopupAsync();
            return true;
        }`

Simple enough, however still closing the app.

I put a break point in OnBackButtonPressed() of the root page of the app that is calling Navigation.Pus

[2018-07-26 07:50] pinoelefante commented on #345
are you using Rg.Plugins.Popup.Contracts.IPopupNavigation?

`Rg.Plugins.Popup.Contracts.IPopupNavigation popupNavigation = PopupNavigation.Instance;
popupNavigation.PopAsync(animate);`

[2018-07-26 11:07] Dabbel commented on #335
Gettings the same error with 1.1.4.168

[2018-07-26 13:34] dfarrNTST commented on #334
@ClintTCG This fixed it for us!  Thank you!!

[2018-07-26 13:37] #334 closed

[2018-07-27 03:35] LeoJHarris commented on #345
Just did and still closing the app

using:

` protected override bool OnBackButtonPressed()
        {
            Device.BeginInvokeOnMainThread(async () =>
            {
                Rg.Plugins.Popup.Contracts.IPopupNavigation popupNavigation = PopupNavigation.Instance; await popupNavigation.PopAsync(true);
            });

            return true;
        }`

[2018-07-27 04:03] marcelinhovt opened #349 "Popup showing incomplete."
My MainPage is a MasterDetailPage.

`Detail = new NavigationPage(new HomePage()) )`

When start the HomePage, I have some Api Services that i call on Void Functions. So, I putted ` await PopupNavigation.PushAsync(popupPage);` when starts the function and remove when finish, like in the others pages. The problem here is that the LoadingPage just open the Frame, but the ActivityIndicator and Label d

[2018-07-27 19:35] Fepis commented on #310
Same here...
This error appear when app create a popup, then in popup click backbutton then click again to create very quick...

[2018-07-27 19:44] Fepis commented on #310
Is there any way to debug this plugin? If yes how can i debug? pls

[2018-07-28 14:35] rotorgames commented on #349
@marcelinhovt Can you create a simple project which will reproduce this problem?

[2018-07-28 14:36] rotorgames commented on #310
@pandit9096 @Fepis Did you see https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started ?

[2018-07-28 14:38] rotorgames commented on #345
@LeoJHarris See https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button

[2018-07-28 14:38] #345 closed

[2018-07-28 14:40] rotorgames commented on #347
@jcmanke Do you have specific problem or it is only your thoughts? I have tested 1.1.4 with 2.5 and 3.0 the version works fine.

[2018-07-28 14:50] Fepis commented on #310
Yeah, i initialize it, this crash dont appear frequentily...

[2018-07-28 14:58] Fepis commented on #310
I will read again... tks

[2018-07-28 15:07] rotorgames commented on #335
@Dabbel Can you give me a stack trace and create a simple project which has the same issue?

[2018-07-29 11:39] CygnusBill opened #350 "Null reference exception while closing a popup"
I'm seeing this with Xamarin.Forms version 3.1.0.637273.

System.NullReferenceException: Object reference not set to an instance of an object
  at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos+<RemoveAsync>d__10.MoveNext () [0x000f8] in <a0b456689a44455381d8760ee8c0e472>:0

My source where the exception is occurring is:

await PopupNavigation.Instance.PopAsync(false);

[2018-07-29 11:42] CygnusBill commented on #350
Another note: the popup is still visible after the exception occurs

[2018-07-30 05:58] Dabbel commented on #335
@rotorgames It looks like that this is a internal bug in Xamarin or MSBuild. After i restarted Visual Studio several times and deleted the local nuget cache everything works fine.

[2018-07-30 12:39] AlessandroDelSole opened #351 "MoveAnimation from a specific location"
I have tried the MoveAnimation object to get a left-to-right popup entrance with navigation, and it works.
However, the popup enters from the left side of the screen, but if you use the PopupPage to build a modal dialog, it would be preferable to have it enter from the left of the modal itself (which I get using Margin), not the side of the screen.

Is it possible to achieve this? Thanks!

[2018-07-31 20:00] LeoJHarris commented on #343
I was having the same problem see: https://github.com/rotorgames/Rg.Plugins.Popup/issues/345

[2018-08-08 10:26] Omarkth opened #352 "Popup flickers when trying to Focus an entry by code on iOS 11 and above."
Place a button on your page with the following click handler, and run the app.
[code]
When you tap the button, the popup will appear normally, now when you tap the "Focus" button inside the popup to focus the entry, the popup will flickers before the entry is actually focused and the keyboard is shown, check the GIF below.
![rgpopup](https://user-images.githubusercontent.com/822615/43831481-f51087

[2018-08-09 13:56] JaeWangL opened #353 "[Error] System.ObjectDisposedException: Cannot access a disposed object."
When I call 'PopupNavigation.Instance.PopAllAsync'

**System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer'.**

Above error caused

I tested several times and found
**If I call close when scrolled up keyboard, error occured**
and in usual situation, no problem

My current version is 1.1.4.168

[2018-08-10 10:08] swetanandha opened #354 "Popup Close Automatically when I open camera or gallery in iOs"
I need set image on popup. When click and move on gallery the popup closes automatically.

[2018-08-14 05:42] anthonycklim opened #355 "Crashes on iOS when showing popup"
iOS app crashes with the following exception. Using version 1.1.4.168 with Xamarin.Forms 2.5.0.280555

Foundation.MonoTouchException: Objective-C exception thrown.  Name: NSInvalidArgumentException Reason: Application tried to present modally an active controller <RgPopupPlatformRenderer: 0x1202e1a90>.
Native stack trace:
	0   CoreFoundation                      0x0000000183e22da4 <redacted> + 252

[2018-08-15 07:17] denmusic1992 opened #356 "Issue with pop popup pages on back button"
Hello!

When I click hardware back button with opened popup page, the popup page closed and the contentpage closed too. But I need to close only popuppage firstly. What should i do?

I've updated the Nuget package and did all that was written in [here](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Migration-from-v1.0.x-to-v1.1.x) and [here](https://github.com/rotorgames/Rg.Plugins.Popup/wiki

[2018-08-15 07:36] denmusic1992 commented on #356
@rotorgames Ok, that worked, thank you!
And what about if i don't want to close popup on hardware back button press?

[2018-08-15 08:15] denmusic1992 commented on #356
@rotorgames Sorry, lame question, already found an answer :)

[2018-08-15 08:15] #356 closed

[2018-08-15 08:25] acsadam0404 opened #357 "How to remove modality curtain"
The popup automatically modifies the background and add a black modality curtain over it. How to disable this functionality?

[2018-08-15 09:41] ehabmsaad opened #358 "how to keep track of opened popups?"
how to keep track of opened popups as the stack property of the navigation object is always 0 even if there are a lot of popups are opened.

[2018-08-16 11:51] paul-charlton commented on #336
I'm also seeing this behaviour, and again it seems random.

Is there anything in the Popup namespace I can investigate to see why it's not showing?

[2018-08-17 03:16] JaeWangL commented on #354
I have same trouble

[2018-08-22 05:59] wpanduka opened #359 "Issue with await Navigator.PushPopupAsync"
in my project i use dependency injection and i use as below
[code]
but it gives an error in navigating method of PushPopupAsync, help will be highly appreciated , thanks

[2018-08-23 07:50] pfaucon commented on #359
maybe you can provide more information? What is ItemNotePopup (do you have the declaration for it?).  Also I'm using PopupNavigation.Instance.PushAsync, perhaps you could try that instead?

[2018-08-23 07:53] wpanduka commented on #359
Hi, Christophe , Thank you so much for the support i have got it solved , because i have to go through the vewmodel of popuppage and ( not passing parameters , so for example as below

[code]

[2018-08-23 08:01] pfaucon commented on #359
That's awesome! Maybe you can close the issue then?

[2018-08-23 08:01] #359 closed

[2018-08-25 20:21] VladislavAntonyuk opened #360 "MacOS and WPF support"

[2018-08-27 19:29] eman1986 opened #362 "small bug with example code"
I'm following the [example](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage) and I get the following error:

[2018-08-27 20:29] eman1986 commented on #362
I messed up, its working now

[2018-08-27 20:29] #362 closed

[2018-08-29 08:45] JKennedy24 commented on #157
I am getting this error with latest version.

My popup contains an Editor control which would be focused at time of closing popup.

Which leads me to believe it must be caused by something around this line:

https://github.com/rotorgames/Rg.Plugins.Popup/blob/cf657634fe6cf50beb2a3c40c2939b869a89c647/src/Rg.Plugins.Popup.Droid/Renderers/PopupPageRenderer.cs#L144

[2018-08-29 13:58] JKennedy24 commented on #157
as suggested by @Szymaniuk this is a temp fix for the issue:

[code]

[2018-08-29 15:13] eman1986 commented on #257
I'm using it on NetStandard 2 just fine

[2018-08-29 15:38] eman1986 opened #363 "Feature Request: Ability to swipe to close popup"
It would be great if there was a way to swipe the modal away.

[2018-08-31 08:32] JKennedy24 commented on #311
looks like same issue as https://github.com/rotorgames/Rg.Plugins.Popup/issues/157

[2018-08-31 12:15] Deba22 opened #364 "App crashes on Android 7.0 Moto G4 and LGE LG-H872 device"
I have created an app.I have used the Rg.Plugins.Popup plugin from nuget package manager.When I try to open the popup it crashes on my Moto G4 and LGE LG-H872 Android device.I am opening the popup using the follo. code
[code]
After opening the popup it just gets stuck and crashes.I am not able to find the reason of the crash.It seems to be working on other versions of Android OS.

Details:
Rg.Plug

[2018-09-03 05:07] Deba22 commented on #364
I Updated the Rg.Plugins.Popup plugin from Nuget Manager to latest stable version 1.1.4.168.The debug version of my app seems to be working on Android and iOS devices.But the release version of the app crashes on Android devices.
Please help me resolve this issue

[2018-09-03 17:42] gabrielbunselmeyer opened #365 "Closing pop-up while BackgroundInputTransparent is set to true"
This isn't exactly a bug, more of a question as to how these features work.

I need the user to be able to click on elements on the background of the popup (which can be done with BackgroundInputTransparent just fine). However, I also need for the popup to close when an element is clicked.

Because BackgroundInputTransparent ignores clicks on the pop-up background and just passes them to whichever

[2018-09-04 06:15] taublast commented on #364
Have you added the nuget to every native project, and not only to shared forms project? Release crashes usually when you have issues with linking dependencies that are stripped from release and you might be crashing due to wrong thread for animated stuff: try move some code to:

            Device.BeginInvokeOnMainThread(() =>
            {
                // Update the UI here
                //

[2018-09-04 06:25] chenxx08 opened #366 "NullReferenceException"
`System.NullReferenceException: Object reference not set to an instance of an object
  at Rg.Plugins.Popup.IOS.Platform.PopupPlatformRenderer.ViewDidLayoutSubviews () [0x00006] in C:\projects\rg-plugins-popup\src\Rg.Plugins.Popup.IOS\Platform\PopupPlatformRenderer.cs:82
  at (wrapper managed-to-native) UIKit.UIApplication.UIApplicationMain(int,string[],intptr,intptr)
  at UIKit.UIApplication.Main

[2018-09-04 06:27] taublast commented on #364
Also you might want to disable popup and page transitions animations on lower android versions, what i do usually.

[2018-09-04 06:29] Deba22 commented on #364
OK.Yes it has been added to my PCL, Droid and iOS project.I will try pushing the modal on main thread.
How do I disable page and popup transitions?

[2018-09-05 05:31] Deba22 commented on #364
I was able to get it working.I created a new project from scratch and updated the Rg.Plugins.Popup to 1.1.4.168.Instead of using **pages:PopupPage**  I used **popup:PopupPage** in my XAML.
This is how my XAML looks:
[code]

Now it seems to working in Release mode too.Thank you for the help

[2018-09-05 10:08] hainagu opened #367 "Popup page is shrinking in iOS"
Popup page is working fine in Android but it is shrinking in iOS when we try to move upwards or downwards .

[2018-09-06 21:28] eramirez3 commented on #350
Hi Have the same Issue, I got this message "there is not page in Popupstack"  after
await PopupNavigation.Instance.PopAsync();

[2018-09-07 20:29] healthendeavorsbp commented on #87
This problem still exists. Can reproduce consistently on android emulator api 27 with pixel.
Adding the delay resolved the problem, but was very hard to track down.

[2018-09-10 21:28] PeteVasi opened #368 "[iOS] entry.Focus() causes background threaded updates"
Saw this in our app, and modified the Demo project to reproduce it in the Simulator.

If you edit `UserAnimationPage.xaml` to include:
[code]
and then add to the .cs:
[code]

Repeatedly opening and closing that popup will eventually lead you to the following error.  It can take 5+ open/close cycles to see it, but it'll show up eventually.

[code]

[2018-09-10 22:37] Abraxelx opened #369 "Starting On Location of Floating Action Button"
Hello I'm so sorry for disturbing. I have an example, i want to do same animation. I was already put my FAB but cannot set the setting of Animation to Popup. I will left .gif here please anybody can help me? Thats so important for me...
 I didnt see anything in documentation about starting popup from an object's location (x,y). I want to know and getting some help if possible. Thanks.

[gifImage](

[2018-09-11 19:12] ClintTCG commented on #311
Same thing happening for us on Samsung Android devices.

We were able to get around this by wrapping all of our calls to PopupNavigation.Instance in `Device.BeginInvokeOnMainThread()` calls.

I suspect that a "real" fix might involve something with `PopupNavigationImpl.cs` and wrapping the guts of `AddAsync`, `RemoveAsync`, and `RemovePopupFromStack` with a `Device.BeginInvokeOnMainThread()` check

[2018-09-15 00:31] marcelocferdeveloper opened #370 "Close Button (image) is behind frame."
I copy and past your xaml, but my icon X to close the popup is not in front of the White frame...

[2018-09-18 15:19] solomonfried commented on #116
This is just what I was looking for.
With the new tuple support in c#, I can easily return multiple objects without having to create a new class.
In my popup, I am accepting a string for a prompt which is stored in a UserText property. I also have an Accept and Cancel button.
The Accept button assigns 'true' to an Accepted property.
Then your OnDisappearing method becomes.

[code]

My calling code

[2018-09-21 11:44] sroyvs commented on #353
I'm running into the same problem, were you able to bypass this issue?

[2018-09-21 16:52] JaeWangL commented on #353
@sroyvs No, I didn't. But, older stable version has any problem.
Use 1.0.4 version instead

[2018-09-21 22:17] EmilAlipiev commented on #350
even though i am seeing this message for `Rg.Plugins.Popup.Services.PopupNavigation.Instance.PopAllAsync();` which is not supposed to throw it.
@rotorgames should we also check if any popup in the stack before using PopAllAsync? when I look at the source code PopAllAsync doesnt throw this exception it seems.

[2018-09-21 22:56] amirvenus commented on #360
Is there any updates on this?

[2018-09-22 03:39] VladislavAntonyuk commented on #360
Take a look on pull requests

[2018-09-22 19:37] rhedgpeth commented on #354
Yea, same is happening to me when I load the camera view. This is a deal breaker for using this control.

[2018-09-23 00:51] zukolinux commented on #324
add in MainActivity
 Rg.Plugins.Popup.Popup.Init(this, bundle);
add in AppDelegate
Rg.Plugins.Popup.Popup.Init ();

[2018-09-23 01:11] eramirez3 commented on #350
But why this error just happens in some devices, I only can reproduce this error in a Samsung Galaxy with Android 7.
But when it happens the Popup it's still visible, so the stack can not be empty.
So what's going on?

[2018-09-25 11:13] FabriGinseng commented on #292
thank you @balaameex

[2018-09-27 13:57] michelzsiqueira commented on #370
I have the same problem.

[2018-09-27 13:58] michelzsiqueira opened #371 "After upgrade Xamarin Forms 3.3.0 gave a bug"
After upgrading xamarin forms to version 3.3.0 the Rg.Plugins.Popup package stopped working.

[2018-09-30 09:00] PaoloLeva commented on #370
Same screenshot for Android:
![screenshot_1538298003](https://user-images.githubusercontent.com/11208831/46255671-00adc600-c4a0-11e8-93d1-d0cfc7fea020.png)

[2018-10-01 17:20] Antmurph commented on #357
If I understand you correctly that can be changed by simply changing the background color in the popups constructor such as this.

[code]

[2018-10-03 08:35] chrisfoulds commented on #370
I see it, but it's behind - some kind of behavioural change in xamarin forms

[2018-10-03 08:44] chrisfoulds commented on #370
Fixed it with advice from here , it's a Xamarin forms bug - for now I have just turned the shadow off on the frame view. https://github.com/xamarin/Xamarin.Forms/issues/1508

[2018-10-03 18:15] tlhintoq commented on #371
You might consider linking that report to Xamarin while 3.3. is still pre-release.  They are more likely to look into it before it is finalized as stable..  They do have a responsibility to not break pre-existing working code.

[2018-10-04 20:07] michelzsiqueira commented on #371
right

[2018-10-08 05:48] Onkar25 commented on #354
Hello Team ,

Any update related the above issue I am also facing similar issue .
Or else any workaround to solve the above problem.
Let me know

[2018-10-08 11:16] AmitManchanda opened #372 "Exception No constructor found for Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer"
I am getting this issue on production for Android device with OS version **Android 7.1.1**

Stack Trace:

Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
  --- End of managed Java.Lang.Error stack trace ---
java.lang.Error: Java callstack:
at md5b5cbf9a5f989abac95309328170a059b.PopupPageRenderer.n_onWindowVisibilityChanged(Native Method)
at md5b5cbf9a5f989abac95309328170a059b.Popu

[2018-10-08 22:43] LuisDev99 commented on #364
@Deba22  i fix the problem by just putting Rg.Plugins.Popup.Popup.Init(this, bundle); in MainActivity in the android project (In previous version, i didnt have the need to put it but i guess its needed now). I discover that putting pages:PopupPage and the one you suggested which is popup:PopupPage, both do the job.

[2018-10-09 03:15] sky018 commented on #353
Any updates on this?

@sroyvs
[Similar Issue](https://github.com/rotorgames/Rg.Plugins.Popup/issues/157) - his workaround works also.

[2018-10-15 12:33] jveltd opened #373 "RgPopupPlatformRenderer: is already presenting"
Since upgrading to 1.1.4.168 a button on a pop-up to an send email no longer works and results in the following error on iOS:

Warning: Attempt to present <MFMailComposeViewController: 0x10bc8f800>  on <RgPopupPlatformRenderer: 0x11093f8f0> which is already presenting <Rg_Plugins_Popup_IOS_Renderers_PopupPageRenderer: 0x110928480>

I've added this work-around in my code to get things working again

[2018-10-15 19:54] bobbydharrell opened #374 "How to use PopupNavigation.Instance return bool"
**IPopupInstance:**
`using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using Rg.Plugins.Popup.Pages;

namespace Rg.Plugins.Popup.Contracts
{
    public interface IPopupNavigation
    {
        //List of PopupPages which are in the screen
        IReadOnlyList<PopupPage> PopupStack { get; }

        //Open a PopupPage
        Task<bool> PushAsync(PopupPage page, bool ani

[2018-10-21 19:06] MHDuke commented on #371
it's working alright

[2018-10-24 18:18] ruler501 opened #375 "GTKSharp Support"
It would be nice to support the cross platform GTK Framework. What would be needed to support it and is there any way I could help implement it if needed?

[2018-10-25 00:34] rotorgames commented on #371
@michelzsiqueira How does it works now? Do I need to review this issues?

[2018-10-25 00:36] #364 closed

[2018-10-25 13:07] nicotp80 opened #376 "Problem with scroll view and custom label (for html text) on Android 7.0 with plugin version 1.1.0-pre3"
Hi, i've a found a problem with a custom label inside an Rg.Popup. The text go out the margin of frame (this not verify in a standard label with same text lenght).

This is my xaml :

[code]

And this is .cs file :

[code]

//if you want uncomment the fs text setting and comment body label you can see that with standard label all works fine

Custom label is on folder named model :

[code]

And on

[2018-10-25 16:37] nbsoftware commented on #307
Hello,
I'm using V1.1.4.168 (the latest one) and I'm still having this exception.
Here is it along with the stack trace.
Of course this is happening randomly and I can't figure how to reproduce it.

`System.Exception: Failed to marshal the Objective-C object 0x10ecbba70 (type: Rg_Plugins_Popup_IOS_Platform_PopupWindow). Could not find an existing managed instance for this object, nor was it possib

[2018-10-26 06:33] damien-alchemylabz commented on #122
This error occurred for me... I soon realised i was attempting to show to same PopupPage while 1 was open.
The crash error/crash was hitting appDelegate on iOS. (object reference as above)

[2018-10-26 06:57] nbsoftware commented on #307
My bad, looking more closely, the version of my app that has this exception use version 1.1.4.158-pre of Rg.Plugins.Popup so I guess it has indeed been fixed since.

Sorry for that.

[2018-10-26 09:25] Sanjeev170288 opened #377 "Null Reference Exception on PushAsync and RemovePageAsync ios"
In Ios device getting nullreference exception , here is the versions i am using:
**XF:** 3.0.0..482510
**RG Plugin :**  1.1.4.168(stable)
**StackTrace**:
**_**at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos+<RemoveAsync>d__10.MoveNext () [0x00165] in /Users/macdev/Downloads/Rg.Plugins.Popup-master/src/Rg.Plugins.Popup.IOS/Impl/PopupPlatformIos.cs:78 \n--- End of stack trace from previous location wh

[2018-10-26 12:45] #371 closed

[2018-10-26 12:45] michelzsiqueira commented on #371
yes solved

[2018-10-27 10:00] eramirez3 commented on #365
Hi, any solution?

[2018-10-27 13:57] eramirez3 commented on #365
Hi, I already solved, I created my own version.
https://ufile.io/ovrzj

[2018-10-30 08:13] Episodex commented on #157
I just had the same issue on Samsung Xcover 4. In the office we had three identical Xcovers and the error happend only on one of them (but every time). Turned out it was because **power saving** turned on.

Turning off power saving fixed the issue, and turning it on on device that previously worked was introducing the crash. So it's most probably something that Samsung's power saving changes, that

[2018-10-31 10:09] amirvenus commented on #375
See [#360](https://github.com/rotorgames/Rg.Plugins.Popup/issues/360)

It has been a while many are asking for macOS and WPF support and I think that should get a higher priority.

[2018-10-31 13:56] umairamjad opened #378 "Call back to parent in Rg.Plugins.Popup"
I have implemented your solution but call back doesn't seems to call. Kindly help me. Thanks.

[code]

// on popup page
[code]
Lett me know i miss something ?

[2018-11-07 11:37] karimElJed commented on #348
Same problem here.
Visual Studio for Mac 7.6.11, Xamarin.Forms  3.1.0.637273., Rg.Plugins.Popup 1.1.4.168

[2018-11-08 15:53] gabrielbunselmeyer commented on #365
Could you post your solution here instead of linking it? Easier to see and use as future reference.

[2018-11-09 22:38] scastria opened #379 "Difference in horizontal and vertical sizing"
I am having trouble getting my popup to size correctly.  I am using horizontal/vertical options set to Center so that my popup Grid is centered on the screen.  I am using a combination of Auto and Star in my Grid.  The popup sizes correctly vertically by continuing to grow based on the content I put inside until it reaches the maximum size possible (the vertical size of the screen).  However, this

[2018-11-11 16:45] EmilAlipiev commented on #378
check this please. you arent implementing what is written in this thread.
https://github.com/rotorgames/Rg.Plugins.Popup/issues/14

[2018-11-11 16:46] EmilAlipiev commented on #374
answer is in this issue. https://github.com/rotorgames/Rg.Plugins.Popup/issues/14

[2018-11-11 17:44] EmilAlipiev commented on #344
how did you understand that it is only invisible? i have similar implementation i couldnt see the popup that it is just invisible

[2018-11-11 17:45] EmilAlipiev commented on #329
https://github.com/rotorgames/Rg.Plugins.Popup/issues/14

[2018-11-12 09:17] paul-charlton commented on #344
I believe it was discovered by watching the override trigger on the popup page:

<b>If I tap the screen is invoked:
protected override bool OnBackgroundClicked()

of the PopupPage</b>

[2018-11-12 10:07] matteopiccioni commented on #344
yes,
is invoked OnBackgroundClicked of the popup page (that should be gone)

[2018-11-12 12:31] EmilAlipiev commented on #344
I tried your code but i cant reproduce your problem. for me first of all it is not clear what your exact problem is. because i understand 2 things
1) although you wrote CloseWhenBackgroundIsClicked="False", OnBackgroundClicked is fired? if that is the problem yes it is fired but it doesnt close the popup. which is expected.
2) if this is not the problem but although you close the popup (removed),

[2018-11-12 13:29] matteopiccioni commented on #344
Sorry my english is not so good, I dont know if it's invisible or trasparent (in my mediocre english is the same)

When the popup is visible, I tap a row and in my ItemSelected of mypopup I do `Navigation.PopAsync() `
I see that the popup disappear. Ok until now

The problem: If I touch the screen OnBackgroundClicked of the popup page is called.

This ticket is really old and I remove this popup f

[2018-11-13 12:38] ertan2002 commented on #157
@Episodex  I have the same problem with Samsung Galaxy A5 and Rg.Plugins.Popup 1.1.14.168 (for now its the latest version). It was working on emulator but not on the real device. After I saw your comment, I realize that the power saving turned on and I made it off and it works..

Well I executed my code as :

Device.BeginInvokeOnMainThread(async () => await PopupNavigation.Instance.PopAsync());

a

[2018-11-16 04:43] #374 closed

[2018-11-16 04:45] rotorgames commented on #373
@jveltd Can you create a simple project where I can reproduce this issie?

[2018-11-16 04:48] rotorgames commented on #372
@AmitManchanda How can I reproduce it?

[2018-11-16 04:58] rotorgames commented on #376
@nicotp80 Do you have the same issue when you don't use a PopupPage?

[2018-11-16 11:08] nicotp80 commented on #376
Thanks for your attention, i tested in a content page and  htmlLabel is displayed inside of scrollview. In PopupPage scrollview is inside of frame, but label goes out of the frame.

[2018-11-16 15:20] RadoslawKubas opened #380 "PopupPage.InputTransparent works strange in iOS."
I want to make popup page InputTransparent.

In Android I noticed that it is impossible to make only part of popup page input transparent in easy way, because this property seems to be ignored in content. Works only if I set property InputTransparent in PopupPag. It's fine, and I guess not exactly PopupPage related.

In iOS it is opposite. It is possible to set InputTransparent for selected conten

[2018-11-19 23:35] sirwes opened #381 "Picker Pops up after Navigation.PopAllPopupAsync()"
I am using a Rg Popup To hold a simple form containing 2 pickers and 2 buttons. The idea is that they fill in both pickers then hit save or cancel. The buttons navigate away accordingly. After I use the second picker and click one of the buttons to pop the page, the first picker is focused and pops up. Is this a problem with the plugin?
Here is the XML:

`<?xml version="1.0" encoding="UTF-8"?>
<pa

[2018-11-21 23:54] rotorgames commented on #380
@RadoslawKubas there is the special property "BackgroundInputTransparent" in a PopupPage. Try to use it.

[2018-11-21 23:55] rotorgames commented on #367
@hainagu Can you show it?

[2018-11-21 23:56] #370 closed

[2018-11-22 01:18] rotorgames commented on #380
@RadoslawKubas InputTransparent will work fine in a new version but OnBackgroundClicked will not be invoked if InputTransparent of PopupPage is true.

[2018-11-22 01:19] #380 closed

[2018-11-22 02:30] rotorgames commented on #381
@sirwes Where does it happen on android or ios?

[2018-11-22 02:35] rotorgames commented on #250
@Raystorm7 Did you resolve this issue?

[2018-11-22 02:35] #250 closed

[2018-11-22 09:39] RadoslawKubas commented on #380
Perfect, thank you for fix.

[2018-11-22 12:16] hinaCES commented on #376
I am facing the same issue on iOS it works fine for android though.
it works correct with content page

[2018-11-22 13:22] MichaelRumpler commented on #142
I updated my branch to the current master. This represents Rg.Plugins.Popup 1.1.4 and uses Xamarin.Forms 3.0. It still has the same problem.
The content is shifted up when I hold the iPad in landscape and tap the Label to show the keyboard.

[2018-11-22 22:48] rotorgames commented on #142
@MichaelRumpler I have reviewed this issue and I can say that it is not popup's problem. Xamrin.Forms contains special class `KeyboardInsetTracker` which changes `ContentOffset`of `UIScrollView` or `UITableView` when a keyboard appears. I can avoid this behavior only if I use Reflecion but I don't want to do it. Now I'm creating special properties for PopupPage which will allow to avoid resizing a

[2018-11-22 22:52] rotorgames commented on #376
@nicotp80 @hinaCES Can you give me a screenshot where I will be able to see this issue?

[2018-11-22 22:56] rotorgames commented on #379
@scastria Can you reproduce this issue and create a special repository for it that I will be able to test it.

[2018-11-22 23:12] rotorgames commented on #311
@ClintTCG I tested this plugin on a lot of android devices and emulators and it was ok. Can you tell me android version and device name that I will be able to reproduce it?

[2018-11-23 06:53] MichaelRumpler commented on #142
I'm ok with a workaround.
I do understand that you don't want to use Reflection in your library. Could you tell me what I need to do to work around it on my end?

Until now I just sticked with version 1.1.0-pre1, but I switched my PCL to .NET Standard now and that complains when I want to install that old version.

[2018-11-25 10:49] rotorgames commented on #142
@MichaelRumpler try to use [v1.1.5.180](https://github.com/rotorgames/Rg.Plugins.Popup/releases/tag/v1.1.5.180) and to set `HasKeyboardOffset` of `PopupPage` to `false`. It will be default xamarin.forms behavior.

[2018-11-26 11:39] hinaCES commented on #376
[code]

[code]

[2018-11-26 11:40] hinaCES commented on #376
![simulator screen shot - iphone xs max - 2018-11-26 at 17 03 00](https://user-images.githubusercontent.com/10593346/49012015-1852b380-f19e-11e8-94d1-7ef264302bdf.png)

[2018-11-26 11:43] rotorgames commented on #376
@hinaCES Did you try to use the last version of the plugin?

[2018-11-26 23:37] sirwes commented on #381
I've only tested it in android

[2018-11-27 10:30] rotorgames commented on #381
@sirwes you must use `await` operator before `PopAllPopupAsync`

[2018-11-27 11:37] rotorgames commented on #376
@hinaCES I can't see anything on the screenshot. Can you create a project which reproduces this issue? Just I can't understand what is going on.

[2018-11-27 11:59] aleksandrsmyk opened #382 "Cant update nugget package via Visual Studio for Mac"
I try to update nugget package to the latest version but I got:

[code]

[2018-11-27 12:39] nicotp80 commented on #376
@rotorgames I apologize if I answer only now, here is attached the effect reported
![whatsapp image 2018-11-27 at 13 37 14](https://user-images.githubusercontent.com/44469445/49082324-c6676780-f249-11e8-96cd-d96b87099005.jpeg)
![whatsapp image 2018-11-27 at 13 36 54](https://user-images.githubusercontent.com/44469445/49082332-cc5d4880-f249-11e8-8c4d-04866218ade0.jpeg)

[2018-11-27 13:08] hinaCES commented on #376
@rotorgames, If you can see the XAML code above where I have added the only one htmlLabel
ideally, it should display a popup with label
But it's the only backdrop.
I will create a small project and post it.

[2018-11-27 18:01] shakehar commented on #381
I see this same behavior with Prism

[2018-11-27 19:34] scastria commented on #379
Here is a simple test program that demonstrates the problem.  It behaves the same incorrect way on both iOS and Android.  Click the horizontal button to see the color palette button be drawn incorrectly OUTSIDE the containing white dialog popup.  Click the vertical button to see the color palette be drawn correctly where the containing white dialog grows to match the size of its content.

![simula

[2018-11-28 12:44] ederbond opened #383 "Please add a Release Notes section to the Wiki with a brief summary of changes to new versions."
Please add a Release Notes section to the Wiki with a brief summary of changes to new versions.

[2018-11-29 00:06] shakehar commented on #381
Adding the picker from code behind instead of xaml  fixed this issue for me.

[2018-11-29 04:18] rotorgames commented on #383
@ederbond You can find all release notes in [the releases page](https://github.com/rotorgames/Rg.Plugins.Popup/releases)

[2018-11-29 04:18] #383 closed

[2018-11-29 04:34] rotorgames commented on #379
@scastria Why do you think that the problem of this plugin?

[2018-11-29 04:39] #379 closed

[2018-11-29 04:41] rotorgames commented on #376
@hinaCES sounds good. I'm waiting for a simple project from you.

[2018-11-29 04:49] scastria commented on #379
@rotorgames  Are you saying there is a bug in my sample code?  Please enlighten me.

[2018-11-29 04:53] rotorgames commented on #379
@scastria I didn't read your code a lot I just changed `PopupPage` to `ContentPage` and `PopupNavigation.PushAsync` to `Navigation.PushModalAsync` and I got the same issue without the popup plugin

[2018-11-29 04:55] scastria commented on #379
@rotorgames  So then it is possible that there is a bug in Xamarin.Forms and that I DO understand how Xamarin.Forms layout works.  Before you accuse someone of being ignorant, please gather some evidence!

[2018-11-29 05:08] rotorgames commented on #379
@scastria I'm sorry but I didn't accuse you of being ignorant, I meant that your code didn't work how you wanted and it happend not because of my plugin. If I explain everyone how to work xamarin layouts I don't even have enough time in the world.

You can read this doc to improve your skills of Grid layoyt.
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/layouts/grid

[2018-11-29 05:19] rotorgames commented on #379
@scastria I have changed only 2 lines in your code and I have got it. Is this behavior which you have wanted to get?

![simulator screen shot - iphone 6s - 2018-11-29 at 16 18 08](https://user-images.githubusercontent.com/1790504/49200827-91e2df80-f3f2-11e8-8d99-cc64cde89dbf.png)
![simulator screen shot - iphone 6s - 2018-11-29 at 16 17 49](https://user-images.githubusercontent.com/1790504/4920082

[2018-11-29 06:05] scastria commented on #379
@rotorgames It is close, the buttons are not centered.  Will you post the changed lines?

[2018-11-29 16:55] felipesouto commented on #348
I'm also experiencing this issue on Visual Studio for Mac 7.7 (build 1868), Xamarin.Forms 3.4.0.1008975, Rg.Plugins.Popup 1.1.5.180.

[2018-11-29 23:13] rotorgames commented on #348
@pablogupi Does it happen only in Xamarin Preview? Does it work on a device or an emulator?

[2018-11-30 05:07] karimElJed commented on #348
Yes, only in the Designer Preview. On a device or in the emulator the app runs fine.

[2018-11-30 14:19] Tichion opened #384 ""Unable to activate instance of type Xamarin.Forms.Platform.Android.ImageRenderer" error when click on background"
I'm showing an image on the popup(with no problems), but when I try to close the popup by clicking on the background, I get a blank white page(I need to go back to the page that I clicked the image on), after that whatever I click on the screen I get this error:

my xaml:
`<?xml version="1.0" encoding="utf-8" ?>
<pages:PopupPage
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http:/

[2018-11-30 14:30] #384 closed

[2018-12-01 13:42] jochembroekhoff commented on #310
This is an annoying bug. I suspect that it is happening when quickly popping and pushing popups.
It still happens in the latest version (1.1.5

These are probably some relevant lines from a crash:

[code]

I hope this issue gets addressed quickly, it's especially annoying because it appears to happen randomly. I'll try my best to do some research.

[2018-12-02 11:19] aleksandrsmyk commented on #382
@rotorgames it was an issue with 1 to back update for VS for MAC. With the latest one it works again

[2018-12-02 22:33] #382 closed

[2018-12-02 22:34] #310 closed

[2018-12-04 08:18] MichaelRumpler commented on #142
Unfortunately this makes it even worse. The popup doesn't move up now and part of the popup is also overlayed by the keyboard.
![img_0137](https://user-images.githubusercontent.com/8309363/49428049-4a1ed800-f7a5-11e8-8b4d-a01d2e35569e.PNG)

The popup itself should move up, but it's contents shouldn't move out of it. See the title bar in the very first screenshot.

[2018-12-04 08:53] rotorgames commented on #142
@MichaelRumpler You need to keep all elements inside ScrollView, and set VerticalOptions=Fill for ScrollView and Center for Content of ScrollView

[2018-12-04 09:37] MichaelRumpler commented on #142
This makes the popup full height even without keyboard.
![img_0138](https://user-images.githubusercontent.com/8309363/49432566-4fcdeb00-f7b0-11e8-9c1f-c2f1ecd525f4.PNG)
It should only be as high as its content from the Title to the Cancel/OK buttons.

I updated the repro in https://github.com/MichaelRumpler/Rg.Plugins.Popup/blob/Repro_142/src/Demo/Demo/Pages/ReproPage.xaml#L81

[2018-12-04 09:39] bushbert commented on #366
I'm getting the same issue with IOS. Its very intermittent, did you have any joy in resolving?

[2018-12-04 10:07] rotorgames commented on #142
@MichaelRumpler You set `BackgroundColor="White"` for `ScrollView`, move it to `StackLayout` and the page will look good.

[2018-12-04 10:59] MichaelRumpler commented on #142
This is funny! Any reason why this caused problems?

Many thanks, now everything works as it should. Let me know if you come to Vienna/Austria. I owe you something.

[2018-12-04 10:59] #142 closed

[2018-12-04 11:08] waldroid commented on #292
Hi,
I have the same issue with version 1.1.4.168 on iPhone X or newer device, but running on lower device with iOS 12.1 & 11.3.
After I upgraded to version 1.1.5.180, it's work on All iOS Device (include iPhone X or newer), but it's only work on iOS 12.1 or newer. On the version 11.3 become crash with the same issue.

Any solutions for this issue?

Thanks

[2018-12-04 11:10] rotorgames commented on #142
@MichaelRumpler You are welcome. It happens because of `KeyboardInsetTracker`, it is an internal class in Xamarin.Forms, you can see how it works [here](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/ScrollViewRenderer.cs#L75). This class detects a keyboard appearing and add bottom offset for `ScrollView` and `ListView`. I can't avoid this behavior becaus

[2018-12-04 11:15] MichaelRumpler commented on #142
Yes, but why does it change when I move the `BackgroundColor` property to a different element?

[2018-12-04 11:18] rotorgames commented on #142
@MichaelRumpler Because `ScrollView` had `Fill` vertical size and you saw white `BackgroundColor` of `ScrollView` but when I moved `BackgroundColor` to `StackLayout` it was ok because `StackLayout` had `Center` vertical size and didn't fill all vertical space.

[2018-12-04 11:22] rotorgames commented on #292
@waldroid Did you see the comment of @balaameex ?

[2018-12-04 13:59] danielccunha commented on #381
I'm facing the same issue. Did someone find another solution? I'm not a big fan of working with the code behind.

[2018-12-04 14:06] danielccunha opened #385 "Native Picker opening without click"
I'm using Rg.Plugins.Popup for users filter a ListView, and in this filter I'm using a custom picker, with a different appearance (Border, CornerRadius and other stuff). I also have other fields in this page, one custom and and two custom DatePickers, and two buttons for submiting and clearing the form.

The problem is that sometimes when I click any of the buttons, suddenly the first picker opens

[2018-12-04 17:01] marth138 opened #386 "CloseWhenBackgroundIsClicked is not working."
I have updated to the newest version of the plugin and it seems like setting the CloseWhenBackgroundIsClicked is not functioning on my Android application.

[2018-12-04 22:59] rotorgames commented on #386
@marth138 Can you create a simple project which will reproduce this issue?

[2018-12-05 00:44] VansW opened #387 "Illegate argument exception"
I've an entry box on my popup page and when I focus in that box I get:

Fatal Exception: java.lang.IllegalArgumentException parameter must be a descendant of this view raw

android.view.ViewGroup.offsetRectBetweenParentAndChild (ViewGroup.java:4563) android.view.ViewGroup.offsetDescendantRectToMyCoords (ViewGroup.java:4500) android.view.ViewGroup$ViewLocationHolder.init (ViewGroup.java:6738) andro

[2018-12-05 02:15] waldroid commented on #292
@rotorgames yes, I see. I've been tried that @balaameex suggested.

Device.BeginInvokeOnMainThread(async () =>
{
    await Navigation.PushPopupAsync(new ActivityIndicatorPage());
});

but still not work for me.

Thanks.

[2018-12-05 12:12] lolohouse opened #388 "NullReferenceException in Android MainActivity"
When run app in Android (in IOS does not happen) in the code :

 protected override void OnCreate(Bundle savedInstanceState)
        {
            TabLayoutResource = Resource.Layout.Tabbar;
            ToolbarResource = Resource.Layout.Toolbar;

            base.OnCreate(savedInstanceState);

            global::Rg.Plugins.Popup.Popup.Init(this, savedInstanceState);
            global::Xamarin.Fo

[2018-12-05 12:50] lolohouse commented on #388
I found the problem ...
In method OnLayout get RootWindowInsets but get null and Crash.. !¡
I have Android version 25 and the RootWindowInsets insert in android version 23, but get null.. (I think it's a mistake by Xamarin)

I have created one customrenderer but not override the customrenderer of popuprender ?¿

[2018-12-07 00:56] sirwes commented on #381
I put a `firstPicker.Unfocus();` after the navigation, and it seemed to work, but this isn't a solution.
Using the `await` operator before `PopAllPopupAsync` did not work for me

[2018-12-07 01:01] #381 closed

[2018-12-07 13:24] hinaCES commented on #376
@rotorgames,
I created a new page using Rg popup with the same code and it worked.
Bizarre !!

[2018-12-10 09:57] fuorilegge commented on #385
I have this problem too: when you focus an entry and type some text, when you unfocus the entry by clicking, for example, a label, the first item displayed in the popup page receives the focus (picker, entry, datetime picker...). I started have this problem with the latest version of the library.

[2018-12-17 09:55] ibonsanvicente commented on #311
I have the same issue with versions 1.1.4.168 & 1.1.5.180.

I'm testing with a Samsung Galaxy S8+, Android 8.0.0.

In my case I have picker & entry controls in the popup page. If the soft keyboard is displayed because having inserted some text in the entry control, upon closure, the picker's selection window is displayed (it is the first element in the popup). If the user selects any item then the

[2018-12-17 14:31] PenguinPero opened #389 "PopAsync() stops working"
Hello,

I have the following situation:
There is an image and when user taps on it popup page is pushed and shown. (But only one page can be pushed at the time)
Popup page has a list of options and each option will close the popup (also checking that only the first tap will be considered).

But then when quickly opening and closing popups I get into situation where PopAsync stops working.

I've tr

[2018-12-17 14:50] ibonsanvicente commented on #311
[App4.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/2686515/App4.zip)

I've created a very simple quick repro project.

Main page displays a button to launch a popup page.

As in my example above there is a picker as first element, an entry as second and 2 buttons. One of those does absolutely nothing and the other closes the popup.

If the soft keyboard is displayed, upon clicking any

[2018-12-17 20:39] goldnarms commented on #294
+1

[2018-12-18 18:38] SuyRoadtoSilver commented on #296
Hello :)
 the OnBackgroundClicked is private isn't it?
mb i just did not find it but in PopupPageRenderer.cs Line 213 :

`private void OnBackgroundClick(object sender, MotionEvent e)`

it seems that you can´t override it anymore?

any other solutions?

[2018-12-27 07:54] HimaniKanetkar commented on #354
I have a same problem. I have used Xamarin.Plugin.FilePicker to pick a file from gallery but rg popup close automatically when clicked on the gallery option.

[2018-12-28 09:04] PierreLucB commented on #261
I'm working with the 1.1.5.180 version, I have the problem all the time in Android. It works very well in UWP by the way.

The error appears when I do a PushAsync() :

            var popup = new LoadingPopup();
            await PopupNavigation.Instance.PushAsync(popup);

[2018-12-28 14:15] pizzahead24 opened #390 "Input issues on Android"
The issue i'm experiencing happens with a modal that has several inputs in it with save and cancel buttons at the bottom. When tapping into a text editor input (keyboard opens up), then tapping outside on blank space it auto focuses on the next input. When hitting a button in the modal it auto focuses on the first input in the modal. Why this is an issue is because on Android if you focus on a dro

[2018-12-28 15:59] haplios commented on #385
I am also experiencing this same issue specifically with Android. I have an with dropdowns and datetime pickers on it. If you click anywhere on a label or empty space in the popup, and then attempt to close the popup something is focusing the first available input. In the case of dropdowns or datepickers it then attempts to display them as though they were clicked, after the popup is already dispo

[2018-12-28 21:44] pizzahead24 commented on #390
@rotorgames I just edited this on your source code. Removing line 184 "RequestFocus();" Will fix this issue.

[2018-12-28 21:44] pizzahead24 commented on #385
@rotorgames I just edited this on your source code. Removing line 184 "RequestFocus();" in the droid Renderder Will fix this issue.

[2018-12-28 21:47] haplios commented on #385
@danielccunha one of my engineers was able to solve this problem today by pulling down the source code and removing one line of code.

![image](https://user-images.githubusercontent.com/9308273/50528973-2fdfcd80-0ab7-11e9-9f7d-d3583ddf91a0.png)

`RequestFocus();` seems to be the issue.

Delete that line and compile the source, use the compiled DLLs instead of the nuget package to fix the issue.

[2019-01-02 08:47] arminrasoulian commented on #390
I have exactly the same problem. When do you plan to release a fixed version?

[2019-01-02 13:54] pizzahead24 commented on #390
@accent I do not have permissions to push my branched fix to this repository. I just copied the rpopup dll along with the rgpopupdroid dll from my fix over to my other android project and unchecked the rg popup nuget package for that.

[2019-01-02 20:25] MathieuFavreau opened #392 "ListView always expand to take all the available space in PopupPage (Only tested with android)"
Using a ListView inside a PopupPage will not respect the Horizontal and Vertical options, it will always take all the space available, even if the list is empty. Here is the PopupPage xaml file :

    <pages:PopupPage xmlns="http://xamarin.com/schemas/2014/forms"
                     xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
                     xmlns:pages="clr-namespace:Rg.Plugins.P

[2019-01-03 10:53] razz-singh opened #393 "Magnifier glass is showing on tap and hold in input field"
![simulator screen shot - ipad air 2 - 2019-01-03 at 15 31 20](https://user-images.githubusercontent.com/17328909/50634006-3963ac80-0f73-11e9-8b5f-46ab95a45bf0.png)

The Popup Page is showing a magnifier glass as shown in the attached screenshot while tapping and hold in any input field of the popup page.

Magnifier glass is showing the content of the previous page on which the popup page has been

[2019-01-06 15:57] ashwinkumar6 commented on #325
For those who haven't figured out a solution yet
`CloseWhenBackgroundIsClicked="False"`

[2019-01-06 22:49] rotorgames commented on #393
@rotorgames Ok. I'll have a look on this issue.

[2019-01-06 23:52] rotorgames commented on #392
@MathieuFavreau I think it is not a popup's problem.

https://forums.xamarin.com/discussion/comment/66248/#Comment_66248

[2019-01-06 23:52] #392 closed

[2019-01-06 23:57] rotorgames commented on #390
@pizzahead24 Thank you for your attention to this problem. I'll have a look on your PR. `RequestFocus` is used not just like that.

[2019-01-07 00:06] rotorgames commented on #385
Duplicate #390. Next discussing will be there.

[2019-01-07 00:06] #385 closed

[2019-01-07 00:32] rotorgames commented on #261
@PierreLucB What error do you get?

[2019-01-07 00:53] rotorgames commented on #354
@swetanandha @HimaniKanetkar I can't reproduce this issue with `Xamarin.Plugin.FilePicker`. It works fine for me. Can you create a simple project which will reproduce this issue?

[2019-01-07 06:37] razz-singh commented on #393
Thanks for fixing this issue. I have one query like when should I expect the nuget package update for the same.

[2019-01-07 06:53] rotorgames commented on #393
@razz-singh You can get the last nightly version from [the development nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup).

[2019-01-07 08:00] PierreLucB commented on #261
Sorry I did not remove my comment. I migrated from a old version of the plugin and did not initialize Android project like it was in the documentation.
It works on Android too.
Thank you.

[2019-01-10 11:04] nicotp80 commented on #376
you managed to verify the problem I indicated?

[2019-01-11 11:21] nicotp80 commented on #376
Incredible, i solved setting to true the "IsClippedToBound" property on the scrollview.

[2019-01-11 11:21] #376 closed

[2019-01-11 22:21] MdNaushad commented on #122
Still facing the same issue. The app crashes because of this.
It usually happens when SoftKeyboard is about to appear
Here is the stack trace from appcenter.

`NSObject.get_SuperHandle ()
UIViewController.ViewDidLayoutSubviews ()
PopupPageRenderer.ViewDidLayoutSubviews ()
PopupPageRenderer.KeyBoardUpNotification (Foundation.NSNotification notifi)
InternalNSNotificationHandler.Post (Foundation.NSNo

[2019-01-14 08:50] lapoPaolacci opened #394 "Open Popup fullscreen"
Is there a way to present PopupPage fullscreen on small device?

[2019-01-17 06:15] rotorgames commented on #394
@lapoPaolacci Can you explain more what would you like to do? Screenshots are welcome.

[2019-01-17 06:17] rotorgames commented on #122
Can someone give exactly line of stack trace for this issue? I can't reproduce it and I made a lot of things to avoid this bug but it didn't help.

[2019-01-17 06:20] rotorgames commented on #296
@sayaleepote it's protected. https://github.com/rotorgames/Rg.Plugins.Popup/blob/master/src/Rg.Plugins.Popup/Pages/PopupPage.cs#L150

[2019-01-17 06:21] rotorgames commented on #296
@SuyRoadtoSilver it's protected virtual: https://github.com/rotorgames/Rg.Plugins.Popup/blob/master/src/Rg.Plugins.Popup/Pages/PopupPage.cs#L280

[2019-01-17 06:45] rotorgames commented on #294
Guys, what version of the popup plugin do you use, and can somebody create a simple project which will reproduce this issue?

[2019-01-17 08:50] lapoPaolacci commented on #394
@rotorgames if device is phone i would like to push page like contentPage(fullscreen) but if device is tablet i would like to present popoup

[2019-01-18 02:59] rotorgames commented on #394
@lapoPaolacci You can do it using this plugin but you have to control how to show page (modal or popup) in your code. This plugin only allows showing popups and nothing else.

[2019-01-18 03:03] rotorgames commented on #389
@PenguinPero What version of the plugin do you use?

do
{
	popupStackCount = PopupNavigation.PopupStack.Count;
	await PopupNavigation.PopAsync();
} while (PopupNavigation.PopupStack.Count == popupStackCount);

What exactly do you do in this code? if `PopupNavigation.PopupStack.Count` is 0 you must get exception when you try to call `await PopupNavigation.PopAsync()`. I don't understand your code.

[2019-01-18 03:07] rotorgames commented on #388
@lolohouse What device did you use to get this exception? `RootWindowInsets` can't be null for devices with >= API 23.

Give me more information about the device, xamarin, xamarin.forms and etc.

[2019-01-18 14:05] PenguinPero commented on #389
This was on the version 1.0.4, haven't checked with the latest one because It was okay for us to use it without animations.

About the code:
I used that piece of code on the popup page, so `PopupNavigation.PopupStack.Count` should be 1 and it was, but after calling `await PopupNavigation.PopAsync();`  `PopupNavigation.PopupStack.Count` remained the same and page was not popped. The condition in th

[2019-01-18 16:32] PAFleche commented on #292
I got the same crash with the solution giver by @balaameex :

[code]

[2019-01-21 00:03] rotorgames commented on #389
@PenguinPero 1.0.4 is the too old version. There are a lot of changes is in the last version. Try to update it.

[2019-01-21 08:13] ehabmsaad commented on #394
you can set this property HasSystemPadding = false so it will appear as full screen, and use a dependency service to get the device type

[2019-01-21 10:43] PAFleche commented on #292
For information, it seems that the size of the Webview in the popup page can cause the crash.
For example :

This PopupPage **crash** :
[code]

While this on **doesn't crash** (I just add a margin on the webview) :
[code]

[2019-01-21 15:03] AdelaPetrut commented on #122
I can confirm that also using the latest stable version (1.1.5.180) I can reproduce on IOS:

 Unhandled managed exception:
Object reference not set to an instance of an object (System.NullReferenceException)
  at Rg.Plugins.Popup.IOS.Renderers.PopupPageRenderer.ViewDidLayoutSubviews () [0x00026] in <c2bf6f1e86b84161baab0dfc470e68f9>:0
  at (wrapper managed-to-native) ObjCRuntime.Messaging.void_obj

[2019-01-23 04:44] antmurph commented on #344
Had the same issue, Fixed by invoking RemovePageAsync on main thread

`Device.BeginInvokeOnMainThread(() => Rg.Plugins.Popup.Services.PopupNavigation.Instance.RemovePageAsync(this)); `

[2019-01-25 00:18] rotorgames commented on #344
@antmurph

It is not correct. You try to invoke RemovePageAsync without `await` operator.

[2019-01-25 01:52] rotorgames commented on #344
I still think that there is a mistake in the code of users who get this issue because they try to invoke navigation methods without `await` operator or in the second thread. Anyway, I implemented a thread safety helpers to avoid this issue.

From this moment you can invoke PushAsync, PopAsync, PopAllAsync, RemovePageAsync methods in the second thread or without `await` operator. It is not good pra

[2019-01-25 03:53] rotorgames commented on #363
@eman1986 You should implement this behavior yourself. I'm not going to add this one to the roadmap soon. Thanks for understanding.

[2019-01-25 03:53] #363 closed

[2019-01-25 03:53] #393 closed

[2019-01-25 03:53] #390 closed

[2019-01-25 03:55] rotorgames commented on #389
Can someone give more information to me about this issue?

[2019-01-25 03:57] rotorgames commented on #387
Why are you sure that this problem of the plugin? I can't see any mentions about the plugin in the stacktrace.

[2019-01-25 04:00] rotorgames commented on #155
Is was implemented. See [documentation](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage#properties): `HasKeyboardOffset` and `KeyboardOffset`

[2019-01-25 04:00] #155 closed

[2019-01-25 04:03] rotorgames commented on #229
I couldn't get enough information to figure out what was wrong. It works fine for me in several production application. If someone has the same issue try to update the plugin to the last version at first.

[2019-01-25 04:03] #229 closed

[2019-01-25 04:07] rotorgames commented on #246
I prepared [the good documentation](https://github.com/rotorgames/Rg.Plugins.Popup/wiki) to avoid similar issues. I suppose it is not necessary to check if it is Activity or not because it will be able to be not only Activity in the future.

Thank you for your opinion.

[2019-01-25 04:07] #246 closed

[2019-01-25 04:11] rotorgames commented on #247
I have read this issues today again and I can give more information aboit it now.

You can use `PopupPage` for `NavigationStack` or `ModalStack` of Xamarin.Forms using `PushAsync` and `PushModalAsync`. I guess it must be fine but I didn't test it and you can do it at your own risk.

[2019-01-25 04:11] #247 closed

[2019-01-25 04:11] rotorgames commented on #257
Done

[2019-01-25 04:11] #257 closed

[2019-01-25 04:12] rotorgames commented on #259
Use the newest version of the plugin to use all features in the documentation.

[2019-01-25 04:12] #259 closed

[2019-01-25 04:13] #276 closed

[2019-01-25 04:14] rotorgames commented on #280
The last stable version must fix this bug. Don't be afraid to reopen this issue if you still have this issue.

[2019-01-25 04:14] #280 closed

[2019-01-25 04:14] #283 closed

[2019-01-25 04:14] rotorgames commented on #283
@dansiegel have a good extension for prism. Use it.

[2019-01-25 04:18] rotorgames commented on #288
@marcusts Still you have your changes? I can't find your email.

[2019-01-25 04:19] rotorgames commented on #289
Try to use the last stable version.

[2019-01-25 04:19] #289 closed

[2019-01-25 04:22] rotorgames commented on #292
I still don't get a stack trace or other information to fix it. I think this bug happens not because of the plugin. If you still have the issue, don't be afraid to open this issue again.

[2019-01-25 04:22] #292 closed

[2019-01-25 04:32] #307 closed

[2019-01-25 04:34] rotorgames commented on #314
I need more information about it. It looks like you implemented `UserAnimation` incorrect. Don't be afraid to reopen this issue.

[2019-01-25 04:34] #314 closed

[2019-01-25 04:34] #317 closed

[2019-01-25 04:35] rotorgames commented on #322
Read [documentation](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Navigation)

[2019-01-25 04:35] #322 closed

[2019-01-25 04:36] #323 closed

[2019-01-25 04:37] rotorgames commented on #326
Read [the documentation of navigation](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Navigation).

[2019-01-25 04:37] #326 closed

[2019-01-25 04:37] rotorgames commented on #327
It is not possible. You can use the plugin only with Xamarin.Forms

[2019-01-25 04:37] #327 closed

[2019-01-25 04:38] #329 closed

[2019-01-25 04:40] #330 closed

[2019-01-25 04:47] rotorgames commented on #333
It is depended on your layout. If the layout is difficult it is possible to skip some frames to render and draw the layout. But it is not a problem of the plugin, Xamarin.Forms and even native platforms have a similar issue. Keep you layout light and easy and then it is fast.

[2019-01-25 04:48] #333 closed

[2019-01-25 04:48] #335 closed

[2019-01-25 04:51] rotorgames commented on #336
It can be a problem if a new activity has been created but you have not initialized plugin. Then the plugin try to open a new popup using an old context (Activity) which has been destroyed.

[2019-01-25 04:51] #336 closed

[2019-01-25 04:52] rotorgames commented on #337
I can't see any problems also. If you still have this issue, don't be afraid to reopen it again.

[2019-01-25 04:52] #337 closed

[2019-01-25 04:55] rotorgames commented on #338
Today the plugin beings in the stable public version and the documentation is agreed with the last public release. I close this issue.

[2019-01-25 04:55] #338 closed

[2019-01-25 04:57] rotorgames commented on #342
it was fixed in https://github.com/dotMorten/XamarinFormsControls/pull/27

[2019-01-25 04:57] #342 closed

[2019-01-25 04:58] rotorgames commented on #347
I don't see any problems to support Xamarin.Forms 2.5. I tested the plugin with 2.5 and 3.x and the one works fine.

[2019-01-25 04:58] #347 closed

[2019-01-25 05:05] rotorgames commented on #350
I need more information about this issue. If there are not any pages in `PopupStack` then all pages are removed. You need to check it before to use `PopAsync`.
P.S. Xamarin.Forms has similar behavior.

@EmilAlipiev I just have implemented throwing an exception if there are not any pages in `PopupStack` for `PopAllAsync`

[2019-01-25 05:05] #350 closed

[2019-01-25 05:07] rotorgames commented on #351
@AlessandroDelSole You can implement your own animation for it. Read more information in [the animation documentation](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Animations).

[2019-01-25 05:07] #351 closed

[2019-01-25 05:11] rotorgames commented on #352
@Omarkth I can't reproduce this issue. Can you create a simple project which will have this issue and upload on GitHub for me? Also, try to update the plugin to the last stable version before.

[2019-01-25 05:13] rotorgames commented on #355
@anthonycklim Can you give me more information about it? Can you create a simple project which reproduces this issue and upload it on GitHub for me?

[2019-01-25 05:18] rotorgames commented on #157
I hope that I fixed it in the last version of the plugin which is available in [the development nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup) right now. All navigation is invoked in the main thread in the last release whatever how navigation has been invoked in the user's code.

I will be happy if someone can test it with the last version of the plugin >= 1.1.5.184.

Thanks.

[2019-01-25 05:21] rotorgames commented on #311
About `Cannot access a disposed object`:
I hope that I fixed it in the last version of the plugin which is available in [the development nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup) right now. All navigation is invoked in the main thread in the last release whatever how navigation has been invoked in the user's code.

I will be happy if someone can test it with the last version of

[2019-01-25 05:21] #311 closed

[2019-01-25 05:35] rotorgames commented on #288
@marcusts Yeap too long. Just I had a lot of issues and I didn't have time to make big improvements. After one year do you change your opinion about this issue?

[2019-01-25 05:42] marcusts commented on #288
No, just moved on to other issues... sorry, my friend...

On Thu, Jan 24, 2019 at 9:36 PM Kirill <notifications@github.com> wrote:

[2019-01-25 05:43] rotorgames commented on #368
I hope that I fixed it in the last version of the plugin which is available in the development nuget right now. All navigation is invoked in the main thread in the last release whatever how navigation has been invoked in the user's code.

I will be happy if someone can test it with the last version of the plugin >= 1.1.5.184.

Thanks.

[2019-01-25 05:43] #368 closed

[2019-01-25 05:45] rotorgames commented on #369
@Abraxelx You have to implement your own animation for it. You can find how to do it in [the animation documentation](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Animations)

[2019-01-25 05:45] #369 closed

[2019-01-25 05:46] rotorgames commented on #377
I hope that I fixed it in the last version of the plugin which is available in [the development nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup) right now. All navigation is invoked in the main thread in the last release whatever how navigation has been invoked in the user's code.

I will be happy if someone can test it with the last version of the plugin >= 1.1.5.184.

Thanks.

[2019-01-25 05:46] #377 closed

[2019-01-25 05:48] #394 closed

[2019-01-25 08:01] rotorgames commented on #294
@bacheric Thank you for your answer. I hope I have fixed it and nobody will get this issue.

I'm going to close this issue but don't be afraid to reopen it if you still have the same issue.

[2019-01-25 08:01] #294 closed

[2019-01-25 11:48] accent commented on #389
after update to the latest plugin version, the method PopupNavigation.Instance.PopAllAsync(animated) started causing exception while previously it was fine even if nothing was on the stack.

[2019-01-25 11:55] rotorgames commented on #389
@accent That is correct. it was a mistake when the plugin didn't throw an exception if there were not any pages in the PopupStack. For more information see [release notes](https://github.com/rotorgames/Rg.Plugins.Popup/releases/tag/v1.1.5.188)

[2019-01-25 11:58] accent commented on #389
That's pitty. That behaviour was quite nice.

[2019-01-25 12:01] rotorgames commented on #389
@accent Maybe yes but I hope that this exception will help to make your code better because if you invoke `PopAllAsync` when there are not any pages in `PopupStack` then it is something wrong with your code.

[2019-01-25 14:45] Phenek commented on #155
Many thanks!

[2019-01-26 16:46] EmilAlipiev commented on #344
@rotorgames  this version has breaking changes for me, I am not sure if it was wrong before or now. But basicallay, I created a full screen activity indicator using this plugin. I push the page using
as you can see i push it without async-await, reason for that is i call it directly inside constructor
[code]

and after doing work- i call popall function by checking if there is any popup in the sta

[2019-01-27 02:52] rotorgames commented on #344
@EmilAlipiev The behavior of navigation was changed in the last version for supporting thread-safe navigation. When you invoke `_navigation.PushPopupAsync(page);` navigation begins not immediately and `PopupStack` can be empty after several milliseconds after invoking `PushPopupAsync`. I think if you would like to pop or remove a page you need to wait for `PushPopupAsync` async operation is finish

[2019-01-28 12:15] Omarkth commented on #352
Thank you @rotorgames, I can confirm that this issue is fixed now without updating the plugin, only with after updating the Xamarin.Forms version to the latest (3.0.0.561731 -> 3.4.0.1029999).

[2019-01-29 00:39] rotorgames commented on #352
@Omarkth Nice to hear it. Good luck.

[2019-01-29 00:39] #352 closed

[2019-01-31 07:31] mdonogma opened #395 "Question- Xamarin.mac support"
Question- Xamarin.mac support

[2019-01-31 13:15] AhmedAdelGadElkareeem opened #396 "Map Don't Appear Using PopUp Page"
When I use PopUp Page map doesn't appear when write this code
` Device.BeginInvokeOnMainThread(()=>{
                    map.MoveToRegion(MapSpan.FromCenterAndRadius(new Position(24.817106, 46.654336),
                    Distance.FromMiles(150)));
                }); `
in  OnAppearing() Function in PopUp Page

[2019-01-31 15:04] xleon commented on #372
Found this very same issue, though I have a bigger stacktrace.
You can reproduce it by opening a popup, leave it there and then put the app in the background for a while. Then resume the app and BOOM.

[code]

[2019-02-01 02:32] rotorgames commented on #372
@xleon Can you create a simple project which reproduces this issue, upload it to GitHub and give me? Or give me more information about steps how to reproduce it.

[2019-02-01 03:39] xleon commented on #372
yep, I´ll try that

[2019-02-04 19:31] razz-singh commented on #393
Thank you so much to fix the issue. I have tested it and it is absolutely working fine.
here is the screenshot.
![simulator screen shot - ipad air 2 - 2019-02-05 at 00 45 10](https://user-images.githubusercontent.com/17328909/52232015-617f5c00-28e1-11e9-83fc-11cf5d3dfd05.png)

[2019-02-05 08:46] mo-kml commented on #268
Hi
I Did try to set HasSystemPadding to false but it didn't work
what should i Do?
![image](https://user-images.githubusercontent.com/14197053/52261848-dda88c80-293f-11e9-9886-aedeb184b25d.png)

[2019-02-05 20:01] kensykora opened #397 "iOS - PreferredStatusBarStyle is not settable when popups are presented"
We have an app that uses multiple `PreferredStatusBarStyle` between screens that are presented, and our `Info.plist` file has it set to use the status bar style per view controller.

When we attempt to present popups on a page with the `UIStatusBarStyle.LightContent` style as an override, it is not respected due to the implementation I suspect here: https://github.com/rotorgames/Rg.Plugins.Popup/b

[2019-02-07 14:41] EmilAlipiev opened #398 "Popup without any background?"
can we achieve something like below gif? I couldnt figure out how to make the popup without any color.

![overview](https://user-images.githubusercontent.com/10422347/52418695-e095af80-2aee-11e9-9645-387d2f4ad9ae.gif)

[2019-02-10 16:45] agharium commented on #14
Hi, I would like to elaborate over the solution.

I have worked very little with events and such before, so I went through some troubles to finally get to solution to my problem.

All in all I just needed to update a list when the popup closes.

The thing is: as I was using MVVM, all the directions and examples were a little bit confusing for me hehe.

But here we go.

Inside the view model where

[2019-02-10 18:38] ysmoradi opened #399 "PopupNavigation.Instance.RemovePageAsync results into an exception"
If I run following code:

[code]
I'll receive [this exception](https://github.com/rotorgames/Rg.Plugins.Popup/blob/master/src/Rg.Plugins.Popup/Services/PopupNavigationImpl.cs#L90) which doesn't make scene at all, because following if

[code]
is only checked in **PopAll** & **Pop** methods and you've forgotten to check that if in **Remove** method. So why am I getting this exception?! Anyway, I dev

[2019-02-11 12:22] agharium commented on #245
[This answer on Stackoverflow](https://stackoverflow.com/a/51422564/8072300) really helped me getting the exact coordinates of where I should set my popup.

[2019-02-12 11:45] baskren commented on #366
I would be happy to as I have been struggling with the crash for months.  Comparing it to the master branch, there doesn't appear to be any differences (at least in `Rg.Plugins.Popup.IOS.Platform.PopupPlatformRenderer`).  Does this build have symbols?

[2019-02-12 16:04] Yelnik commented on #399
After updating to v1.1.5.188 `PopAllAsync()` now throws an exception that cannot be caught and crashes the app if there is no page to be removed. I'm not sure if this is the same issue

[2019-02-12 17:15] ysmoradi commented on #399
If you use latest dev nuget package which is published on appveyor, it won't crash!

[2019-02-13 00:27] LeoJHarris commented on #27
@dotnetpete Hi would like to know how your Custom FreshNavigationContainer look like exactly for this, am facing the same issue of using popup with FreshMvvm and no luck but trying to use your included code above. Thanks

[2019-02-13 06:55] abdulkhn8 opened #402 "Crash on Android, while tapping on empty space above keyboard"
RG Popup version : 1.1.5.188
Xamarin Forms : 3.5.0.129452

<img width="347" alt="image" src="https://user-images.githubusercontent.com/14949928/52692604-5c2dab80-2f8a-11e9-8cbf-d552dfe09107.png">

[2019-02-13 07:05] abdulkhn8 commented on #402
Internal Error : No constructor found for Xamarin.Forms.Platform.Android.ScrollViewRenderer::.ctor(System.IntPtr, Android.Runtime.JniHandleOwnership)
<img width="549" alt="image" src="https://user-images.githubusercontent.com/14949928/52693127-db6faf00-2f8b-11e9-809f-9b429ccbc9da.png">

[2019-02-13 11:23] ysmoradi commented on #402
It seems that you've enabled linker. Could you please test this without linker?

[2019-02-13 15:15] abdulkhn8 commented on #402
No bro, i did not enabled linker.

[2019-02-14 03:18] libin85 commented on #27
A bit late to the party but if anyone wants the support please try this: https://github.com/libin85/FreshMvvm.Popup/ and let me know your feedback

[2019-02-19 07:05] contrix09 opened #403 "Style resource not being applied to PopupPage"
I have a `PopupPage` which I want to change the animation by setting the `Style` property.

I have styles defined in my resource dictionary.
[code]
When I set it in XAML, it does not apply.
[code]
In order to apply the style, I have to subclass `PopupPage` and detect the if the `Style` property was changed and do the manual application of the setters from there.
[code]

[2019-02-19 12:30] taublast commented on #399
I had theses errors too, until i forked rg.popup, updated all nugets inside, recompiled and suddenly it works now. Might be due to xamarin 3.5 no idea..

[2019-02-19 12:37] taublast opened #404 "Animations on iOS"
Hi, this happens only on iOS:

Encountered this with the following animation but it might be same issue with any:

[code]
What happens on iOS is that it shows the non-translated content in the middle of the screen for a fractal of second, creating a flicker, then correctly translates content out of the screen and starts animating it inside to 0,0.

This is due to xamarin not updating the content t

[2019-02-20 08:39] abdulkhn8 opened #405 "Crash on iOS"

[2019-02-20 08:39] abdulkhn8 commented on #405
at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos+<RemoveAsync>d__10.MoveNext () [0x001ab] in <9cde9985cfe5453d836575ce17f47cbb>:0
--- End of stack trace from previous location where exception was thrown ---
  at Rg.Plugins.Popup.Services.PopupNavigationImpl+<RemoveAsync>d__12.MoveNext () [0x00028] in C:\projects\rg-plugins-popup\src\Rg.Plugins.Popup\Services\PopupNavigationImpl.cs:134
--- End of stac

[2019-02-21 12:03] felipesouto commented on #348
I'm still experiencing this issue – Visual Studio for Mac 7.8 (build 1624), Xamarin.Forms 3.5.0.169047, Rg.Plugins.Popup 1.1.5.188.

[2019-02-26 10:16] matt-goldman commented on #184
I'm having this same problem with the current version (1.1.5.188). However calling play from the OnAppearing method doesn't work. Animations play fine on other XAML (non-popup) pages.

[2019-02-27 02:26] EmilAlipiev commented on #405
do you get that on PopAllPopupAsync? I am seeing similar exception on PopAllPopupAsync

[2019-02-27 18:51] EmilAlipiev opened #406 "Possible deadlock on IOS when removing/popping page"
Hi @rotorgames,

I am referring to our conversation in this [thread](https://github.com/rotorgames/Rg.Plugins.Popup/issues/344#issuecomment-457845916)

I created a loading pop like full code below. It should basically hide the popup when dispose is called
Usage:

[code]

this code worked fine in earlier versions but in the latest version, if getdata has no data, basically has nothing to return exe

[2019-02-27 23:12] matt-goldman commented on #184
Further to this I've found that its actually when using a <Frame> and not when using the popup.

[2019-02-28 22:38] rotorgames commented on #268
@mo-kml You have to use `HasKeyboardOffset` in new versions. https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage#properties

[2019-02-28 22:40] rotorgames commented on #397
@kensykora Can you show me how it looks like?

[2019-02-28 22:41] rotorgames commented on #398
@EmilAlipiev Yes, you can. Just set `BackgroundColor` for `PopupPage` as Color.Transparent.

[2019-02-28 22:46] rotorgames commented on #366
@baskren There are some changes in other parts of the code. Do you still get this issue?

[2019-02-28 22:49] rotorgames commented on #402
@abdulkhn8 How can I replicate this issue? Can you create a simple project where I can reproduce the issue?

I'm not sure that it's the plugin's problem but I can have a look if you provide the project where I can test the issue.

[2019-02-28 22:53] rotorgames commented on #403
@contrix09 Where did you define your style? Does it work with other properties in the style except animations?

[2019-02-28 22:55] rotorgames commented on #399
@taublast You can try to use [Development nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup). I think you will get the same effect.

[2019-02-28 22:57] rotorgames commented on #404
@taublast What version of the plugin do you use?

[2019-02-28 22:59] rotorgames commented on #348
@felipesouto I had a look on this issue but I still don't fix it. I hope I will do it in the next release.

[2019-02-28 23:11] rotorgames commented on #406
@EmilAlipiev So, I'm going to do something with this behavior in the next release. I hope you will be available to test it.

[2019-03-01 04:22] EmilAlipiev commented on #398
@rotorgames when i set that on android, it appears to be like below. i will try to provide you a sample project later.

![image](https://user-images.githubusercontent.com/10422347/53616241-fb38e100-3be1-11e9-873a-a35581a9b4ec.png)

[2019-03-01 04:24] contrix09 commented on #403
I defined it in a separate `ResourceDictionary` XAML file, and merged this to my `App` XAML Resource Dictionary

Styles.xaml
[code]

App.xaml
[code]

Other property setters are applied, only the `Animation` property is not.

[2019-03-01 04:26] EmilAlipiev commented on #406
@rotorgames sure i will be able to test it surely. I want to give more information. it appears to be code is working on devices better on android. I dont have IOS device now. I am only testing on simulator, popup appears slower on ios simulator. i will do some more tests on uwp later.

[2019-03-01 13:19] taublast commented on #404
It was all the latest nuget version 10 days ago, until i forked the code to solve it.. Can't tell the version anymore as i'm just using the modified forked code now.

There are some more issues like the animation system is actually designed having in mind that popup will be destroyed after final animation. But if you keep it in memory and just push the existing popup that have already been animate

[2019-03-01 14:38] EmilAlipiev commented on #398
actually it works :) my mistake was, i was setting backgroundcolor of parent instead of directly setting on the page.

[2019-03-01 14:38] #398 closed

[2019-03-03 23:00] EmilAlipiev commented on #399
@rotorgames  what do you mean by the same effect? it crashes also or it fixes also? did you publish development nuget as pre?

[2019-03-03 23:05] EmilAlipiev commented on #389
@rotorgames this somehow messed up with delay problem i mentioned in my other issue. when you push and popall too quick one after another unfortunately push is working slower than pop, i dont know why but  this exception is even crashing the app.

[2019-03-03 23:47] EmilAlipiev commented on #399
I have made a few tests and it is impossible to work with this new behavior. i am using code below to pop all pops in my application but this exception is caught as unhandled and crashes Android application. even if you check before any in the popupstack, there are cases where push is slow and pop is called before if you just schedule a pop after a push. Behavior varies also from phone to phone as

[2019-03-03 23:53] rotorgames commented on #399
@EmilAlipiev I'm working on it. I'm going to prepare a behavior which will allow checking `PopupStack` intently after invoking the `PushAsync` method. Also, I'm going to make a pushing and a popping safety. I mean you can invoke `PushAsync` and `PopAsync` or `RemovePage` async from the second thread without any problems. `PopAsync` or `RemovePage` will wait while `PushAsync` is finished and only t

[2019-03-04 00:18] rotorgames commented on #389
@EmilAlipiev I'm working on it. I'm going to prepare a behavior which will allow you to check `PopupStack` immediately after invoking the `PushAsync` method. Also, I'm going to make a pushing and a popping safety. I mean you can invoke `PushAsync` and `PopAsync` or `RemovePage` asynchronously from the second thread without any problems. `PopAsync` or `RemovePage` will wait while `PushAsync` is fin

[2019-03-04 00:18] rotorgames commented on #399
Duplicate #389

[2019-03-04 00:18] #399 closed

[2019-03-04 09:59] adambarath commented on #122
Unfortunatelly it crashes on Android also:
Nuget: 1.1.5.188
[code]

[2019-03-04 10:05] adambarath commented on #157
Unfortunatelly it still crashes on Android:
Nuget: 1.1.5.188

[code]

[2019-03-04 21:26] dannykhreet commented on #157
i ge the same error
Assembly Ref addref Rg.Plugins.Popup[0x7f776bdc80] -> System.Linq[0x7f72fd0c80]: 3
System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Xamarin.Forms.Platform.Android.Platform+DefaultRenderer'.

[2019-03-05 05:13] DeepakKY opened #407 "Crash when using on Android 9"
I am using Rg Plugins for showing popups in my Xamarin Forms application. The library works absolutely fine upto Android 8. But there are crash in Android 9. The crash seems to occur when I try to close the popup. In debug mode I get an unhandled exception: Java.Lang.IllegalArgumentException: <Timeout exceeded getting exception details> . Below is the log from the debug window.

`Thread started: <

[2019-03-06 18:28] baskren commented on #366
Yes, still getting it.  Turning off animations really helped improve our failure rate but, of course, we would like the popups to be animated.  Was hoping the Development NuGet was built using debug symbols so it would be easier to isolate the line in which crash was triggered.  We just pushed a new build to our users over the weekend.  If we're still seeing it in the latest build, I may have to f

[2019-03-08 22:10] EmilAlipiev commented on #407
which xamarin.forms version? can you also share your popup implementation?

[2019-03-08 22:11] EmilAlipiev commented on #406
@rotorgames  do you have any news about this? if we can get any pre-release?

[2019-03-09 12:07] EmilAlipiev opened #408 "New Pre Release?"
I have just downloaded latest code and it seems like Commit 752d7acb fixes problem for
 issues below. at least it handles to crash application. can we get pre release for this change please?
I have created local nuget for me and test it. it works fine
https://github.com/rotorgames/Rg.Plugins.Popup/issues/389
https://github.com/rotorgames/Rg.Plugins.Popup/issues/406

[2019-03-10 15:36] HobDev commented on #35
I have BottomBar navigation using Shell. I able to Navigate, executing the following code:

`await ((AppShell)App.Current.MainPage).CurrentItem.CurrentItem.Navigation.PushAsync(new AddTransactionsPage());`

Thanks @rotorgames  @widiarifki  for the help

[2019-03-12 14:34] rajeshangappan commented on #353
Still same issue reproducing. When open more than one popup and call the goback from 2nd popup and call goback from 1st popup it will throws same exception.

[2019-03-12 14:37] rajeshangappan opened #409 "Cannot access a disposed object."
Error: System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer'.

Steps:
1. Create 2 popup page.
2. open 1st popup and call 2nd popup from 1st popup.
3. From 2nd popup call GobackAsync method and again call Gobackasync from 1st popup.
4. Issue will reproduce.

[2019-03-13 07:52] Azmarel opened #410 "PositionIn UWP"
Animation PositionIn not working properly on UWP.
The animation appears from center. PositionOut is running OK.
Tested on version 1.0.4 and it worked ok, from version 1.1.4 it stopped working,

[2019-03-18 13:46] boubkermasaou commented on #372
@rotorgames i am getting the same stack trace on production for some Android devices (OS 7.1.1, 8.0.0 and 8.1.0).
Is there any news or solution for that issue?

[2019-03-19 05:39] githubdigo opened #411 "I created a normal netStandard app and in that i have a code Convert.tostring method,Even if the input is null this method wont throw null reference exception.But afer installing rgpopup its started thowing exceptuon"

[2019-03-20 14:04] pandiyan022 commented on #260
Did you got any solution for that?

[2019-03-22 18:25] thekeviv commented on #386
It worked when overided the method OnBackgroundClicked with this:
`protected override bool OnBackgroundClicked()
        {
            // Return false if you don't want to close this popup page when a background of the popup page is clicked
            this.Navigation.RemovePage(this);
            return false;
        }`

[2019-03-23 00:28] thekeviv commented on #386
I had the same issue. For me, I was using the regular "Navigation.PushAsync" to create the page and that was causing the issue. It got fixed when I used the function from the imported library (see the demo project in this repo). If you have to use Navigation.PushAsync for some reason, consider overriding the event handlers causing the exceptions.

[2019-03-24 08:15] damiansikora85 commented on #409
I got the same - it's occurs only on XF 3.5 and 3.6 - on 3.4 its fine.

[2019-03-25 21:06] LeoJHarris commented on #286
@maherzaidoune yes it is https://github.com/libin85/FreshMvvm.Popup/ you just need to call the appropriate push and pop extension methods.

[2019-03-26 16:45] flaviosuardi commented on #404
Great fix @taublast and great plugin @rotorgames!
Do you @rotorgames have in mind to release a new version with this fix?

[2019-03-27 08:49] JoesWeek opened #412 "The specified child already has a parent. You must call removeView() on the child's parent first."
version：1.1.5.188
log：
Xamarin Exception Stack:
Java.Lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
  at Java.Interop.JniEnvironment+InstanceMethods.CallVoidMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method, Java.Interop.JniArgumentValue* args) [0x00069] in <45b0bc0cc3534e029b7d11c24eb5

[2019-03-28 14:22] patchandthat commented on #404
If it sheds any light on the issue, this seems to be present from Xamarin.Forms 3.5 and onwards.  I have this issue both in popups and in other areas of my app that have animations.  Downgrading to Xamarin.Forms 3.4 is also a viable workaround.

There doesn't appear to be a Xamarin.Forms issue raised for this at the moment, but I intend to raise it once I'm done digging around.

Thanks @taublast f

[2019-03-29 08:57] flaviosuardi commented on #404
@patchandthat downgrading to Xamarin.Forms 3.4 did not solve the problem.

[2019-04-01 05:11] rotorgames commented on #408
If you can see the commit in the develop branch then there are these changes in https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99. You can try to install the last version from this develop nuget but be careful, I can't advise you it in production.

Currently, I'm working on these issues. I figured out how to fix it but I have not published it yet.

[2019-04-01 05:53] rotorgames commented on #389
Moved to #406.

[2019-04-01 05:53] #389 closed

[2019-04-01 05:53] rotorgames commented on #408
Duplicate #406

[2019-04-01 05:53] #408 closed

[2019-04-01 06:08] rotorgames commented on #406
@PenguinPero @EmilAlipiev Could you test the last develop build (1.1.5.195) from [Development Nuget](https://github.com/rotorgames/Rg.Plugins.Popup#setup)?

I have added some changes to allow checking `PopupStack` immediately after invoking `Push...` even if you don't use `await` operator. Also, I have added transactions which allow you to invoke `Pop(Remove)` even if a page is being in appearing

[2019-04-01 06:13] rotorgames commented on #412
Do you try to open the same page twice?

[2019-04-01 06:47] JoesWeek commented on #412
Yes,I created a progress bar function.I modified the source code and found no problems for the time being.
[code]

[2019-04-01 07:00] rotorgames commented on #412
It is not good solution. In the new version whicj i'm going to publish you can't do it because there will be some checkers for it. I advise you to check PopupStack before to push a page.
You can't push a page if there is the page in PopupStack.

[2019-04-01 07:09] JoesWeek commented on #412
ok,I will modify it after the new version is released. thanks.

[2019-04-01 07:10] #412 closed

[2019-04-01 08:36] rotorgames commented on #404
Can someone give me an example of xaml file which has this issue? I can't replicate it. It always is fine for me. @taublast ?

[2019-04-01 08:51] rotorgames commented on #404
In new version which I'm preparing it's not possible because a popup can't be closed before appearing and disappearing animations are finished.

[2019-04-01 09:43] taublast commented on #404
It was on iOS only:

[2019-04-01 10:01] meiotoha commented on #404
all latest packages. iOS 12.2.

@rotorgames
This is a sample page.It shows frequently in my iOS simulator.
And maybe  the layout  is more complex, the problem show more frequently ?
[code]

[2019-04-01 10:42] rotorgames commented on #404
I have replicated it. It happens only with Xamarin.Forms 3.5+.

[2019-04-01 11:12] patchandthat commented on #404
@rotorgames FYI I have not raised the issue with the Xamarin.Forms team as I was struggling to put together a minimal example solution to reproduce the bug.  I've used the `Delay(1)` workaround for now as I've got a lot of things to deal with at the moment.

[2019-04-01 11:17] rotorgames commented on #404
Ok, guys. I need more time to find out what's wrong with the new version of Xamarin.Forms. I think that Xamarin.Forms doesn't render views with `IsVisible = false`. Maybe it's a good optimization but it breakes animations for this plugin. I will try to figure out a better solution ASAP.

Thanks guys.

[2019-04-02 10:54] jsolivellase opened #413 "x86 UWP crash on PopAsync"
I have a problem with PopAsync on UWP platform. PushAsync works fine but not PopAsync. If I run the app with x64 simulator works fine but not with x86 simulator, throws System.AccessViolationException.
[code]

I am using last version of Xamarin.Forms (v3.6.0.264807) and Rg.Plugins.Popup (v1.1.5.188).
Does the library works on x86 architecture? Any idea?

Thanks in advance!

[2019-04-02 11:52] ysmoradi commented on #413
My apps are working fine. I'm using latest pre-release

[2019-04-03 10:39] m4r10guapito commented on #413
Same problem here. When I to call PopupNavigation.Instance.PushAsync or PopupNavigation.Instance.PopAsync I get System.AccessViolationException. I tried x86 and x64 but it still not working.
In Android project it works fine.
I'm using the last version of everything. Any suggest?

Thanks in advance

[2019-04-05 17:52] koland opened #414 "xaml preview not works with Prism & Prism.Plugin.Popups"
![image](https://user-images.githubusercontent.com/24471437/55646736-a1c96080-57e4-11e9-906f-5ebf69e7faf6.png)

[2019-04-07 02:48] jmtejada opened #415 "How to use with prism"
Hi, it's possible to use <a href="https://github.com/rotorgames/Rg.Plugins.Popup"> Rg.Plugins.Popup</a> with <a href="https://www.nuget.org/packages/Prism.Unity.Forms/"> Prism Library</a> in xamarin forms?
I am using
` await _navigationService.NavigateAsync(new System.Uri("ErrorMessage", System.UriKind.Relative), useModalNavigation: true); `

but page no displaying :(.

the xaml code for the popup

[2019-04-08 07:29] Nandulucky commented on #292
I added Margin=15 @PAFleche but still having same issue.

[2019-04-08 15:10] githubdigo commented on #411
Its seems like its an issue with ,net standard library

[2019-04-08 15:10] #411 closed

[2019-04-08 23:41] chartierpw opened #416 "Rg.Plugins.Popup won't work with Xamarin.Android.Support.v7.AppCompat v28.0.0.1?"
When I try to install the plugin I get:

Detected package version outside of dependency constraint: Xamarin.Android.Support.v7.MediaRouter 25.4.0.2 requires Xamarin.Android.Support.v7.AppCompat (= 25.4.0.2) but version Xamarin.Android.Support.v7.AppCompat 28.0.0.1 was resolved

The newer version of Xamarin.Android.Support.v7.AppCompat won't work?

[2019-04-09 07:37] jsolivellase commented on #413
I found the problem, in my case I have two buttons with Clicked event. Event handlers functions hasn't parameters making UWP crash.
Before:
[code]
After:
[code]
Same with push if you have another events without parameters.

[2019-04-09 15:05] chuvakpavel commented on #292
@Nandulucky Try this https://devblogs.microsoft.com/xamarin/making-ios-11-even-easier-xamarin-forms/ this solved my issue

[2019-04-11 11:10] #413 closed

[2019-04-11 12:20] devopsone commented on #372
Hi, i have the same problem any news on this?

[2019-04-11 20:09] EmilAlipiev commented on #416
it surely does.i am using the latest version and it works fine for me. your problem should be something else.

[2019-04-11 20:14] chartierpw commented on #416
It refuses to install with amarin.Android.Support.v7.AppCompat 28.0.0.1, a install constraint says it requires Xamarin.Android.Support.v7.AppCompat (= 25.4.0.2), it's not me.

[2019-04-12 05:54] gayugokhale commented on #366
Hello @rotorgames , I am also getting this error at `return base.FinishedLaunching(app, options);` in the latest stable version 1.1.5.188. I have xamarin.forms app and I have Android version fully running. but I am not able to open iOS version as I get this error in `FinishedLaunching` method.

There is no problem with the previous version of package i.e. 1.1.4.168. But I want to use `HasKeyboardO

[2019-04-15 00:34] wangdeshui commented on #414
In windows, the design not works,  in Mac, it can show with a warning!

[2019-04-15 03:53] cristianokiki opened #417 "how to change the index of the popup?"
I have a popup and from it I need to open the camera to read a qrcode, but when I open the camera the modal is still on top, I would like a way to put the modal behind the camera, would anyone have a solution? I tried to run in the main thread but it did not solve, the problem occurs only in ios, in android the camera is normally ahead.

[2019-04-15 12:16] ajuanjojjj opened #418 "9+1 CTE right after installing the plugin"
Right after installing the plugin using nuget, i'm getting 9 compilation time errors on my solution referring to values.xml, and another one "Failed to generate resource table for split" As far as i know this just refers to issues with xml files, wich makes sense given the other errors, hence the "+1" in the title

The others are:
Original attribute defined here.	> Lines 87, 90, 117, 134
Color typ

[2019-04-15 17:07] wtheronjones commented on #372
Here's another version of this stack trace in case that's helpful.
From version 1.1.5.180 of reg.plugins.popup.
Android 6.0 device (Motorola Moto G4 Play).

Got this from a crash report when submitting to the Google Play Store.

System.NotSupportedException: Unable to activate instance of type Rg.Plugins.Popup.Droid.Renderers.PopupPageRenderer from native handle 0x100019 (key_handle 0xd0e6bcb).
 -

[2019-04-15 17:14] xleon commented on #372
Sorry I didn´t have time to create a sample project, but the stack trace seem pretty obvious.

`PopupPageRenderer` needs this constructor overload:

    public PopupPageRenderer(IntPtr javaReference, Android.Runtime.JniHandleOwnership transfer) :
            base(javaReference, transfer) { }

[2019-04-15 17:18] xleon commented on #416
Try deleting all packages at your solution and updating the nugets manually by editing csproj rather than nuget manager or console.

[2019-04-17 14:48] chartierpw commented on #416
The developer needs to update the install to allow an install with Xamarin.Android.Support.v7.AppCompat greater than or equal to version 25.4.0.2, assuming of course that versions greater than 25.4.0.2 will work and I'm told that it will.

[2019-04-17 22:36] toomasz opened #420 "Please add PopupNavigation.PagePopped event"
Currently there is no way to Popup page is popped when it's triggered by user clicking outside of popup. Is it possible to add an event that will fire when page is popped? I would like to dispose my ViewModel when it's not longer needed.

[2019-04-18 15:46] xleon commented on #416
I´m using Xamarin.Android.Support.v7.AppCompat v28.0.0.1 in my app together with Rg.Plugins.Popup without issues

[2019-04-19 16:10] chartierpw commented on #416
The problem isn't that it won't work with v28.0.0.1, the problem is that it won't INSTALL unless one has 25.4.0.2 installed.  Again, the developer needs to change the INSTALL so that people can install it with v28.0.0.1 (assuming versions greater than 25.4.0.2 with work) .

[2019-04-19 23:07] EmilAlipiev commented on #416
this package has no dependency on android support libraries. it is not clear what you are looking for. your problem should be something else but definitely nothing to do with this library. even your error message has no mention on rg.plugins.popup

[2019-04-19 23:25] chartierpw commented on #416
I'm not using Xamarin Forms, I'm using Xamarin for Visual Studio (VS 2017).  Rg.Plugins.popup WILL NOT INSTALL from Nuget because of a dependency on Xamarin.Android.Support.v7.MediaRouter 25.4.0.2 which is dependent on Xamarin.Android.Support.v7.AppCompat  (= 25.4.0.2).

[2019-04-19 23:40] EmilAlipiev commented on #416
seriously? this package is for xamarin.forms. see the nuget description and there is no project type called xamarin for visual studio. see the package dependency below also. do you see any MediaRouter library there? you have different problem and i suggest you to ask your question on stackoverflow or xamarin forum.

![image](https://user-images.githubusercontent.com/10422347/56448142-23ed7500-630d

[2019-04-20 17:33] chartierpw commented on #416
Sigh ....

Please understand Xamarin.forms, Xamarin.android and Xamarin for Visual Studio are all (basically) the same thing, the current install package of Rg.plugins.popups is not designed (obviously) for a Visual Studios installation of Xamarin.

Consequently, I uninstalled Xamarin.Android.Support.v7.AppCompat v28.0.0.1 and installed Rg.plugins.popups which automatically installed all dependenc

[2019-04-20 18:31] rotorgames commented on #416
This plugin has a reference only to Xamarin.Forms >=2.5. if you try to install this plugin when there is not a installed Xamarin.Forms library in your project then Xamarin.Forms will be installed automatically but it will be a minimum supported version (2.5). This version refers to the old version of AppCo pat (probably 25) and there is a conflict because of it. It happens because of the settings

[2019-04-20 19:00] chartierpw commented on #416
The version of Xamarin on Visual Studio 2017 includes all Xamarin options (latest versions), this includes Xamarin.Forms and Xamarin.android.  No need to install anything.

[2019-04-22 21:17] agent-reed commented on #415
Have you created a ViewModel for the Popup Page that this XAML represents, and called `RegisterForNavigation` for that ViewModel in Prism's ContainerRegistry?

I.e: `containerRegistry.RegisterForNavigation<ErrorMessage, ErrorMessageViewModel>();`

[2019-04-22 21:44] dansiegel commented on #415
have you added Prism.Plugin.Popups? the base Prism Navigation Service has no idea what a PopupPage is. You have to use the Plugin and use the helper to register the PopupNavigationService so that you have a NavigationService that understands how to Push/Pop PopupPages from the Navigation Stack.

[2019-05-04 20:27] RadoslawKubas opened #422 "Can't build Release version after update to Xamarin.Forms 4.0.0.394984-pre10"
I have working solution with Xamarin.Forms 4.0.0.346134-pre9, but after updating Xamarin.Forms to latest version (pre10) I can't build Release anymore (still can build Debug version). After reverting Xamarin.Forms to previous (pre9) it works fine again. It seems to be connected with Rg.Plugins.Popup:

[2019-05-04 21:52] EmilAlipiev commented on #420
why do you want to dispose viewmodel and can you not do it within OnDisappearing?

[2019-05-05 01:11] happyclan commented on #395
I am interested in a macOS version.  It would take this plugin from "awesome" to "godlike."
You write really great code.  Please keep up the good work!!

[2019-05-06 16:59] cassionandi opened #423 "Google Play Console Failure Logs"
My app is in production for two weeks now and the Failure log from Google Play Console is registering lots of erros related to Rg.Plugins.Popups.

`android.runtime.JavaProxyThrowable: at Rg.Plugins.Popup.Services.PopupNavigationImpl+<>c__DisplayClass9_0.<PopAllAsync>b__0 () [0x0003d] in <dba573e2b78848139a5467939864ff97>:0
at Rg.Plugins.Popup.Services.PopupNavigationImpl+<>c__DisplayClass15_0.<Inv

[2019-05-06 16:59] cassionandi commented on #423
I am using Prism with Prism.Plugin.Popups by @dansiegel

[2019-05-07 08:59] RadoslawKubas commented on #423
I noticed same problem, solution was to revert to 1.1.5.180 (this is min requirement from Prism.Plugin.Popups).

[2019-05-07 11:03] FreshApps commented on #422
Same problem here..

[2019-05-07 12:26] arscoloramanfredi commented on #422
Yes same here

[2019-05-07 13:14] WilliamWatterson86 commented on #372
Hi, I have the same issue.  My stack trace from App Center is:

Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:
md5b5cbf9a5f989abac95309328170a059b.PopupPageRenderer.n_onWindowVisibilityChanged(Native Method)
md5b5cbf9a5f989abac95309328170a059b.PopupPageRenderer.onWindowVisibilityChanged(PopupPageRenderer.java:74)
android.view.View.dispatchWindowVi

[2019-05-08 14:23] cassionandi commented on #423
someone recommended to go back to version 1.1.5.180. I will do that.

[2019-05-08 14:23] #423 closed

[2019-05-08 20:05] EBusch commented on #422
Same here.

[2019-05-09 05:11] nox0311 opened #426 "Screen overlay on popup"
I am using a popup on a particular page. But when the popup is invoked the popup screens appears as a faded box and I cannot work on that page anymore.
I've attached the image of how popup appears. And it is happening only on moto phones.

The code to invoke the popup page:
`await Navigation.PushPopupAsync(new PopupPages.RootCausePopupPage((sender as XEditor)));`

and RootCausePopupPage is :
`publ

[2019-05-09 10:17] #416 closed

[2019-05-09 14:52] nick5454 commented on #355
@rotorgames I am noticing a crash on the Simulator iOS 8 Plus 12.2. i'll create a project and post it. I also notice that I am trying to pop up your screen to hide switching the MainPage, you your tool doesn't show. I assume this is because i'm switching Navigation and your tool can't switch that.

[2019-05-10 08:58] MitchBomcanhao commented on #422
and one more with the same problem...

[2019-05-10 09:38] MitchBomcanhao commented on #422
ah, seems like it is an issue with Xamarin forms itself, that will get sorted on the release version of v4.0.0
see https://github.com/rotorgames/Rg.Plugins.Popup/pull/424

[2019-05-10 12:33] DavidCFreire commented on #426
Same Issues here with an LG K11+ Android 7.1

[2019-05-10 20:03] wtheronjones commented on #372
@rotorgames
So I think I found a fix for my scenario.   "HasSystemPadding="False" makes my problem go away.
Basically, if you click on the gap provided by the sytem padding, you are clicking on the background, and that background click causes the exception/crash.

[2019-05-11 17:13] rotorgames commented on #422
Closed. See #424

[2019-05-11 17:13] #422 closed

[2019-05-11 17:14] rotorgames commented on #420
@toomasz Good idea. I will add it in the roadmap.

[2019-05-11 17:15] rotorgames commented on #417
@cristianokiki A PopupPage always is on top. You can't show Xamarin.Forms pages or modal pages above PopupPage.

[2019-05-11 17:17] rotorgames commented on #426
@nox0311 @DavidCFreire Version of the plugin and XF?

[2019-05-11 17:18] rotorgames commented on #414
@koland I know about this issue. Does it happen only with Android designer, right?

[2019-05-11 17:19] rotorgames commented on #407
@DeepakKY What version of Xamarin.Forms and the plugin do you use?

[2019-05-11 17:22] rotorgames commented on #405
@abdulkhn8 Could you give me a full stacktrace or create a simple project where I can replicate this issue?

[2019-05-11 17:52] rotorgames commented on #418
@ajuanjojjj Did you try to clean and rebuild the project?

[2019-05-11 17:53] rotorgames commented on #415
@jmtejada Use Prism.Plugin.Popups library.

[2019-05-11 17:53] #415 closed

[2019-05-11 17:54] rotorgames commented on #409
@rajeshangappan @damiansikora85 Could you give me a stack trace or create a simple project where I can reproduce it?

[2019-05-11 18:23] rotorgames commented on #406
@EmilAlipiev Did you test last development builds? This issue must be fixed.

[2019-05-11 18:55] rotorgames commented on #414
@koland Did you try to use the last version of Xamarin.Forms (3.6) and Previewer?

[2019-05-11 19:21] rotorgames commented on #404
@taublast I think I have fixed this issue. Could you test the last version in Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99

Thanks.

[2019-05-11 19:28] rotorgames commented on #414
Duplicate #348

[2019-05-11 19:28] #414 closed

[2019-05-11 19:31] rotorgames commented on #348
Guys. Could you test the last version of the plugin in [Development NuGet](https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99) with the last version of Previewer?

I tested it and it worked fine. I think the Xamarin team has fixed this issue. Please give me actual feedback. Thanks.

[2019-05-12 02:07] ajuanjojjj commented on #418
I honestly cant remember, i think i didnt, I tried to reinstall it and update other plugins. I should be able to give it a try when i go work this monday

[2019-05-12 06:19] rotorgames commented on #418
@ajuanjojjj Please, let me know when you try again.

[2019-05-12 06:20] rotorgames commented on #410
@Azmarel Could you show me how it looks like? (video, gif)

[2019-05-12 16:15] taublast commented on #404
Yes, by monday will do, thanks for you efforts!

[2019-05-13 17:45] rubenc57 opened #427 "System.InvalidCastException: Specified cast is not valid."
I have this error when calling

    var page = FreshPageModelResolver.ResolvePageModel<MainPageModel>();

System.InvalidCastException: Specified cast is not valid.

plugin version 1.1.5.180

Thank you

[2019-05-13 17:47] rotorgames commented on #427
I don't see any references to this plugin in your message. Give me a full stack trace or create an issue in FreshMvvm repository https://github.com/rid00z/FreshMvvm

[2019-05-13 21:07] mrxten opened #428 "Nuspec typo"
Hi, in nuspec you specified dependency to XF 2.5.0 but your project using XF 3.4 at least six months.

[2019-05-13 22:41] rubenc57 commented on #427
You are right, sorry
I opened  an issue in FreshMvvm

Anyways this is the StackTrace:

  at FreshMvvm.FreshPageModelResolver.ResolvePageModel (System.Type type, System.Object data, FreshMvvm.FreshBasePageModel pageModel) [0x00027] in /Users/michaelridland/Projects/FreshMvvm/src/FreshMvvm/FreshPageModelResolver.cs:41
  at FreshMvvm.FreshPageModelResolver.ResolvePageModel[T] (System.Object data, T p

[2019-05-14 03:55] rotorgames commented on #427
Ok. Good luck.

[2019-05-14 03:55] #427 closed

[2019-05-14 03:58] rotorgames commented on #428
@mrxten Yes it is but it is not a problem. The plugin works fine with 2.5.0 or 3.6 versions. I keep 2.5.0 version for backward compatibility.

[2019-05-14 04:22] rotorgames commented on #372
@wtheronjones Are you sure? It looks like a memory problem. I suppose Android removes `PopupPageRenderer` from memory but when an app tries to reload `PopupPageRenderer` the app can't do it because `PopupPageRenderer` has no `System.IntPtr, Android.Runtime.JniHandleOwnership` parameters.

[2019-05-14 04:44] rotorgames commented on #423
@cassionandi Could you test the last development release in [Development NuGet](https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99)?

[2019-05-14 04:47] rotorgames commented on #404
@taublast Any news?

[2019-05-14 05:30] rotorgames commented on #366
@baskren @gayugokhale @chenxx08 Guys. Could you test the last version of the plugin in [Development NuGet](https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99)? It must be fixed.

[2019-05-14 05:39] rotorgames commented on #386
I think it was fixed in the last versions.

[2019-05-14 05:39] #386 closed

[2019-05-14 08:28] mrxten commented on #428
Oh ok, I didn't know that it's acceptable to specify less version than using.

[2019-05-14 08:28] #428 closed

[2019-05-14 10:44] baskren commented on #366
@rotorgames ,  I'll take a look.  Again, it's really intermittent so it might take a while to see.

[2019-05-14 12:04] nox0311 commented on #426
Hi
I was not in office for few days. Will get back with the requested verions ASAP.

[2019-05-14 13:07] JKennedy24 commented on #157
Should this issue be re-opened if people are still seeing it?

[2019-05-14 16:19] rotorgames commented on #157
Can anyone give me exactly the line's number of the exception?

[2019-05-14 16:31] rotorgames commented on #157
Ok, guys. I did some changes in Android's Renderer. Please, test the last version in Development NuGet: https://ci.appveyor.com/nuget/rg-plugins-popup-p6l5elugev99 and let me know about results. Thanks.

[2019-05-14 23:44] wtheronjones commented on #372
@rotorgames yessir, I do believe it's the case. I can reproduce the crash when HasSystemPadding is true(the default), and I click on the "white space" left by the padding at the top of the screen, but just on Android.

Can't you just add the constructors it's complaining about?

[2019-05-15 05:48] denmusic1992 opened #429 "BindingContext not working if Content is in a separate class"
**Popup Ver. = 1.1.5.180**

Hello! Let me explain the issue:
I have a class called `CommonPopupPage` with empty content for using it anywhere and for not to copy/paste xaml code for init the page.

xaml looks like so:

[code]
So I use it for my `ListViewPopupPage`, that is a `ContentView`:

[code]
For this class data binding not working at all. But if I change it's type to, e.g. `ContentPage`, dat

[2019-05-15 05:55] taublast commented on #404
222222222222222222222222222222222222222222222222222222222222222222 KIAQ

[2019-05-15 05:55] rotorgames commented on #372
@wtheronjones I can, but if I add a constructor it can hide a real problem but not resolve it. Could you create a simple project where I can replicate this issue?

[2019-05-15 05:57] rotorgames commented on #429
@denmusic1992 How do you apply `BindingContext`?

[2019-05-15 05:58] rotorgames commented on #404
@taublast Cool. Check it please on a real device and if it is fine I'll close this issue. Thanks.

[2019-05-15 06:05] denmusic1992 commented on #429
@rotorgames Will post my code of model, viewmodel and view.

MultiselectListView.xaml.cs:
[code]

model.cs:

[code]

and model.cs:

[code]

[2019-05-15 06:22] nox0311 commented on #426
XF : 2.5.1.527436
Rg Plugin : 1.0.4

[2019-05-15 09:13] flaviosuardi commented on #404
@rotorgames I try on iPhoneXs with iOS 12.2 and it works like a charm!
Thanks @rotorgames!

[2019-05-15 09:55] xleon commented on #372
I tried to reproduce the issue but I couldn´t do it. At least on my simulator or my device. However I see the crash at Raygun reports for a significant amount of users.

[2019-05-15 13:10] rotorgames commented on #429
@denmusic1992 I can't see anything wrong that can refer to this plugin. I think the problem in your code but if you still think that the problem is in the plugin, please, create a simple project where I can replicate this issue. Thanks.

[2019-05-15 13:13] ajuanjojjj commented on #418
got even more errors this time, cleaning or rebuilding didnt solve anything :(

`Gravedad	Código	Descripción	Proyecto	Archivo	Línea	Estado suprimido
Error		Failed to generate resource table for split '' "Failed to generate resource table for split ''".	Montessori.Android
Error		Error inesperado en la tarea "LinkAssemblies".
System.IO.FileNotFoundException: Could not load assembly 'Montessori.Andro

[2019-05-15 13:20] rotorgames commented on #418
@ajuanjojjj I can't any mentions about this plugin in your stack trace.

[2019-05-15 13:32] ajuanjojjj commented on #418
May it be more of a nuget problem then? The problems appear the moment the plugin is installed

Imma try a clean solution to check for different results

[2019-05-15 14:13] DavidCFreire commented on #426
@rotorgames
XF : 2.5.1.444934
RG : 1.1.4.145-pre

I realize that those are very old versions, i'll try to update them and get back here...

[2019-05-15 14:31] ajuanjojjj commented on #418
Clean project gave no problems, so i'm assuming its a compatibility issue. The changes in the packages.config are the following, in case you want to take a look on what could be the cause (my xamarin experience is almost nonexistant)

  <package id="Rg.Plugins.Popup" version="1.1.5.188" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.1.1.1" targetFra

[2019-05-16 01:24] gayugokhale commented on #366
@rotorgames, I solved my error. It was caused because I was trying to set popup page as a main page in App.xaml.cs. setting content page as a main page solved my issue. Thanks.

[2019-05-16 07:11] damienaicheh opened #430 "Java.Interop.JavaLocationException"
Hi, I have this bug that is appearing to be random and I can't reproduce it.
However in the stacktrace :

[code]
I see that the problem comes from : ```PopupPageRenderer.onLayout(PopupPageRenderer.java:50)```

And this lines corresponds to this block of code :
[code]

I suppose that the `_gestureDetector` was garbage collected at the wrong moment  ?
Thanks for the time you will spend to look at th

[2019-05-16 11:46] e5holdingleb opened #431 "'System.String Xamarin.Forms.Page::get_BackgroundImage()', referenced from the method 'System.Void Rg.Plugins.Popup.Animations.Base.FadeBackgroundAnimation::Preparing(Xamarin.Forms.View,Rg.Plugins.Popup.Pages.PopupPage)'"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Can't resolve the reference 'System.String Xamarin.Forms.Page::get_BackgroundImage()', referenced from the method 'System.Void Rg.Plugins.Popup.Animations.Base.FadeBackgroundAnimation::Preparing(Xamarin.Forms.View,Rg.Plugins.Popup.Pages.PopupPage)' in 'Xamarin.Forms.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null'.	Ap

[2019-05-16 15:07] badavid85 commented on #355
Same error for me on Xamarin.Forms 3.6.0.34447 and Rg.Plugins.Popup 1.1.5.188:
_Xamarin.iOS: Received unhandled ObjectiveC exception: NSInvalidArgumentException Application tried to present modally an active controller <RgPopupPlatformRenderer: 0x116005f50>._

In my case I show a Loading popup every time a user scans an RFID tag, which could happen multiple times in short period of time.

All I do

[2019-05-16 19:06] DavidCFreire commented on #426
@rotorgames @nox0311
I just updated the app to
XF: 3.6.0.220655
RG Plugin: 1.1.5.180

and all of my problem's was solved...

[2019-05-16 23:08] EmilAlipiev commented on #406
@rotorgames i have cloned develop branch and extended your demo project. See the OnLogin function in the attached project. I changed how you pushed loadingpopup page with an IDisposeable. this code works fine on Android and UWP but not on IOS. loadingpopup is hanging so long, not disposing immediately.

[Demo.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/3189307/Demo.zip)

[2019-05-17 11:07] mariusgabris commented on #431
I believe this was resolved in [425](https://github.com/rotorgames/Rg.Plugins.Popup/pull/425), we just need a new release for this.

[2019-05-17 19:36] natsnudasoft commented on #348
Hi, I'm experiencing this issue also. How can we get the latest version of Previewer in Visual Studio 2017 to test this?
Visual Studio 2017 - 15.9.12
Xamarin.Forms - 3.6.0.344457
Rg.Plugins.Popup - 1.1.5.188
Prism.Plugins.Popup - 2.2.0.293

[2019-05-19 07:33] rotorgames commented on #418
@ajuanjojjj I didn't find any problems. I'll close this issue but if you get this problem again, please, reopen this issue.

[2019-05-19 07:33] #418 closed

[2019-05-19 07:34] rotorgames commented on #404
@flaviosuardi Nice to hear it.

[2019-05-19 07:34] #404 closed

[2019-05-19 17:15] dansiegel opened #432 "Add Xmlns Definition"
# Description

Add a XmlnsDefinition attribute to bring in all relevant namespaces in a single easy to use format, instead of having to bring in fully qualified clr-namespaces. This will require direct support for netstandard 2.0 and targeting Xamarin.Forms 3.5+

[code]

## Existing

[code]

## Proposed

[code]

[2019-05-20 06:22] e5holdingleb commented on #431
No it did't get resolved, the android won't build with "Link Assemblies on", and the IOS is giving the above error.
The last update for this library was about 3 month ago.

[2019-05-21 13:53] thomasonb commented on #429
I am also able to replicate this issue, I'm using Fody.PropertyChanged for the PropertyChanged code. I've tested the code in a normal view and it works, but in a PopupPage it doesn't work.

[2019-05-21 16:59] mariusgabris commented on #431
Yes, but the PR was accepted 13 days ago, so it is not in the latest package from nuget

[2019-05-21 22:53] davidbuckleyni opened #433 "Screen Is Very Dim"
I am using the following code to call your popup but it makes the screen very dim unmolst to dark to read the content any ideas andriod 7 stk phone.

`   // Pop the page and show the result
                Device.BeginInvokeOnMainThread(async () =>
                {

                    await Navigation.PopAsync();
                    BomComponentData getInfo = await database.GetBomByBarCode(resul

[2019-05-22 07:10] rotorgames commented on #432
@dansiegel It's a good idea and I like it. I can see only one problem and it's backward compatibility. Currently, this plugin can be installed with Xamarin.Forms 2.5+ and I like it, but I have to set Xamarin.Forms 3.5+ for supporting XmlnsDefinitionAttribute :(

[2019-05-22 14:43] dansiegel commented on #432
@rotorgames yes you would have to update to 3.5. That trying to support back to 2.5 is really not worth it. There have been too many breaking changes in their API that have the potential to create problems for people. You're also already building against 3.4 which means that your support back to 2.5 is really theoretical and only because you're using a manually edited nuspec which lets you force y

[2019-05-22 16:13] MitchBomcanhao opened #434 "PopupPage with button.Imagesource > FontImageSource crashes on page resize"
- Xamarin Forms 4.0.0.425677
- Xamarin Forms Visual Material 4.0.0.425677
- Rg.Plugins.Popup 1.1.5.188

I've got a popup with a few buttons on it.

If said buttons have a FontImageSource, the app will crash on Android  when rotating the device - looks like it falls into a page resizing infinite loop and gets killed by the system.

The project below reproduces the issue.
[ResizeCrashBug.zip](https:

[2019-05-22 18:57] melihercan opened #435 "Forms 4.0 breaks iOS (and MacOS) platform(s)"
I upgraded to new Xamarin.Forms version 4.0 and observed that
**await PopupNavigation.Instance.PopAsync(true);**
call throws an exception on iOS and also on MacOS (I added the MacOS platform from pull request https://github.com/rotorgames/Rg.Plugins.Popup/pull/226).

I will provide more details soon.

[2019-05-23 05:29] melihercan commented on #435
Sorry the exception on iOS was my fault (due to a custom renderer) and there is no issue on iOS.

But the MacOS exception is still there. It throws the following exception:

Unhandled Exception:
System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.Forms.Platform.MacOS.ViewRenderer`2[TView,TNativeView].SetNativeControl (TNativeView uiview) [0x00046] in <1

[2019-05-23 07:46] MitchBomcanhao commented on #434
I may have jumped the gun - this also appears to fail when not using a popup page, so the root cause may be with Xamarin forms.

[2019-05-23 08:37] MitchBomcanhao commented on #434
Closing as not really a popup issue. taking it up with Xamarin forms

[2019-05-23 08:37] #434 closed

[2019-05-23 16:47] Almazidi commented on #431
any workarounds for now??

[2019-05-23 17:07] Almazidi commented on #431
returning to xamarin forms version 4 pre9 solved it

[2019-05-24 03:31] denmusic1992 commented on #429
Hi @rotorgames ! Sorry for a very late answer, just now I've had some free time to create sample code.
Here is zip archive with it inside:
[ListTestApp.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/3214954/ListTestApp.zip)

[2019-05-24 19:17] TimBarton opened #436 "System.ArgumentOutOfRangeException"

[2019-05-24 19:27] TimBarton commented on #436
After upgrading to Xamarin Forms 4.0, I am getting this error when calling await Navigation.PopAsync(true):

`uncaught exception 'System.ArgumentOutOfRangeException', reason: 'System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.'`

When I remove "using Rg.Plugins.Popup.Extensions", My app doesn't crash.  I downgraded to Xamarin

[2019-05-26 15:06] e5holdingleb commented on #431
returning to older versions will cause you loss of new security features and other features like IconImageSource in ToolbarItem

[2019-05-26 18:29] rotorgames commented on #431
Ok, guys. I can see that BackgroundImage was changed to BackgroundImageSource in Xamarin.Forms. It can be a problem because I would like to keep backward compatibility with Xamarin.Forms 2.5. But I think I can't do it.

So, I'm going to prepare a new minor version of this plugin to support 4.0 and #432. I'm really sorry that I can't support this plugin for old versions.

:(