[2020-12-18 09:49] GDT48 opened #624 "Update To 2.0.0.9 Causing Error"
## 🔙 Regression

<When I update from 2.0.0.6 to 2.0.0.9 I get the following error on line:>

### In MainActivity.cs                Rg.Plugins.Popup.Popup.Init(this, savedInstanceState);    No Isuue

### In MainActivity.cs                Rg.Plugins.Popup.Popup.Init(this, savedInstanceState);    After update results in error:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1501

[2020-12-18 10:51] DiegoFaFe commented on #624
@GDT48  The parameter was removed in commit [42d71b9](https://github.com/rotorgames/Rg.Plugins.Popup/commit/42d71b9f27630c36e2a78e586279c15b15400075#diff-26aae7721902c0366d06e25a744551a81bb95b04d94b0a2ea96908dd1e470c9a). Just remove it

[2020-12-18 13:07] aptwebapps commented on #605
Fixed with 2.0.0.9

[2020-12-18 13:07] #605 closed, assigned to nobody

[2020-12-19 12:02] wallacemariadeandrade commented on #485
Same problem here! I'm using version 2.0.0.9

[2020-12-19 16:27] WorldOfBasti opened #625 "Keyboard offset not working with Version 2.0.0.7 or newer"
## 🐛 Bug Report

### Expected behavior
Keyboard offset should work and resize the page with the padding height of keyboard

### Reproduction steps
1. Set HasKeyboardOffset to true
2. Add Entry, Picker or something similar to the page
3. Focus it and the bug will occur

### Configuration
**Version of Xamarin:** 4.8.0.1821 (latest stable release)
**Version of the plugin:** 2.0.0.7 or newer

**Platfo

[2020-12-21 22:36] #608 closed, assigned to nobody

[2020-12-21 22:40] LuckyDucko commented on #580
@Alextorres950325 if you don't have a project I can reproduce, im going to have to close this for now.
However, if this keeps happening, and you are able to track it down, feel free to @ me here, and I'll reopen

[2020-12-21 22:40] #580 closed, assigned to nobody

[2020-12-22 03:45] #564 closed, assigned to LuckyDucko

[2020-12-22 03:46] #621 closed, assigned to nobody

[2020-12-22 03:49] LuckyDucko commented on #611
thanks @shweta1915, updated the wiki to this now

[2020-12-22 03:49] #611 closed, assigned to nobody

[2020-12-22 03:54] LuckyDucko commented on #620
updated the wiki, let me know if this still doesn't go well

[2020-12-22 03:54] #620 closed, assigned to nobody

[2020-12-22 03:56] #588 closed, assigned to nobody

[2020-12-22 04:00] #360 closed

[2020-12-22 04:05] LuckyDucko commented on #624
updated the wiki, @DiegoFaFe is correct

[2020-12-22 04:05] #624 closed, assigned to nobody

[2020-12-22 04:05] #598 closed, assigned to nobody

[2020-12-22 07:25] vividos commented on #620
I removed the extra parameter from the Init() call, and everything still works. I think @rscholey just wanted to clarify if the docs are correct.

[2020-12-22 11:34] martijn00 commented on #618
That is not necessary for now

[2020-12-22 11:34] #618 closed, assigned to nobody

[2020-12-23 21:43] LuckyDucko commented on #622
@cbananas this should be all sorted now, with the fix in the next nuget update

[2020-12-23 21:43] #622 closed, assigned to LuckyDucko

[2020-12-24 08:05] cbananas commented on #622
Excellent, thanks!

[2020-12-24 18:29] iashaik commented on #557
This is closed with #604

[2020-12-24 18:42] iashaik commented on #595
Can't replicate this issue, most probably fixed with #604

[2020-12-25 08:03] LuckyDucko commented on #595
@iashaik thanks for that, I haven't had much experience concerning WPF, so your PR was very helpful.

I'll confirm this in the next couple of days when I have a chance

[2020-12-25 09:14] iashaik commented on #595
@LuckyDucko

No issues, I have added a test on the demo page called setting, you cna just run there to test.

Tag me if there are any WPF specific issues.

[2021-01-04 01:56] LuckyDucko commented on #595
@iashaik while this issue is fixed, I have noticed something new.

Currently, with 'Close on Background click' on, if you click anywhere, including within the popup, it seems to treat it like a background click and close it? any ideas

[2021-01-04 01:59] #595 closed, assigned to LuckyDucko

[2021-01-04 02:05] iashaik commented on #595
I can take a look, most probably some hit testing issue.

Do we have a bug created?

Thanks.

[2021-01-04 02:07] LuckyDucko commented on #557
@iashaik going to continue the conversation from #595 here

 i tested this out, and I with the latest changes, it seems that it will now close no matter what if 'Close on Background click' is enabled

 Just a quick glance, and it would seem that we don't want to send a BackgroundClick on any mouse down scenario which is what this code would be doing
[code]

perhaps, we can check mouse X/Y against

[2021-01-04 03:35] LuckyDucko commented on #595
@iashaik see #557

[2021-01-04 06:24] VladislavAntonyuk commented on #557
When I implemented it, I denied the pop up to close on click, because it closes even when you click on its content. From my point of view it is a known issue of the native WPF popup

[2021-01-05 14:53] mcferdev commented on #586
No. Annoying...

I am stuck on this a long time. I tried several things, but no luck.

@nbsoftware I just have this problem with ListView also.

[2021-01-06 19:23] WorldOfBasti commented on #625
Is there any progress or a solution? 2.0.0.6 isn't compatible with Xamarin.Forms 5+ and popups are important for us..

We could determine that if you remove the if statement in [line 64 in the PlatformExtension.cs file](https://github.com/rotorgames/Rg.Plugins.Popup/blob/d6e42adae2e957c1548ef5e6decfe3fa69abb6c6/Rg.Plugins.Popup/Platforms/Ios/Extensions/PlatformExtension.cs#L64) it will work as exp

[2021-01-06 22:04] mcferdev commented on #586
I noticed that my problem was because on iOS, the Listview has a empty space on the top. If I tried to scroll, I could see the other option.
So, I forced my Listview to scroll down.

[code]

[2021-01-06 22:31] nbsoftware commented on #586
But that's only a workaround, right?
We should have to do that.

[2021-01-07 06:08] LuckyDucko commented on #586
Investigating this, I have some simulators running iOS 12.1 (both notched/unnotched phone types) and they don't show this issue running the latest code.

So it seems something has changed between how iOS 12 treats its padding, and iOS 14
I have been trying to work with SafeArea insets/Padding and haven't had much luck

Update
-----

While messing around, I found out that it has something to do wit

[2021-01-07 06:24] LuckyDucko commented on #625
hey @WorldOfBasti I think I found it.

Line 64 was added in to make XF 5.0 work (a pre-release of it anyway), so while removing it does make XF4.8 work smooth, it does suffer the same original bug as #589. So I had to keep it in.

the fix was related however (good catch), adding an extra condition for the system padding changing, which is what the keyboard offset works with, allowed it to work. Li

[2021-01-07 13:03] WorldOfBasti commented on #625
Hello @LuckyDucko,
Yes I can confirm with this works it as expected.

[2021-01-07 16:33] RadoslawKubas opened #627 "InvalidCastException after update to 2.0.0.9"
## 🔙 Regression

I'm using Prism and Prism.Plugin.Popups (8.0.31-beta), so it may be this plugin issue because of any breaking change. It is working fine with 2.0.0.7, but after update to 2.0.0.9, when opening popup I see **InvalidCastException** on Android (on iOS everything is fine):

`Specified cast is not valid.`

[code]

### Old (and correct) behavior

Popup opens.

### Current behavior

Inva

[2021-01-08 05:51] LuckyDucko commented on #627
hey @RadoslawKubas

Are you able to provide a reproducable repo that I can work on.
We did have a change to internals concerning adding nullables and some otherrecommended/automated code changes in 2.0.0.8

I believe it may be the nullables that are causing issue here? but I am unfamiliar with the prism plugin

[2021-01-08 07:01] RadoslawKubas commented on #627
Hello @LuckyDucko and I'm sorry.

When I was preparing a reproduction sample I noticed that it was my mistake in initialisation

`Rg.Plugins.Popup.Popup.Init(Android.App.Application.Context);`

After correct

`Rg.Plugins.Popup.Popup.Init(this);`

everything is fine.

[2021-01-08 07:01] #627 closed, assigned to nobody

[2021-01-10 17:31] henda79 commented on #304
You should update the Wiki docs at https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button as the code suggested by @acaliaro is exactly what is shown there.

[2021-01-10 21:58] RadoslawKubas commented on #625
Hello, when is the new version with this fix expected to be available on NuGet?

[2021-01-10 22:03] LuckyDucko commented on #625
only @martijn00 has control concerning the NuGets, I'll close this ticket when he pushes one out

[2021-01-10 22:12] LuckyDucko commented on #304
@henda79 which version of @acaliaro are you mentioning here?

[code]

This code would pop all of the popups (as far as I am aware?) you have if you hit the background of the app. Which, while helpful to some, would not be considered universal behaviour.

[2021-01-11 08:54] AlexeyStarkov commented on #599
Samsung is a most popular android smartphone producer I guess, especially in US, AU and EU

[2021-01-11 22:43] martijn00 commented on #625
New nuget is up now

[2021-01-11 22:43] #625 closed, assigned to LuckyDucko

[2021-01-12 20:25] henda79 commented on #304
@LuckyDucko, see this comment by the repo owner here.

[2021-01-12 22:22] LuckyDucko commented on #304
@henda79 ah, my bad I misunderstood.

the if/else construction is only important I guess to people who require some extra functionality. We use it for debugging in our samples

[code]

I'm thinking that the Wiki should have both, but mention the one-liner you pointed out as all that is required. that way we people browsing the wiki will see both the quick basic way, and more advanced usage

[2021-01-12 22:24] henda79 commented on #304
@LuckyDucko Yes, I agree with that.

[2021-01-13 14:28] BurkusCat opened #629 "[UWP] Pressing back button navigates the page behind backwards (Prism 7.2)"
## 🐛 Bug Report
I am using Prism 7.2, Xamarin.Forms 4.8, and trying to use Rg.Plugins.Popup on UWP. If I navigate through a few pages and then open up a popup. The back button is still available. When I press the back button, the page *behind* the popup navigates backwards. The popup remains open.

In the pop up, I am trying to have the back button press be ignored:
[code]

This stops the popup fr

[2021-01-18 09:48] WilliamWatterson86 commented on #585
Hi @LuckyDucko - also seeing this issue.  Is there any workaround?

[2021-01-18 23:50] LuckyDucko commented on #585
@WilliamWatterson86 I haven't looked at this in a while, and I'm unsure how to go about it fixing it to be honest.

To be clear, do you get it with the latest version?

[2021-01-18 23:55] WilliamWatterson86 commented on #585
Thanks @LuckyDucko. Yes I updated today and it still happens. I only see it on android, iOS seems ok.

 I made a bit of a hack today and check if voice over is on and if it is I set the page that would be in the background to IsVisible false when navigating to the popup page, then back to true when I navigate back.  So this hides the background page and so the elements aren’t selectable anymore. L

[2021-01-19 00:08] LuckyDucko commented on #585
@WilliamWatterson86

Were you having issues with iOS in anything below say, version 2.0.0.5?
Recently we have been doing some fixes around that for iOS, and if it seems to have 'fixed' itself on iOS now, then perhaps we can look into doing some sort of similar touch ups on android

[2021-01-19 19:18] WilliamWatterson86 commented on #585
@LuckyDucko - I have just tried it with 2.0.0.4, and it seems to work fine with that version too.  So unless the fix was before that?

[2021-01-19 21:25] paul-kiar commented on #610
I have tried this with Xamarin Forms 5.0 full release and it hangs when you try to show a popup.

Forgot to mention this is on iOS 14.4 (beta)

[2021-01-19 21:40] LuckyDucko commented on #610
@paul-kiar which version of the plugin are you using?

[2021-01-19 21:43] paul-kiar commented on #610
Ng.Plugins.Popup 2.0.0.5 just updated to 2.0.0.10 and it is fixed.

[2021-01-19 21:44] LuckyDucko commented on #585
@WilliamWatterson86 it was just a shot in the dark, it could be one before that aswell, or it could be fixed through xamarin/new version of iOS.

Still have android to work out though

[2021-01-20 10:58] UweReisewitz opened #630 "Support for native Dialogs in Xamarin Forms WPF"
## 🚀 Feature Requests
Mobile devices use a single page, so it is no problem to show dialogs as areas within this page. On the other hand, in Windows Desktop one expects to see MessageBoxes or Custom Dialogs to show in a separate Window

### Contextualize the feature
A Windows Desktop user expects MessageBoxes or custom dialogs (e.g. Search-Input, About Box, Information Details etc.) to show in a s

[2021-01-20 22:44] LuckyDucko commented on #630
So to be clear you want a flag that can be used to enable/disable this function, depending on the WPF developer?

I am hoping this involves some simple snippet where we can just push a page to a seperate window for WPF, otherwise this might be quite the hassle.

[2021-01-21 08:02] UweReisewitz commented on #630
Sorry, maybe I'm missing something here. In my experience the Popups are always restricted to the Client Area of the WPF-MainWindow.
Is it already possible to open them in a separate Window?

[2021-01-21 17:05] anpin opened #632 "UWP crashes on popup opening in Release"
## 🐛 Bug Report
UWP app packaged in VS 2019 for Release crashes with following stack

`
System.InvalidCastException: Specified cast is not valid.
StackTrace:
Rg.Plugins.Popup.Windows.Impl.PopupPlatformWindows
<AddAsync>d__11.MoveNext ()
System.Runtime.ExceptionServices
ExceptionDispatchInfo.Throw ()
System.Runtime.CompilerServices
TaskAwaiter.ThrowForNonSuccess (Task)
System.Runtime.CompilerServic

[2021-01-21 17:07] anpin commented on #629
Can report the same issue

[2021-01-25 13:39] mcferdev commented on #586
Yes, for sure.
Just a help for who needs a solution asap.

[2021-01-25 13:41] mcferdev commented on #586
Nice !! Much better...

[2021-01-25 19:48] #632 closed, assigned to nobody

[2021-01-25 19:48] anpin commented on #632
read the docs :)

[2021-01-25 20:57] MaxxDelusional opened #633 "The Popup class is missing from the Popup namespace on UWP"
## 🐛 Bug Report

I am unable to initialize the plugin because the Popup class does not appear to exist in UWP.

"CS0234: The type of namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup'"

### Expected behavior

When using nuget package verson 2.0.0.10, I would expect the Popup class to available.

### Reproduction steps

Create a UWP project, and add the Rg.Plugins.Popup nuget

[2021-01-25 21:01] MaxxDelusional commented on #633
Nevermind, after I posted my issue, I saw that UWP requires a min version of 10.0.17763.

After changing this in my project, everything worked correctly.

[2021-01-25 21:01] #633 closed, assigned to nobody

[2021-01-27 12:12] Suplanus opened #634 "macOS: Popup not shown"
## 🐛 Bug Report

If the popup is called the background is dimmed but the content will not show up.

I call this via:
[code]

[code]

If I set a breakpoint on `PushPopupAsync()` it works. So I tested if a `Task.Delay()` would be a workaround. But no, it doesn't work.
This code works on iOS.

### Expected behavior
Popup shown

### Reproduction steps
Run the code and add some content.

### Configurat

[2021-01-29 13:03] cmkarthik210 opened #635 "App Crash in ChildViewControllerForStatusBarHidden"
## 🔙 Regression

We are using this package for past 3 years and we have not faced anything like this in our project.

On app started crashing  in last 2 days and we got the crash log which is attached with this post.

[CrashReport.txt](https://github.com/rotorgames/Rg.Plugins.Popup/files/5893812/CrashReport.txt)

Please help us on this issue.

We are not able to update the package from 1.2.0.223 t

[2021-01-30 08:56] LuckyDucko commented on #635
@cmkarthik210 what dependencies are stopping you from upgrading to a newer version of the plugin? is some other dependency you have reliant on the older 1.2 version of this plugin?

I think that it was [fixed](https://github.com/rotorgames/Rg.Plugins.Popup/issues/605) in version 2.0.0.9.

[2021-02-02 11:21] mohsinhasanPX opened #639 "504 Gateway Timeout"
I am getting 504 Gateway Timeout while installing package.

https://api.nuget.org/v3-flatcontainer/rg.plugins.popup/index.json

[2021-02-03 12:49] acaliaro opened #640 "Label in collection view is not visualized"
## 🐛 Bug Report
[TestFody.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/5918501/TestFody.zip)

I have a Popup with a collectionview and a Label. There are 4 items in the CollectionView. Labels' text is invisible.

![image](https://user-images.githubusercontent.com/5759350/106748883-24601880-6626-11eb-9c6a-947ed8792327.png)

If I change the xml and execute HotReload, the Text become vis

[2021-02-03 21:46] LuckyDucko commented on #639
@mohsinhasanPX I believe this would be a nuget issue, so I'm going to close this.

[2021-02-03 21:46] #639 closed, assigned to nobody

[2021-02-03 23:56] LuckyDucko commented on #640
Hi @acaliaro

After a bit of poking around, I found out the error is not with rg, but the bindings in your data template.

The binding are correct, however, if I switch them from Classic bindings to [Compiled bindings](https://docs.microsoft.com/en-au/xamarin/xamarin-forms/app-fundamentals/data-binding/compiled-bindings?WT.mc_id=compiledbindings-xamarinblog-jamont#use-compiled-bindings-in-a-datate

[2021-02-04 06:17] acaliaro commented on #640
Excellent @LuckyDucko . Problem solved! Have a nice day

[2021-02-04 06:17] #640 closed, assigned to LuckyDucko

[2021-02-05 10:08] JesperNJessen commented on #562
This still seems to be an issue.
EDIT: I made a help issue for the problems I was encountering: #641

[2021-02-05 12:23] JesperNJessen opened #641 "Using this plugin with Firebase Cloud Messaging notifications"
## 💬 Questions and Help

For anyone who might have the same issues I had today. When using this plugin in conjunction with Firebase Cloud Messaging for notifications, you will most likely get an InvalidCastException when trying to push a popup page to the PopupNavigation stack on Android.

This is because the plugin has not been initialized correctly. I had this in my MainActivity/OnCreate:

[code

[2021-02-08 02:57] LuckyDucko commented on #634
hey @Suplanus could you make a small example of what you have an include it here, so I know exactly the use case.

[2021-02-08 06:36] Suplanus commented on #634
I will make a small example. Give me some time 🚀

[2021-02-14 20:12] valentasm1 commented on #619
This solution is temporally since you always have to do it by hand. I am using xamarin 5 and having same issue.

[2021-02-14 22:26] LuckyDucko commented on #619
@valentasm1 ill reopen and change the title of the bug to better reflect the bug thats happening here

[2021-02-15 23:29] teamtam commented on #634
I am also experiencing this issue on a production iOS app. The issue seems to be when using XCode 12. When I rolled back to XCode 11.7 on my build server, the dialogs worked as they did previously.

[2021-02-17 19:45] ajtruckle opened #642 "I am having issues displaying popups when my app is on y external monitor"
## 💬 Questions and Help

For questions or help we recommend checking:

- The [Xamarin tag in Stack Overflow](https://stackoverflow.com/questions/tagged/xamarin)
- The [General slack channel in the Xamarin Slack](https://xamarinchat.herokuapp.com/)
- Ask your question in the [Xamarin Forums](https://forums.xamarin.com/)

[2021-02-17 19:51] ajtruckle commented on #642
I am new to using this excellent library so this might be something I am doing.

Here is my XAML code so far:

[code]

When I run this on my MacBook Pro I have no problems displaying pop-up windows:

![IMG_1899](https://user-images.githubusercontent.com/7985331/108259493-113a6600-7159-11eb-8f61-a15ce2324bce.jpeg)

I can drag my window (with this popup visible) over to my external monitor:

![IMG_1

[2021-02-17 20:54] ajtruckle opened #643 "Standard button animations?"
Sorry of this has already been covered but I could not find anything.

When I run my Xamarin app on my Mac and click one of the buttons on the master page you see an animation (like a flash) as expected.

But when I click button on the popup window it has no animations. Is it possible for these buttons to use the same animation behaviour as the main page? As I have not added any specific animation

[2021-02-17 20:56] ajtruckle commented on #634
I have experienced this issue fort reasons:

1. The first reason was because the behind code file was in the wrong folder.
2. The second reason was because I dragged my window to my external monitor. Then it behaves exactly as you described (dimmed and no popup). Move back to laptop screen and popup shows.

[2021-02-17 21:57] LuckyDucko commented on #642
@ajtruckle can you provide me with an example zip, I can try and give this a look into.
This rings a bell as an issue, it may have happened before. it is a small use case scenario so im not surprised you are finding issues surrounding it.

[2021-02-17 21:59] ajtruckle commented on #642
I could privately zip up my project folder and email it to you somehow if you like.

[2021-02-17 21:59] LuckyDucko commented on #634
@teamtam this is very interesting, are you running your iOS app on an M1 Mac?

And @ajtruckle I wonder if this matches with your issue.

[2021-02-17 22:00] ajtruckle commented on #634
Ironically, my iOS simulator seems fine on either screen. It is my macOS build that isn't ok.

[2021-02-17 22:01] LuckyDucko commented on #642
@ajtruckle if you can confirm there is nothing funky you have done in any code behind, I might just grab this example xaml and make a project that is basically
mainpage has 1 button
this button opens the popup.

And I can try and work things from there?

[2021-02-17 22:06] ajtruckle commented on #642
I certainly have nothing funky.

I am learning all this.

I use some set / get preferences and and subscribe/send messages to transferring information.

What I can tell you is that my external screen is not a retinae enabled display like the laptop screen. So it is not as hitch as the laptop screen. Yousee a difference to the colours as you move the window from one display to the other. I do not k

[2021-02-17 22:47] ajtruckle opened #644 "Using static resources to style buttons"
Are there any special instructions for using static resources in popups?

I ask because I tried adding a simple button section with various properties into the app.xaml file. Then I tried to apply it in my button in the popup with `Style="{StaticResource buttonStyle}"`.

Whilst `buttonStyle` showed for me to select in the intellisense the overall line had squiqqles saying it couldn't be done. That

[2021-02-17 22:50] teamtam commented on #634
@LuckyDucko I am still working on this, but this is what I have found so far.

Issue arose with builds from both my dev machine and build server.
- Dev machine is a 2015 vintage Intel based one
- Build server is Azure Devops _macOS-10.15_ image

Tested on both iPhone XR and iPhone 12 on iOS 14 which causes the issue. Dialogs work fine with the same build(s) on an iPhone 11 with iOS 13.4.1.

I have

[2021-02-17 22:59] LuckyDucko commented on #642
if you are looking for awaiting results of a popup page, acaliaro has a method for that [here](https://acaliaro.wordpress.com/2020/12/07/create-a-popup-using-rg-plugins-popup-and-get-a-return-value/), I do have a plugin as well [here](https://github.com/LuckyDucko/AwaitablePopups)

So, for a quick fix @ajtruckle it seems that the issue is the system padding, and how it is calculated between screen

[2021-02-17 23:00] LuckyDucko commented on #634
I recommend setting system padding to false and checking if this still happens @Suplanus. As I believe it may be an issue with external screens being different resolutions

[2021-02-17 23:02] LuckyDucko commented on #623
@alexpetin it seems this issue with system padding causes other issues (#634) as well. I just haven't found the time to give it a good look at.

[2021-02-17 23:05] LuckyDucko commented on #644
I dont dabble in styles often. However, app.xaml should be fine, as it is used within this [project](https://github.com/rotorgames/Rg.Plugins.Popup/blob/develop/Samples/Demo/App.xaml)

[2021-02-17 23:06] LuckyDucko commented on #643
I would need more information for this, is the animation on the button itself? Seems like an unusual error. Can you provide a test project?

[2021-02-17 23:18] ajtruckle commented on #642
I will look at those links. Thanks. How do I set system padding equal to false on the page?

[2021-02-17 23:23] LuckyDucko commented on #642
ah sorry should've added an example

[code]

[2021-02-17 23:34] ajtruckle commented on #643
The code you already have. Same popup. My main window which uses system buttons animate a little bit when clicked. But the popup ones do not. No animations of any kind.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tyson Elliot Hooker <notifications@github.com>
Sent: Wednesday, February 17, 2021 11:07:12 PM
To: rotorgames/Rg.Plugins.Popup <Rg.Plugins.Popup@nore

[2021-02-17 23:38] ajtruckle commented on #642
@LuckyDucko Works. 😀👍

[2021-02-17 23:39] ajtruckle commented on #643
I think it must be the Pressed event perhaps,  when the standard button is pressed the button colour changes,  mine doesn’t in the popup.

[2021-02-18 00:02] ajtruckle commented on #643
So I don't know how to debug it. But "by default" my main pages "Button" elements change colour when you press (tap) the button, At least, this automatically happens on the Mac. But not in the popup window.

Hope that makes sense.

Night.

PS. A related issue about images for my popup is here: https://stackoverflow.com/questions/66250047/using-onplatform-to-change-the-width-of-buttons-for-ios-and-

[2021-02-18 12:47] apines-gms-online-de opened #645 "[UWP] Slide-in MoveAnimation does not work on UWP"
## 🐛 Bug Report

We use the following code for popup animation

    <pages:PopupPage.Animation>
        <animations:MoveAnimation PositionIn="Bottom"
                                   PositionOut="Bottom"
                                   DurationIn="300"
                                   DurationOut="300"
                                   EasingIn="SinOut"
                                   E

[2021-02-18 17:19] ajtruckle opened #646 "Overriding OnBackButtonPressed and OnBackgroundClicked"
I wanted to try and replicate my Cancel Button click handler:

        async void CancelButton_Clicked(System.Object sender, System.EventArgs e)
        {
            // Pass the correct "button clicked" value
            if (NameEntry.IsReadOnly)
                await _popupPageModel.ClosePopUp(ButtonType.No);
            else
                await _popupPageModel.ClosePopUp(ButtonType.Cancel);

[2021-02-18 22:20] LuckyDucko commented on #646
@ajtruckle could you provide a zip project to make it easier to debug.

The OnBackButtonPressed() and similar functions are not async, so I dont believe you can override them.

However, you could use [this package](https://github.com/brminnick/AsyncAwaitBestPractices) to do whatever the `popupPageModel.ClosePopup` needs to be done.

[2021-02-18 23:32] ajtruckle commented on #646
Can I send that privately rather than in the public domain?

[2021-02-19 01:52] LuckyDucko commented on #646
sure, would be best if you made a small use case that is similar, but that is fine too, send it to tysonhooker@live.com

[2021-02-19 21:46] ajtruckle commented on #646
Hi

I have not forgotten about this. I wanted to tidy my app up a bit.

I decided to disable the clicking of the background (because my app shuts down ... 😊). At the moment the handler is not in the file. But if it can be and doesn't crash, then that will be good.

As for back button I do not know how to actually test that on a Mac environment or the iOS simulator.

[2021-02-21 18:50] tnassour opened #647 "Get compatibility with MvvmCross"
## 🚀 Feature Requests

### Contextualize the feature

Actually this plug in is not compatible with MvvmCross how is it possible to display these dialogs with MvvmCross

### Platforms affected (mark all that apply)
- [ x] :iphone: iOS
- [x ] :robot: Android
- [ x] :checkered_flag: WPF
- [ x] :earth_americas: UWP
- [ x] :apple: MacOS
- [ x] :tv: tvOS
- [ x] :monkey: Xamarin.Forms

[2021-02-22 10:01] McFlemchSoda commented on #585
Hi, I'm experiencing the same issue and I don't think Xamarin Forms will fix this since it's specific to popups. We're using your plugin because Xamarin doesn't support this feature. So I do think it has to be fixed here. iOS works fine, Android does not.

Since a lot of apps in Europe will have to comply to accessibility features by law, we are looking for workarounds or other plugins. Would be g

[2021-02-22 23:27] LuckyDucko commented on #647
hey @tnassour to achieve compatibility, there would need to be a seperate package, similar to prism being compatible through @dansiegel [helpful contributions](https://github.com/dansiegel/Prism.Plugin.Popups)

Perhaps you can talk to some Mvvmcross developers to maybe create a similar thin wrapper?

Otherwise, I'm going to close this issue as its outside of the scope of this plugin

[2021-02-22 23:27] #647 closed, assigned to nobody

[2021-02-22 23:32] LuckyDucko commented on #585
@McFlemchSoda

I'm sorry I haven't dedicated time to this, keeping up with projects can be time consuming.

if you, or anyone else, could provide a quick zip project with the following that would be helpful.
1. an example of the talkback not working on android.
2. the same sample working on iOS.
3. a short video showing it fail. Something tiny, you can upload direct to this issue

Then I can swap

[2021-02-23 05:27] ajtruckle opened #648 "Can I make my Entry control visible when the keyboard is on screen?"
Hi

if I am in portrait it is ok:

![8F7B9D04-90D6-4F44-8AA1-4E4587355B70](https://user-images.githubusercontent.com/7985331/108805250-94175280-7597-11eb-9a05-07d8738571a1.png)

When in landscape:

![8ED0ED64-B657-45E4-A42D-A3C286DEF55F](https://user-images.githubusercontent.com/7985331/108805267-a2656e80-7597-11eb-8c83-5c0baa3adae5.png)

It functions but it is quite fiddly not seeing the text. Is

[2021-02-23 17:34] ajtruckle commented on #643
I have since found out that I can add animations to my `Clicked` handler, like this:

        async void CancelButton_Clicked(System.Object sender, System.EventArgs e)
        {
            await Task.Delay(100);
            await CancelButton.FadeTo(0.3, 100);
            await Task.Delay(100);
            await CancelButton.FadeTo(1, 100);

            // Pass the correct "button clicked" value

[2021-02-25 20:56] vchelaru commented on #542
Any updates on this? I am also interested in this.

[2021-02-27 02:24] LuckyDucko commented on #648
@ajtruckle I thought I responded to this, but use `HasKeyboardOffset` shown [here](https://github.com/rotorgames/Rg.Plugins.Popup/wiki/PopupPage)

[2021-02-27 09:30] ajtruckle commented on #648
Thanks. I was not aware of that. But it says the default is `true` so it should be on anyway?

I have made changes to my app so that I can do all the the work on the main page without a popup. My reason for this is because I wanted my popup to look n' feel just like the `DisplayAlert `counterpart (which is different on iOS and macOS. My buttons were too out of character. Not your fault.

I will be

[2021-03-01 09:55] giuseppenovielli commented on #599
me too, not only Sansung Devices, also Xiaomi, LG, Android All, Rg.Plugin.Popup 2.0.0.10

From AppCenter

[code]

[code]

[code]

[2021-03-02 14:12] uday-lucky commented on #585
Hi @LuckyDucko  , i am facing this issue too. I am attaching the sample zip file here. you can reproduce the issue with it. any solution to fix this, please update ASAP. Thank you :)
[XFAccesibilitySample.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/6069169/XFAccesibilitySample.zip)

[2021-03-02 14:18] uday-lucky commented on #585
@LuckyDucko here is the sample video !!

https://user-images.githubusercontent.com/16937883/109661533-16070d00-7b90-11eb-8e2e-018d2e8fca00.mp4

[2021-03-03 09:27] juanmalm opened #650 "[UWP] Crash showing a PopupPage that contains a CarouselView"
## 🐛 Bug Report

Create a PopupPage that contains a Xamarin.Forms 5.0 CarouselView and push it.
Current behavior: It crashes.

[code]

### Expected behavior
Popup appears properly

### Reproduction steps
- Create a new PopupPage
- Add a CarouselView to previous PopupPage's xaml
- Push the PopupPage

### Configuration
Xamarin.Forms 5.0
Windows 10 19042.804

**Version:** 2.0.0.10

**Platform:**
- [x

[2021-03-03 16:27] JTOne123 opened #651 "[Android] How to restore opened dialogues if "System->Developer options->Don't keep activities" enabled"
Hello,

This question is with regard to low-end devices with low memory and phone with the dev setting "Don't keep activities" enabled.

I try to restore my application with an already opened dialogue.

There are next steps to reproduce:
1. Enable "Don't keep activities"
2. Go to your app
3. Open dialogue
4. Pause your app with the press by system "square" button
5. Resume your app
6. There is no

[2021-03-04 02:19] LuckyDucko commented on #585
@HirakCTS
@McFlemchSoda
@uday-lucky
@WilliamWatterson86
@johnshardman
So I have been giving this one some thought.

I believe that the current behaviour is intentional as it is [visible even using displayalert](https://forums.xamarin.com/discussion/185259/while-using-accessibility-talkback-on-popups-on-android-focus-also-goes-to-background-view-bug)

However, @WilliamWatterson86 stumbled on a nift

[2021-03-04 05:37] #635 closed, assigned to nobody

[2021-03-04 05:38] LuckyDucko commented on #642
While im glad the workaround is working, we still have a system padding issue here, so I am keeping this ticket open

[2021-03-04 05:38] #644 closed, assigned to nobody

[2021-03-04 05:55] LuckyDucko commented on #651
Hey @JTOne123

Just to be clear, this is the developer only option for `Dont keep Activities` Yes?

if so, that's quite an unusual use case, however, what I would do is to have the popup (prior to it being put on the popupstack) thrown with a key to `App.Properties` and then on resume, simply take it from `App.Properties` and put it back.

However, with `Dont Keep Activities` on, you would be doin

[2021-03-04 05:58] LuckyDucko commented on #650
hey @juanmalm does it work okay if the new popuppage already contained the carousel view? instead of adding it, I assume through the `content` property?

[2021-03-04 06:03] LuckyDucko commented on #645
hey @apines-gms-online-de I'm sorry for being late on this.

Could you try and flip the easing in/easing out and see what happens? and just in general mess with the configuration of this move animation? This is quite an unusual bug, so just wondering if there is a deeper layer going on

[2021-03-04 08:59] juanmalm commented on #650
Hi @LuckyDucko, same behavior with the popup already containing the carousel view in its xaml.

[2021-03-04 11:02] JTOne123 commented on #651
Thank you, @LuckyDucko, for your answer.

You can easily reproduce such behavior by playing a high resource requirement game and returning to your app.
So, it's a widespread case.

Your idea about App.Properties is very close to mine; I can even say that only activity was paused and killed; application domain memory is live and contains this PopupStack.

So, I need to do something like this.

[cod

[2021-03-04 22:13] LuckyDucko commented on #651
So, is the dev setting "Don't keep activities" just there to simulate the situation of a high resource requirement game?

I'm just finding this situation unusual, not the high resource requirement part, just the workflow.

Does your app, when launched, go straight to a main screen which then you would do all your popups from?

[2021-03-05 04:08] rabileon commented on #619
this error does not let me work with the hot reload

[2021-03-05 04:10] Nick-Brett-GKSYS opened #652 "Background scrolls when popup opens in UWP"
I have a page that scrolls vertically.  There are several tap gesture recognizers on the page.  The gesture recognizers open a window to edit the value of the label that was tapped.  The problem I'm having is that the background page scrolls up when the popup shows.  Here is a screen capture of what I'm seeing.

http://candnbrett.com/scrolling.gif

[2021-03-05 04:12] rabileon opened #653 "XamlC error XFC0000 : Cannot resolve type "PopupPage""
## 🐛 Bug Report

XamlC error XFC0000 : Cannot resolve type "PopupPage"

When compiling the project having a popup page you will get this error.

on android and ios

**Platform:**
- [x ] :iphone: iOS
- [ x] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [ ] :monkey: Xamarin.Forms

[2021-03-05 04:24] LuckyDucko commented on #653
Hey @rabileon im closing this in favour of #619

Can you remove the use of rotorgames? and instead use `xmlns:pages="clr-namespace:Rg.Plugins.Popup.Pages;assembly=Rg.Plugins.Popup"` and see what happens?

[2021-03-05 04:24] #653 closed, assigned to nobody

[2021-03-05 04:27] LuckyDucko commented on #652
Hey @Nick-Brett-GKSYS can you provide a project which demonstrates this bug so I can investigate further? just a minimal test example to ensure that there is nothing else at play with your project

[2021-03-05 04:28] LuckyDucko commented on #650
Alright @juanmalm are you able to create a standalone project that demonstrates this just so we can ensure that there is nothing special in your project that may be causing the issue

[2021-03-05 05:41] rabileon commented on #653
I have made the change when compiling the error no longer appears, but in the hot reload it appears again 😥
![image](https://user-images.githubusercontent.com/13700488/110072210-0bd94000-7d43-11eb-8300-64e993a10b83.png)
![image](https://user-images.githubusercontent.com/13700488/110072243-198ec580-7d43-11eb-9339-519ec0452295.png)

[2021-03-05 07:34] juanmalm commented on #650
Sure! Here you have @LuckyDucko

[App5.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/6088825/App5.zip)

[2021-03-05 16:09] lassana commented on #627
I have the same crash with 2.0.0.10 using X.F 4.8.01560 and MvvmCross 7.1 when initializing the Rg plugin in the main application class (not in the activity) so the plugin receives the app's context, not the activity's context. To avoid this I call the Init method in the main Forms activity.

[2021-03-06 09:14] streamstr opened #655 "Popup is not shown on Android in Xamarin Native app with Forms Page"
Hello!

We are slowly transitioning our Xamarin Native app on Forms. Now we are making new pages on Forms and embedding them into app via integration according to official [docs](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/native-forms#android).
Now we need to open popup page on pressing button in navigation bar (which is controlled by "native" part of application).
On iOS all

[2021-03-06 12:54] arahmancsd opened #656 "Dismiss Popup On Scroll down"
I am looking to dismiss the pop up when user scrolls down. However, it seems that the ScrollView Scrolled event doesen't fire.

[code]

The scrolled event doesn't fire at all.

**Version**: 2.0.0.10

**Expected**:
Scrolled event should fire

**Actual**:
Scrolled event doesn't fire.

[2021-03-10 23:42] Nick-Brett-GKSYS commented on #652
Sorry for the delay.  Anyway, I created a sample project and this doesn't appear to be related to the Rg Plugin.  Even if I open a standard message box in UWP the background scrolls.

[2021-03-10 23:42] #652 closed, assigned to nobody

[2021-03-11 00:41] LuckyDucko commented on #652
Hey @Nick-Brett-GKSYS no worries, lets hope bringing it up to xamarin gets it sorted 👍

[2021-03-12 00:33] LuckyDucko commented on #656
hey @arahmancsd could you provide a complete sample project for me to work on. I understand if its a hassle, but it just ensures that you can recreate it on its complete own.

Also, are you able to connect it to a different event and make it fire. Say, put a button on the page and try it that way. Just to confirm that `itemViewModel.CloseDialogCommand.Execute(null); ` is working as intended

[2021-03-12 17:50] arahmancsd commented on #656
@LuckyDucko I have created a sample project in [gitHub](https://github.com/arahmancsd/RgPluginDismissOnScrollSample). The idea is to make the pop up scrollable (up and down) like a native dialog in iOS platform. However, with this code the scroll doesn't work. I found the scroll only works if I add properly filled collection view in the design.

[2021-03-13 16:13] YZahringer commented on #645
I confirm, same problem. I tried to flip easing in/out, without success.
Related to #410?

[2021-03-13 19:57] bbenetskyy commented on #486
Hi RG.Popups Team

I can reproduce this error on `2.0.0.10`, in the beginning, it works, but later without any reason it stops and doesn't work anymore.

How can we solve it???

[2021-03-14 22:00] LuckyDucko commented on #486
@bbenetskyy are you able to provide a project to show this? I have not been able to recreate it so far

[2021-03-14 22:50] LuckyDucko commented on #645
@YZahringer good find, and thank you for the follow up.

since this one is simple to recreate, I'll try to do so when I am on my windows computer

[2021-03-15 07:52] yehuditrubinstein commented on #484
set padding to the popup

[2021-03-15 11:03] JTOne123 commented on #651
Yes, exactly, just for ease of simulation of this situation.

You can easily encounter this behavior in real life with 3 main scenarios: a game, which described previously, open an app for a month, reboot your device, and resume your app.  These things you have to do through the recent apps (the "square" button).

It can any screen, which was opened a popup.

[2021-03-15 18:10] dimonovdd opened #658 "Could not find current view controller. [iOS]"
## 🐛 Bug Report

If I opened several popups and then closed some of them, then I can't get the current controller.
I get [this exception](https://github.com/xamarin/Essentials/blob/7218ab88f7fbe00ec3379bd54e6c0ce35ffc0c22/Xamarin.Essentials/Platform/Platform.ios.tvos.watchos.cs#L96) when using Xamarin.Essentials.

### Reproduction steps

https://user-images.githubusercontent.com/59065470/111199933

[2021-03-15 22:52] prabh-62 commented on #486
Maybe pop all twice
[code]

[2021-03-15 22:54] prabh-62 commented on #489
pop all twice. This might help in recreating crash
[code]

[2021-03-15 23:31] #500 closed

[2021-03-16 00:45] #643 closed, assigned to nobody

[2021-03-16 00:49] LuckyDucko commented on #599
Well, there goes that idea.

I wonder, does AppCenter have something similar with firebase where you have [initialise it using the app context? ](https://github.com/rotorgames/Rg.Plugins.Popup/issues/641)

Perhaps there might be some merit in looking into using the [CrossCurrentActivity plugin?](https://github.com/jamesmontemagno/CurrentActivityPlugin)

this is a complete spitball, but I am honest

[2021-03-22 14:05] mkozar opened #661 "Issue with popup disappearing on Xamarin Forms iOS"
Hi all,

I'm not sure if this is a bug or not but I need help regarding this.

Here is my question/issue:  I have a popup that is shown on a page load event and on Android it is working as expected. When I switch to test iOS on the first time load my popup is shown and disappeared after a few seconds (without any action from the user side). If I open the page again I'm not able to see this behavio

[2021-03-24 15:46] #661 closed, assigned to nobody

[2021-03-25 01:02] LuckyDucko commented on #661
@mkozar sorry this slipped my mind, was it just something on your end?

[2021-03-25 09:49] mkozar commented on #661
@LuckyDucko no problem. Thank you for your time.  Yes, it was something on my end. I got legacy code and I was not aware that the plugin version was outdated. When I update the plugin, everything is working as expected.

[2021-03-25 15:48] #658 closed, assigned to nobody

[2021-03-28 22:23] LuckyDucko commented on #585
The latest version, 2.0.0.11, has a special fix added in that should make talkback far more functional. see #657 for information

[2021-03-30 00:56] LuckyDucko commented on #656
@arahmancsd sorry for the late reply.

So it seems on iOS simulator, your sample will as soon as it opens fire the scrolled event with -20, and then with 0. closing the dialog instantly as well.

I commented out the scrollY code and tested again, however, a scrollview will not be able to scroll if you do not have content that is larger than the scrollview. So I changed the scrollview height to 200

[2021-03-30 00:56] #656 closed, assigned to LuckyDucko

[2021-03-30 01:03] LuckyDucko commented on #655
@streamstr sorry for the radio silence, you're in a situation I am wholly unprepared for in my experience.

Have you seen anyone else get any headway with a Xamarin Native app, using Rg popups, but without MVVMCross? just trying to cross out any differences between iOS and Android.

with the app, when it says it has popped/pushed, does it have any X/Y positions? I wonder if you are able to force a

[2021-03-30 01:04] LuckyDucko commented on #641
@JesperNJessen

Do you want to create a Wiki Page out of this issue, and ill add it as a section along in our wiki? seems like a handy bit of advice

[2021-03-30 18:49] uday-lucky commented on #585
@LuckyDucko  i tried with the upgrade, now the focus is going to the entire layout of the backgroundscreen and  talkback continuously reading all the child elements.

[2021-03-30 21:51] LuckyDucko commented on #585
Really? can you share with me a sample project? It should read everything that's on the popup page, and ignore everything in the background. However, I am unsure how well it works if its popup on popup

[2021-03-31 10:34] uday-lucky commented on #585
@LuckyDucko  u can use the same sample https://github.com/rotorgames/Rg.Plugins.Popup/files/6069169/XFAccesibilitySample.zip . I just upgraded to latest version and tried. The background screen is getting focussed and It is  reading all the buttons (all controls on the screen) text continuously  :( .

[2021-03-31 14:42] vchelaru opened #662 "Is it possible to insert a popup in the stack at any place besides the top?"
## 💬 Questions and Help

Currently to add a popup, the following code can be used:

[code]

I don't see a method in `IPopupNavigation`, and the PopupStack is an `IReadOnlyList`.

This is useful because there may be times when multiple popups are shown (like messages to the user) and I want them shown (and dismissed) in the same order. That is, the user should see Popup 1, and should dismiss it to

[2021-03-31 22:01] LuckyDucko commented on #585
did you add on the special flag for it?
`AndroidTalkbackAccessibilityWorkaround`

I haven't got any Android Devices floating around to double check unfortunately. However, when I do, I will update the sample to include the use as a demo

[2021-03-31 22:11] LuckyDucko commented on #662
I am confused by the scenario you have put forth.

Wouldn't popup 2 be shown after popup 1 is closed?
Or, wouldn't popup 2 be pushed, and then popup 1?

Or is this a case where
Popup 1 is some generic dialog
Popup 2 is something triggered by some automatic function (Time hitting 2pm say), but it is less important.

Then I can understand, I had a similar-ish issue myself here #532.

Now, this may t

[2021-04-01 02:42] vchelaru commented on #662
If I push 2 popups, popup 1 will be shown (very briefly), then popup 2 will show and cover popup 1. Once the user dismisses popup 2, they see popup 1 there.

Instead, I want popup 1 to be shown and remain shown, while popup 2 is created, but placed behind popup 1. That way the user addresses popup 1 first, then sees popup 2.

[2021-04-01 15:10] uday-lucky commented on #585
@LuckyDucko  yes i set it to true. The focus on to the individual elements(i.e buttons in this sample) in the background is not happening (as expected),but the entire page is getting focused and it starts reading all the controls(I.e buttons ). I wish you would fix it ASAP when u got an android device with you.

[2021-04-02 04:21] LuckyDucko commented on #585
@uday-lucky I am confused, wouldn't you want it able to read the controls?

[2021-04-03 07:32] uday-lucky commented on #585
@LuckyDucko  you can see this , how it is behaving after upgrading ..

https://user-images.githubusercontent.com/16937883/113471850-cb253180-947c-11eb-8aaa-ae6b3dc98266.mp4

[2021-04-05 05:33] bbenetskyy commented on #486
After a deep investigation, I found what causes the problem - at my Popup, the first popup, I have a `ListView` with `CachingStrategy` Property. With `RetainElement` all works as excepted, but with other values - only this first popup just not shown on iOS. At Android, I don't face such limitation.

Solution - just have `CachingStrategy="RetainElement"` at `ListView`.

So @LuckyDucko, looks like t

[2021-04-06 05:22] LuckyDucko commented on #486
@bbenetskyy thank you for your feedback. Since this is quite an old issue, and people are not able to provide a reproducible copy, im going to close this for now. if someone can, I'll reopen

[2021-04-06 05:22] #486 closed

[2021-04-06 05:24] LuckyDucko commented on #585
@uday-lucky I see, thank you for quickly pulling this up for me, I got so carried way with talkback no longer focusing on the background I didn't wait to see it's completion.

I'll get right on it

[2021-04-07 06:27] LuckyDucko commented on #585
@uday-lucky
[XFAccesibilitySample.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/6269387/XFAccesibilitySample.zip)

this is an updated version, I think I got it mostly fixed, and made it much simpler, however, I dont know how to stop it announcing the previous pages title. See if this works, and ill make a new PR

[2021-04-08 08:15] nguyentn1197 commented on #585
Hi, can I ask what is the workaround for blocking talkback from speaking the child of the parent view? My current project really need this right now

[2021-04-09 00:03] LuckyDucko commented on #585
@deadmanproqn

Hoping that my newer code works, you have several options
A) Waiting for the upgrade to be merged in and a new nuget released. This may take 2 weeks or so
B) while waiting, download the PR, and make it a reference into your current project so you can take advantage of the upgraded code.

option B is what you will see in the sample I uploaded that you quoted. I also added a video sho

[2021-04-09 04:20] teamtam commented on #634
@LuckyDucko just letting you know I got to the bottom of my issue! It was an API change introduced by Apple with iOS 14 for one of the controls I use in a renderer, which I wasn't previously aware of. This caused a silent error with Xamarin.Forms 5, which resulted in the symptoms described above. I still need to go through formal testing with my business, but otherwise the library seems to work fi

[2021-04-09 06:29] LuckyDucko commented on #634
@teamtam thanks for letting me know, this is good news to have.

If @Suplanus finds no further issue, I'll close this issue

[2021-04-09 06:31] Suplanus commented on #634
I will test it. If there are (new) issues with macOS, I will reopen.
Thanks 💖

[2021-04-09 06:31] #634 closed, assigned to LuckyDucko

[2021-04-09 06:53] nhuy-ecotech opened #664 "App not responding when open popup on Xamarin 5.0 above, issues happend only iOS version"
## 🐛 Bug Report

App not responding when open popup on Xamarin Form 5.0 above, issues happend only iOS version. Please fix it.
### Configuration
Xamarin Form version 5.0 above

**Version:** 1.x

**Platform:**
- :iphone: iOS

[2021-04-09 07:00] nguyentn1197 commented on #585
Thank you for your quick reply,

I will use option B for testing first and use the new release when it comes out

[2021-04-09 07:34] cribia commented on #664
I've got the same problem only **App Forms Shell.**
After updating Xamarin Forms the popup opens badly and when Close the last PopupPage int the PopupStack, the App crashing. Only iOS

[2021-04-10 16:10] snakebytetech commented on #85
I know this is closed, but it helped me figure out a solution to my similar problem and I'd like to add clarification to what I think @mackayn was explaining as a fix.

You simply need to make sure you're adding all assemblies once. Only call Forms.Init() once. Lastly, call Rg.Plugins.Popup.Windows.Popup.Init() after you've called Forms.Init().

Here is a snippet you can put in App.xaml.cs.OnLaunc

[2021-04-11 22:46] LuckyDucko commented on #664
@nhuy-ecotech have you tried updating to latest to fix the issue?

@cribia could you please provide a zipped project recreating the issue that I could troubleshoot the issue on? thank you

[2021-04-11 22:47] LuckyDucko commented on #585
@deadmanproqn tell me how it goes, hope it works out well!

[2021-04-13 07:47] cribia commented on #664
[AppPopupTestShell.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/6302051/AppPopupTestShell.zip)
In the zipped project I sent, in ItemViewModel the pop up opens correctly (PushAsync) but in closing the pop up (PopAllAsync) crashing app.
the real project is much bigger so I have extrapolated the problem into a basic project.
The problem occurred after automatic update of xamarin.
Visual

[2021-04-14 05:21] LuckyDucko commented on #664
hey @cribia while I could replicate your app crashing (froze for me), I updated the demo project for RG to test if it was latest xamarin fault, and it seemed to work fine.

When I traced it using your app,
first, I found an issue at awaiting a view controller being dismissed (something out of our control)
I switched this to what I assumed was the synchronous version and it passed that area, but st

[2021-04-16 07:55] PrasannaPatankar opened #665 "Popup does not work well when having an Entry with custom keyboard view."
I have a custom keyboard view, which opens for an entry on the popup. The keyboard is getting displayed but not in the foreground therefore the user is not able to enter values. The popup works fine if the system's default keyboard is used.

Here is my XAML for the popup

[code]

![image](https://user-images.githubusercontent.com/30229712/114991069-d33a9380-9eb6-11eb-96d4-e8a72dd4d238.png)
![image

[2021-04-18 22:52] LuckyDucko commented on #665
hey @PrasannaPatankar could you make a standalone project showing this bug I could work on.

Since it works correctly using the system default, I feel that this may be more related to your custom keyboard creation. However, I am not well aquanted with Custom Keyboards, so I need something more to work with please.

[2021-04-20 17:33] figueromefer commented on #462
Thanks @scotch83 it was my problem too!

[2021-04-21 20:05] ScarletKuro opened #666 "[Bug | Android] Controls dissapearing when calling PopupPage from ContentView"
## 🐛 Bug Report

I have ContentView from where I call simple ` await _popupNavigation.PushAsync(smartIdVerificationWaitingPage);`
and the controls disappears after a sec. It is shown on the gif below
![bug gif](https://i.imgur.com/XNS4OAR.gif)

The weird thing if i push an page before it
[code]
Then it will work correctly. The bug doesn't appear on iphone.

The Xamarin.Forms: **5.0.0.2012** versio

[2021-04-21 23:03] LuckyDucko commented on #666
hey @ScarletKuro are you able to provide a sample project showing this happening that you could upload, as this definitely isnt normal behaviour

[2021-04-22 06:23] PrasannaPatankar commented on #665
@LuckyDucko Thanks for the response and apologies for the late reply. I solved the problem by setting up the following properties to the popup.
[code]

[2021-04-22 10:30] ScarletKuro commented on #666
@LuckyDucko
Yes, I made a reproduction repository https://github.com/ScarletKuro/Repro-of-android-bug-in-Rg.Plugins.Popup-
while making it, i noticed that the problem only appears when using together with Sharpnado.Tabs https://github.com/roubachof/Sharpnado.Tabs

[2021-04-22 22:46] stalohadj opened #667 "Popup always appears transparent and only goes opaque 2 seconds before it closes."
Hi,
I am attaching a video to show what I mean by the popup being transparent.
- I tried changing the background to different colors everywhere, still doesn't work.
-  I set this property BackgroundInputTransparent="False", again doesn't work.

I don't know what else to try, please help.

https://user-images.githubusercontent.com/71068095/115793404-f8059e00-a3c3-11eb-85a2-17036707da07.mov

[2021-04-22 23:24] LuckyDucko commented on #667
hey @stalohadj

Are you able to create a small demo project so I can track down what is happening?

Going by the file name, I believe this is android as well?

[2021-04-22 23:25] #665 closed, assigned to nobody

[2021-04-22 23:27] stalohadj commented on #667
Hello,

I can send you my code for the popup - would that work?
It is iOS not android!

[2021-04-22 23:34] stalohadj commented on #667
Code behind popup:

[code]

C# code:

[code]

View Model:
[code]

[2021-04-22 23:40] LuckyDucko commented on #667
ahaha, I took long enough trying to remember if it was the android or iOS screen recording that had that file name, that I didnt even notice the telltale .mov at the end

Really quickly, are you able to swap the two values in your Content.FadeTo() calls?

make it

[code]

Does that help?

[2021-04-22 23:46] stalohadj commented on #667
Yes it did!!! Can’t believe it was that simple! Thank you so much!

[2021-04-22 23:58] LuckyDucko commented on #667
Excellent, glad to help @stalohadj have a good one.

[2021-04-22 23:58] #667 closed, assigned to LuckyDucko

[2021-04-27 02:57] LuckyDucko commented on #666
hey @ScarletKuro

I am testing your repo on a Samsung galaxy a20, and I seem to have no issues.

I hit Open Popup Page, it stays for around 5 seconds, as the code intends, and then it closes.

Is there more information you could provide, as I cannot seem to recreate

[2021-04-27 06:35] ScarletKuro commented on #666
@LuckyDucko
I actually did not try it on real device. Now i tried on my huawei p smart z (android 10) and it works as expected...
But in emulator (pixel 2 Q 10.0 - API 29) i get this bug. Also, when i pulled the repo from scratch the first run in emulator and everything was correct, when i tried second time the elements disappeared again, this is really weird.

[2021-04-27 13:50] ScarletKuro commented on #666
Ok, i tested it on various real devices including even 4.1 android, and the bug was not present.

[2021-04-27 18:44] ederjbezerra commented on #664
Same issue here but not only iOS. Android also presents same problem.

[2021-04-27 22:56] LuckyDucko commented on #666
hmmm, perhaps open this ticket up for Sharknado.tabs. it may be something on their end.

Glad it isnt present on device

[2021-04-27 22:56] #666 closed, assigned to LuckyDucko

[2021-04-27 22:57] LuckyDucko commented on #664
@ederjbezerra could you provide an example project, or are you using @cribia's

[2021-04-28 00:47] ederjbezerra commented on #664
It's not cribia's project and it's a big project of one of my costumers, with almost 200mb, so it's complicated to share, I would have to take off a lot of code(I don't have much time nowadays). But here is what I'm using to reproduce the problem:

Android 11  physical device(galaxy S20+):
- Xamarin.Forms 4.7.0.1080
- Rg.Plugins.Popup  2.0.0.11

iOS 14.4.2 physical device:
- Xamarin.Forms 5.0.0.20

[2021-04-28 03:25] LuckyDucko commented on #664
@ederjbezerra

Perhaps this is a threading issue, I could try and recreate this issue using the demo project, I just have some more questions

When you call the first snippet, is the assumption that you would have more than 1 page on the stack? or just 1 and greater?

Have you tried seeing if the crash happens if you remove the use of PopAllAsync, and instead go for something like a
foreach() whic

[2021-04-28 12:23] ederjbezerra commented on #664
Bingo! Using foreach and popping each page solves the problem. And yes, having just one page also presents this issue.

[2021-04-28 22:03] LuckyDucko commented on #664
Excellent, okay, so there is definitely something up with PopAllAsync. I'll look into it closer, glad i could help

[2021-04-29 09:45] maxkoshevoi opened #668 "Rare JavaLocationException crashes the app"
## 🐛 Bug Report

I don't know, how it happens, but recently I got two crash reports (out of 3000 users) with this stack trace:

[code]

[code]

[code]

Devices:
- Xperia XA1 Ultra (android 8)
- nova (android 7)

### Expected behavior
PopUp doesn't crash

### Reproduction steps
I don't know, how to reproduce this

### Configuration

Here's my popup page:
- View: https://github.com/maxkoshevoi/NureT

[2021-05-03 10:09] CMarcher opened #669 "Popup content not appearing on second monitor/display"
## 🐛 Bug Report

Some interesting heavier is going on, where when I drag my macOS application to my second screen (recently purchased) and launch a Popup, the dark transparent background appears, but the actual content of the Popup does not. When it is returned to the primary, built-in laptop screen, the popups work and appear as normal. I can tell the Popup is launching, as the background fades i

[2021-05-03 10:10] CMarcher commented on #669
This issue is critical to my application, as I use the popup layouts to perform actions like creating and updating significant objects.

[2021-05-04 02:07] LuckyDucko commented on #669
@CMarcher have you checked #634 as this seems remarkably similar to that issue there.

Are you able to provide a test example project so we can see what is happening?

[2021-05-04 03:26] CMarcher commented on #669
I'll get a sample, but based on my actual project, here are screenshots of on the laptop versus full-screen second display.
It seems the content is being positioned incorrectly on the second screen, but it is visible. I'll try with system padding off as described in the aforementioned issue.

<img width="1197" alt="Screen Shot 2021-05-04 at 3 21 21 PM" src="https://user-images.githubusercontent.co

[2021-05-04 03:31] CMarcher commented on #669
Yes, it works fine if HasSystemPadding is set to false. Do you still want a sample project to demonstrate this @LuckyDucko ?

[2021-05-04 04:02] LuckyDucko commented on #669
Hmmm, I am trying to remember what the issue was last time around.

From memory, it could be because we determine the system padding based on the internal Mac screen? or the primary display. and since the internal screen resolution of Mac laptops is unlikely to be the same ratio, that's where issues arise.

If you have two displays with the exact same ratio, you could try testing it with the lapto

[2021-05-04 06:37] LuckyDucko commented on #668
@maxkoshevoi

Did you receive information about this crash using AppCenter? this may be similar to #599

[2021-05-04 06:39] LuckyDucko commented on #642
replacing this with #669

[2021-05-04 06:39] #642 closed, assigned to nobody

[2021-05-04 06:41] LuckyDucko commented on #629
hey @BurkusCat sorry for an admittedly VERY late reply, I don't have a UWP environment setup.

Can you reproduce this issue without using Prism? Such as within the Demo Environment

[2021-05-04 07:40] #668 closed, assigned to nobody

[2021-05-04 07:41] maxkoshevoi commented on #668
Yes, it's a duplicate of that one. By the way, source code is also provided in my issue. Maybe it would help

[2021-05-04 11:39] zinvob commented on #407
Reproduced on 9 and 11. Fix provided. Please reopen.
https://github.com/rotorgames/Rg.Plugins.Popup/pull/670
@rotorgames

[2021-05-04 14:24] BurkusCat commented on #629
Hey @LuckyDucko, I am no longer working on the project that needed this fix. If I am working on the project again later this year, I will put together a repro project.

Thanks,
Ronan

[2021-05-06 10:24] CMarcher commented on #669
@LuckyDucko sorry for the delay, just been a bit busy. With the laptop lid closed, and HasSystemPadding set to true, the 1080p monitor at 100% scaling has the popup appear fine. However, the 4k monitor, scaled to 2560 x 1440, the popup still doesn't appear correctly. When I tried different scales, including the full 4k, the same issue is taking place. Both monitors are the same ratio.

I'm thinkin

[2021-05-06 13:20] innomotionmedia opened #671 "iOS Alerts are rendered BEHIND popup, should always be infront. How can be change the z axis of the popup? (Android is fine)"
If on iOS (Xamarin.Forms) requests an alert ( like a toast on android ), the alert is rendered BEHIND the popup, while alerts SHOULD OFC ALWAYS be in front. How can we make that happen?

### Platforms affected (mark all that apply)
- [x] :iphone: iOS
- [ ] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [x] :monkey: Xamarin.Forms

[2021-05-07 00:19] LuckyDucko commented on #669
@CMarcher no worries about delay.

The primary display does seem to make sense. What happens if you put the 4k monitor at 1080p?

I remember running similar tests and with enough fiddling, I came across the popup being right at the top/bottom of the screen.

I think the height/width of the primary display (in pixels) determine the system padding (when its transformed into pixel amounts).

Once we

[2021-05-07 00:23] LuckyDucko commented on #671
@innomotionmedia

Can you provide a sample project, with the alerts that you are using (DisplayAlert, or 3rd Party)

[2021-05-10 06:36] CMarcher commented on #669
@LuckyDucko I tried on the 4k monitor when set to 1080p scaling (no actual resolution change), popup doesn't appear correctly. I couldn't set it to actual 1080p res, but I tried 2048 x 1152, and the same effect is taking place.

[2021-05-10 08:53] innomotionmedia commented on #671
@LuckyDucko  Sure. I am simply using the standart iOS Alert as a custom component in a xamarin.forms application (called in PCL):

        void ShowAlert(string message, double seconds)
        {
            alertDelay = NSTimer.CreateScheduledTimer(seconds, (obj) =>
            {
                dismissMessage();
            });
            alert = UIAlertController.Create("Ein Hinweis:", message

[2021-05-10 09:42] LuckyDucko commented on #650
Hi @juanmalm i apologise i've been busy

So ive been going about testing this, and currently i've tracked down that it will occur once a forcelayout is applied. However, in some random circumstances, say 10% of the time, i have been able to get it working properly. It usually happened while i was using breakpoints, which makes me think there is a point where something internal is still completing

[2021-05-10 11:36] pledi commented on #645
Seems like
https://github.com/rotorgames/Rg.Plugins.Popup/blob/6a706ee4f10ff17097e83e29bd0b81878313cd15/Rg.Plugins.Popup/Animations/Base/BaseAnimation.cs#L40

doesn't return the correct values on UWP, when _Appearing_ gets called. Both content.Width and page.Width will return -1.

[2021-05-10 15:26] nirdil opened #672 "Disable background darkening"
Is there an option to disable the background darkening effect?
I'm using the module to display a popup but the background needs to stay visible as the user can keep interacting with it.

[2021-05-10 22:57] LuckyDucko commented on #645
@pledi thanks for this, im trying to get around to the UWP issues, interesting that this would get it wrong, i wonder if it might help another issue im having

[2021-05-11 12:36] nirdil commented on #672
Answering myself - achievable by setting the PopupPage BackgroundColor to Transparent

[2021-05-11 12:36] #672 closed, assigned to nobody

[2021-05-11 14:21] mhrastegari commented on #645
not works on my macOS and UWP projects too

[2021-05-11 14:22] mhrastegari commented on #410
not works on macOS too with MoveAnimation

[2021-05-11 17:51] pledi commented on #645
I wrote a simple workaround, first I used the original [MoveAnimation](https://github.com/rotorgames/Rg.Plugins.Popup/blob/develop/Rg.Plugins.Popup/Animations/MoveAnimation.cs) as my new custom animation and override the _GetLeftOffset_ method:
[code]

The only thing left is setting the _WidthRequest_ Property of the PopupPage Page and Content in XAML.

[2021-05-18 11:27] ponnumittathani commented on #497
@rotorgames  Any updates on this issue. Is there any alternative that can be tried to resolve this issue?

[2021-05-18 23:24] LuckyDucko commented on #497
@ponnumittathani is your issue related to UWP or Android?

For Android, I recently made some changes detailed [here](https://github.com/rotorgames/Rg.Plugins.Popup/issues/585). We haven't released this to the current NuGet, however, I have added a video showing how to get the latest code working with your project

[2021-05-19 07:16] ponnumittathani commented on #497
@LuckyDucko  Issue is in Android(Xamarin Forms)

[2021-05-20 07:00] LuckyDucko commented on #497
@ponnumittathani I recommend trying out what I linked for Android then, see the bottom of the issue, and remember to add in  `AndroidTalkbackAccessibilityWorkaround` to true

[2021-05-21 12:56] draganDBL commented on #664
I have same problem on my iOS device , when trying to open pop up app just freez.

[2021-05-27 19:08] renelaerke opened #673 "Soft-keyboard not always dismissed correctly after/when closing popup"
## 🐛 Bug Report

I'm working on an application targetting scanner devices (Android based Scanners like Honeywell CK65 and Zebra TC20) with HW numeric keyboards. And came across some odd behavior.

I realize this is not the normal case and that it may be very hard for you to test-/debug - i will try to supply as much info as possible to make it happen

When having a popup with in entry closing the

[2021-05-28 08:31] renelaerke commented on #673
Hello again,

i managed to build a small example that will let you trigger the bug.

Its a slightly modified Xamarin.Forms Sample app that shows the problem.
[RgPopupBug.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/6559314/RgPopupBug.zip)

The demo has one page (MainPage) with a label, entry and a button
The button triggers a popup (Popup) and awaits the result which is transferred to

[2021-05-30 14:53] nirdil commented on #160
@bpicard can you share how you solved this on Android?

[2021-05-31 09:27] nirdil commented on #160
@rotorgames Is there a way to override the PopupPageRenderer on Android?
I'm using the popup to show a list as the user is typing, but as soon as the popup appears the keyboard gets closed and interrupts the typing.
I need both OnAttachedToWindow and OnDetachedFromWindow to not close the keyboard...
Maybe add an optional configuration object to the platform Init function with an option to tweak th

[2021-06-01 21:12] suggyd commented on #585
To recursively hide from TalkBack you can use View.ImportantForAccessibility = Android.Views.ImportantForAccessibility.NoHideDescendants;.  This should affect the view and all it's children recursively.  I'm doing this on the main layout of the page in Xamarin.Forms to stop any controls on the page behind the popup from getting the TalkBack focus.  Generally it looks like you want to set it back t

[2021-06-01 21:59] LuckyDucko commented on #585
@suggyd we think alike, see #663

[2021-06-02 07:58] suggyd commented on #585
@LuckyDucko , sorry missed that.  Looks good.

[2021-06-04 13:11] RwSgxx commented on #526
@martijn00 please also put a link or number to the original issue.

[2021-06-07 13:13] EmmanuelJego commented on #623
+1

[2021-06-10 09:41] McFlemchSoda commented on #585
@LuckyDucko Thanks for your effort. I've implemented the AndroidTalkbackAccessibilityWorkaround on my popups and it works with most of them. I have a GenericPopupPage that I use throughout the app, but it doesn't work on all pages. So I was wondering if it matters which page it goes on top of. For example my root is of type TabbedPage, and it seems that it doesn't work specifically on that page. I

[2021-06-10 22:39] LuckyDucko commented on #585
@McFlemchSoda This is great news! I was kinda worried about another (big) issue coming up with these like my last attempt.

Could you provide a mini example and I'll try and see what's going on. Is it just tabbedpage you have noticed it with? I wonder if its because of the tabbedpage being a many-in-one page that perhaps is confusing my code? im sure there will be something I can do on my end that

[2021-06-11 09:24] McFlemchSoda commented on #585
@LuckyDucko Hi! I tried making a test project but could not reproduce it. I went back to my own project and somehow it does work now. I'm not sure what changed, but I'll keep testing to see if it was all me or if I can find a combination where it doesn't work. Xamarin.Forms isn't always reliable either haha.  Sorry for wasting your time, appreciate your help!

[2021-06-11 16:54] nchrisr commented on #664
How were you able to work around this? I am currently having this issue, and I am thinking to downgrade my Xamarin.Forms version, is this what you did?

[2021-06-14 23:05] LuckyDucko commented on #585
@McFlemchSoda that's all good, if it does show itself again let me know!

[2021-06-14 23:05] #585 closed, assigned to LuckyDucko

[2021-06-14 23:34] LuckyDucko commented on #664
@Kikanye So, if you use PopAllAsync, instead see if you could use

[code]
OR you could use the following as well, I haven't tested it but its the same idea
[code]

[2021-06-17 23:04] beeradmoore commented on #671
While I don't have a sample to share, we recently come across another example we discovered and fixed a few days ago. We are displaying a PopupPage as sort of a bottom menu allowing the user to hit share and then the native share dialog appears. After the share dialog is finished, we dismiss the Popup page.

In our case we found that when you go to this ContentPage, everything is in correct order.

[2021-06-18 04:41] LuckyDucko commented on #671
@beeradmoore I have read this 4-5 times and I still am not understanding what is going on hahaha. can you edit this to have like 'Page A' and 'Page B' or something. do you have two popup pages showing at the same time?

@innomotionmedia sorry I haven't really gotten to this, with what's going on at work I have been lax about this project and its bugs. I'll try and see if I can figure it out tonigh

[2021-06-18 06:30] beeradmoore commented on #671
My bad. A good breakdown similarly to how our app works is kind of like Twitter works.

FeedA = List of tweets.
PageA = Tweet page, displays your tweet and its replies.
SettingsA = RG PopupPage only displayed on tapping navigation item in PageA. Is used as a popup menu from the bottom with basic options like delete, share, etc (in this case the share is what prompts the native share dialog)
PageB

[2021-06-18 09:20] mueller-ma opened #674 "Changelog of 2.0.0.12?"
On https://www.nuget.org/packages/Rg.Plugins.Popup/ there's a new version `2.0.0.12`, but there's no tag for it here: https://github.com/rotorgames/Rg.Plugins.Popup/tags

[2021-06-18 19:55] KMWenyon opened #675 "Is it possible to change the size of the popup presented"
I am using the latest version of the RG.PlugInPopup 2.0.0.012

I would like to change the size of the popup presented (to make if larger).  How can I increase the size of the popup page (the frame and it content)?

[2021-06-20 14:10] BelightWavre commented on #527
Maybe should you insist on MINIMUM Target in the main page of the WIKI ... I lost so much time because my target version was correct but not the MINIMUM version ... Thanks for this anyway.

[2021-06-20 23:15] LuckyDucko commented on #675
@KMWenyon

To control popup size, I usually wrap it in in an absoluteLayout and work from there.

An [example](https://github.com/LuckyDucko/AwaitablePopups/blob/master/AwaitablePopups/PopupPages/DualResponse/DualResponsePopupPage.xaml)

[2021-06-20 23:21] LuckyDucko commented on #674
Our changelogs do usually have just 'update version' however, things that are changed are

[Setting UIWindowLevel.Normal during removal](https://github.com/rotorgames/Rg.Plugins.Popup/pull/659)
[Fix for iOS 13+ MultiScene compatibilty](https://github.com/rotorgames/Rg.Plugins.Popup/pull/660)
[Fixed Android accessibility changes](https://github.com/rotorgames/Rg.Plugins.Popup/pull/663)
[Fixed Andro

[2021-06-20 23:21] #674 closed, assigned to nobody

[2021-06-21 09:52] mueller-ma commented on #674
Thanks for your answer!

[2021-06-23 12:49] salgiza commented on #648
How would using HasKeyboardOffset solve it, @LuckyDucko ? I'm having the same problem, with a popup that is bottom-positioned and, no matter the value I set to HasKeyboardOffset, the popup (and its fields) are always hidden behind the iOS software keyboard.

[2021-06-24 09:13] salgiza commented on #648
Ok, I found out the reason: I don't even remember why, but the HasSystemPadding property was set to false. With the default value (true) the popup moves on top of the software keyboard when it appears.

[2021-06-25 04:38] Colima-97 commented on #675
I like to use a [PancakeView](https://github.com/sthewissen/Xamarin.Forms.PancakeView/wiki/Setup) as the background, I use margins and Vertical/Horizontal options in its style to make it look as I want it.

[2021-06-25 11:40] innomotionmedia commented on #671
I fixed this issue by simply not using iOS Alert but Xamarin.Forms Alert 👍
await DisplayAlert(Title, body, button1, button2).

This is rendered infront of popup.
Means that the user has to disable it themselfes, but its fine.

[2021-06-25 14:04] jpiechowiak opened #676 "SceneDelegate is not working correctly on iOS"
## 🐛 Bug Report

I'm developing CarPlay application and I'm using concept of `SceneDelegate`.
When there is only mobile app turned on, then everything is ok.
When after some time, I'm connecting to CarPlay, then I've two scene delegates which are foreground.
In such situation, CarPlay scene sometimes could be first in collection of `ConnectedScenes` and my popups are not displayed because.

Regard

[2021-06-29 02:52] beeradmoore commented on #671
So I went to repro this and found that Xamarin Essentials has a [Share](https://docs.microsoft.com/en-us/xamarin/essentials/share) system. Figured I'd use this rather than my own dependency service and custom share code. Whipped up repro to post and.. works fine 😅. Add in my iOS share code, now its broken.

In my sample attached below you can swap between the two by changing what share code is cal

[2021-06-29 03:14] LuckyDucko commented on #671
@beeradmoore I don't think you let NativeDialogOverlayIssue.zip complete its upload.

This is still a good thing to keep track of, and thank you for your research into this.

[2021-06-29 03:16] beeradmoore commented on #671
@LuckyDucko , that was odd. Fixed it while I was adding that edit to explain my weird behaviour I was seeing.

[2021-06-29 03:31] #675 closed, assigned to nobody

[2021-06-30 07:08] czwinzscher opened #677 "Popup gets moved only when something is written and not when keyboard appears on Android 11"
## 🐛 Bug Report

On Android 11, when opening a Popup with an Entry and then focusing the entry, the Popup doesn't get moved up when the keyboard appears. Only when you start typing something the Popup gets moved. When the keyboard gets dismissed the Popup also doesn't move back down. It's working as expected on Android 9 and 10.

![Android Emulator - pixel_3_xl_r_11_0_-_api_30_5558 2021-06-30 08-4

[2021-07-01 08:05] Andreas0xffff opened #678 "Animation runs on wrong view when using ControlTemplate"
## 🐛 Bug Report

If the 'ControlTemplate' property of the PopupPage is used, the 'Content' property does not represent the real content of the page. PopupPage should allow the specification of the content for the animation via a overrideable function or similar.

### Expected behavior
Not the PopupPage.Content should be the first parameter of the IPopupAnimation functions, the PopupPage.Children.F

[2021-07-03 12:28] darrabam commented on #664
@LuckyDucko enumerating the stack with foreach and modifying its content will raise a System.InvalidOperationException: 'Collection was modified; enumeration operation may not execute.'

a simple workaround is to call ToList() which will copy the values to a separate list
`            foreach (var popupPage in Rg.Plugins.Popup.Services.PopupNavigation.Instance.PopupStack.ToList())
            {

[2021-07-04 13:45] EmilAlipiev commented on #671
I have similar problem but how do you understand that they are rendered behind? i have exactly same code and i dont see any Toast message is displayed. on Android and Uwp works fine.

[2021-07-04 23:34] LuckyDucko commented on #664
Ah, good point @darrabam, didn't give it too much thought as @ederjbezerra thought it fine, but I assume he tinkered it similar to what you had it.

I think I am going to change it to
[code]

As it seems the simplest way to go about it.

While the current way uses

[code]
It does seem to have an issue here or there.

[2021-07-07 23:55] djhango commented on #655
I'm not sure if this is related to your issue @streamstr, but we have found that in a Xamarin.Forms project. When we add a native view to the stack, and try to open an RGPopup, the popup gets displayed behind the Activity that's displayed.

This seems to be an issue with how RGPopup determines the parent of the popup page to be displayed on Android.

[2021-07-12 17:33] CometSL9 opened #679 "NullReferenceException during PopAsync on iOS"
## 🐛 Bug Report

When using PopAsync, a NullReferenceException is thrown - only on iOS. Under WPF, no problem at all...

**Version:** 2.0.0.12

**Platform:**
- [X] :iphone: iOS 14.4

**Stacktrace:
  at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos.RemoveAsync (Rg.Plugins.Popup.Pages.PopupPage page) [0x001fb] in Z:\Documents\OpenSource\Rg.Plugins.Popup\Rg.Plugins.Popup\Platforms\Ios\Impl\PopupPlatform

[2021-07-14 02:36] #664 closed, assigned to nobody

[2021-07-14 11:01] tomkecy commented on #122
We encountered the same issue in our Xamarin.Forms application. The app was crashing after tapping the standard Entry Xamarin field on iPhone 11 and iPod 7. Surprisingly the app was working fine on iPhone 12.

**Stack trace:**
`  at Foundation.NSObject.get_SuperHandle () [0x00023] in /Users/builder/azdo/_work/1/s/xamarin-macios/src/Foundation/NSObject2.cs:471
  at UIKit.UIViewController.ViewDidLay

[2021-07-14 20:03] Pantheas opened #680 "Breakpoints in custom Animation are not hit"
Hi,

I'm facing the problem mentioned in [this issue](https://github.com/rotorgames/Rg.Plugins.Popup/issues/678) with your default animations.

As a work-around, I created a custom animation and instead of using the `content` parameter, I wanted to try using `page.Content`.
However, I cannot see what value `page.Content` has at time when the animation gets invoked because my break points are not h

[2021-07-15 07:00] #122 closed

[2021-07-15 07:03] LuckyDucko commented on #680
@Pantheas the breakpoint not getting hit can be a frustrating one

Could you try and make your animation within rg repo, putting your animation in the example rg project.
Also, are you using Mac or PC,
And finally, are your breakpoints hollow red, or solid red when running the project in debug mode

[2021-07-15 07:05] LuckyDucko commented on #679
Hey @CometSL9 Could you provide a working case example project.
I have a hunch that something else is causing the problem, because PopAsync has been working fine under my own usage.

[2021-07-15 14:29] Pantheas commented on #680
Nevermind, mistake was on my side by not setting `IsAnimationEnabled=true`...
Sorry, sometimes I'm an idiot haha

[2021-07-15 14:29] #680 closed, assigned to nobody

[2021-07-15 15:49] IeuanWalker opened #681 "AndroidTalkbackAccessibilityWorkaround set to true causes System.ArgumentOutOfRangeException"
## 🐛 Bug Report

Upgraded to NuGet version `2.0.0.12` added `AndroidTalkbackAccessibilityWorkaround="True"` to the popup page, when the popup is pushed i get `System.ArgumentOutOfRangeException` exception.

### Expected behaviour
No crash

### Reproduction steps
Pop page is quite basic -

XAML -
[code]

C# -
[code]

### Configuration

**Version:** 2.0.0.12

**Platform:**
- [ ] :iphone: iOS
- [x] :

[2021-07-15 23:10] LuckyDucko commented on #681
@IeuanWalker Let me investigate this, I thought it went all to smoothly, the workaround.

I enabled it on my private app just then, and it seems to have worked just fine, Could you provide the entire exception callback? it may have something to do with _accessibiltyservice.

(Best of all would be to create a project that shows the error I can download and tinker with directly.)

[2021-07-15 23:12] LuckyDucko commented on #680
@Pantheas don't worry, I can't count the number of times I have made the same type of mistake.

[2021-07-16 07:43] IeuanWalker commented on #681
@LuckyDucko Commenting out the `_accessibiltyservice` (both the `DependencyService.Get` and `SetFocus`) still crashes

Here is the output -
[code]

And here is the Appcenter crash report -
![image](https://user-images.githubusercontent.com/6544051/125911168-dc48140d-7111-430b-8025-ac6069842768.png)

I'll try and get a repo project for you today.

thanks.

[2021-07-16 17:35] IeuanWalker commented on #681
@LuckyDucko here is a slimmed-down version of our project that has the issue -

[AppPopupCrashRepo.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/6832472/AppPopupCrashRepo.zip)

[2021-07-19 00:30] LuckyDucko commented on #681
@IeuanWalker
I fixed this error, if you want to try it out pre-nuget release, download branch accessibilityupgrade585 and link it. (https://user-images.githubusercontent.com/17778102/114110334-a1f01f80-991a-11eb-96bc-5227f33c52da.mp4)

There is still an issue where a screen reader will attempt to read things in the background, I am trying to work out a way around this. One way is to make the backg

[2021-07-19 09:19] IeuanWalker commented on #681
@LuckyDucko that's fixed the crashing issue.

But now there are 2 issues -
- underlining page title is selectable when the popup is open _(not a huge deal)_
- when you close the popup individual controls on the current/ and previous screens are no longer accessible and it highlights the entire page and starts to read out all the controls in order.

Here is a video of it -

https://user-images.gith

[2021-07-19 22:48] LuckyDucko commented on #681
Yeah, the underlining page title being selectable is an issue I am unsure how to fix.

in testing I made the actual popup page completely hide all its features for accessibility, and STILL that went off. If I knew how to hook into the accessibility screen reader to tell me what its reading, I could have a better chance. that ones annoying.

The second part is new. Let me sort it out.

Edit: Fixed

[2021-07-20 09:13] IeuanWalker commented on #681
Thanks @LuckyDucko thats fixed the main issue :)

If I have time ill look into the page title issues, will let you know if I find anytyhing

[2021-07-20 22:11] IeuanWalker commented on #681
@LuckyDucko think I've found a way to fix the title issue.

Do you want me to create a PR once the fixes you have done are on the develop branch? _(only done a quick test, will do more testing on it tomorrow, if I get a chance)_

[2021-07-20 22:43] LuckyDucko commented on #681
That would be great thanks leuan, the fixes I made are minor, so ill merge them across now

[2021-07-21 15:29] BurkusCat commented on #585
@LuckyDucko I am still getting the issue that @uday-lucky was experiencing. I have updated their reproduction project to have the latest Rg.Plugins.Popup NuGet package.

However, in `MainPage.xaml` I have removed the nav bar. This causes the background content reading out issue to reappear:
`NavigationPage.HasNavigationBar="False"`. Maybe this is related to "however, I dont know how to stop it ann

[2021-07-22 03:28] LuckyDucko commented on #585
@BurkusCat this is interesting, I'll look into this. As in #681 I noticed it would read anything visible with words on a page.

[2021-07-22 06:23] LuckyDucko commented on #681
@IeuanWalker merged in,  there was an interesting point made in #585

[2021-07-24 06:45] CometSL9 commented on #679
Hi LuckyDucko,

As I had to solve the problem immediately, I completely threw out Rg.Plugins.Popup from my project. Therefore, no repo is possibly any more. I guess it had something to do with the new iOS 14.4 and/or the nex Xcode (as it appeared with the iOS update date).

Just my 2 cents: Use Xamarin ContentPage, make its background partly transparent (full transparency does not work on iOS, use

[2021-07-24 06:45] #679 closed, assigned to LuckyDucko

[2021-07-24 13:02] LuckyDucko commented on #679
It was most likely not awaiting the popAsync mixed with calling popAsync on the page you are trying to call that lead to the NullReference Exception.

However, glad you worked out a way around the issue.

[2021-07-27 13:20] IeuanWalker commented on #681
@LuckyDucko just wondering if you could do a release for the crashing issue? _(no rush on the PR I submitted)_ 😃

[2021-07-27 22:59] LuckyDucko commented on #681
ah, @martijn00 handles the releases for this repo, as he has access to the nuget

However, if you run your branch, and then reference it like I show in the video in #585 that should sort out the issue, and I can get Martijn to release your PR as the latest. I just havent found the time to do the testing that I have wanted to, might have to be done Thursday or Friday unfortunately. Sorry for the de

[2021-07-29 19:17] #681 closed, assigned to nobody

[2021-07-30 16:15] jeremy-bridges opened #684 "MAUI support timeline"
## 💬 Questions and Help

I'm curious if contributors are going to move to support MAUI. Ideally, I'd love to test out this new platform while it is in beta. Ideally, pre-release packages of Rg.Plugins.Popup would facilitate this testing. Thanks for considering it.

[2021-08-01 00:04] LuckyDucko commented on #684
Hey @jeremy-bridges i have recently been thinking about this, and how to go about doing it.

I definitely plan on giving it an attempt, my concerns is our custom renderers we use on each platform, as apart from Android/iOS i am at a loss for other platforms.

[2021-08-03 09:04] JustickDM opened #685 "Java.Interop.JavaLocationException: Exception of type 'Java.Interop.JavaLocationException' was thrown."
## 🐛 Bug Report

After opening PopupPage.

Appcenter.ms (crash, 13 reports)
Honor 8X
Honor 8X
MI MAX 3
iPlay_20
Android 10
Honor 5C
HONOR 20S
Galaxy S8
Galaxy J3(2017)
Galaxy S8
Honor 10
Galaxy S8+
Galaxy A7(2017)

Stack traces:
Java.Lang.Error: Exception of type 'Java.Lang.Error' was thrown.
java.lang.Error: Java callstack:
crc643dd37f507f3d9710.PopupPageRenderer.n_onWindowVisibilityChanged(Nativ

[2021-08-03 13:40] srqdev opened #686 "Unable to initialize and use popups in WPF when the .WPF project is 3.1"
## 🐛 Bug Report

The WPF platform specific code is not available when using a WPF NET Core 3.1.

### Expected behavior

Rg.Plugins.Popup.Popup.Init() is available in the WPF app to initthe control correctly

### Reproduction steps

Create a basic Xamarin Forms app, add a WPF .NET 3.1 app to it. Try to initialize the RG.Popup control.

### Configuration

**Version:** 2.0.0.12

**Platform:**
- [ ] :

[2021-08-03 22:50] LuckyDucko commented on #685
This seems related to #599

[2021-08-04 09:51] zilimuk commented on #317
Thank you! This served me a lot but without overloading the method just like this "Rg.Plugins.Popup.Popup.Init(this)"

[2021-08-09 21:58] tkefauver commented on #619
I was able to fix the XamlC error and hot reload problem by:

1. importing the Rg.Plugins.Popup .csproj and referencing the project and its dll's
2. putting the namespace ref's back to:
`xmlns:rg="clr-namespace:Rg.Plugins.Popup.Pages;assembly=Rg.Plugins.Popup"`
`xmlns:rga="clr-namespace:Rg.Plugins.Popup.Animations;assembly=Rg.Plugins.Popup" `

[2021-08-11 06:22] AD-Programmer opened #687 "Popup Hide the Custom Keyboard"
## 💬 Questions and Help

I have designed a Custom Numerical Keyboard but It hides When I activate or use it on Popup Screen(used Rg.Plugin Popup). eg. Like this
![customKeyboard](https://user-images.githubusercontent.com/29791181/128979509-e99c9953-fc31-4468-a587-e0fec2b637d6.png)

Full Details are here -
[Click here](https://stackoverflow.com/questions/68709607/popup-hides-the-custom-keyboard-in-

[2021-08-16 13:27] PauGarcia890 opened #688 "Trouble when trying to initialize on UWP"
## 🐛 Bug Report

I have the nugget package installed on every porject I have and I have been able to initialize Rg.plugins.popup on those as well except for UWP. When I try to initialize it I can even find the Rg.plugins.popup.popup namespace hence I can't cal the Init method.

### Expected behavior
Call Rg.Plugins.Popup.Popup.Init() method.
### Reproduction steps
Create a new project
### Configur

[2021-08-30 16:40] simon10says commented on #677
I'm also having this issue with Android 11. Any updates or workaround?

I've tried XF 4.8 and the latest 5.0, both able to replicate this issue on Android 11. However, both works fine on Android 10 and earlier.

[2021-08-31 09:57] Sainty-dev commented on #68
How to pass data from one page  into popup  and  later after submitting return data to that page

[2021-08-31 09:59] Sainty-dev opened #690 "Rg.Plugins.Popup"
## 💬 Questions and Help

How to pass data from one page into popup and later after submitting return data to that page

[2021-08-31 16:11] simon10says commented on #677
After looking at a similar [issue](https://github.com/rotorgames/Rg.Plugins.Popup/issues/673#issue-904094838) and debugging with the sample demo to `PopupPageRenderer.cs`, it seems like with Android 11, the `OnLayout()` wasn't triggered the same as Android 10; and `decoreView?.GetWindowVisibleDisplayFrame(visibleRect);` captured before the keyboard is displayed.

My workaround is to listen to `Glo

[2021-08-31 22:41] LuckyDucko commented on #677
Hey @simon10says great work here.

I will try and give this a squiz as soon as possible, but in a more integrated way into the PopupRenderer.

[2021-08-31 22:44] LuckyDucko commented on #68
@Sainty-dev
I make a plugin that can help with that, however, it has some conventions you may need to follow https://github.com/LuckyDucko/AwaitablePopups

For something you can add in yourself, @acaliaro has a great write up https://acaliaro.wordpress.com/2020/12/07/create-a-popup-using-rg-plugins-popup-and-get-a-return-value/

[2021-08-31 22:44] LuckyDucko commented on #690
@Sainty-dev see this [issue](https://github.com/rotorgames/Rg.Plugins.Popup/issues/608)

[2021-08-31 22:44] #690 closed, assigned to nobody

[2021-09-01 16:46] BurkusCat opened #691 "PlatformExtension.GetOrCreateRenderer - System.ArgumentNullException - Crash on Android"
## 🐛 Bug Report
Crashes are happening for `PopupNavigationImpl.AddAsync` and `PopupNavigationImpl.RemoveAsync` (this one is most common). I am using Prism.Plugin.Popups and tried originally posting this on that repo: https://github.com/dansiegel/Prism.Plugin.Popups/issues/238 The maintainers of that repo advised it makes more sense to be posted here.

From popup pages, I am using absolute navigati

[2021-09-02 01:03] LuckyDucko commented on #691
This is something we have had running for a while #599

It seems nobody can reproduce, however reports from appcenter keeps rolling in.

[2021-09-02 03:47] theescapers opened #692 "Cannot install on WPF target"
## 🐛 Bug Report

On installing the nuget.

Failed to add reference to 'Rg.Plugins.Popup'.
  The project targets '.NETFramework' while the file reference targets '.NETCore'. This is not a supported scenario.

All my other targets work great.

### Expected behavior

Installs for WPF.

### Reproduction steps

Xamarin Forms app, WPF target, install nuget to that platform.

### Configuration

**Version

[2021-09-02 05:10] LuckyDucko commented on #692
Hey @theescapers
Could you try manually adding a reference to the net5-0 branch mentioned in #654?

If you need a reference for how to add reference of the project, see [here](https://github.com/rotorgames/Rg.Plugins.Popup/issues/585#issuecomment-816310658)

(make sure to use his branch through [this link](https://github.com/inforithmics/Rg.Plugins.Popup/archive/refs/heads/master.zip) . I'm going

[2021-09-03 06:51] stefandb1995 commented on #684
Would also love it if we get MAUI support. Rg is currently solving a pretty niche problem we have in our project and we are planning to move over to MAUI as soon as it drops.

[2021-09-03 08:21] maxkoshevoi commented on #684
+1 on this. I tried using pop-up from community toolkit, but it lacks animations and has some bugs. Would be great to see this NuGet migrated to MAUI. I only need Android implementation, so if you could do first pre release with just Android (or Android & iOS) that would be great.

[2021-09-03 08:41] maxkoshevoi commented on #684
All custom renderers and other Xamarin.Forms stuff should still work in MAUI through some compatibility namespace. Similar to how they'd created [Xamarin.CommunityToolkit.MauiCompat](https://www.nuget.org/packages/Xamarin.CommunityToolkit.MauiCompat)

https://devblogs.microsoft.com/xamarin/introducing-net-maui-compatibility-for-the-xamarin-community-toolkit/

[2021-09-15 18:53] orikworld commented on #655
any idea for fix?

[2021-09-16 05:51] orikworld commented on #655
Seems like incorrect init package. Need to init package in mainActivity

[2021-09-17 01:18] LuckyDucko commented on #684
I recently started doing work on this on Windows Visual studio, using the compatibility tools and whatnot.

Almost got a working prototype for Android, however, I was having issues with deployment and just generally not understanding the windows version.

I will be able to complete this once they have a working version of MAUI for Mac VS, or at least something workable.

we definitely will try an

[2021-09-17 07:29] maxkoshevoi commented on #684
Not sure if it's still gonna help, but I found an article detailing how to perform the migration: https://www.syncfusion.com/blogs/post/how-to-reuse-xamarin-forms-custom-renderers-in-net-maui.aspx

[2021-09-21 22:37] LuckyDucko commented on #688
@PauGarcia890 have you been able to run the sample?

[2021-09-22 07:22] PauGarcia890 commented on #688
Hi @LuckyDucko, no I haven't been able to solve it. I've got a Xamarin Forms solution with and Android project and an UWP one. When I initialize the plugin on android, I face 0 problems. But when I try to initialize it on UWP it just can't find the Popup class. All i can find is the namespace list. I'll attach a picture below for you to see.

![image](https://user-images.githubusercontent.com/8214

[2021-09-23 18:19] davidortinau commented on #684
@LuckyDucko let me know what we can do to help you out. david.ortinau@microsoft.com @redth

[2021-09-27 13:11] breetzn opened #694 "Can RgPopup capture hardware keyboard commands?"
## 💬 Questions and Help

In our xamarin app, we allow the user to navigate the app using a hardware keyboard (up, down, left, right for ex.). Is there a way to capture the keyboard commands in our RgPopup view?

This is not an issue for Android as the keyboard capturing is done at an app level. But for iOS, we've had to create custom renderers for our views to capture the keyboard input. Here is a

[2021-09-27 13:16] gceaser commented on #688
I am having the same issue.  The funny thins is I have a uwp project running XF 5.0.0.2083 and seems work fine.  In my project running XF 5.0.0.2125 I get the error. I am looking to see if a downgrade fixed the problem.

[2021-09-27 13:19] gceaser commented on #688
I tried to downgrade XF and still encountered the error.

[2021-09-27 16:20] PauGarcia890 commented on #688
I also tried many things. I tried erasing the UWP project from the solution and creating it again, tried changing many thinks, etc...
What seemed to be a workaround (but I'm strill trying to figure it out) was installing the package but no initialaizing it on UWP only on Android. Of course then I had to program it in a way so that the user couldn't acces the popup.

[2021-09-27 22:42] LuckyDucko commented on #694
So, since popup pages are based on the same `PageRenderer` base type, we may be able to adjust it in the future so you can have your keypresses code merged in.
 Currently, my next task is working on our MAUI upgrade, however what I can recommend to you is to download the codebase, and make a reference (here is a [link to help](https://github.com/rotorgames/Rg.Plugins.Popup/issues/585#issuecomment-

[2021-09-28 06:00] rotorgames commented on #688
Set `TargetPlatformMinVersion` to 10.0.17763 in your csproj.

[2021-09-28 06:16] IgorStrekha commented on #688
it WORKS!!

[2021-09-28 07:07] PauGarcia890 commented on #688
It worked perfectly. Thank you very much.
I'll close the issue now.
Thank you very very much.

[2021-09-28 17:39] #688 closed, assigned to nobody

[2021-09-29 09:50] LuckyDucko commented on #684
@maxkoshevoi  & others I've made my first prototype thrown up on the new Maui-Compatibility branch. I have not gone through what is mentioned on that sync fusion post exactly, just bashed around until popups started appearing. There still seems to be some weird issues which I'm sure are my own fault. Currently its only Android. Also, would love some help from people remaking the xaml pages to be '

[2021-09-29 15:54] maxkoshevoi commented on #684
1) I think you should retarget package to `net6.0;net6.0-ios;net6.0-android;net6.0-maccatalyst;net6.0-windows`.
2) You should remove all `Xamarin.Forms` packages (and packages that reference `Xamarin.Forms`), and add this to `csproj`
[code]
Also add this to enable implicit usings: `<ImplicitUsings>enable</ImplicitUsings>`

3) Related to `2`. You need to update all `using`s from `Xamarin.Forms.*` t

[2021-09-29 20:57] MathieuJack opened #695 "The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup'"
With my Xamarin.Forms UWP project, I have this compilation error on this line

Rg.Plugins.Popup.Popup.Init();

There are several namespaces under Rg.Plugin.Popup, but no Popup namespace/class

I am using nuget Rg.Plugin.Popup v2.0.0.13

Thank you

[2021-09-29 22:55] LuckyDucko commented on #684
@maxkoshevoi I have only targeted net6.0-android on purpose, due to your comment

_The rest will also be done,_ but it seems a good move to focus on one platform at a time.

i have kept the MAUI work exclusively within
https://github.com/rotorgames/Rg.Plugins.Popup/tree/Maui-Compatibility/Rg.Popup.Plugin.Maui

So people are able to compare old v new in this 'transition' period

There is also sampl

[2021-09-29 22:56] LuckyDucko commented on #695
Set TargetPlatformMinVersion to 10.0.17763 in your csproj.

[2021-09-30 06:15] maxkoshevoi commented on #684
My bad, I didn't notice `Rg.Popup.Plugin.Maui` folder, opened `Rg.Plugins.Popup.sln`, and wondered, why is project targeting `.netstandard` and referencing `Xamarin.Forms` 😄

I've looked at the `Maui` project, and cleaned it up a bit. Added `.net6` target so that abstractions or non-platform-dependant classes from this NuGet could be used in platform-agnistic projects, and fixed some warnings (fun

[2021-09-30 06:31] LuckyDucko commented on #684
Are you using Rider to auto suggest these fixes (concerning nullable and whatnot) Keep 'em coming, there is some cobwebs in this code (_looking at you Task.SetResult_) that need to be cleared out.

Hmm, i have not gotten that error yet, using VS2022 Preview as well. Let me download your branch and see whats up.

I just tested your code, and it deploys just fine on my Test Device (Samsung A20). Are

[2021-09-30 06:59] maxkoshevoi commented on #684
Nope, got all suggestions from the VS. There're around 100 warnings left by the way, but fixes would require changing the behavior, and I figured that they are not fixed on purpose (like adding `ConfigureAwait` and validating all external arguments).
![image](https://user-images.githubusercontent.com/6609929/135402768-355465d5-3e73-482e-afaf-d5834ba06f92.png)

PS: Some analyzers only analyze open

[2021-09-30 07:06] LuckyDucko commented on #684
I have made a project detailing things that we could add like this while the upgrade is being completed.
If you can make a real simple note for it/issue, that would be good, and then i will add it in the project so we remember later

Hmmm, i am using that version of VS preview, and 1.1608 as far as i'm aware.

[2021-09-30 07:24] maxkoshevoi commented on #684
Tried it on physical Pixel 4 (Android 12 Beta 5). Same crash. Maybe my VS is broken.
PS: `git clean -fdx` -> Rebuild also didn't help

[2021-09-30 11:09] Phenek opened #697 "Xamarin.iOS 15.0 on real device "Cannot access a disposed object. Object name: 'PopupPageRenderer'.""
Hello,
## 🐛 Bug Report

After updating Xamarin.iOS 15.0, I got an exception
"Cannot access a disposed object. Object name: 'PopupPageRenderer'."
when interacting with a Rg.popup.Page, on my Iphone X (iOS 14)

I don't have this exception on simulator running IOS 15

[code]

### Expected behavior

The PopupPagerenderer should not be dispose.

### Reproduction steps

You can try to repoduce it when i

[2021-09-30 21:26] MathieuJack commented on #695
What visual studio version is required to be able to target this platform SDK version?

[2021-09-30 22:40] LuckyDucko commented on #695
I believe VS 2019 should be capable

[2021-10-01 05:40] yunusefendi52 commented on #684
Have you fixed the `UintTypeConverter` issue?
I fixed it by changing implementation of `UintTypeConverter` to
[code]

also, you have to change `EasingTypeConverter` too
[code]

[2021-10-01 07:22] maxkoshevoi commented on #684
@yunusefendi52 Good catch! I thought it was a built-in converter. Updated convertors do work.

- Why did you change this?
[code]
- Would you mind creating a PR with new converter implementations?

@LuckyDucko I was able to launch the Sample, thanks to new converters, and now there's another issue. Popups are not closing when I click outside of them. Back button also doesn't do anything. Only click

[2021-10-01 07:28] yunusefendi52 commented on #684
Sure @maxkoshevoi, don't know why I changed `fieldValue`though but I will changed it back to the original code

[2021-10-01 08:27] yunusefendi52 commented on #684
I think you should set up that manually in MainActivity https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button

[2021-10-01 11:19] maxkoshevoi commented on #684
Thanks, forgot about that. Good thing is that there's now new "Maui way" of doing this via `ConfigureLifecycleEvents`. Created a PR.

@LuckyDucko Here's more detailed explanation of the current issue:
1. If I click outside of the Popup - it doesn't close
2. If I click outside of the Popup - click is passed to the page underneath (not the case in current stable version)
3. Back button still doesn't

[2021-10-03 07:30] MathieuJack commented on #695
Not by default, I have installed individual component from VS installer and it's ok.
Thank you.

[2021-10-04 22:23] LuckyDucko commented on #684
@maxkoshevoi good call on the MAUI way idea, i originally had it set up manually in mainactivity, but if there is the MAUI way, we should implement that.

@yunusefendi52 thanks for fixing the converter issue. Its strange to me that i was able to compile and launch without it. But its sorted now. so thats good 👍🏻

The LoginPopupPage i also was having strange issues, i have definitely noticed the is

[2021-10-05 02:22] LuckyDucko commented on #697
@Phenek does this include iOS 14.5 as well? or strictly iOS 14?

[2021-10-05 06:43] LuckyDucko commented on #684
@maxkoshevoi

I fixed the situation concerning the LoginPopupPage, i believe it was relating to the use of MainThread. I was making adjustments and wasnt expecting it to work.

However, when i made the popuppage renderer available for Maui, it stopped appearing properly. So i commented that out for now, but would be a good next step

[2021-10-05 07:42] Phenek commented on #697
@LuckyDucko
iOS 14.5.1 has the issue.

[2021-10-05 08:13] maxkoshevoi commented on #684
@LuckyDucko Now all popups not close on back button 😄 You need to remove `public override void OnBackPressed()` from `MainActivity` to Maui lifecycle to work (calling `base.OnBackPressed()` also should work, but didn't test that).

But after fixing that, there're new issues.
- `LoginPopupPage` is closing on back button, but cannot be opened again (also it's opening animation is strange. there's so

[2021-10-05 09:42] LuckyDucko commented on #684
@maxkoshevoi oh my bad, i thought i fully removed it! Fixed

The LoginPopupPage issue you mentioned is because it is a stored Popup Page i changed it to work like the other pages, and it works fine. I imagine most use cases are similar to that. I came across this issue as well, and thought i fixed it. Perhaps i didn't commit my latest changes, made a mistake while reverting other work.

The closin

[2021-10-05 09:44] Phenek commented on #697
This happen when the keyboard want to show up
Hope it can help

[2021-10-06 16:49] Phenek commented on #697
I added the repo as reference, and found out that the renderer is disposed when the MainPage changed.
But it should not be disposed at this time.

Commenting the dispose function give me a workaround. (ligne 41 of [PopupPageRenderer.cs](https://github.com/rotorgames/Rg.Plugins.Popup/blob/develop/Rg.Plugins.Popup/Platforms/Ios/Renderers/PopupPageRenderer.cs))
[code]

But I did not find a real expla

[2021-10-06 21:38] LuckyDucko commented on #697
@Phenek sorry I have been working on the MAUI extension.

I currently test using an iOS 14.5 device with this repo and haven't run into any issues, can you provide a sample repo?

[2021-10-06 22:43] Phenek commented on #697
Ok let me try to explain my issue.  (I got a fixe at the end :)

- I have a SplashScreen : PopupPage
- I put this Splashscreen as MainPage inside App constructor
[code]
- When App construction, api calls and stuff is finished, I change the MainPage
[code]
- At this moment Renderers are dispose, and when I want to interact with an entry inside a new PopupPage
I had this exception when the keyboard

[2021-10-12 09:23] Nagendra574 opened #703 "App not responding when open popup on Xamarin 5.0 above, issues happened only in iOS"
## 🐛 Bug Report

To open the popup view my code like the below image
![image](https://user-images.githubusercontent.com/43818461/136929265-f5184da1-c0a7-4e3d-bea7-accf9e8d7d64.png)

### Expected behavior
When I click popup view App stuck
### Reproduction steps

### Configuration

**Version:** Xamarin Forms 5.0.x

**Platform:**
- [ ] :iphone: iOS

[2021-10-12 10:36] Phenek commented on #697
Update:
This is affecting all real devices (iOS 14,15..) when App is compiled with Xamarin.iOS 15.0
No issue occur in simulator.

[2021-10-13 15:05] NoamMani opened #704 "System.NullReferenceException When trying to pop a popup"
Hi,

## 🐛 Bug Report

On iOS 15, sometimes we got this exception when we try to **pop** a specific popup:

`Exception: System.NullReferenceException: Object reference not set to an instance of an object.
  at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos.AddAsync (Rg.Plugins.Popup.Pages.PopupPage page) <0x105f87294 + 0x00460> in <c764561bc21b420689a747c209523bf2#9d0a4ec250688d50b764561a6d88ab00>:0

[2021-10-14 07:21] Lavshyak opened #705 "the background of the button is not displayed"
.xaml:
[code]
piece of .cs:
[code]

as a result, the selected button text color is displayed, but the background and border are not.
screenshot:
https://ibb.co/jMfGWLZ

why can it be so?

[2021-10-15 01:17] LuckyDucko commented on #684
Quick update

I'm still working through this.
I initially tried to convert our current renderer over to a MAUI handler version, but i ran into some struggles concerning how we use `GetRenderer` method and whatnot.

So, had to scrap all that work, however, still i struggled to get the actual renderer to work, once enabled it kept just not appearing, and i'm unsure if its a renderer issue, a change

[2021-10-15 01:19] LuckyDucko opened #706 "MAUI Renderer convert to Slim Renderer Architecture"
Once the compatibility handler is up and running, investigation into the feasibility of moving to the new renderer architecture needs to be completed

[2021-10-15 12:06] Lavshyak commented on #705
I made a mistake in the color code. everything works

[2021-10-15 12:06] #705 closed, assigned to nobody

[2021-10-15 12:44] ingweland commented on #568
The workaround works for 3.1, but not for 5.0 and 6.0-Preview

[2021-10-19 09:03] AlonRom commented on #704
@rotorgames @KirillAshikhmin can you please help with that?

[2021-10-19 09:20] LuckyDucko commented on #704
Sorry for the late reply, my focus has mainly been on upgrading to MAUI

Could you provide a project example of this? I am currently running the latest on iOS 15 fine.

[2021-10-19 13:57] NoamMani commented on #704
We are unable to reproduce the issue through an example project.
In addition, we don't get the exception all the time in our project.

Here are some facts that may help to understand our case:
 - Our popup contains a label and an animated image (we use Syncfusion component: SfCircularProgressBar)
 - We replace the root of the app and then we immediately push our popup:
![image](https://user-images

[2021-10-20 02:27] LuckyDucko commented on #623
@EmmanuelJego
@alexpetin

@rotorgames has done a legend move and potentially sorted this out, could you check this out again?

[2021-10-20 02:56] LuckyDucko commented on #704
hey @NoamMani

this looks like you are solving a similar issue to what i use in [my awaitablePopups ](https://github.com/LuckyDucko/AwaitablePopups) too.

in specific [this page](https://github.com/LuckyDucko/AwaitablePopups/blob/master/AwaitablePopups/Services/PopupService.cs)

There must be some functionality that is accidentally trigger this push async twice in your codebase.

[2021-10-20 05:21] #497 closed

[2021-10-20 05:21] #367 closed

[2021-10-20 05:22] #288 closed

[2021-10-20 05:23] LuckyDucko commented on #318
@IeuanWalker is this issue sorted? just going through and removing old issues

[2021-10-20 05:24] #373 closed

[2021-10-20 05:25] LuckyDucko commented on #485
@wallacemariadeandrade is this still an issue?

[2021-10-20 05:27] LuckyDucko commented on #477
@nck3250 is this still an issue?

[2021-10-20 05:28] #473 closed

[2021-10-20 05:29] #471 closed

[2021-10-20 05:30] LuckyDucko commented on #454
@BillFulton

Long time in response, in the .Net MAUI version of this, the plan is to atleast have CsharpMarkup and Xaml

[2021-10-20 06:09] AlonRom commented on #704
@LuckyDucko we are using await as well, and this is the only popup we are showing when the app is launched.
what can cause this exception? it happens to many iOS users

[2021-10-20 07:56] EmmanuelJego commented on #623
Yes, it works like a charm! 😀 Thanks!

[2021-10-20 09:38] DevEddy opened #707 "uap is missing in 2.0.0.14"
## 🐛 Bug Report

`Error CS0234 The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?)`

Package Content 2.0.0.13 (uap included):
![image](https://user-images.githubusercontent.com/7648336/138068804-4f850ee2-2a24-4f2f-ae11-a84817db1c6f.png)

Package content 2.0.0.14 (no uap):
![image](https://user-images.githubusercontent.com/7

[2021-10-20 11:11] IeuanWalker commented on #318
@LuckyDucko looks like it

[2021-10-20 12:48] alexpetin commented on #623
It works correct on Android and latest iOS, thanks.
But there is problem on old iOS:
![image](https://user-images.githubusercontent.com/19589320/138095703-5219fe34-d828-4c80-b766-84ba4b733a80.png)

[2021-10-20 19:46] KimLeRoy commented on #695
It seems like any version of Xamarin greater than 5 doesn't work with Rg.Popup. After following all the instructions and advice here, I decreased my Xamarin Forms version to 4.8.0.1821 and Rg.Popup started working like they should. But any higher than Xamarin Forms 5.0.0 and the lists dont show and the popups are blank.

[2021-10-20 21:51] LuckyDucko commented on #704
![Screen Shot 2021-10-21 at 08 47 17](https://user-images.githubusercontent.com/17778102/138177058-e8272a3f-6057-4cd1-8906-baa33afdb702.png)

Does this ever cause an exception to be thrown? something similar to
`System.InvalidOperationException with the message “Collection was modified; enumeration operation may not execute.”`

As you are modifying the navstack, indirectly, that the foreach is ite

[2021-10-20 21:55] LuckyDucko commented on #695
@KimLeRoy

i have been using the RG popups on Android/iOS fine on Xamarin.Forms 5 since it was first released.

Is this just windows that you have issues with?

[2021-10-21 05:47] KimLeRoy commented on #695
@LuckyDucko

Yes sorry - I should have said it is just UWP we are using RG popups for. The other two platforms have their own alternatives. When we go over Xamarin 5 the popup outlines show, but no contents in them. We even tried with the Github examples from here in VS 2019 to see if it was something in our code, but we got the same result.

[2021-10-21 07:37] NoamMani commented on #704
No, It doesn't throw the exception you mentioned:
`System.InvalidOperationException with the message “Collection was modified; enumeration operation may not execute.”`

we get the exception I mentioned above:
`Exception: System.NullReferenceException: Object reference not set to an instance of an object.
at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos.AddAsync (Rg.Plugins.Popup.Pages.PopupPage page)

[2021-10-21 10:34] #697 closed, assigned to nobody

[2021-10-21 10:44] Phenek opened #708 "[iOS] Rg.Plugins.Popup 2.0.0.14 : Null Reference Exception"
## 🐛 Bug Report

After updating Rg.plugin.popup, I got an null reference exception
when loading the App at start up, on my Iphone X (iOS 15)

[code]

<img width="800" alt="Screenshot 2021-10-21 at 12 31 14" src="https://user-images.githubusercontent.com/4518686/138262226-992fb7a2-3e68-44c0-b334-922280ff9512.png">

### Expected behavior

The null reference should be handled.

### Reproduction steps

[2021-10-21 12:39] LuckyDucko commented on #704
It is unusual. My only thought is that, the AddAsync was prevented somehow from being completed fully, which held it for long enough that the remove caused the addasync to break, since you removed the page being added.

However, it's just guess work until we have a reproducible. Good to have this record floating about however

[2021-10-21 12:58] ShadowOfPhantom opened #710 "Weird white space on IOS on 2.0.0.14"
I use negative padding to make popup looking like:
![image](https://user-images.githubusercontent.com/41395390/138281816-0caf40e5-60b8-47a9-b588-dcc5bd08146a.png)
With the new version (2.0.0.14) seems like popup page is avoiding system line on the bottom. please, take a look, it's ok for this and future releases?
![image](https://user-images.githubusercontent.com/41395390/138282248-43e1ef27-5c80-4

[2021-10-22 06:30] Phenek commented on #710
Did you try to use only PaddingSide.Top?

C#
[code]

Xaml
[code]

[2021-10-22 07:23] PrinceCharles23 commented on #707
cannot confirm the source of the issue (since i have not checked) but the behaviour - was introduced in 2.0.0.14 and is working in 2.0.0.13

[2021-10-22 10:42] wallacemariadeandrade commented on #485
Hi @LuckyDucko ! Unfortunately I'm not coding the project anymore, so I cannot answer if it's solved or not :p
But as nobody has mentioned it in the last few months, I think that it has been solved.

[2021-10-22 11:49] softlion commented on #707
Confirmed. Any workaround except downgrading ?

![image](https://user-images.githubusercontent.com/190756/138448763-7de91c62-a274-44ce-a1ad-47f8cf9ae7fc.png)

[2021-10-22 18:32] luizhj commented on #695
This solution only works for 2.0.0.13 version. With 2.0.0.14 it return to show the compilation error.

The version of the packages of my projet.
Xamarin forms 5.0.0.2196
Microsoft.NETCore.UniversalWindowsPlataform 6.2.13

Even Fuget doesn't show the Rg.Plugins.Popup.Popup namespace.

https://www.fuget.org/packages/Rg.Plugins.Popup/2.0.0.14/lib/netcoreapp3.1/Rg.Plugins.Popup.dll/Rg.Plugins.Popup

!

[2021-10-25 11:54] lassana opened #711 "Popup page flickers on appearing"
## 🐛 Bug Report

If the popup page has a ListView in its content, and ItemsSource of that ListView gets set in `OnSizeAllocated()` or `OnAppearingAnimationBegin`, the appearing animation gets broken and the page flickers: at first the page is shown in the center of the screen for a short moment, and then the actual animation starts. The behavior is pretty much the same as in #404

It can be reprod

[2021-10-26 01:02] pheidler commented on #695
Our app still has some users using an older version than 10.0.17763. I am updating this package in order to resolve crashes we are noticing related to https://github.com/rotorgames/Rg.Plugins.Popup/issues/582. Which version of this package should I use in order to resolve this issue, yet still support users on older versions of Windows?

[2021-10-26 14:56] avorobjovs commented on #707
I confirm this issue.

[2021-10-27 07:27] Agredo commented on #707
I can confirm this! Updating directly to 2.0.0.14 will cause this. Downgrading to  2.0.0.13 works!

[2021-10-27 09:45] cbs-cbt commented on #707
I confirm this issue.

[code]

When compiling for UWP with version 2.0.0.14

[2021-10-27 18:30] FrozDark commented on #707
UWP reference miss confirmed

[2021-10-28 08:50] PauGarcia890 commented on #695
I had the same problem a while ago, I changed the TargetPlatformMinVersion to 10.0.17763 on my UWP project, and then it worked. But since the new UWP update the problem resurfaced. Once I updated the Microsoft.NETCore.UniversalWindowsPlatform NuGet package to the latest version the PopUp namespace error reappeared.

[2021-10-29 22:49] dmsi-leonidl opened #712 "UWP : Rg.Plugins.Popup.Popup.Init(); causing build error"
## 🐛 Bug Report

Rg.Plugins.Popup.Popup.Init(); causing build error:
The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?)

Note:
2.0.0.13 builds and run without problems.

### Expected behavior
Builds without errors.

### Reproduction steps

### Configuration
Windows 10 Enterprise
19043.1288

Microsoft Visual Studio Enterpri

[2021-10-30 18:04] srqdevg commented on #686
I'm having the same issue. I tried adding the references manually but there is no implementation for WPF so the code responds with a message stating that the lib has not been initialized yet. You can;t initialize it because there is no WPF implementation code.

[2021-11-02 05:25] brandonward34 commented on #711
I am also experiencing this issue

[2021-11-04 13:19] Suplanus commented on #711
Same here, was also in `2.0.0.13`.

[2021-11-04 13:21] Gmotagi commented on #695
I'm having various similar issues. I have two popups that are displaying empty on UWP, after some investigation it seems that add ing in a simple Button is causing it. If I remove them it displays.
<edit>
For me this seems related to the latest version of Forms 5.0.0.2196. I reverted back to 2125 and my popups are working as expected again. My version of popup is 2.0.0.13 and also have prism.plugi

[2021-11-04 14:01] bergziege opened #713 "[UWP] Bottom UI Elements drawn outside of window"
## 🐛 Bug Report

Elements aligned at the bottom of the window are being pushed further down.

![grafik](https://user-images.githubusercontent.com/354288/140326830-fa7cded6-656a-45f4-926e-c51403ac1cdd.png)

I still think its a problem on my side since we did not update the lib nor UWP min version in the last weeks. But still I cannot figure out what could cause this behavior.

### Expected behavior

[2021-11-04 19:53] Erdogan34 commented on #653
@rabileon is there any solution you found?

[2021-11-04 20:07] Erdogan34 commented on #619
@tkefauver it's made me crazy for days, can you share it as a small sample code please?

[2021-11-05 06:33] bergziege commented on #713
I just found a commit that adds a top margin to the UWP canvas. The popup seems not to take this into account.

[2021-11-05 06:33] #713 closed, assigned to nobody

[2021-11-05 06:42] valentasm1 commented on #619
Try this

[code]

[2021-11-05 09:02] Erdogan34 commented on #619
It wasn't about the popup page, It resolved when I add the xmlns to the App.xaml.

[2021-11-06 11:05] TamerIrdais commented on #712
Same Issue here with latest version 2.0.0.14

[2021-11-06 15:56] Cvijo opened #714 "Initialize Rg inside other activity (splash screen)"
## 💬 Questions and Help

Hi,
In Xamarin I am using splash screen to play some Lottie animation and during animation, I am initializing all libraries (even creating a new App())

So my Splash screen inherits Activity, IAnimatorListener
when my Lottie animation start I begin registering all libraries in background thread

part of code in my SplashActivity

[code]
everything works fine except this li

[2021-11-07 10:41] vividos commented on #707
It may be that the build of the NuGet package was done on a Mac, since the UAP assembly is missing in 2.0.0.14. This line takes care that on Mac there is no UWP build:
https://github.com/rotorgames/Rg.Plugins.Popup/blob/4d4d55bc154494bd0400e32c683e6d9aa079b473/Rg.Plugins.Popup/Rg.Plugins.Popup.csproj#L4

[2021-11-07 21:56] LuckyDucko commented on #712
@rotorgames i am relatively new to any form of UWP development, are you able to look into this? seems 2.0.0.14 may have missed something with UWP

[2021-11-10 00:29] LuckyDucko commented on #708
@Phenek Good to close? Thanks for the help on this one 👍🏻

[2021-11-10 08:49] #708 closed, assigned to nobody

[2021-11-10 15:07] mhrastegari commented on #712
same issue :(

[2021-11-11 09:05] truXton222 commented on #712
Someone discovered any workaround for this issue?

At moment my only solution is downgrade the library to 2.0.0.13

[2021-11-11 22:06] mfeingol commented on #712
cc @martijn00 - would be nice to have this fixed. Thanks.

[2021-11-12 06:22] LuckyDucko commented on #712
@mfeingol
@truXton222
@TamerIrdais
@dmsi-leo

I was able to build and run the Demo.UWP without any hassles.

I updated the core project to use the Xamarin.Forms noted in this ticket,

Target Version for Windows 10 : 1809
Min Version 1809

are you able to check this against the Demo Project, and if the demo project works fine, what is the differences in your setup in comparison.
[UPDATE]
see #707

[2021-11-12 06:32] LuckyDucko commented on #714
Hmm, what error do you get from this? As long as what you pass is of type Android.Content.Context it should be functional

[2021-11-12 06:45] LuckyDucko commented on #707
Hey guys, sorry for a late reply.

I have updated the latest github package to add on a windows built version of 2.0.0.14. It has 'rebuilt' added within its name. Just remove that and add it manually and hopefully that helps out. I do not have access to the nuget so unfortunately this is the best i can do.

@vividos good call concerning the building issue, lets see if it works out!

[2021-11-12 06:49] LuckyDucko commented on #695
For 2.0.0.14 issues, see #707, i hope the rebuild helps

[2021-11-14 18:17] yasmoradi commented on #619
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/custom-namespace-schemas#consuming-a-custom-namespace-schema

[2021-11-15 08:10] Cvijo commented on #714
There is no error, not in debug window or anywhere it just doesn't work. Popup doesn't show, if I put it in my main activity it works.
And yes I am passing "this" from splash activity

[2021-11-15 14:56] Phenek commented on #708
Pleasure ;)
Any 2.0.0.15 Release programmed?

[2021-11-16 03:00] LuckyDucko commented on #714
Huh, could you try and remake what you're doing in a demo project, zip and put it here, and i can go through and poke about?

[2021-11-16 19:51] antmurph commented on #662
Looking for a similar thing, The timing on when one popup is shown is not clearly defined(that it to say user controlled and dynamic) but I have another popup that I always need on top of any others.

[2021-11-18 09:21] AlonRom commented on #704
@LuckyDucko please look at this method:

      public Task PushAsync(PopupPage page, bool animate = true)
        {
            lock (_locker)
            {
                if (_popupStack.Contains(page))
                    throw new RGPageInvalidException("The page has been pushed already. Pop or remove the page before to push it again");

                Pushing?.Invoke(this, new PopupNavigatio

[2021-11-18 23:15] LuckyDucko commented on #704
Ah and its caught in `InvokeThreadSafe` which is

[code]

So the pushasync should have an exception attached to it as well. Are you able to show me the exception that comes from awaiting the task of PushAsync? (if im understanding correctly whats going on)

[2021-11-19 05:26] AlonRom commented on #704
@LuckyDucko sure, here the first exception when trying to display a popup:

DialogService.cs(211) - InternalShowPopupAsync: Show popup: MainMapLoaderViewModel
12:34:24
MAPS

MainMapViewModel.cs(151) - InitializeAsync: Exception showing map loader popup: System.NullReferenceException: Object reference not set to an instance of an object.
  at Rg.Plugins.Popup.IOS.Impl.PopupPlatformIos.AddAsync (Rg.

[2021-11-21 22:21] LuckyDucko commented on #704
Can you confirm this function works correctly as not a popup? Sorry without being able to debug, this is difficult to solve.

[2021-11-21 22:29] AlonRom commented on #704
@LuckyDucko of course, the function works:
* 100 % well on all Android devices.
* 100 % well on all iOS devices under 15 OS
* **Doesn't work well very often on iOS device > 15 OS**

We even added a try-catch just in case we have an inner exception:
            try
            {
                await DialogService.ShowPopupAsync(new MainMapLoaderViewModel(), null);
            }
            catch (

[2021-11-21 23:47] LuckyDucko commented on #704
@AlonRom would it be okay if i'm invited into the private repo and i can investigate directly?
i'd happily sign anything if there is any concerns about privacy of the code. My email is tysonhooker@live.com.

Otherwise, my best suggestion is removing rg as a nuget, and instead downloading the rg repo, and linking it in manually as a project reference.

Once that has happened, you can add breakpoint

[2021-11-22 06:26] AlonRom commented on #704
@LuckyDucko sorry, I'm not allowed to share the private repo.
anyway, it won't help because it's something that we can't reproduce in debug.
Another thing that may provide some clue, it occurs only at the startup of the app.
Could we have some raise condition there?

[2021-11-22 06:37] LuckyDucko commented on #704
I am just taking a guess here looking at the traces.

Can you seperate things out so it works as follows.

-create viewmodel.
-create page.
-attach viewmodel to page.

Then, can you try and make it work using a Xamarin Forms Modal.

And then make it work using a Popup?

The situation with debug makes me suspicious that this is not an issue with the popup repo itself. Does it work in release mode o

[2021-11-22 08:30] AlonRom commented on #704
we are not able to reproduce in release mode, unfortunately.
what you wrote is exactly what we are doing:

 _logger?.Info(LogTags.DialogsTag, $"Show popup: {viewModel.GetType().Name}");

            PopupPage page = CreatePopupPage(viewModel.GetType());
            page.BindingContext = viewModel;

            var navigationPage = Application.Current.MainPage as NavigationPage;
            if (!ro

[2021-11-22 22:35] LuckyDucko commented on #704
What scenario exactly are you able to reproduce this issue? just iOS 15 devices that are using the full app store release you have?

[2021-11-22 23:19] AlonRom commented on #704
@LuckyDucko exactly

[2021-11-23 00:39] LuckyDucko commented on #704
So then, it would seem that some of the changes, possibly concerning privacy, are what might be forcing the crash on your devices.

See if all your certificates allow for everything you require, as well as entitlements? I am running rg on my own project on iPhone with iOS 15 and it works correctly, including using it in an awaitable context similar to your own.

On startup, you seem to be launchin

[2021-11-23 16:47] SBurgos00 commented on #707
Is the rebuilt package working for anyone? I still have the same error when using it.

This is what I did to use the new package:
-Download rebuilt package
-Removed ".rebuilt" from the name
-Added a package source for the downloaded package and moved it to the top of the list of sources
-Uninstalled the existing package from all projects
-Clean solution
-Set package manager source to the one I set

[2021-11-24 06:02] AlonRom commented on #704
@LuckyDucko what do you mean by privacy?
Not sure about the next step, it works as expected most cases, but clearly there in an inner exception and my map is main screen so I can't replace it.

[2021-11-24 07:21] LuckyDucko commented on #704
@AlonRom the latest iOS had feature sets the emphasised privacy, so i wonder if one of those settings are what is causing the issues?

Well, my understanding was that a map is on a popup? But after your comment i'm not so sure

[2021-11-24 07:30] AlonRom commented on #704
@LuckyDucko it's not a popup, it's the main page.

[2021-11-24 21:55] LuckyDucko commented on #704
So, what popup is causing the error to be thrown?

[2021-11-25 03:02] brandonward34 commented on #711
Any update on this? we have users reporting this happens quite frequently now... Ive started looking into a little more and seems like it has something to do with this line [                taskList.Add(content.TranslateTo(_defaultTranslationX, _defaultTranslationY, DurationIn, EasingIn));](https://github.com/rotorgames/Rg.Plugins.Popup/blob/4d4d55bc154494bd0400e32c683e6d9aa079b473/Rg.Plugins.Popu

[2021-11-25 06:21] AlonRom commented on #704
a loader I'm displaying in the InitializeAsync:

  public override async Task InitializeAsync(object navigationData)
        {
            try
            {
                Logger.Info(LogTags.Maps, "MainMap InitializeAsync start.");
                await DialogService.ShowPopupAsync(new MainMapLoaderViewModel(), null);
            }
            catch (Exception ex)
            {
                L

[2021-11-25 08:56] kyurkchyan commented on #707
I can confirm this issue as well. As soon as I downgrade to 2.0.0.13 the issue is gone

[2021-11-25 16:14] ShadowOfPhantom commented on #711
Same here guys

[2021-11-25 21:02] AlonRom commented on #704
@LuckyDucko I THINK I FOUND THE ISSUE! But I still need your help...
We took the Rg Package and added logs inside AddAsync to understand what is the Null Exception:

DialogService.cs(35) - LogPopupNavigationInfo: : PopupPlatformIos.cs(59) - AddAsync - page: PetActivityMobile.Core.CustomControls.Popup.Views.MainMapLoaderView, page.parent: Xamarin.Forms.NavigationPage

**DialogService.cs(35) - LogPo

[2021-11-25 22:56] LuckyDucko commented on #707
@SBurgos00 @kyurkchyan
 do you still get the same error? i did some testing on my windows computer after i built it, just against the rg demo app.

I worry i may have missed something obvious, and do apologise that such a large bug has been introduced, i have just had no time for this, let alone the MAUI upgrade i want to be doing.

I do plan on giving this a renewed focus when i'm on leave in Jan

[2021-11-25 23:17] LuckyDucko commented on #704
@AlonRom this was a recentish change i believe, by @dimonovdd

after reading this https://stackoverflow.com/questions/54333021/unable-to-access-uiapplication-sharedapplication-keywindow-during-the-launch-of

It seems your issue is that you are throwing a popup before the app has properly started, and this is causing issues

[2021-11-26 00:15] AlonRom commented on #704
@LuckyDucko I don't have any control over this, this is an internal exception in this package.
Can you please suggest a solution?

[2021-11-26 00:18] SBurgos00 commented on #707
@LuckyDucko Later I downloaded the source and added the project to my solution and referenced it in my UWP project. It was able to build and run. I'm going to use it that way for now. It is weird that it didn't work as a Nuget. Don't worry about looking at this on Sunday for just me. Thanks!

[2021-11-26 00:45] LuckyDucko commented on #704
@AlonRom to be clear, the reason an exception is being thrown is because you are attempting to add a popup too early, and should most likely need to wait, again it is impossible to give any sort of advice as i only have one side of the code.

However, in the link i sent, they mentioned two fixes.

If you are launching a popup as soon as the app is starting, perhaps this code should be called from

[2021-11-26 00:46] LuckyDucko commented on #707
@SBurgos00 glad it worked out. I'll give it a test using my own application just to be sure now, if 1 person mentions it, 100 people have had the same issue and have been quiet.

[2021-11-26 01:08] AlonRom commented on #704
@LuckyDucko how it can be too early? it's inside the InitilizeAsync method of a ViewModel.
I really don't understand where I need to wait, I'm initializing my main page and it's ViewModel properly.

[2021-11-26 01:20] LuckyDucko commented on #704
@AlonRom By too early, i mean in the app lifecycle.

"The key window is the currently visible window that is also the one that receives user input."
https://docs.microsoft.com/en-us/dotnet/api/uikit.uiapplication.keywindow?view=xamarin-ios-sdk-12

For a popup to be shown, it must be shown on the keywindow. However, there seems to be an issue where the keywindow is null.

For the keywindow to be nu

[2021-11-26 01:38] AlonRom commented on #704
@LuckyDucko my FinishLaunching is pretty big:

`  public override bool FinishedLaunching(UIApplication app, NSDictionary launchOptions)
        {
            try
            {
                Rg.Plugins.Popup.Popup.Init();

#if ENABLE_TEST_CLOUD
                Xamarin.Calabash.Start();
#endif

                Forms.Init();

                IOCHelper.InitIOC();
                Xamarin.FormsGoogleM

[2021-11-26 01:52] claudecarb commented on #712
Same issue here :/ Anyone found a solution to this please?

My Target and Min Windows versions were already at Win 10 1809

[2021-11-26 01:55] LuckyDucko commented on #704
@AlonRom The stackoverflow Q doesnt specify, however i believe that the default initialisation only occurs if it is null, so the duplicate shouldnt be an issue..However

try putting it before this line.

Or, in Core.App() initialisation, move any reference to `DialogService` into the `OnStart()` override

[2021-11-26 04:11] dmsi-leonidl commented on #712
@LuckyDucko

My project's settings are pretty much the same.
The only differences are:

Target Version for Windows 10 : 2004

Nuget packages:
Microsoft.NETCore.UniversalWindowsPlatform **v6.2.13**
Xamarin.Forms **v5.0.0.2196**
Xamarin.Essentials **v1.7.0**
ZXing.Net.Mobile.Forms
Syncfusion.Xamarin.SfDataForm

[2021-11-26 15:21] AlonRom commented on #704
@LuckyDucko I added more logs and I do finish executing FinishLaunching before I display the popup.
So I'm not sure that's the issue.
however, because we have 2 roots possible in the app we are replacing the root at the start app:

 return await MainThread.InvokeOnMainThreadAsync(async () =>
 NavigationPage newMainPage = new NavigationPage(newRootPage);
 Page firstPage = mainPage.Navigation.Naviga

[2021-11-26 21:42] dimonovdd commented on #704
Hi. Can you provide a sample of this issue?

[2021-11-26 21:59] AlonRom commented on #704
@dimonovdd I can't share the project but I can provide any relevant information.
I think everything related to this issue is in this ticket already,

[2021-11-26 22:45] dimonovdd commented on #704
@AlonRom Can you make a small sample? Even if someone fixes this bug, how can we test a fix?

[2021-11-26 23:01] AlonRom commented on #704
@dimonovdd @LuckyDucko  I can't reproduce it in debug and I have no idea what causing this issue, so I can't prepare a sample when I don't know what to put there.

All I know is it's a null exception from the internal code of this package so the fix must be in the package.

2 things can help for now:

1. Can something cause the KeyWindow to be null after it was ok on startup?

2. Is there an API i

[2021-11-26 23:07] dimonovdd commented on #704
Try calling a pop-up after completing the “OnAppearing" method on your first navigation page

[2021-11-26 23:14] AlonRom commented on #704
@dimonovdd “OnAppearing" is a view method, I have no logic in the view
I'm calling the popup in the ViewModel in the InitializeAsync

[2021-11-26 23:20] dimonovdd commented on #704
Do you want to check it out? Or do you want someone to fix this problem for you?

I think your problem is that you are calling a popup before the first page is appeared.

[2021-11-26 23:41] AlonRom commented on #704
@dimonovdd yes, I prefer a fix in the package since it's an internal exception. I think there should be protection.
all I'm doing is calling a popup after the page was created in the InitializeAsync method, using OnAppearing and not InitializeAsync is not the way in my opinion.

If I wait as you suggested then I see a blank screen for a short while instead of a popup loader, that's another reason

[2021-11-27 00:42] dimonovdd commented on #704
Unfortunately this is a limitation that you should accept

[2021-11-28 23:11] FabriBertani commented on #695
This worked for me using v2.0.0.13

[2021-11-29 01:29] LuckyDucko commented on #704
@AlonRom

Are you using the loader as the cover for you switching the root and setting it up and whatnot?

Either case, while we dont have an inbuilt way, you could instead provide a custom navigation via
` private static IPopupNavigation? _customNavigation;`
Which i believe should give you access to the stack that would help you sort it out? With such an unusual use case, i think its the best mov

[2021-11-29 03:49] FabriBertani opened #715 "Android ArgumentNullException was throw: Value cannot be null. Parameter name: obj"
## 🐛 Bug Report
Hi, in Xamarin.Forms `v5.0.0.2196` the plugin throw an ArgumentException in Android while trying to open a popup.
Currently using Rg.Plugins.Popup `v2.0.0.14`.
I must clarify that works fine on iOS and UWP and i'm running the same plugin version in another project but with XF `v.5.0.0.2012` and there it works fine too, but I cannot downgrade XF version on this project.

This is the

[2021-11-29 04:28] FabriBertani commented on #715
Please ignore this issue, I found out that the issue was caused by the property `AndroidTalkbackAccessibilityWorkaround` that was set to true on the xaml part of the popup.

[2021-11-29 04:28] #715 closed, assigned to nobody

[2021-11-29 08:42] AlonRom commented on #704
Hi @LuckyDucko I added more logs and we found out why and when it happens but still no solution.
it happens currently only on iOS 15+, when a silent push was sent to this device and then the user opens up the app.
For some reason, the KeyWindow is null in this case.

@dimonovdd I also tried creating the Window at the beginning of the finishedLaunching but it didn't help as well :/

do you have any

[2021-11-29 08:47] dimonovdd commented on #704
@AlonRom Have you tried to do what I suggested?

[2021-11-29 08:49] AlonRom commented on #704
@dimonovdd I tried all suggestions. I added logs for the KeyWindow all around in the navigation service.
it's null in this case

[2021-11-29 08:52] dimonovdd commented on #704
@AlonRom

[2021-11-30 03:33] LuckyDucko commented on #715
Hey @FabriBertani this is good to know however, the android accessibility i was always worried would cause an issue.

I'll try and figure out latest xamarin changes

[2021-11-30 11:37] NoamMani commented on #704
@dimonovdd

We added logs to check the key window state inside "OnAppearing" method:
<img width="1047" alt="MicrosoftTeams-image (8)" src="https://user-images.githubusercontent.com/40792491/144039255-f22009b4-8c82-4fcf-b54c-112f0c39f77f.png">

The key window was still null after "OnAppearing" was complete:
![image](https://user-images.githubusercontent.com/40792491/144039380-0322a1e5-5a71-466e-b0b

[2021-11-30 11:56] DavidSpecter opened #716 "Get a return value in Xamarin Forms"
## 🚀 Feature Requests

Get a return value in Xamarin Forms

### Describe the feature
Simply return true or false when button in popup is pressed

### Platforms affected (mark all that apply)
- [X] :iphone: iOS
- [X] :robot: Android
- [ ] :checkered_flag: WPF
- [ ] :earth_americas: UWP
- [ ] :apple: MacOS
- [ ] :tv: tvOS
- [x] :monkey: Xamarin.Forms

[2021-11-30 22:20] LuckyDucko commented on #716
@DavidSpecter i would recommend using [my plugin](https://github.com/LuckyDucko/AwaitablePopups) or following [acaliaro's guide](https://acaliaro.wordpress.com/2020/12/07/create-a-popup-using-rg-plugins-popup-and-get-a-return-value/)

Both of these are based on Rg

[2021-12-01 18:21] Cvijo commented on #714
Hi, here is a simplified version of the demo, when you init Rg on another thread or on another activity it doesn't work, if you uncomment the first line it works.

I remove most of the things and simplified activity but it reproduces issues with Rg .. navigation stacks are still counting but the popup doesn't show

[Rg_demo.zip](https://github.com/rotorgames/Rg.Plugins.Popup/files/7636282/Rg_demo.

[2021-12-02 10:12] dimonovdd commented on #704
@NoamMani It's very strange, how do you get the Key Window?

[2021-12-02 11:10] NoamMani commented on #704
@dimonovdd
 public string PrintKeyWindow()
        {
            if (UIApplication.SharedApplication.KeyWindow == null)
            {
                return "Key Window in Null";
            }
            var keyWindow = UIApplication.SharedApplication.KeyWindow.ToString();
            return keyWindow;
        }

[2021-12-02 11:11] dimonovdd commented on #704
Thnx, I think that I have idea

[2021-12-05 08:43] NoamMani commented on #704
@dimonovdd
Do you want to share with us? :)

[2021-12-05 09:00] dimonovdd commented on #704
I'll try it tonight

[2021-12-06 08:37] rjhind commented on #711
Yep, I see this also.  Happens on all my popups, not just those with ListViews.

[2021-12-07 18:40] dimonovdd commented on #704
Sorry I've been very busy. I've checked few strange ways  and I can't reproduce this error.
But I think that PR #717 should solve it

[2021-12-07 18:52] AlonRom commented on #704
@dimonovdd thanks, do you know if it will be integrated into the next Rg.Popup nuget version?
we can test it on our side.

[2021-12-09 17:22] xleon commented on #704
Having this issue on our production app on iOS devices 15+ massively.
Turns out I have similar crashes in the code that references `UIApplication.SharedApplication.KeyWindow`

[2021-12-10 00:05] LuckyDucko commented on #704
Its unusual how some production apps are having issues and some arent.

I haven't noticed any production issues on any of my iOS 15 devices, however lets hope this sorts out this slippery issue

[2021-12-10 00:36] xleon commented on #704
yeah I'm not even able to reproduce it myself locally. Crazy stuff.
But I will try it with some paths like opening the app from app links, background-foreground stuff, etc.

[2021-12-22 10:35] kevcrooks commented on #707
@LuckyDucko is it possible to get a nuget release with the fix? We'd like to use it in our build pipeline, but I think manually downloading would only work locally? Glad to find this issue though, we were slightly confused initially!

[2021-12-22 21:31] LuckyDucko commented on #707
@kevcrooks

Ah, i can try and pull one of these out for you, however i wont be able to update on nuget.org, as only  @martijn00 can do that

[2021-12-23 14:56] ramonB1996 commented on #704
I have the same issue on my iOS 15+ device, but it is a race condition. If I click a button that will show a pop-up, right when the app started, then the `KeyWindow` is `null` and throws the exception. If I wait a few seconds longer, then it won't happen as the `KeyWindow` is known then.

[2022-01-03 16:43] gsalve commented on #157
Getting the same issue :

System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Android.Widget.PopupWindow'.
  at Java.Interop.JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self) [0x00029] in <00c315a988634383b446eff646084784>:0
  at Java.Interop.JniPeerMembers+JniInstanceMethods.InvokeVirtualVoidMethod (System.String encodedMember, Java.Interop.IJavaPeerable self,

[2022-01-05 20:31] TobiVanHelsinki commented on #712
I had the same issue since the last update. The Rg.Plugins.Popup.Popup class seems simply missing, which is weird since there were no changes to that class. Maybe some build error at the nuget pack?

In the meantime I run good with using version 2.0.0.13.

[2022-01-06 16:41] RonnyBansemer commented on #714
I'm facing the same issue. If somebody is using `Prism.Plugin.Popups` it is required to call `Rg.Plugins.Popup.Popup.Init(this);` in SplashActivity (before Forms init) and again in MainActivity. Simply moving it from SplashActivity to MainActivity does not solve the problem.
Affected version: `2.0.0.14`

[2022-01-13 06:29] whSwitching commented on #712
same issue happened,
target version 2004
min version 1809
the latest 2.0.0.14 did not work, **2.0.0.13** works

[2022-01-14 09:50] osoba95 opened #720 "Rg.Plugins.Popup closes when scan"
## 🐛 Bug Report

When I scan barcode my popup closes automatically
### Expected behavior
It doesn't close

**Platform:**
- [11.0 ] :robot: Android
- [ 5.0.0.2291] :monkey: Xamarin.Forms
- [2.0.0.14] : RG:Plugins:Popup

[2022-01-14 12:45] akhilvs000 commented on #677
Any update on the issue?

[2022-01-15 17:43] hammondreg commented on #712
Answer is simple: no testing or checking is done after every upgrade ..

[2022-01-22 21:01] davidbuckleyni commented on #716
@DavidSpecter  did u get a solution for this I would rather use something that more widley used

[2022-01-23 19:41] davidbuckleyni commented on #716
I actually achieved this using the messaging centre

[2022-01-24 04:01] LuckyDucko commented on #716
@davidbuckleyni messagingcentre also works a treat in this scenario, its what i first before i made my plugin.
 just remember to unsubscribe when you 'close' your popup, otherwise there will be unusual headaches, as well as a performance impact

[2022-01-24 06:42] egvijayanand commented on #707
How to download the rebuilt package, what's the command to invoke the same?

As I face the same issue with v2.0.0.14 with the UWP project whereas v2.0.0.13 works fine. Want to try the rebuilt package.

[2022-01-24 10:55] rjhind commented on #711
Has anyone been able to solve this?  This happens on every popup for us.  Thanks.

[2022-01-24 12:00] DavidSpecter commented on #716
Hi,
I resolve like that:
In popup page add a TaskCompletionSource
` private TaskCompletionSource<bool> taskCompletionSource;`
 ` public Task<bool> PopupClosedTask { get { return taskCompletionSource.Task; } }`

`protected override void OnAppearing()
        {
            base.OnAppearing();
            taskCompletionSource = new TaskCompletionSource<bool>();
        }`

and than set the result whe

[2022-01-24 12:00] #716 closed, assigned to nobody

[2022-01-24 17:28] Axemasta opened #721 "Android Accessibility Workaround Unhides Accessibility Tree That Is Not Visible On Screen"
## 🐛 Bug Report

I've found an issue specifically when the `MainPage` of the application is a `TabbedPage`, if the app is a few pages deep into a modal stack, when a popup is closed the entire accessibility tree view gets unhidden and elements from pages that are behind the modal get picked up by a screen reader.

I recorded a video to demonstrate the issue ([source code here](https://github.com/A

[2022-01-25 00:00] davidbuckleyni commented on #716
Yeah I found out about unloading the hard way wondering why my app started freezing i placed it in the close as seemed logical their.

[2022-01-29 22:18] djhvscf commented on #664
This is still not working for me. I had to downgrade to 2.0.0.7

[2022-01-30 21:10] brandonward34 commented on #711
Still happening on 2.1.0 as well, just an FYI

[2022-01-31 18:56] mfeingol commented on #707
Looks like version 2.1.0 has the same problem.

[2022-01-31 19:37] avorobjovs commented on #707
No, it isn't. But you need to set the TargetPlatformMinVersion to 10.0.18362.0 for the UWP project.
Only this UWP version has  2.1.0 packages.

![UWP_2 1 0](https://user-images.githubusercontent.com/7294773/151860645-e8740996-ac9c-4d0b-a33c-c61a25223f38.png)

For some reason, the author forgot to mention this. :)

[2022-01-31 20:04] mfeingol commented on #707
@avorobjovs: confirmed, thanks.

[2022-02-01 21:39] #707 closed, assigned to nobody

[2022-02-02 08:25] mhrastegari commented on #645
I've got a small workaround for this issue
add these in your UWP project's App.xaml

[code]

[2022-02-02 08:45] apines-gms-online-de commented on #645
Thanks!

[2022-02-02 10:45] #721 closed, assigned to nobody

[2022-02-02 10:46] #676 closed, assigned to nobody

[2022-02-02 11:08] maxkoshevoi commented on #684
@martijn00 Why is this closed? Latest NuGet release still doesn't support any of `net6` TFMs, and not-yet-released MAUI project in this repository[ only supports Android](https://github.com/rotorgames/Rg.Plugins.Popup/blob/Maui-Compatibility/Rg.Popup.Plugin.Maui/Rg.Popup.Plugin.Maui/Rg.Popup.Plugin.Maui/Rg.Popup.Plugin.Maui.csproj#L5). Is MAUI support dropped for this package?

[2022-02-02 22:11] LuckyDucko commented on #684
@maxkoshevoi i believe @martijn00 has made a mistake here

I apologise for the loooong hiatus concerning this, i want to get back onto it. The maui release will definitely have breaking changes

[2022-02-03 12:04] kumaresan-cgvak commented on #712
Hello @rotorgames @martijn00
Any update on this issue?
<img width="947" alt="Screenshot 2022-02-03 at 5 34 33 PM" src="https://user-images.githubusercontent.com/5547152/152339474-07d480b4-fd5b-4d22-8f26-1cde35561bec.png">

[2022-02-03 12:08] #712 closed, assigned to nobody

[2022-02-03 12:08] martijn00 commented on #712
You are targeting the wrong uwp version.

[2022-02-03 12:34] kumaresan-cgvak commented on #712
@martijn00 Can you please update the same in Wiki. Which will help fellow developers.
<img width="1030" alt="Screenshot 2022-02-03 at 6 03 25 PM" src="https://user-images.githubusercontent.com/5547152/152343702-28e0852c-93b7-4bb6-b2e8-81c7112fa98a.png">

[2022-02-03 15:56] florian-berger commented on #671
I have a similar problem with using the Xamarin.Essentials Web Authentictor. The browser view is always opened behind the Popup and I am unable to find a solution for that.

[2022-02-04 04:16] LuckyDucko commented on #671
Do you open them both at similar times? or do you have it clearly one after the other.

Could you provide an example to work off?

[2022-02-04 09:21] florian-berger commented on #671
No, they are not opened at the same time. There is a very small moment between opening the popup and displaying the authentication.

Unfortunately, I am unable to reproduce the issue in a sample project. I will try it for a few hours and if I am able to reproduce it, I will attach an example.

_// I figured it out. The popup and the authentication were triggered exactly at the same time, and the p

[2022-02-04 16:55] gceaser commented on #707
I can confirm that after updating to version 2.1.0, I needed to update the TargetPlatformMinVersion to 10.0.18362.0 for the UWP project.  Then everything compiled correctly.  The UWP initialization instructions should probably be updated with this information.

[2022-02-04 16:58] gceaser opened #723 "Update UWP initialization documentation"
## 🐛 Bug Report

The UWP initialization section of the Getting Started documentation does not have the needed information regarding the minimum UWP version to be targeted for Version 2.1.0.

### Expected behavior
The V 2.1.0 minimum UWP version should be included

### Reproduction steps

### Configuration

**Version:** 1.x

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Android
- [ X] :checkered_f

[2022-02-05 05:14] egvijayanand commented on #707
Yes, package dependencies in the NuGet page confirm the same.

https://www.nuget.org/packages/Rg.Plugins.Popup/2.1.0#dependencies-tab

[2022-02-06 13:15] YZahringer opened #724 "[UWP] Support Windows 10 1809 LTSC"
## 🔙 Regression
We can not use the latest version `2.1.0` with UWP targeting Windows 10 1809.
The version `1809` is an `LTSC` version, supported until **2029** and `Xamarin.Forms` support it.

This is the commit that make the regression, without any breaking change announcement or issue to track it 😕
https://github.com/rotorgames/Rg.Plugins.Popup/commit/0645bd62b37e546e542ecfc0d7ea2f3b3b1abea4#dif

[2022-02-07 19:30] Vuyiswamb opened #725 "How to redict to a different page than original parent from a Popup"
Good Day

i open the Popoup created in   Rg.Plugins.Popup   (https://github.com/rotorgames/Rg.Plugins.Popup)

the following code closes the popup and navigate to a different page which is different from its parent

               await PopupNavigation.Instance.PopAsync();
                    await Navigation.PushAsync(new CustomerDelivery(lstOrders));

but the code just close the Popup and remain

[2022-02-08 09:49] vppetrov commented on #619
I am using Prism with DryIoc (and not unity). Following a suggestion from another thread I replaced

`xmlns:prism="http://prismlibrary.com"`

with

`xmlns:prism="clr-namespace:Prism.DryIoc;assembly=Prism.DryIoc.Forms"`

in my App.xaml file and the error disappeared.

I had the same error with PopupPage from Rg.Plugins.Popup, so I also replaced

`xmlns:pages="http://rotorgames.com"`

with

`xmlns:p

[2022-02-13 08:46] SuriGabi commented on #486
HI LuckyDucko,

The problem still persists with the new version!
I have created a new project and I am using Rg.Plugins.Popup 2.1.0.

If you use the sample code (see below) you can easily get the following error:
Rg.Plugins.Popup.Exceptions.RGPopupStackInvalidException: 'The page has not been pushed yet or has been removed already'
Version 1.1.5.188 did not have this error.

It this a sample:

Mai

[2022-02-14 09:14] scriptBoris commented on #572
Hot reload still not working
- Android
- iOS
- VisualStudio Community 2022

[2022-02-14 11:30] xleon commented on #704
Just here to say this bug is not reproducing any more with the latest version

[2022-02-14 20:07] martijn00 commented on #724
Visual Studio 2022 doesn't support target 10.0.17763.0 anymore. I need to be able to build the code to release it.

[2022-02-14 20:07] #724 closed, assigned to nobody

[2022-02-14 20:09] #723 closed, assigned to nobody

[2022-02-14 20:09] #703 closed, assigned to nobody

[2022-02-14 20:09] #695 closed, assigned to nobody

[2022-02-24 09:50] tbk21 commented on #486
Hi @SuriGabi , I am also experiencing the same issue on my side. The issue is only on iOS platform (v15+), with Xamarin forms (v5 +). The App just crashes when it hits line of code: await Navigation.PushPopupAsync(new ConfirmationDialog("Heading", "Question?", paramater));

Any luck in getting this issue resolved?

[2022-02-24 10:03] SuriGabi opened #726 "Rg.Plugins.Popup.Exceptions.RGPopupStackInvalidException: 'The page has not been pushed yet or has been removed already'"
HI LuckyDucko,

The problem still persists with the new version! (Tested on android platform all versions)
I have created a new project and I am using Rg.Plugins.Popup 2.1.0.

If you use the sample code (see below) you can easily get the following error:
Rg.Plugins.Popup.Exceptions.RGPopupStackInvalidException: 'The page has not been pushed yet or has been removed already'
Version 1.1.5.188 did no

[2022-03-03 07:52] AlonRom commented on #704
@ramonB1996 is right, it's still happening but not always.

[2022-03-12 17:31] herbzone127 opened #727 "Rg.Plugin v2.1 not Supported in UWP"
## 🐛 Bug Report

Method Not Found
Rg.Plugins.Popup.Popup.Init();
  assembliesToInclude.AddRange(Rg.Plugins.Popup.Popup.GetExtraAssemblies());
### Expected behavior

### Reproduction steps

### Configuration

**Version:** 2.1.0

**Platform:**

- [ *] :earth_americas: UWP

- [ ] :monkey: Xamarin.Forms

[2022-03-15 10:57] gabriele-ricci-kyklos commented on #726
I had the same problem showing a popup and then calling a `Task.Delay`, if the user clicks to dismiss the popup before the delay finished, the popup gets removed from the stack for some reason I don't understand.
I solved by checking the stack first, since I have only 1 popup at the time:
[code]

[2022-03-17 12:16] Limex10 commented on #727
Im having the same problem, no solution found yet.

[2022-03-17 16:00] SarahCoates1 opened #728 "Setting Focus on popup using physical keyboard"
## 💬 Questions and Help
Hi
When using a physical keyboard to navigate our app (written in xamarin forms), we are having problems setting focus on the popup.  Ideally keyboard focus would automatically appear on the pop up when the pop up appears (and the background would not receive any focus).  Focus tends to stay on the page behind.  Using tab and cursor keys, we still seem unable to focus on an

[2022-03-18 21:01] danieldefreitasleite commented on #572
I can confirm that it is not working and try to edit it without hot reload is a pain because everyone knows how long it takes to build and deploy any small change...

[2022-03-19 23:03] zijianhuang opened #729 "When updating to 2.1, errors about System.Drawing.Common.dll"
## 🐛 Bug Report

When updating from 2.00.10 to 2.10, VS 2019 or 2022 reports error about
[code]

### Expected behavior

Installed

### Reproduction steps

Nuget - Solution to update

### Configuration

**Version:** 1.x

2.1.0

**Platform:**

Xamarin, .NET Standard 3.1

**Remarks:**

Related threads:
https://github.com/Baseflow/XamarinMediaManager/issues/558

https://github.com/jamesmontemagno/Medi

[2022-03-21 15:46] IeuanWalker commented on #728
Here is a video showing the issue -

https://user-images.githubusercontent.com/6544051/159298006-6f42a69d-43dd-4472-bee8-874c78647402.mp4

You can see the keyboard focus stays behind the popup.

[2022-03-23 05:43] Zilkode opened #730 "Popup hides snackbar (Android) + new feature"
Thank you for this incredible plugin.
I am having an issue with the popup where it hides the native snackbar, i use the popup to message the user about the permission snackbar but when I am using it the snackbar button is unclickable.
Is there a way to resize the black overlay or create a transparent clixkable  "window"?

The second is something I modified in order to conform with my flow but is s

[2022-03-24 12:48] kumaresan-cgvak commented on #727
@herbzone127 Increase the UWP Windows Min SDK Version to 10.0.18362

[2022-03-28 09:33] MNADEEMCH commented on #677
@simon10says Thanks It's working fine now. I also facing the problem keyboard overlap on the Rg.Popup page but with your code it's working fine. Thanks again.
**Rg.Plugins.Popup (2.1.0)
Xamarin.Forms (5.0.0.2337)**

[2022-04-02 20:09] BlueRaja opened #731 "PopupNavigation.Instance.PushAsync() crashes on iOS with Hot Restart"
## 🐛 Bug Report

**Hot Restart** _(not to be confused with XAML Hot Reload)_ is an Xamarin.iOS-specific feature that allows Windows developers to compile and run Xamarin directly onto a real iOS device without needing a Mac.  It's nice to use because you test on a real device, and compilation is significantly faster than when using a Mac.

However, it's buggy as hell.

Among the many, _many_ issue

[2022-04-06 14:50] Eden-Mor opened #732 "Popup popped after clicking anywhere on the screen, only on iOS"
## 🐛 Bug Report

I have a popup that works perfectly in android, and bugs out on iOS
So the popup loads all the information correctly, but when I try to click any part of the popup (not the outside of the popup of course) the popup gets popped, I also have buttons on this popup, and they do not execute, they just pop the popup.
https://gyazo.com/c9a239878b2dded27dfb25db07811892

### Expected behav

[2022-04-07 15:09] IeuanWalker commented on #728
iOS isn't too bad, it's focusses on the toolbar then on the popup (never on the page content)

[2022-04-08 09:15] mhrastegari commented on #572
@danieldefreitasleite yeah :(

[2022-04-11 08:49] ghost opened #733 "PopUpPage inputtransparent content"
Hi, I need advice. There is some way in PopupPage to make content InputTransparent = "True".

I'm trying to create an inputtransparent content pop-up page.
Unfortunately, InputTransparent = "True" does not work for x: Name = "GridRoot" in PopUpPage. It should go click on the Button in MainPage.

![img06](https://user-images.githubusercontent.com/5471789/162695287-081e36e0-ffd0-431e-bcf9-a5c56ed974

[2022-04-12 15:16] Eden-Mor commented on #732
Im closing this ticket because I didnt notice I added "InputTransparent=true" to the background which made the children also input transparent....

[2022-04-12 15:16] #732 closed, assigned to nobody

[2022-04-29 18:17] pabloat81 commented on #712
Hi, i am facing same issue on UWP. Min target version 10.0.17763. I dont understood in this thread what is the solution.

[2022-05-04 20:41] brunonocetti commented on #711
any workaround?

[2022-05-05 14:53] BaltoAF commented on #572
Still doesn't work en Visual Studio 2022 v17.1.0 + Android/iOS.

A workaround to use HotReload is to show the popup as a classic page :
`await Shell.Current.Navigation.PushAsync(new MyPopupPage())`
instead of
`await PopupNavigation.Instance.PushAsync(new MyPopupPage())`

The page appears broken (without transparency, embedded in a navigation page in my case), but hot reload is active, so you can f

[2022-05-06 14:41] dmsi-leonidl commented on #712
@pabloat81: I resolved this issue by updating UWP min version to 1903 ( Build 18362). Hope this will help.

[2022-05-09 13:47] scarrier92 commented on #684
Any updates? As Maui is going to be release soon enough?

[2022-05-10 05:41] LuckyDucko commented on #684
@scarrier92 I am going to continue development on the Maui version of this release separately in a new repo, due to the breaking changes. I am having some issues however, I do hope to push through with them and have some form of a release

i had an android version working, however, it seems to have stopped, so guess ill be back on that now

[2022-05-12 14:47] mhrastegari opened #734 "[Bug] Popup on landscape mode shifts to NavigationBar in RTL (Android)"
## 🐛 Bug Report
When the FlowDirection is LeftToRight its acting fine but when it changes to RightToLeft in landscape mode shifts to NavigationBar(the android's back, home and taskview bar)

### ScreenShots
![Screenshot_1652330739](https://user-images.githubusercontent.com/42671084/168102991-54efb5aa-9c6b-4adc-8d2e-95c82694e642.png)

**Platform:**
- [x] :robot: Android
- [x] :monkey: Xamarin.Forms

[2022-05-13 09:24] maxchu92 opened #735 "[Bug] XCT:StatusBarEffect.Color clashes with Rg:Plugins.Popup on iOS"
### Description

When replacing the `Application.Current.MainPage` with a page that has `xct:StatusBarEffect.Color` from a `PopupPage`, an error with `RootViewController` will occur on iOS. It was first occured to me when I was trying to reset the entire navigation stack, from a PopupPage, while I was navigating using Prism. `_navigationService.NavigateAsync("/NavigationPage/MainPage");`. I had re

[2022-05-18 17:50] wtheronjones opened #736 "NullReferenceException after "KeyboardDownNotification""
My app uses Rg.Plugins.Popup, and we are seeing a lot of notifications from our app crash logs (15 times in last 30 days) regarding a NullReferenceException.

The stack trace is as follows:

[code]

This particular stack trace captured from an Model: iPhone14,3 w/ iOS 15.4.1 on it

I'm unsure of reproduction steps, but it continues to happen.   Seems to be related to the keyboard being dismissed b

[2022-05-21 01:49] nhuy-ecotech opened #737 "How to reload parent page after close many popup Rg.Plugins.Popup"
Hello everyone,
I have a main page and 3 popups open consecutively. How when closing the last popup the main page is detected the event to reload main page?
Thanks

## 💬 Questions and Help

For questions or help we recommend checking:

- The [Xamarin tag in Stack Overflow](https://stackoverflow.com/questions/tagged/xamarin)
- The [General slack channel in the Xamarin Slack](https://xamarinchat.her

[2022-05-22 06:07] LuckyDucko commented on #737
Hi @nhuy-ecotech

Usually people attach a task to a popup page that they can `await`, so then you can have your reload follow the return of the last popup page.

Alternatively, I have noticed that some people use the `MessagingCentre` feature of Xamarin forms to fire off a message when the popup page is closed.

Both of these methods should help you with your problem

[2022-05-22 06:08] LuckyDucko commented on #736
@wtheronjones the area concerning that can be a bit dicey, perhaps it is when the popup is closed, and then the keyboarddownnotification occurs?

Having a project to work on would be the most helpful in trying to track this down however

[2022-05-22 06:11] LuckyDucko commented on #735
hi @maxchu92

I looked through the issue on XamarinCommunityToolkit, and Pictos has reached out. I can give this a look about. Thankyou for the example :+1:

[2022-05-22 06:13] LuckyDucko commented on #734
Now this is definitely a curly one, could you provide an example project to work on?

[2022-05-22 06:16] LuckyDucko commented on #733
Have you tried playing with `CascadeInputTransparent` when its `true`?

please provide an example project, but I believe that since it is currently `false` that would mean that the content within the grid does not inherit the `false` from the grid which could be causing your problem

[2022-05-22 06:20] LuckyDucko commented on #730
Hi @Zilkode I recommend making a PR to review with your code here, at the least the `preventclose` functionality might gain widespread use to simplify workflows.

When you say black overlay, could you provide an example of some sort? just so I understand what you mean

[2022-05-23 00:41] nhuy-ecotech commented on #737
Thanks for reply, but I tried use MessagingCenter but it work when has only one popup. Is there any other way? Pls

[2022-05-23 06:18] maxchu92 commented on #735
Hi @LuckyDucko

Really appreciate the effort of you guys for checking this issue out! Thank you!

[2022-05-25 00:31] LuckyDucko commented on #737
Well, i would recommend that task version of this then, i mention a plugin i make, or a simpler DIY by acaliaro.
https://github.com/rotorgames/Rg.Plugins.Popup/issues/716

[2022-05-25 00:56] #737 closed, assigned to nobody

[2022-05-26 11:24] kumaresan-cgvak commented on #706
@LuckyDucko @martijn00 @rotorgames  Any idea on the support for .Net MAUI?  i.e Is it in progress or won't support at the moment?

[2022-05-26 20:11] ElsaAM4Y commented on #727
Have the same problem, increased to version 10.0.18362

[2022-05-26 22:54] LuckyDucko commented on #706
@kumaresan-cgvak i am working on it in a seperate repo but it currently is in a non-functional state. As my work also depends on this plugin to be up to date for MAUI, I do hope to port it over.

[2022-05-27 21:58] wtheronjones commented on #736
Hi, yeah it seems a bit dicey indeed.   Unfortunately, I have no clue about the exact user interactions sequence involved, and I have lots of variations on this stack trace, not all of them include the keyboardboard down thing, but they all reference "PopupPageRenderer.ViewDidLayoutSubviews()".    It's not really possible to provide a sample reproducing it.

Here is the most recent stack trace fro

[2022-05-31 23:53] pabloat81 commented on #562
Hi o am having the dame on uwp, with a recent downloaded version. There is some fix?

[2022-06-01 09:18] AswinPG commented on #684
https://github.com/AswinPG/RGPopup
I have a an android working version for maui here with animations and a few bugs :)
Thanks to @LuckyDucko for Mopups. That repo helped me a lot while porting.

[2022-06-01 10:35] LuckyDucko commented on #684
@AswinPG absolute legend! I was stuck on something going pear shaped with Android, i am going to look at the changes you have made and see it work back to my own, as i'm trying to upgrade the codebase as i'm going, which i'm pretty sure is where i've come unstuck.

[2022-06-06 18:24] wtheronjones commented on #736
Here's another stacktrace w/ the same exception:

[code]

[2022-06-08 07:51] albionmerovci commented on #727
Hi  @ElsaAM4Y  @Limex10 , @herbzone127
 I had the same problem when runing on Release mode in uwp.
Mine was fixed by unchecking " Compile with .NET Native tool chain" in  UWP-Properties-Build- general section
Hope it helps

[2022-06-09 15:13] Gi4nfratti opened #738 "XamlC error XFC0000: Cannot resolve type"
## 🔙 Regression

I had a project in Xamarin Forms working perfectly. Now I'm trying to migrate it to .Net Maui, but when I download Rg.Plugins.Popup in NuGet Packages and compile my project, I get the error:

[code]

Notice that, for example, I don't use any Popup in App.xaml:

[code]

### Old (and correct) behavior
Working when I download and use it.

### Current behavior
Gets `XamlC error XFC000

[2022-06-09 16:59] melvyniandrag opened #739 "[UWP] Popup does not exist in Rg.Plugins.Popup"
## 🔙 Regression

Regression to this issue: https://github.com/rotorgames/Rg.Plugins.Popup/issues/695

### Old (and correct) behavior
See above

### Current behavior
See above

### Reproduction steps
Update Xamarin Forms and Rg Plugins to the latest as of June 9th 2022, then

[code]

### Configuration

Rg Plugins: 2.1.0
Xamarin Forms: 2.0.0.2478

**Platform:**
- [ ] :iphone: iOS
- [ ] :robot: Andro

[2022-06-11 11:52] LuckyDucko commented on #684
And we are off (Android only, and its pre-release so make sure you set that for your searching in Nuget)

Went through Aswin's code and figured out the changes that needed to be made, iOS is next on the list, but let me know what Android issues you have.

I plan on integrating awaitable tasks baked in to popups (not in the way awaitablepopups does it however, as that requires alot of extra that I

[2022-06-13 12:42] ali-h2010 commented on #671
Is there any solution to make the popup screen behind the modal page? I want to keep the state of the modal page so popping it and showing it again is difficult

[2022-06-14 13:32] Djixify commented on #738
I believe it is being worked on (?) as indicated from the branch:
https://github.com/rotorgames/Rg.Plugins.Popup/tree/Maui-Compatibility

But it has been a while and now MAUI is just about ready for release, then it is more relevant to get the compatible version out?

If it is required to be added fast, then I suggest taking a look at the branch and including it in your project, at the same time t

[2022-06-14 14:21] Djixify commented on #738
Upon further inspection, the compatibility branch is not even close to finished and multiple things had changed from the preview version it was made for and now. I would suggest looking for alternatives till further updates are made.

[2022-06-14 22:37] LuckyDucko commented on #738
@Djixify @Gi4nfratti

Maui Support is android only right now
https://github.com/rotorgames/Rg.Plugins.Popup/issues/684#issuecomment-1152908103

[2022-06-15 12:20] tualatin commented on #712
Crazy, thank you for this helpful hint!

[2022-06-16 16:42] alexpetin commented on #623
I think the issue can be closed because min iOS version available now to simulator is 12.4, where all works correct.

[2022-06-22 22:58] LuckyDucko commented on #684
We now have iOS working and available, Next on the list is UWP , since I know that many Rg users use UWP. Lets hope I can sift through it ;)

[2022-06-23 19:23] wtheronjones commented on #736
Here's another stack trace:

[code]

[2022-06-23 21:11] rpetersonfujitsu commented on #739
In my UWP project settings, I had to update the minimum target version to 1903 (build 18362)
in order for it to get the correctly assembly with Rg.Plugins.Popup.Popup.

Also, there's typo in your post:
  "Xamarin Forms: 2.0.0.2478"
Should be:
  "Xamarin Forms: 5.0.0.2478"

[2022-06-23 22:48] LuckyDucko commented on #736
I was just looking at this area in the Maui Version, i might be able to adjust somethings, gimme a bit

[2022-06-27 05:53] LuckyDucko commented on #736
Hmm, i wonder if it is this

`var applactionFrame = UIScreen.MainScreen.ApplicationFrame;`

I am definitely going to need a project to work off, however, is there some lifecycle events that may cause a situation where an app is brought to the foreground, and almost immediately it opens a popup? just spit balling

[2022-06-27 17:28] wtheronjones commented on #736
I was wondering about that line too.   I can't imagine why it's null.   non-ui thread?

I couldn't tell you about the user behaviors leading up to it, I just get random error reports containing versions of this stack trace.
I can tell you, the errors are always from iOS devices.
I can't provide a project that recreates it, but I can describe a bit of what's going on in our project.

In our project

[2022-06-28 02:59] anguoyang opened #740 "Checkbox feature please"
## 🚀 Feature Requests

### Contextualize the feature

Popup dialog with checkbox needed in a project
### Describe the feature

Add checkboxes into a popup dialog

### Platforms affected (mark all that apply)
- [ ] :robot: Android

[2022-07-06 09:48] RobbiewOnline commented on #739
Same issue here.

My minimum was 10.0.17763.0 but had to change to 10.0.18362.0

I'm not sure how much of an impact that has on who I distribute the Windows UWP app to, but it would be great to lower the minimum spec _if_ Rg.Plugins.Popup doesn't really need the higher minimum version?

Kind regards,
Rob.

[2022-07-09 02:01] nwilliams commented on #735
Has there been any progress on this issue? I've recently switched over to using Rg.Plugins.Popup because it's much easier to work without out of the box than the XCT popup, but we need to use StatusBarEffect.Color and these app crashes are a real problem.

[2022-07-09 02:09] LuckyDucko commented on #735
Sorry this went off my radar as i have been focusing on MAUI

I remember previously issues surrounding replacing the root navigation within a popup, some thoughts.

Does opening a modal, then a popup, THEN replacing Application.current.mainpage help dodge the issue?

Does the XCT matter in this scenario, or is it Application.Current.Mainpage?

i'll give this a whirl in the repo provided

[2022-07-12 00:02] bradencohen commented on #711
Any update on a fix for this? I took an approach of overriding the MoveAnimation and adding a Task.Delay to the OnAppearing and it didn't seem to help. Pretty annoying bug that takes away a clean user-experience.

[2022-07-12 02:55] nwilliams commented on #735
@LuckyDucko thanks for looking into this. The only place I'm actually running into this issue (so far) is when I chain popups. On a record details page, I have a "delete" button that, when pressed, opens a popup to confirm that the user actually wants to delete the record. If the user clicks the "Confirm" button, I close the popup, make an API call, and then open another popup that tells the user

[2022-07-12 05:10] CRoederTND commented on #740
You can customize your popup. Just set as content
[code]

[2022-07-13 20:51] ohumidk commented on #441
Any update on this one?

[2022-08-10 18:43] prok155 opened #742 "OnBackPressed() deprecated Android13"
## 💬 Questions and Help

Today I increased the target SDK of my project to 33 and I saw that OnBackPressed() method is deprecated.  Could you explain how can we override this method when target sdk is 33?

[2022-08-25 07:08] tranb3r commented on #684
Is there a nuget that works on ios and android ?

[2022-08-29 07:33] vikern22 commented on #677
We're experiencing the same issue on Android 12 as well!

[2022-08-29 09:05] TamerIrdais commented on #684
What's the time estimate for this to be fully supported for Windows and macOS as well?

[2022-09-02 09:18] exendahal commented on #739
I have UWP target version to 19041, Rg.popup 2.0.0.13 and  Xamarin.Forms 5.0.0.2515 installed. I am running without any issues.
Also, ensure you add the following lines of code on OnLaunched method under App.xaml.cs file.
[code]

[2022-09-06 13:29] AlanFloyd opened #743 "PendingIntent issue with Android 13"
Hello,

I don't know if you use PendingIntent. But since updating my device to Android 13 I am getting this error:

Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.

Thanks for your help
Greetings
Dietmar

[2022-09-07 18:09] Hrishikesh46779 commented on #562
same issue for me

[2022-09-08 14:34] kvpt commented on #568
To workaround the issue, add this target at the end of the csproj
[code]

[2022-09-23 11:20] fpuente70 opened #745 "Memory leak when pushing and poping a page many times"
## 🐛 Bug Report
There seems to be a memory leak in the push/pop process which can be significative after many iterations, especially on IOS.

### Expected behavior

whatever is done during push/pop process should release the memory used for it to avoid memory leaks

### Reproduction steps

            long memoryBefore = GC.GetTotalMemory(true);
            MyPopupPage popup = new MyPopupPage();

[2022-09-28 15:35] donatellijl commented on #711
I am having this issue as well. Has anyone migrated to a different nuget due to this issue?

[2022-09-28 15:37] ShadowOfPhantom commented on #711
You don't really have to use this plugin, just remove it from your solution and make the same functionality with only xamarin

[2022-09-30 07:49] TamerIrdais commented on #684
@LuckyDucko Can you please provide us with timeframe when this is going to be available for WinUI and macOS? Rg.Plugin.Popup is used all over our code for Xamarin and we are moving to MAUI and this is critical to our work, so I would really appreciate a feedback on my question please.

[2022-09-30 08:02] LuckyDucko commented on #684
@TamerIrdais

In the Mopups Repo, we have a PR for basic MacOS availability.

I cannot provide timeframes as i am only 1 person (with the help of some dedicated individuals), and i have been getting the grips on .Net Web Development.

The next goals however are MacOS and Windows. Thats for sure. I'll give it a dedicated try over this weekend, and see if i can get Windows working. Disclaimer i have

[2022-10-03 05:35] TamerIrdais commented on #684
@LuckyDucko Thank you very much for the feedback and for your hard work working on this project, looking forward for it to complete and supports Windows and MacCatalyst.

[2022-10-05 04:29] Krammig commented on #619
Quote - .."this is indeed unusual, it does seem that Xamarin.Forms 4.8.0.1687 is causing some issue."...

We are up to version 5.0.0.2515 of Xamarin.Forms.

Are you planning to resolve this issue as we cannot keep using alternative code and "tricks" to work around this surely  ?

[2022-10-05 22:26] LuckyDucko commented on #619
@Krammig the alternative code is actually I believe the original code that was within Rg.

I no longer maintain Rg as I have been putting my limited time into Mopups, however its interesting that Prism has this issue  as well, as @dansiegel was the one who originally introduced the `xmlns:pages="http://rotorgames.com"` addition to the repo.

I have always relied on using the older version of xmlns

[2022-10-07 00:08] davidbuckleyni commented on #684
Any more word on this at all would be nice to have it soon rc1 is in a few weeks.

[2022-10-07 09:46] Phenek commented on #684
Hello guys,

For people who just need simple popup without animation etc..
Do you know the Modal stack on MAUI?

You can push ContentPage with "transparent" background.
[code]
Push like this
[code]
Pop like this (unfortunatly you can not remove a specific page, only the last one)
[code]

Okay It lacks of many things, but it's a workaround for thoose really stuck and need just basics.
Combined with

[2022-10-07 09:49] LuckyDucko commented on #684
To be clear to everyone, MAUI development is done on the Mopups Repo, not on this repo. We currently have iOS and Android support.

Mopups is Rg.popups, with some changes and new direction

https://github.com/LuckyDucko/Mopups

[2022-10-11 14:59] TamerIrdais commented on #684
@LuckyDucko Did you have the chance last weekend to check the support for Windows for the project?

[2022-10-11 19:06] yshteinm opened #746 "UWN problem"
Cannot build UWP project. NuGet is installed in all projects.
iOS builds ok.

![image](https://user-images.githubusercontent.com/11545901/195177673-eea656f0-45b1-4eca-903d-379d93ca3671.png)

[code]

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Popup' does not exist in the namespace 'Rg.Plugins.Popup' (are you missing an assembly reference?)

[2022-10-11 21:09] LuckyDucko commented on #684
I did, and i am sorry to say that unless someone else is able to make some strides in it, i don't think i am going to make much headway.

I was having difficulty even at the get go trying to set it up with WinUI. If someone is able to create a project in MAUI with all the environment setup, i might be able to port it over.

[2022-10-14 10:00] rohitvipin commented on #742
https://developer.android.com/reference/androidx/activity/OnBackPressedDispatcher

[2022-10-17 15:07] praveen-adappt commented on #429
Still issue is there

[2022-10-17 20:46] maxkoshevoi commented on #742
Simply using
[code]

instead of
[code]

Should do the trick

[2022-10-17 20:47] maxkoshevoi commented on #742
https://vladislavantonyuk.azurewebsites.net/articles/Migrate-the-deprecated-OnBackPressed-function-in-.NET-MAUI-Android-application

[2022-10-18 08:32] tranb3r commented on #742
If someone has figured out how to do it with OnBackPressedDispatcher instead of OnBackPressed, could you please update the code sample here:
https://github.com/rotorgames/Rg.Plugins.Popup/wiki/Getting-started#android-back-button
Thanks

[2022-10-27 17:09] NeilN1 opened #747 "Popup window disappears when owner window is resized"
Popup windows disappear if the owner window is resized.  Is this normal behaviour? We have a request to leave them open when this action occurs.

v2.0.0.9

[2022-11-04 11:44] NiladriPadhy commented on #677
Working for me too. Thanks for sharing the solution.

[2022-11-16 09:32] ablohme86 opened #748 "Prevent clicking "Out of popup""
## 🚀 Feature Requests

Is there a way to prevent the user from clicking outside the popup so it doesnt close?

### Contextualize the feature

### Describe the feature

### Platforms affected (mark all that apply)
- [X ] :iphone: iOS
- [ X] :robot: Android
- [ NA] :checkered_flag: WPF
- [ NA] :earth_americas: UWP
- [ NA] :apple: MacOS
- [ NA] :tv: tvOS
- [ NA] :monkey: Xamarin.Forms

[2022-11-17 19:29] luisrr1590 opened #750 "Lottie animation randomly shows or not in Popup while using nuget version 2.1.0"
## 🐛 Bug Report

I have a popup page that I use to show a Lottie animation when loading something. Previously it was working fine while in nuget version 2.0.0.7, but after updating the nuget to 2.1.0 a weird behavior in which the animation randomly shows or not is happening.

Went back to version 2.0.0.7 and every worked as expected, but as soon as I update the problem comes back.

### Expected be

[2022-11-24 17:55] Phenek commented on #684
The only issue with my workaround is that we can not remove a specific page.
So a popup can not close it self, only the last one...

I open an issue on MAUI repo below.
[#11271 [Enhancement] Remove a specific Modal Page](https://github.com/dotnet/maui/issues/11271)

Yeah we need to get rid of it!

[2022-11-30 10:23] bbenetskyy opened #751 "MoveAnimation does not work on iOS"
## 🐛 Bug Report

The same `MoveAnimation` on iOS does not work at all and display's like there is no animation has been added, while on Android all works as expected

[code]

### Expected behavior

Works same as on Android - mean move from `PositionIn` value and disappear with `PositionOut` value. In my example - from Bottom to Bottom

### Configuration

**Version:** Rg.Plugins.Popup 2.1.0

**Plat